[2020-08-28 22:15] rezakh66 commented on #390
@JessD9 I uploaded the checklist

[2020-08-30 17:31] toddfmartin opened #395 "Production"
### Course  SOCI 101 B

### URL   https://learn.twu.ca/course/view.php?id=15404&section=2

### Instructions
- [ ]  activity 2.1 replace with
http://www.unesco.org/new/en/member-states/single-view/news/55th_annual_general_meeting_canadian_commission_for_unes/
- [ ]

Please upload required files as attachments.

[2020-08-30 17:36] toddfmartin opened #396 "Production"
### Course SOCI  101B

### URL https://learn.twu.ca/course/view.php?id=15404&section=2

### Instructions
- [ ] Activity 2.5 is not a video but something to consider
- [ ]

Please upload required files as attachments.

[2020-08-30 17:50] toddfmartin opened #397 "Production"
### Course SOCI 1010B

### URL  https://learn.twu.ca/course/view.php?id=15404&section=5

### Instructions
- [ ] Please change watch to Listen
- [ ] Watch minutes 5-16 in particular

Please upload required files as attachments.

[2020-08-30 18:01] toddfmartin opened #398 "Production"
### Course SOCI 101B

### URL https://learn.twu.ca/course/view.php?id=15404&section=5

### Instructions
- [ ]Please replace 5.2 to this link
https://ifstudies.org/blog/does-having-children-make-people-happier-in-the-long-run
- [ ]

Please upload required files as attachments.

[2020-08-31 15:56] mellaurie commented on #394
I've added these in.  More units to come.

[2020-08-31 15:57] mellaurie commented on #394
@cmadland Can you help me with setting up the form for Syndication/FeedWordPress?

[2020-08-31 20:36] JessD9 commented on #390
@rezakh66 Here's the unit 5 checklist
[wrtg101U5.docx](https://github.com/TWUOnline/bug-tracking/files/5152540/wrtg101U5.docx)

[2020-09-01 02:59] dgaudet48 opened #399 "Extra Button"
**Which course contains the bug?**
- Psych106 Dev 2

**Describe the error and/or your suggestion**

On the "Assessment" tab - if you scroll to the bottom there is an extra button titled "Writing Assignment 1" that does not lead anywhere - it needs to be deleted.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  h

[2020-09-01 05:37] karenroeck commented on #399
@dgaudet48 The button is all gone 👍

[2020-09-01 05:37] #399 closed

[2020-09-03 03:30] JessD9 commented on #390
@rezakh66 Can you format checklists in units 2-4, so they match the format of Unit 1 checklist?
(White border at top)

[2020-09-04 03:24] karenroeck opened #400 "Production: PSYC 340 welcome video"
### Course
PSYC 340

### URL
https://mytwu-my.sharepoint.com/personal/m_manning-shull_twu_ca/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fm%5Fmanning%2Dshull%5Ftwu%5Fca%2FDocuments%2FAttachments%2Fzoom%5F6%2Emp4&parent=%2Fpersonal%2Fm%5Fmanning%2Dshull%5Ftwu%5Fca%2FDocuments%2FAttachments&originalPath=aHR0cHM6Ly9teXR3dS1teS5zaGFyZXBvaW50LmNvbS86djovZy9wZXJzb25hbC9tX21hbm5pbmctc2h1bGxfdHd1X2NhL0VmcTh

[2020-09-04 05:30] rezakh66 commented on #390
@JessD9 I updated checklist with the white border at the top

[2020-09-04 06:31] JessD9 commented on #390
Thanks;)

[2020-09-04 06:38] JessD9 commented on #390
@rezakh66 the words aren't showing up in the table headings (units 2 and 4)... that's strange.
I'll try to reformat

[2020-09-04 10:18] JessD9 commented on #390
done!

[2020-09-04 16:07] Jeff-TWU commented on #400
@karenroeck Sounds good. I'm not able to access the file. Can you get me access?
<img width="810" alt="Screen Shot 2020-09-04 at 9 05 39 AM" src="https://user-images.githubusercontent.com/66963480/92261280-07b09080-ee8e-11ea-9fda-862e34d79c79.png">

[2020-09-04 16:34] karenroeck commented on #400
@Jeff-TWU Just shared it with you - it is called zoom_6.mp4 Did that work?

[2020-09-04 16:48] Jeff-TWU commented on #400
@karenroeck Got the file. Oh man the quality is not great. Both audio and video. Sounds like Zoom had to apply a ton of noise cancellation, I'm guessing because the she used the built in mic?  I wish we had some minimum standards. They should at least record with an external mic. 720p video minimum. Please let me know if we can get another recording. If not I'll go with this one. Sorry for the has

[2020-09-04 17:06] mellaurie commented on #380
More to format/add: (sorry! @rezakh66 and TIA!)

- In each unit alert titled: Apply and Explore the Ideas (usually the u.2 and u.5), please link to the pdf for that self quiz.  See unit 1 and 2 for examples.

- When a JTA chapter is referenced, can we hyperlink it to the corresponding chapter in the online text.  Usually in activity n.3 and n.6 and in the assessment section.  Attached doc has all

[2020-09-04 18:03] moreccom opened #401 "PHIL 105 WP"
For PHIL 105 WP, the Announcements tab is missing and the Getting Started Resources for Faculty tab is appearing in its place.

[2020-09-04 18:04] moreccom opened #402 "PHIL 105 IS"
For PHIL 105 IS, the Announcements tab is missing and the Getting Started Resources for Faculty tab is appearing in its place.

[2020-09-04 18:22] karenroeck commented on #400
@Jeff-TWU Yeah I was worried the a/v wouldn't be up to snuff. I'll connect with her to get a higher quality recording.

[2020-09-04 23:33] Jeff-TWU commented on #400
@karenroeck Sounds good. Thanks!

[2020-09-05 07:22] JessD9 commented on #328
@rezakh66 Here are Units 4, 5, 6
[LDRS_301_U4_Jul30_DA.docx](https://github.com/TWUOnline/bug-tracking/files/5177684/LDRS_301_U4_Jul30_DA.docx)

[LDRS_301_U5_Aug27_DA.docx](https://github.com/TWUOnline/bug-tracking/files/5177694/LDRS_301_U5_Aug27_DA.docx)

[LDRS_301_U6_Aug27_DA.docx](https://github.com/TWUOnline/bug-tracking/files/5177695/LDRS_301_U6_Aug27_DA.docx)

[2020-09-05 07:30] JessD9 commented on #328
@karenroeck still in progress:)

[2020-09-05 07:31] #355 closed

[2020-09-08 16:12] karenroeck commented on #400
@Jeff-TWU I just shared the updated video file with you - titled "Psych340 Welcome Edited.mp4"- is this one ok?

[2020-09-08 17:50] karenroeck commented on #395
Updated

[2020-09-08 17:50] #395 closed

[2020-09-08 17:54] karenroeck commented on #396
I updated the Week 2 Activity Checklist to say "consider..." vs "watch this video"

[2020-09-08 17:54] #396 closed

[2020-09-08 18:03] karenroeck commented on #398
Updated

[2020-09-08 18:03] #398 closed

[2020-09-08 18:05] karenroeck commented on #397
@toddfmartin Which Learning Activity are you referring to? The Moodle link takes me to the Unit 5 Overview page, so I'm not sure which Learning Activity needs editing.

[2020-09-08 18:07] karenroeck commented on #401
@moreccom I see the Announcements tab - has this issue been resolved?

![Screen Shot 2020-09-08 at 11 06 46 AM](https://user-images.githubusercontent.com/67760065/92512302-73af3380-f1c3-11ea-97ed-4d396ffb509e.png)

[2020-09-08 18:09] karenroeck commented on #402
@moreccom Same as PHIL 105 WP - I see the Announcements tab in this section as well. Please let me know if this is fixed or if you need further assistance.

![Screen Shot 2020-09-08 at 11 08 20 AM](https://user-images.githubusercontent.com/67760065/92512487-b40eb180-f1c3-11ea-9875-b47df2c9517c.png)

[2020-09-08 18:09] #389 closed

[2020-09-08 18:11] karenroeck commented on #390
@JessD9 anything further on this bug, or can we close it off?

[2020-09-08 18:12] karenroeck commented on #362
@JessD9 anything further on this bug, or can we close it off?

[2020-09-08 18:12] #394 closed

[2020-09-08 18:42] #362 closed

[2020-09-08 18:42] #390 closed

[2020-09-08 19:18] Jeff-TWU commented on #400
@karenroeck I think this will work. I should be able to clean up some of the audio. I'll get you a file tomorrow morning if that works for you.

[2020-09-08 19:20] karenroeck commented on #400
@Jeff-TWU Yes, tomorrow morning is perfect. Thanks so much!

[2020-09-09 18:07] #401 closed

[2020-09-09 18:08] #402 closed

[2020-09-09 18:53] Jeff-TWU commented on #400
@karenroeck https://web.microsoftstream.com/video/c688875b-dba8-45bd-bc83-dc55723ac3d6

[2020-09-09 23:56] karenroeck commented on #400
@Jeff-TWU Awesome - this is great! Thanks so much. Is there a way to change the viewing permissions so all Margaret's students can see this video from where it currently "lives" in Stream, or do I need to download it and reupload it to a different group/channel?

[2020-09-10 00:02] Jeff-TWU commented on #400
@karenroeck Great, glad it works for you. I believe all students should have access if they are logged in. You shouldn't need to re-upload it.
<img width="495" alt="Screen Shot 2020-09-09 at 4 59 38 PM" src="https://user-images.githubusercontent.com/66963480/92666393-f7e5e180-f2bd-11ea-98a1-5121cea5b11d.png">
@mellaurie can you confirm? Mel also  created a channel for her course, just to group thi

[2020-09-10 20:49] mellaurie commented on #400
I made a channel that has company wide access.  If you need to it to remain private within her class, she will need to create a group for her class (though I believe this is done in conjunction with the MS Teams teams, so she may just have to search for it), then select in the share with box, and then she will uncheck the "allow everyone in the company..."

[2020-09-10 20:50] karenroeck commented on #400
@mellaurie Cool, thanks for the info!

[2020-09-10 20:50] #400 closed

[2020-09-14 16:29] Jeff-TWU commented on #234
@cmadland Just following up on this, should I look into finding a workaround without a plugin? Let me know what you'd prefer. Thanks!

[2020-09-15 06:41] rezakh66 commented on #328
@JessD9 Hi Jessica, Units 4-6 are uploaded.

[2020-09-16 16:59] karenroeck opened #403 "Production: LDRS 623"
### Course
LDRS 623 - Developing Educational Programs (FAR MASTER)

### URL
https://learn.twu.ca/course/view.php?id=15687

### Instructions
@rezakh66 This course is going through a complete rewrite. Please clear all content from Atom so we have Units 1-5 with empty folders. Then please put new Unit 1 into production.

[LDRS_623_Unit_1.docx](https://github.com/TWUOnline/bug-tracking/files/5233694/L

[2020-09-17 00:12] #380 closed

[2020-09-18 23:38] rezakh66 commented on #403
@karenroeck Hi Karen, I have uploaded unit 1

[2020-09-21 03:52] karenroeck commented on #403
@rezakh66 Thanks so much! @mellaurie Could you please go through and finalize LDRS 623 Unit 1?

[2020-09-21 19:40] JessD9 commented on #328
@rezakh66 Here are units 7 and 8
these are the last ones:)

[LDRS_301_U7_Aug28_DA.docx](https://github.com/TWUOnline/bug-tracking/files/5257770/LDRS_301_U7_Aug28_DA.docx)
[LDRS_301_U8_Sep13_DA.docx](https://github.com/TWUOnline/bug-tracking/files/5257771/LDRS_301_U8_Sep13_DA.docx)

[2020-09-22 19:39] mellaurie commented on #403
I've addressed all the production notes.  Please take a look @karenroeck

[2020-09-22 20:23] rezakh66 commented on #328
Hi @JessD9 Both units are uploaded. ;)

[2020-09-22 20:53] karenroeck commented on #403
Looks awesome @mellaurie!

[2020-09-22 20:53] #403 closed

[2020-09-22 20:54] karenroeck commented on #397
@toddfmartin Just following up with this bug report. When you get a chance, could you please let me know which Learning Activity requires editing?

[2020-09-22 20:54] #376 closed

[2020-09-23 19:28] Jeff-TWU opened #404 "Netiquette Guide"

[2020-09-24 09:04] JessD9 commented on #328
Thanks @rezakh66.
If you have some time this week, can you upload the 399 Facilitator Guide?

[2020-09-24 23:15] Jeff-TWU opened #405 "LDRS 697 Leadership Integration Interview"

[2020-09-28 17:50] cpenfoldnavarro opened #406 "LDRS 500 Online Fall: Unit 1 navigation menu is missing"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
LDRS 500 OL Fall 2020

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
The navigation menu that usually appears at the top left of each unit (i.e. Overview, Topic 1, Topic 2, Learning Activities, etc.) seems to be missing from Unit 1. Pleas

[2020-09-28 17:57] karenroeck commented on #406
@cpenfoldnavarro The navigation menu now appears in Unit 1.

[2020-09-28 17:57] #406 closed

[2020-09-28 18:07] cpenfoldnavarro commented on #406
Thanks so much!

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Karen Roeck <notifications@github.com>
Sent: Monday, September 28, 2020 1:58 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
C

[2020-09-29 13:16] cpenfoldnavarro opened #407 "LDRS 500 Online Fall 2020 Update Community of Inquiry Rubric"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 500 Online Fall 2020

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
Please update the rubric for the Community of Inquiry in TWO places in the course, using the updated rubric attached here.
[LDRS 500 Community of Inquiry RUBRIC.pdf

[2020-09-29 16:24] karenroeck commented on #407
@cpenfoldnavarro The rubric has been updated in both places. Thank you for your clear instructions - much appreciated!

[2020-09-29 16:24] #407 closed

[2020-09-29 17:50] cpenfoldnavarro commented on #407
Thank you so much!

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Karen Roeck <notifications@github.com>
Sent: Tuesday, September 29, 2020 12:25 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.c

[2020-10-04 06:13] karenroeck opened #408 "Production LDRS 623 Unit 2"
### Course

LDRS 623: Developing Educational Programs (FAR MASTER)

### URL

https://learn.twu.ca/course/view.php?id=15687&section=2

### Instructions

Reza, please put Unit 2 into production. Thanks!

[LDRS_623_Unit_2.docx](https://github.com/TWUOnline/bug-tracking/files/5322735/LDRS_623_Unit_2.docx)

[2020-10-05 16:58] rezakh66 commented on #408
Hi, @karenroeck I have uploaded unit 2. Please let me know if we need changes.

[2020-10-05 17:00] #408 closed

[2020-10-05 19:10] mellaurie opened #409 "UNIV 301 Production"
### UNIV 301 ADC

### https://learn.twu.ca/course/view.php?id=15685

### Instructions
- [ ] Please upload Unit 1 and 4 (unit 1 alert 1.1 and 1.2 already created) - Repo in arts master
**It would be awesome if this can be done by Wed, Oct. 7 9am. Thanks in advance!**

- [ ] Check for formatting and add in icons (See unit 2 for exemplar)

Please upload required files as attachments

[UNIV301_U1_S29_

[2020-10-05 22:13] karenroeck opened #410 "PSYC 106"
**Which course contains the bug?**
PSYC 106 ADC Master

**Describe the error and/or your suggestion**
I can't figure out how to remove the text "[pdfjs]" displaying above the embedded PDF.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php?id=15775&section=0

**Optional: Screen

[2020-10-06 18:52] rezakh66 commented on #409
Hi @mellaurie Both units are uploaded and formatted. Let me know if changes are needed.

[2020-10-06 18:53] mellaurie commented on #409
@rezakh66 Fantastic!!  Thank you for doing this so quickly!

[2020-10-08 00:48] mellaurie commented on #409
More units ready to go:
[UNIV301_U3.docx](https://github.com/TWUOnline/bug-tracking/files/5344758/UNIV301_U3.docx)
[UNIV301_U6.docx](https://github.com/TWUOnline/bug-tracking/files/5344759/UNIV301_U6.docx)
[UNIV301_U7.docx](https://github.com/TWUOnline/bug-tracking/files/5344760/UNIV301_U7.docx)

-[] Please add the icons in

[2020-10-08 21:39] rezakh66 commented on #409
Hi, @mellaurie All three units are uploaded. 6.4 is missing in activities checklist

[2020-10-12 20:31] cpenfoldnavarro opened #411 "LDRS 500 Online Fall 2020"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
Please correct the authors' names in the Activity Checklist in Activity 3.1.
Instead of: Wang, Og, Croutright & Colbert (2011)
It should be: Wang, Oh, Courtright & Colbert, A.E. (2011)

**Loc

[2020-10-13 16:13] karenroeck commented on #411
@cpenfoldnavarro Updates have been made. Double-checking: Colbert, A. E. is the only author with initials listed. Would you prefer all the authors to have initials listed, or only Colbert? APA 7 does not list author initials for in-text citations :)

[2020-10-13 17:10] cpenfoldnavarro commented on #411
Thanks, Karen.

For the activity checklist, it looks like most resources are formatted as an in-text citation. If so, it would be:
Wang, Oh, Courtright & Colbert (2011).

Thanks for the attention to detail!
Cathy

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www

[2020-10-13 17:47] karenroeck commented on #411
@cpenfoldnavarro Perfect! I've made the updates. I am doing coursework right now, so my APA 7 spidey-senses are on full tilt haha.

[2020-10-13 17:47] #411 closed

[2020-10-13 17:56] cpenfoldnavarro commented on #411
Thanks! Hope your coursework is going well!

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Karen Roeck <notifications@github.com>
Sent: Tuesday, October 13, 2020 1:48 PM
To: TWUOnline/bug-tracking <bug-tra

[2020-10-13 23:40] mellaurie commented on #409
Thanks and good catch w 6.4 @rezakh66!

Here is Unit 8 ready to go.  It will go under Week 5 tab.
[UNIV301_U8.docx](https://github.com/TWUOnline/bug-tracking/files/5374719/UNIV301_U8.docx)

[2020-10-14 17:35] rezakh66 commented on #409
Hi @mellaurie I have uploaded unit 8 as well.

[2020-10-20 16:15] karenroeck opened #412 "Production - LDRS 623, Unit 3"
### Course

LDRS 623: Developing Educational Programs (FAR MASTER)

### URL

https://learn.twu.ca/course/view.php?id=15687

### Instructions
- [x] @rezakh66 Please upload Unit 3 to Atom and insert .pdf and .docx files where specified.

Please upload required files as attachments.

[LDRS_623_Unit_3.docx](https://github.com/TWUOnline/bug-tracking/files/5410024/LDRS_623_Unit_3.docx)

[Gerber_2019.pdf

[2020-10-20 18:42] cmadland commented on #412
Is there a reason to upload these articles as pdf rather than creating MD pages? Also, maybe we shouldn't be pushing students to Teachers Pay Teachers, which is a bit of a sketchy site. We can create templates based on Wiggins and McTighe just as easily and at a higher quality than Chase 'n Darla Guymon or Mission Bay High School...

[2020-10-20 20:04] karenroeck commented on #412
Can we create MD pages from PDFs? Would it compromise the original typeface, photos, etc?

Is there a web-based way to create the UbD templates with fillable fields for students? These Word templates follow UbD principles from the W/McT text and are not original work by anyone on TpT.

KAREN ROECK, EdD (cand.), MA

Instructional Designer | TWU GLOBAL

Trinity Western University | e. karen.roeck@tw

[2020-10-21 00:56] JessD9 commented on #328
@rezakh66 Can you "shade" the x and y axis of the rubric in Unit 2? (Make top and left borders of the table darker)

Also in Unit 3 Assessment, can you make the Rubric look like the rubric in Unit 2? (you can delete the screenshot)
[LDRS_301_U3_Rubric.docx](https://github.com/TWUOnline/bug-tracking/files/5412466/LDRS_301_U3_Rubric.docx)

In Unit 4 Assessment, please add and format the rubric. (You

[2020-10-21 18:36] rezakh66 commented on #412
@karenroeck @cmadland I have uploaded the unit itself, Please let me know when I can proceed with inserting the files.

[2020-10-21 19:23] karenroeck commented on #412
@reza66 Please embed these edited templates.

[Template_1.docx](https://github.com/TWUOnline/bug-tracking/files/5418292/Template_1.docx)
[Template_2.docx](https://github.com/TWUOnline/bug-tracking/files/5418294/Template_2.docx)

[2020-10-21 20:27] karenroeck commented on #412
Thanks @reza66! Can you please create MD pages for the Gerber (2019) and Howard (2007) articles?

@cmadland Can you confirm the process for embedding published journal articles? In my EdD classes at Western, the prof puts journal articles directly into the LMS. As a student, I appreciate not having to click a link to go to the Western database and access the article there - but I understand the po

[2020-10-21 23:51] rezakh66 commented on #328
Hi @JessD9 I have formatted the tables with similar colors as the screenshots. Please let me know if you need a different color.  Darker or brighter. I have kept the screenshots for easier comparison.

[2020-10-22 00:34] JessD9 commented on #328
@rezakh66 Thank You! They look great

[2020-10-22 23:35] mellaurie opened #413 "UNIV 301 Master Moodle Shell"
### UNIV 301

### Instructions
- [x] Create copy of: https://learn.twu.ca/course/view.php?id=15685 but without groups or students or calendar
- [x] Create a Master Moodle Shell for UNIV 301
- [x] Import copy into the Moodle Master

[2020-10-23 15:47] mellaurie opened #414 "LDRS 662 Facilitator's Guide"
### LDRS 662

### Moodle course: https://learn.twu.ca/course/view.php?id=8931&section=0

### Instructions
- [x] Please produce Facilitator's Guide in master course shell

Here is the link to the doc: https://docs.google.com/document/d/1i4n4fq72f4PLuqCfzOSSrJg58iig8xNBe-OP96ca47Q/edit#

[2020-10-26 14:16] rezakh66 commented on #413
Hi @mellaurie you can find UNIV 301 (FAR MASTER) [here](https://learn.twu.ca/course/view.php?id=17766).

[2020-10-26 15:53] mellaurie commented on #413
Thank you @rezakh66 !!

[2020-10-26 16:27] cpenfoldnavarro opened #415 "LDRS 500 online: Fix spelling of Northouse in Unit 4 Activity Checklist"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Please correct the spelling of Northouse. It should be:

Activity 4.2
Take the Authentic Leadership Questionnaire (ALQ) found in Chapter 9 of Northouse (2019). After completing the assessmen

[2020-10-26 16:34] karenroeck commented on #415
Hi @cpenfoldnavarro I updated the wording to reflect what you have here - but I can't see where "Northouse" is misspelled. It looks correct in Activity 4.2:

![Screen Shot 2020-10-26 at 9 32 40 AM](https://user-images.githubusercontent.com/67760065/97200379-5ed83080-176e-11eb-88ce-df1dbe784afe.png)

[2020-10-26 17:54] cpenfoldnavarro commented on #415
Karen,
It’s incorrect in the Unit 4 Overview Page, in the Activity Checklist under Activity 4.2.

https://learn.twu.ca/course/view.php?id=14492&section=4

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Kare

[2020-10-26 17:56] karenroeck commented on #415
@cpenfoldnavarro Got it, fixed it! Thanks for the clarification.

[2020-10-26 17:56] #415 closed

[2020-10-26 18:35] #413 closed

[2020-10-26 18:36] karenroeck commented on #412
@cmadland Any further thoughts here re: embedding published journal articles vs linking to TWU library site?

[2020-10-26 18:36] karenroeck commented on #410
@rezakh66 Could you take a look at this bug when you have a chance? This course is now live. Thanks!

[2020-10-26 18:36] #405 closed

[2020-10-26 18:36] #393 closed

[2020-10-26 18:37] karenroeck commented on #353
@JessD9 Any further updates needed on this card, or good to close?

[2020-10-26 20:29] cpenfoldnavarro commented on #415
Thanks.

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Karen Roeck <notifications@github.com>
Sent: Monday, October 26, 2020 1:57 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Cathy P

[2020-10-26 20:32] cpenfoldnavarro opened #416 "LDRS 500 Online Unit 5 and Unit 6 menu bar missing"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 500 Online Fall 2020

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 The menu bar is missing form Unit 5.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:

[2020-10-26 20:40] cpenfoldnavarro opened #417 "LDRS 500 Online Fall 2020 Links not working in Unit 4"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

links need to be updated:
Example of Lateral Thinking when it matters: https://www.youtube.com/watch?v=q3HjWA7bii4

Beyond Common Sense: Critical Thinking Skills and Decision Making for Lead

[2020-10-26 21:20] JessD9 commented on #353
no updates from Todd re facilitator's guide...
@rezakh66 let's keep the same one for SOCI 101

[2020-10-26 21:20] #353 closed

[2020-10-26 21:32] karenroeck opened #418 "LDRS 623, Unit 4"
### Course

LDRS 623: Developing Educational Courses (FAR MASTER)

### URL

https://learn.twu.ca/course/view.php?id=15687&section=4

### Instructions
Please add Unit 4 and embed attached PDFs where indicated.

[LDRS_623_Unit_4.docx](https://github.com/TWUOnline/bug-tracking/files/5441672/LDRS_623_Unit_4.docx)
[Chapter_7.pdf](https://github.com/TWUOnline/bug-tracking/files/5441675/Chapter_7.pdf)
[F

[2020-10-26 21:40] karenroeck commented on #417
@cpenfoldnavarro I updated the two video links and embedded all the videos directly in Moodle for Learning Activity 5.1 - let me know what you think.

[2020-10-26 21:41] karenroeck commented on #416
@cpenfoldnavarro The menus are now visible in Units 5-6.

[2020-10-26 21:41] #416 closed

[2020-10-26 22:56] rezakh66 commented on #410
Hi @karenroeck This comes along with the pdfjs plugin. I think it would not be possible to get that removed as long as we are utilizing the plugin. However, I'm looking for any possible workaround.

[2020-10-26 23:52] karenroeck commented on #410
@rezakh66 no worries! I tried so many things to get rid of that text, so I'm glad it wasn't "user error" on my part haha!

[2020-10-26 23:52] #410 closed

[2020-10-27 14:15] cpenfoldnavarro commented on #416
Thanks!

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Karen Roeck <notifications@github.com>
Sent: Monday, October 26, 2020 5:41 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Cathy P

[2020-10-27 14:15] cpenfoldnavarro commented on #417
Great! Thank should work.
Cathy

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Karen Roeck <notifications@github.com>
Sent: Monday, October 26, 2020 5:41 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply

[2020-10-27 14:23] cpenfoldnavarro commented on #417
Karen,
I just noticed that the same resources are listed here as well:
https://learn.twu.ca/course/view.php?id=14492&section=14
(LDRS 500 Online Fall 2020, Assessment/Critical Analysis – Instructions for Assignment 3).

Could you update these as well?

Thanks so much!
Cathy

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnav

[2020-10-27 15:33] rezakh66 commented on #418
Good Morning @karenroeck  I have uploaded unit 4.

[2020-10-27 18:03] karenroeck commented on #418
thank you!

[2020-10-27 18:03] #418 closed

[2020-10-27 18:09] karenroeck commented on #417
@cpenfoldnavarro For sure - done :)

[2020-10-27 18:09] #417 closed

[2020-10-27 18:18] cpenfoldnavarro commented on #417
Merci!

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Karen Roeck <notifications@github.com>
Sent: Tuesday, October 27, 2020 2:10 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Cathy P

[2020-10-27 19:04] rezakh66 commented on #414
Hi @mellaurie I have uploaded the facilitator's guide.

[2020-10-27 21:01] karenroeck commented on #414
@rezakh66 Do you mind adjusting the titles on each accordion to have title case capitalization? e.g. Unit 1 Notes instead of unit 1 notes

[2020-10-27 21:07] mellaurie commented on #414
Looking good @rezakh66!  In the second to last paragraph before the accordion, could you remove "LDRS 591" out of "their participation in labs as specified by the LDRS 591 Participation Rubric"

[2020-10-28 17:29] rezakh66 commented on #414
Hi @mellaurie @karenroeck I made the changes.Thanks

[2020-10-28 17:43] mellaurie commented on #414
Thanks @rezakh66!!

[2020-10-28 17:43] #414 closed

[2020-10-29 18:14] cmadland opened #419 "LDRS 591 - Zoom password"
### LDRS591 IN (FAR content)

### https://learn.twu.ca/course/view.php?id=14507

### Instructions
- [x] Please remove the Zoom ID and passcode from Grav in the introduction. This is available on the web through Grav and presents a security risk.
- [x] Add same details to Moodle label.

Please upload required files as attachments.

[2020-10-29 19:00] rezakh66 commented on #419
Hi @cmadland I made the changes. which files need to be attached? I can't see any file.

[2020-10-29 22:46] rezakh66 commented on #412
I added Gerber and Howard pdfs in MD format. Let me know when we can add the rest pf pdfs

[2020-10-29 23:02] karenroeck commented on #412
@rezakh66 could you please add them now? We can change them later if the format needs adjusting. Thanks!

[2020-10-29 23:06] karenroeck opened #420 "Chart for PSYC 340"
### Course
PSYC 340: Interpersonal and Helping Skills (ADC Master)

### URL
https://learn.twu.ca/course/view.php?id=15808&section=5

### Instructions
- [ ] Please create a visually appealing chart based off the attached file. This chart will be displayed in Moodle for PSYC 340, Unit 5.

[Why giving advice is unhelpful chart.pdf](https://github.com/TWUOnline/bug-tracking/files/5461727/Why.giving.ad

[2020-10-30 00:33] karenroeck opened #421 "PSYC 340, Week 5"
### Course

PSYC 340: Interpersonal and Helping Skills (ADC MASTER)

### URL

https://learn.twu.ca/course/view.php?id=15808&section=5

### Instructions
- Please input Week 5 in Atom. I've already formatted 0.7references in Atom, so please leave that as is :) Thanks!

Please upload required files as attachments.
[PSYC_340_Unit_5.docx](https://github.com/TWUOnline/bug-tracking/files/5462156/PSYC_340

[2020-10-30 16:39] Jeff-TWU commented on #420
@karenroeck I'll get on this on Tuesday. Thanks!

[2020-10-30 16:39] karenroeck commented on #420
Sounds great - enjoy your vacation days!!

[2020-11-02 16:05] rezakh66 commented on #412
Hi @karenroeck PDFs are uploaded.

[2020-11-02 17:40] karenroeck commented on #412
@rezakh66 thanks so much - you are a star!

[2020-11-02 17:40] #412 closed

[2020-11-02 20:00] rezakh66 commented on #421
Hi @karenroeck I uploaded unit 5. Please let me know if changes are needed.

[2020-11-02 23:34] karenroeck commented on #421
Looks great - thank you @rezakh66!

[2020-11-02 23:34] #421 closed

[2020-11-02 23:37] #419 closed

[2020-11-04 18:43] mellaurie opened #422 "MCOM 353 Production"
### MCOM 353 (PR Master): Public Relations Overview: From Aristotle to Zuckerberg

### Instructions
- [x] Please create Moodle shell for this course
- [x] Upload Unit 1 and 2 to art-master

Please upload required files as attachments.
[MCOM_353_Unit 1_Nov4_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5489884/MCOM_353_Unit.1_Nov4_ML.docx)
[MCOM_353_Unit 2_Nov4_ML.docx](https://github.co

[2020-11-05 00:54] Jeff-TWU commented on #420
![PSYC 340 Chart](https://user-images.githubusercontent.com/66963480/98184075-5a262180-1ebe-11eb-9bf6-b4b0ad28613a.png)
@karenroeck I had fun with this one. Please let me know what you think.

[2020-11-05 01:37] karenroeck commented on #420
@Jeff-TWU This looks awesome! Love the graphic and the TWU colours.

Some minor suggestions:
- [ ] Can the "YES" and "NO" arrows be consistent? e.g. "YES" = all yellow and "NO" = all blue
- [ ] Can you add the third column from the chart as the first bullet point under each section? e.g. Counselee is blamed, Counselor is credited, etc
- [ ] Under the third "YES," can you adjust the text box to rem

[2020-11-05 02:58] JessD9 opened #423 "LDRS 320"
### LDRS 320

### [URL](https://learn.twu.ca/course/view.php?id=17788)

### Instructions
- @rezakh66 Please upload Units 2 and 3 to GiHub/Atom (may need to create 320 folder in github)
- Copy/paste course introduction from LDRS 301
- **Unit 1 will be added later...I'm still making edits**

[LDRS_320_U2_June19_JD_KM.docx](https://github.com/TWUOnline/bug-tracking/files/5491667/LDRS_320_U2_June19_JD

[2020-11-05 19:15] Jeff-TWU commented on #420
@karenroeck Glad you like it!

Changes made. Let me know if you need anything else.
![PSYC 340 Chart_R1](https://user-images.githubusercontent.com/66963480/98285975-27c90280-1f58-11eb-839b-bd2a2656d368.png)

[2020-11-05 19:28] karenroeck commented on #420
Brilliant - thanks so much!

[2020-11-05 19:28] #420 closed

[2020-11-05 19:30] Jeff-TWU commented on #420
@karenroeck Welcome!

[2020-11-05 20:09] rezakh66 commented on #422
Hi @mellaurie both units are uploaded [here](https://learn.twu.ca/course/view.php?id=17787&section=0).

[2020-11-05 23:53] Jeff-TWU commented on #420
![PSYC 340 Chart_R2](https://user-images.githubusercontent.com/66963480/98309354-121b0380-1f7f-11eb-838d-aa65714a4134.png)
Just Noticed a mistake. Fixed!

[2020-11-09 20:03] karenroeck opened #424 "PSYC 340, Unit 6 Production"
### Course

PSYC 340: Interpersonal and Helping Skills (ADC Master)

### URL

https://learn.twu.ca/course/view.php?id=15808&section=6

### Instructions
- [x] Please upload Unit 6 and embed attachments as indicated in red.

Please upload required files as attachments.

[PSYC_340_Unit_6.docx](https://github.com/TWUOnline/bug-tracking/files/5512994/PSYC_340_Unit_6.docx)
[Helper_Egan_Reese](https://us

[2020-11-09 20:12] rezakh66 commented on #423
@JessD9 Hi, I uploaded unit 1 on Friday, but let me know the updates and I will revise that. Unit 2 and 3 are updated since Friday?

[2020-11-09 23:08] karenroeck opened #425 "LDRS 623, Unit 5 Production"
### Course

LDRS 623: Developing Educational Programs (FAR MASTER)

### URL

https://learn.twu.ca/course/view.php?id=15687&section=5

### Instructions
- [x] Please upload Unit 5.

Please upload required files as attachments.

[LDRS_623_Unit_5.docx](https://github.com/TWUOnline/bug-tracking/files/5513759/LDRS_623_Unit_5.docx)

[2020-11-10 00:48] rezakh66 commented on #424
Hi @karenroeck Unit 6 is uploaded.

[2020-11-10 16:23] cpenfoldnavarro opened #426 "LDRS 500 Online Fall 2020 Unit 7 Broken Links"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 500 Online Fall 2020

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Several of the links to articles in Unit 7 Learning Activities appear to be broken. A window opened up within Moodle, in the course, that took me to Catalyst., but

[2020-11-10 18:33] mellaurie commented on #422
Thanks @rezakh66!

In both these units, could you make a new alert box when you see "Questions to consider for topic #" in the Learning Activities section in each Topic?

[2020-11-10 20:00] rezakh66 commented on #425
Hi @karenroeck I have uploaded unit 5.

[2020-11-11 15:39] cpenfoldnavarro opened #427 "LDRS 500 Online Unit 7: Trusted 10 Worksheet"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 500 Fall 2020

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

The "Trusted 10 worksheet" should include a link/pdf.
For now, we can link to:
 https://create.twu.ca/ldrs500/trusted-10-worksheet/

**Location of the bug**
Please provid

[2020-11-11 23:38] rezakh66 commented on #423
Hi @JessD9 I have uploaded units 2 & 3.

[2020-11-12 07:03] JessD9 commented on #423
Thanks @rezakh66!
Please insert the following PPT into Unit 1, Topic 2-  Activity 2.1

[ldrs320_PPT_U1.pptx](https://github.com/TWUOnline/bug-tracking/files/5528806/ldrs320_PPT_U1.pptx)

[2020-11-12 16:11] rezakh66 commented on #423
Good Morning @JessD9 PPT file is inserted in activity 2.1

[2020-11-12 16:36] JessD9 commented on #423
@rezakh66 Great:)

[2020-11-12 17:42] rezakh66 commented on #422
Hi @mellaurie Done :)

[2020-11-12 18:12] mellaurie commented on #422
Thank you @rezakh66.  Here is Unit 4 ready for production.
[MCOM_353_Unit 4_Nov 10_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5532404/MCOM_353_Unit.4_Nov.10_ML.docx)

[2020-11-12 23:51] rezakh66 commented on #422
Hi @mellaurie Unit 4 is uploaded :)

[2020-11-16 17:26] karenroeck commented on #426
@cpenfoldnavarro all fixed :)

[2020-11-16 17:26] #426 closed

[2020-11-16 17:28] karenroeck commented on #427
@cpenfoldnavarro I linked the Trusted 10 worksheet - can students edit this? If not, would you rather have an editable template for this activity?

[2020-11-16 18:01] cpenfoldnavarro commented on #427
Karen,
Something they can edit and download (save to their computer) would be ideal.

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Karen Roeck <notifications@github.com>
Sent: Monday, November 16, 2020 12

[2020-11-16 18:29] karenroeck commented on #427
@cpenfoldnavarro I created an Excel spreadsheet and linked to Activity 7.4 - let me know if another format would be better or if this is ok.

[2020-11-16 18:29] #427 closed

[2020-11-16 21:05] #425 closed

[2020-11-16 21:06] karenroeck commented on #424
Thank you, Reza!

[2020-11-16 21:06] #424 closed

[2020-11-18 20:50] karenroeck opened #428 "Production: Overview videos for PSYC 340, Units 2-6"
### Course

PSYC 340: Interpersonal and Helping Skills

### Instructions
- [x] Please edit the overview videos for PSYC 340, Units 2-6. Unit 6 has two takes - Take 1 has a better introduction and Take 2 has better content. The speaker (Margaret) pauses and restarts at certain sections, so please edit these "bloopers" out.
- [x] All videos are located in the [Learning Design](https://web.microsofts

[2020-11-18 20:50] karenroeck commented on #428
@Jeff-TWU This course launches Nov 30, so the sooner the better :) Thanks!

[2020-11-18 20:54] Jeff-TWU commented on #428
@karenroeck On it. Sounds good!

[2020-11-19 01:06] Jeff-TWU commented on #428
@karenroeck

Uploaded.

[Unit 2](https://web.microsoftstream.com/video/3055b285-07af-4e86-bd85-dfdad2977baa)
[Unit 3](https://web.microsoftstream.com/video/78640f5d-f31f-4004-9fa5-b8875b034883)
[Unit 4](https://web.microsoftstream.com/video/635f5560-1b9a-4084-911e-ad9d63c00f3a)
[Unit 5](https://web.microsoftstream.com/video/a0752409-cebc-4355-8a03-96e4a421aac6)
[Unit 6](https://web.microsoftstream

[2020-11-19 01:23] karenroeck commented on #428
@Jeff-TWU You are amazing!! I embedded the vids in Moodle and sent to my SME for review - she will be thrilled!

[2020-11-19 01:23] #428 closed

[2020-11-22 14:19] JessD9 commented on #423
@rezakh66 Here are units 4-6
[LDRS_320_U4_Nov21_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5579633/LDRS_320_U4_Nov21_JD.docx)
[Worksheet_InquiryVsAdvocacy.docx](https://github.com/TWUOnline/bug-tracking/files/5579634/Worksheet_InquiryVsAdvocacy.docx)
[LDRS_320_U5_Nov22_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5579635/LDRS_320_U5_Nov22_JD.docx)
[LDRS_320_U6 _Nov22_JD.d

[2020-11-24 21:40] rezakh66 commented on #423
Hi @JessD9 Units 4-6 are ready to go.

[2020-11-24 21:54] cpenfoldnavarro opened #429 "LDRS 500 Unit 9, Learning Activity 9.3: Update page numbers"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 500 Online Fall 2020
(As always, please make this change to the master)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
Please correct the page number for the Team Leader Questionnaire. The correct pages are pp. 397-8 (not 297-8) as

[2020-11-24 21:58] karenroeck commented on #429
@cpenfoldnavarro all fixed!

[2020-11-24 21:58] #429 closed

[2020-11-24 22:18] cpenfoldnavarro commented on #429
Thanks, Karen!

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Karen Roeck <notifications@github.com>
Sent: Tuesday, November 24, 2020 4:59 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc

[2020-11-26 16:45] JessD9 commented on #423
@rezakh66 Thank you!!

[2020-12-01 23:29] karenroeck opened #430 "Production: LDRS 623 Facilitator's Guide"
### Course

LDRS 623: Developing Educational Programs (FAR MASTER)

### URL

https://learn.twu.ca/course/view.php?id=15687&section=13

### Instructions
- [x] Please upload the Facilitator's Guide.

Please upload required files as attachments.
[LDRS_623_Facilitator_Guide.docx](https://github.com/TWUOnline/bug-tracking/files/5626048/LDRS_623_Facilitator_Guide.docx)

[2020-12-02 18:18] rezakh66 commented on #430
Hi @karenroeck Facilitator's Guide is uploaded.

[2020-12-02 18:29] karenroeck commented on #430
Amazing - you rock @rezakh66!!

[2020-12-02 18:29] #430 closed

[2020-12-02 20:55] #397 closed

[2020-12-14 18:26] mellaurie opened #431 "LDRS 502 Fac Guide"
### LDRS 502: Team Leadership and Conflict Resolution (NEW FAR Master)

### https://learn.twu.ca/course/view.php?id=17713&section=5

### Instructions
- [x] Please upload and format the Faciliator's Guide
[LDRS_502_Facilitator_Guide.docx](https://github.com/TWUOnline/bug-tracking/files/5690815/LDRS_502_Facilitator_Guide.docx)

[2020-12-14 20:58] dgaudet48 opened #432 "LDRS 501 - Extra Button"
**Which course contains the bug?**
- LDRS 501:Dev

**Describe the error and/or your suggestion**
At the bottom of the "Assessment" page there is an extra button labeled "Activity 2-6" - it needs to be removed

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php?id=15738&section=3

[2020-12-14 21:19] rezakh66 commented on #431
Hi @mellaurie ,  Facilitator's Guide is uploaded.

[2020-12-14 23:09] karenroeck commented on #432
@dgaudet48 The button is all gone!

[2020-12-14 23:09] #432 closed

[2021-01-03 02:25] JessD9 commented on #328
@rezakh66 Please add the Facilitator Guide. Thank You
[LDRS301_Facilitator_Guide_Dec31_DA.docx](https://github.com/TWUOnline/bug-tracking/files/5761110/LDRS301_Facilitator_Guide_Dec31_DA.docx)

[2021-01-04 06:00] JessD9 commented on #423
@rezakh66  Here are Units 7 & 8

[LDRS_320_U7_JAN03_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5763241/LDRS_320_U7_JAN03_JD.docx)
[LDRS_320_Activity_7.7_Worksheet.docx](https://github.com/TWUOnline/bug-tracking/files/5763242/LDRS_320_Activity_7.7_Worksheet.docx)

[LDRS_320_U8 _JAN03_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5763243/LDRS_320_U8._JAN03_JD.docx)
[LDRS_320

[2021-01-04 22:23] rezakh66 commented on #423
Hi @JessD9 Both units 7 & 8 are uploaded.

[2021-01-04 23:07] JessD9 commented on #423
Thanks!

[2021-01-06 00:07] rezakh66 commented on #328
Hi @JessD9 I have added the Facilitator's guide.

[2021-01-06 00:15] JessD9 commented on #328
thank you!!

[2021-01-07 18:00] mellaurie opened #433 "WRSH 201 Video"
### WRSH 201

### https://create.twu.ca/wrsh201/

### Instructions
- [ ] Create video of Patti Victor describing her Indigenous perspective with regards to worship

Please upload required files as attachments.

[2021-01-11 00:34] danielmingluito opened #434 "Production"
### Course LDRS 662 SP01

https://learn.twu.ca/course/view.php?id=16625&section=3

IN Unit 3 Activity Checklist - please change the words "Assignment 1" to Assignment 2.

Thanks

Daniel

[2021-01-11 17:32] cmadland commented on #434
@karenroeck I think you have a better idea of the implications here...

[2021-01-11 17:35] danielmingluito commented on #434
Thanks. All I did was swap assignments 1 and 2 - and its reflected on every section except that one for some reason.  I had asked before to swap them and the person that did it did it all except in that one spot =)

I tried to change it but couldn’t and I don’t want to screw up the system... =)

Warmly,

Daniel To, Ed.D
Instructor, MA Leadership | TWU Global |
Trinity Western University | M 778.77

[2021-01-11 23:26] karenroeck commented on #434
@danielmingluito I've changed the wording in the Unit 3 Activity Checklist. I noticed your heading at the top: ***NOTE Learning activity 3.1 and 3.3 don't work.  I can't delete it here for some reason SO - GO TO THE UNIT 3 DISCUSSION FOR NEW LINKS*** Is this something I can help fix from my end?

[2021-01-11 23:33] danielmingluito commented on #434
Hi Karen

If you find a way to fix the links - for sure - or put my links in place of the old ones.  I couldn’t make the old links work at all

Warmly,

Daniel To, Ed.D
Instructor, MA Leadership | TWU Global |
Trinity Western University | M 778.772.4992 | T@DanielToSD36

Website https://www.twu.ca
Blog and Personal Site https://www.drdanielto.com

On Jan 11, 2021, at 3:26 PM, Karen Roeck <notifica

[2021-01-11 23:41] karenroeck commented on #434
@danielmingluito I updated the link for the Kim article (the Chen & Lin article seemed to be working) and embedded the YouTube video for Learning Activity 3.3. Is everything fixed now?

[2021-01-12 00:48] danielmingluito commented on #434
It appears to all work.  I’ll delete my comment at the top of the page.

THANKYOU!!! =)

Warmly,

Daniel To, Ed.D
Instructor, MA Leadership | TWU Global |
Trinity Western University | M 778.772.4992 | T@DanielToSD36
Website https://www.twu.ca
Blog and Personal Site https://www.drdanielto.com
I would like to respectfully acknowledge the shared traditional territory of the Katzie, Semiahmoo, Kwantle

[2021-01-13 20:19] #434 closed

[2021-01-13 20:21] JessD9 commented on #423
Activity 4.6 @Jeff-TWU (Unit 4, Topic 3)

You should have manager access

[2021-01-16 06:00] emmanuelD-AFK opened #436 "Incorrect content"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 302 IF SP2021

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 The content in the Graded Assignment Tab does not reflect the course evaluations found in the syllabus or in the course overview!

**Location of the bug**
Please provide

[2021-01-16 06:14] emmanuelD-AFK opened #437 "Course length"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 302 IF Sp 2021

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Edit the length of the course: Instead of 4 weeks please read 15 weeks! Instead of 3hrs twice a week read 1 1/2 hrs each day Twice weekly.

**Location of the bug**
Pleas

[2021-01-18 20:24] karenroeck commented on #437
@emmanuelD-AFK I've updated the wording to reflect your timeline.

[2021-01-18 20:24] #437 closed

[2021-01-18 20:26] karenroeck commented on #436
@emmanuelD-AFK The syllabus I see is from FA 2019. @deannadams Do you have a copy of Kennedy's syllabus for LDRS 302? We need to embed it in this section of the course, and then I can check for alignment with the course evaluation and graded assignments.

[2021-01-18 21:13] deannadams commented on #436
Hi Karen,

I don’t have an updated syllabus—sorry.
Let’s chat about this when we connect later this afternoon.

DeAnn

DeAnn Adams
Director, Faculty Services and Development | TWU GLOBAL
Trinity Western University | t. 604.513.2121 x3810 | e. deann.adams@twu.ca<mailto:deann.adams@twu.ca>

From: Karen Roeck <notifications@github.com>
Sent: Monday, January 18, 2021 12:27 PM
To: TWUOnline/bug-trackin

[2021-01-18 22:53] #431 closed

[2021-01-19 09:52] JessD9 commented on #423
@rezakh66 Activity 4.6 resolved.

[2021-01-19 22:03] dgaudet48 opened #438 "Production"
### LDRS 220

### https://learn.twu.ca/course/view.php?id=10928

### Instructions
Please move Facilitator Guide from old repository https://far.twu.ca/guides/lead-ba/ldrs-220-leading-with-numbers into new course as per new Facilitator Guide Structure (accordion)

Please upload required files as attachments.

[2021-01-20 18:45] karenroeck commented on #436
@emmanuelD-AFK I met with Kennedy today and sorted out the needed change. All fixed!

[2021-01-20 18:45] #436 closed

[2021-01-21 20:56] rezakh66 commented on #438
Hi @karenroeck @dgaudet48 I have uploaded the facilitator's guide.

[2021-01-21 21:00] dgaudet48 opened #439 "Production"
### LDRS 611

### N/A

### Instructions
- Jeff I know we chatted about this yesterday but I forgot to ask what worked best for the info. I attached the word document with all the timestamps. Unfortunately, each video was uploaded as a unit so you have to go to a different URL for each one (In the Word document as well).
If there is anything I can do to make it easier, please let me know (or if I a

[2021-01-21 21:03] karenroeck commented on #438
@rezakh66 You are a star!! Thanks 🤩

[2021-01-21 21:03] #438 closed

[2021-01-21 22:41] Jeff-TWU commented on #439
@dgaudet48 Unfortunately until I'm added as an owner (or better yet, the 'Learning Design' channel is added as owner) I cannot download these files to make edits. As Imbenzie is the owner he will need to make the changes.

I'll send you instructions by email.

[2021-01-23 00:03] Jeff-TWU commented on #439
Hi Dave, Links below.

**LDRS 611 Videos**

**Unit 1**

https://web.microsoftstream.com/video/21ec81e4-33e1-4648-aafc-8ef19a83ea8a

https://web.microsoftstream.com/video/63144c88-d639-408b-aeec-cbec1d387454

**Unit 2**

https://web.microsoftstream.com/video/be7ba443-f447-4242-81d8-a3b42c16cb0c

https://web.microsoftstream.com/video/04bf65e2-a1e2-479d-9a76-ba612c56c387

https://web.microsoftstream.

[2021-01-25 20:22] #404 closed

[2021-01-28 17:38] mellaurie opened #440 "MCOM 221"
**Which course contains the bug?**
- MCOM 221 FAR MASTER

**Describe the error and/or your suggestion**
The unit navigation menu on the left is missing for unit 4.  Embed code looks normal.  In the repo, there is an extra section.md in the U4 folder (it's a copy of topic 1).  Could this be the problem?

**Location of the bug**
Please provide a specific link to the page with the error, as well as w

[2021-01-28 17:52] karenroeck commented on #440
@mellaurie Yes, you got it- that extra section.md was causing the issue. I deleted it, so you are good to go now!

[2021-01-28 17:52] #440 closed

[2021-01-28 18:41] rezakh66 commented on #440
@karenroeck Thanks

[2021-01-28 23:41] mellaurie commented on #422
@rezakh66 Can you help me move this repo to the samc master?  I didn't realize we had a samc master when I asked for this in the arts one.

Thanks in advance :)

[2021-01-29 17:49] rezakh66 commented on #422
Hi @mellaurie I have moved MCOM 353 to the Samc-master.

[2021-01-29 18:43] mellaurie opened #441 "Schedule Button unwanted"
**Which course contains the bug?**
- NURS 510 Master
- https://learn.twu.ca/course/view.php?id=10939

**Describe the error and/or your suggestion**
There is a schedule button that leads nowhere (says error, 404).  We just need to remove this button altogether.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
On the asses

[2021-01-29 21:59] rezakh66 commented on #441
Hi @mellaurie I have removed the schedule buttons but please check the alert activities in assessment and let me know how you want them to be formatted. I think they are not consistent.

[2021-01-30 01:12] mellaurie commented on #441
Thanks @rezakh66!
 @karenroeck Can you advise on the formatting of the alerts in the assessment section for the upcoming units?
(Please note, there is an alert for unit 4 assessment, but Darlaine has requested it be removed.  I'm just leaving it in the repo but not directing to the page).

[2021-02-01 18:37] karenroeck commented on #441
@mellaurie For Units 1-3, I changed publish to "false" if Darlaine did not want the alert to show for her students. Does that help?

[2021-02-01 18:41] #441 closed

[2021-02-03 17:57] Jeff-TWU commented on #439
@dgaudet48 Hi Dave, just confirming that files are as you need them. Please let me know. Thanks!

[2021-02-03 18:10] dgaudet48 commented on #439
All good!

Greatly appreciate the help.

[2021-02-03 18:12] Jeff-TWU commented on #439
Welcome! Happy to help.

[2021-02-06 04:23] karenroeck opened #442 "Production: LDRS 624 Unit 1"
### Course
LDRS 624: School Leadership and Supervision (FAR MASTER)

### URL
https://learn.twu.ca/course/view.php?id=15704&section=1

### Instructions
- [ ] First, please wipe all content from LDRS 624 in Atom (this course is a complete rewrite, starting from scratch)
- [ ] Once the folders are cleared out, please upload Unit 1 and embed the two articles as indicated in the .docx

Please upload re

[2021-02-08 23:30] rezakh66 commented on #442
Hi @karenroeck I have uploaded unit 1.

[2021-02-09 17:46] karenroeck commented on #442
Thanks! 👍🏻

[2021-02-09 17:46] #442 closed

[2021-02-10 18:59] dgaudet48 opened #443 "Formatting Issue"
**Which course contains the bug?**
- LDRS503 Dev Master

**Describe the error and/or your suggestion**
I inserted the accordion (which works fine) but now I cannot get the formatting to work underneath (where it says "Individual Assignment #1: Preparation"

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https:/

[2021-02-10 19:53] karenroeck commented on #443
@dgaudet48 Hmmm that was a weird one. I couldn't figure it out either, so I threw the Individual Assignment info into an alert. In looking at the content, what do you think about moving that alert to live under the "Assessment" tab instead of under "Resources," since it has more to do with course assessments?

[2021-02-10 20:54] #443 closed

[2021-02-11 20:47] dgaudet48 opened #444 "Plugin Not Working"
**Which course contains the bug?**
- LDRS503 Dev Master

**Describe the error and/or your suggestion**
Plugin for alert call out is not working on the "Assignments" page

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php?id=13614&section=1
2. Unit #  Assignments   - Under the D

[2021-02-11 22:52] rezakh66 commented on #444
Hi @dgaudet48 That's being fixed

[2021-02-18 22:58] karenroeck opened #445 "LDRS 624 (Unit 2)"
### Course
LDRS 624: School Leadership and Supervision

### URL
https://learn.twu.ca/course/view.php?id=15704&section=2

### Instructions
- [x] Please upload Unit 2 in Atom. Please take note of the formatting for the extra resources - labelled "1-1a" and "1-2a" in Unit 1 Atom folder

Please upload required files as attachments.
[LDRS_624_Unit_2.docx](https://github.com/TWUOnline/bug-tracking/files

[2021-02-19 00:38] rezakh66 commented on #445
Hi @karenroeck unit 2 is ready to go ;)

[2021-02-19 16:27] karenroeck commented on #445
Thanks, Reza!

[2021-02-19 16:27] #445 closed

[2021-02-19 16:28] #439 closed

[2021-02-19 16:28] karenroeck commented on #444
@rezakh66 Is this issue all cleared up? The course is currently live.

[2021-02-19 16:29] karenroeck commented on #423
How is this "bug" coming along? Just cleaning up the queue.

[2021-02-19 16:29] karenroeck commented on #422
How is this "bug" coming along? Just cleaning up the queue.

[2021-02-19 16:30] #371 closed

[2021-02-19 16:45] JessD9 commented on #423
@karenroeck resolved

[2021-02-19 16:53] mellaurie commented on #422
More edits and units to come.  Just waiting for a meeting with Divine.

[2021-02-24 23:18] emmanuelD-AFK opened #446 "Punctuation and Awkward Sentence"
**Which course contains the bug?**
-  LDRS 303 IF SP2021)

**Describe the error and/or your suggestion**
 Awkward sentence and missing punctuation:(first and third point of the topic's outcomes)

**Location of the bug**
1. URL: https://learn.twu.ca/course/view.php?id=17847&section=4
2. Unit # 3         Topic # Servant Leadership
<img width="650" alt="Screen Shot 2021-02-24 at 3 15 41 PM" src="http

[2021-02-25 23:48] karenroeck commented on #446
@emmanuelD-AFK I've gone in and made the corrections. Thanks!

[2021-02-25 23:48] #446 closed

[2021-02-26 17:31] karenroeck opened #447 "Production: Infographic for PSYC 330"
### Course

PSYC 330: Leadership in Organization & Small Groups

### Instructions
Hi Jeff, please create an infographic with the info below. The full acronym is STATE, but the prof only wants STA in this section of the course. I'm thinking like a windy road with S, T, A staggered along the way...let me know if you need more context.

The “S” in STATE your path is: Share your facts. We will learn a

[2021-03-01 17:28] karenroeck opened #448 "PSYC 330 intro videos"
### Course
PSYC 330: Leadership in Organizations & Small Groups

### Instructions
- Jeff, please add title slides (PSYC 330) and a lower third to each of the videos with the following:
**Mark Warren, M.Ed., B.A.
Instructor, TWU Bellingham Extension Campus**

**Note:** This course launches March 8, so the Course Overview and Week 1 videos are needed ASAP.

Please upload required files as attachment

[2021-03-01 18:19] Jeff-TWU commented on #448
@karenroeck Will do. Timeline should not be a problem. Thanks!

[2021-03-01 20:56] mellaurie opened #449 "PSYC 207 Production"
### PSYC 207: Data Analysis

### URL

### Instructions
- [ ] Please create Moodle shell for ADC Master
- [ ] Please set up course in arts-master repo
- [ ] Please upload Unit 1

[PSYC 207 Unit1.docx](https://github.com/TWUOnline/bug-tracking/files/6064410/PSYC.207.Unit1.docx)

[2021-03-01 21:09] karenroeck opened #450 "LDRS 624 Unit 3 Production"
### Course

LDRS 624: School Leadership and Supervision (FAR MASTER)

### URL

https://learn.twu.ca/course/view.php?id=15704&section=3

### Instructions
- [x] Hi Reza, please add Unit 3 in Atom.

Please upload required files as attachments.
[LDRS_624_Unit_3.docx](https://github.com/TWUOnline/bug-tracking/files/6064477/LDRS_624_Unit_3.docx)

[2021-03-02 00:32] Jeff-TWU opened #451 "PSYC 207 Videos"
Convert PPT recordings to videos

[Link to PPT Files](https://mytwu-my.sharepoint.com/personal/melanie_laurie_twu_ca/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fmelanie%5Flaurie%5Ftwu%5Fca%2FDocuments%2FPSYC%20207%2Fppt%20to%20video&originalPath=aHR0cHM6Ly9teXR3dS1teS5zaGFyZXBvaW50LmNvbS86ZjovZy9wZXJzb25hbC9tZWxhbmllX2xhdXJpZV90d3VfY2EvRWozRUFMckRlZnBEbUszZVNRSmJUVlFCN1JrZnFWUnFjUXpKaGRwZEFFUHpMUT9

[2021-03-02 02:11] rezakh66 commented on #449
Hi @mellaurie you can find unit 1 [here](https://learn.twu.ca/course/view.php?id=18684&section=1).

[2021-03-02 02:48] rezakh66 commented on #450
Hi @karenroeck I have uploaded unit 3. This course formatting is slick. well done Karen.

[2021-03-02 17:10] karenroeck commented on #447
Great question. Something that would display within a 13" laptop screen with the Moodle drawer open. Final deliverable as image would be ideal 👍🏻

[2021-03-02 17:53] karenroeck commented on #450
Thank you, Reza! This made my day :)

[2021-03-02 17:53] #450 closed

[2021-03-02 20:11] Jeff-TWU commented on #447
@karenroeck Let me know what you think.
![20210301_PSYC 330 Infographic](https://user-images.githubusercontent.com/66963480/109708453-48911580-7b50-11eb-919d-5acbec7425d6.jpg)

[2021-03-02 21:32] karenroeck commented on #447
Briliant! The SME is thrilled with the graphic as-is. Thanks so much, Jeff!

[2021-03-02 21:32] #447 closed

[2021-03-02 22:19] Jeff-TWU commented on #447
@karenroeck Nice! That was faster than I expected.

[2021-03-03 17:51] Jeff-TWU commented on #448
@karenroeck Hi Karen here are the videos.

-Does you want different titles?

-In terms of delivery, is pasting in hyperlinks like this ok, or would pasting the embed code be more beneficial?
[Intro](https://web.microsoftstream.com/video/c5e2da74-f010-4207-bebe-5f2be60f461b)
[Session 1](https://web.microsoftstream.com/video/d6c44789-fc2e-4993-aaf5-e84ef1ade480)
[Session 2](https://web.microsoftstre

[2021-03-03 18:34] karenroeck commented on #448
@Jeff-TWU Thanks for all your work on these! Answers to your questions below in **bold:**

-Does you want different titles? **Yes - for the first video, please change it to "WELCOME TO PSYC 330" with the subtitle "LEADERSHIP IN ORGANIZATIONS & SMALL GROUPS." The other videos should say "Week" instead of "Session" please.**

-In terms of delivery, is pasting in hyperlinks like this ok, or would pas

[2021-03-03 18:46] karenroeck opened #452 "LDRS 624 Unit 4 Production"
### Course
LDRS 624: School Leadership and Supervision

### URL
https://learn.twu.ca/course/view.php?id=15704

### Instructions
@rezakh66 Please upload Unit 4 in Atom.

Please upload required files as attachments.
[LDRS_624_Unit_4.docx](https://github.com/TWUOnline/bug-tracking/files/6078377/LDRS_624_Unit_4.docx)

[2021-03-03 19:13] Jeff-TWU commented on #448
@karenroeck Thanks for your input!

Video titles have been updated. Please let me know if you need anything else.

[Intro](https://web.microsoftstream.com/video/c5e2da74-f010-4207-bebe-5f2be60f461b)
[Week 1](https://web.microsoftstream.com/video/d6c44789-fc2e-4993-aaf5-e84ef1ade480)
[Week 2](https://web.microsoftstream.com/video/d660cb79-4b17-4820-8519-b89b1517b789)
[Week 3](https://web.microsofts

[2021-03-03 20:48] karenroeck commented on #448
Amazing! They look great. Thanks again!

[2021-03-03 20:48] #448 closed

[2021-03-03 21:21] Jeff-TWU commented on #448
@karenroeck Welcome!

[2021-03-04 00:11] rezakh66 commented on #452
Hi @karenroeck unit 4 is uploaded.

[2021-03-04 00:21] karenroeck commented on #452
Thank you, Reza!

[2021-03-04 00:21] #452 closed

[2021-03-04 17:49] mellaurie opened #453 "SOCI 201 Production"
### SOCI 201: Introduction to Human Services (ADC Master)

### URL

### Instructions
- [x] Please create Moodle shell for ADC Master
- [x] Please set up course in arts-master repo
- [x] Please upload Unit 1

Please upload required files as attachments. [SOCI201_U1_Mar3.docx](https://github.com/TWUOnline/bug-tracking/files/6085664/SOCI201_U1_Mar3.docx)

[2021-03-05 04:01] rezakh66 commented on #453
Hi @mellaurie I uploaded u1 [here](https://learn.twu.ca/course/view.php?id=18696&section=1).

[2021-03-09 18:25] mellaurie opened #454 "PSYC 331 Production"
### PSYC 331: Theories in Counseling (ADC Master)

### https://learn.twu.ca/course/view.php?id=18012

### Instructions
- [x] Please upload Unit 2
- [x] If time, please create a fill in the blank H5P for [Activity 2.4](https://mytwu-my.sharepoint.com/:w:/g/personal/melanie_laurie_twu_ca/EeoOB_AWoJhGtnmaRXtNH0MBKgGxBivRO0tuay8akZ3ykw?e=ZCweRu)

[PSYC 331 Unit 2.docx](https://github.com/TWUOnline/bug

[2021-03-10 19:20] rezakh66 commented on #454
Hi @mellaurie, I have uploaded unit 2. Please double-check the learning activities though. currently, I have set them up as they are in the docx file. H5p activity is created as well.

[2021-03-10 20:04] mellaurie commented on #454
Thanks Reza!!

[2021-03-11 16:11] Jeff-TWU opened #455 "App Dash Video"
Video that quickly highlights a ton of useful apps.

[2021-03-15 16:13] mellaurie opened #456 "LDRS 627 Production"
### 8 week version of LDRS 627 Theory and Practice of Adult Education (MASTER)

### https://learn.twu.ca/course/view.php?id=8786

### Instructions
- [x] Please re-number activities to match with the new unit numbers for Unit 5-7
- [x] Create alerts for Activity Checklists and Learning Activities for Units 1, 2, 5, 6, 7 (skip Unit 3 and 4 right now)
- [x] If you have time, check for broken links fo

[2021-03-15 17:09] karenroeck opened #457 "LDRS 624 Unit 5 production"
### Course

LDRS 624: School Leadership & Supervision (FAR MASTER)

### URL

https://learn.twu.ca/course/view.php?id=15704&section=5

### Instructions
@rezakh66 Please upload Unit 5 and the Facilitator's Guide (both attached).

Please upload required files as attachments.
[LDRS_624_Facilitator_Guide.docx](https://github.com/TWUOnline/bug-tracking/files/6143208/LDRS_624_Facilitator_Guide.docx)
[LDR

[2021-03-15 21:53] karenroeck opened #458 "NURS 510 intro video not working"
**Which course contains the bug?**
NURS 510 OL SP 2021

**Describe the error and/or your suggestion**
The MS Stream intro video is not loading.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
URL:  https://learn.twu.ca/course/view.php?id=17344&section=0

[2021-03-16 16:14] rezakh66 commented on #456
Hi @mellaurie I have made the changes. i have created the alerts for unit 2 and 3 as well.

[2021-03-16 16:20] mellaurie commented on #456
Thank you so much @rezakh66 !!!

[2021-03-16 19:07] #458 closed

[2021-03-17 20:01] karenroeck opened #459 "H5P Drag and Drop"
### Course

LDRS 624: School Leadership & Supervision (FAR MASTER)

### URL

https://learn.twu.ca/course/view.php?id=15704&section=5

### Instructions
@Jeff-TWU, please create a drag and drop activity similar to [this one](https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=129) with the following info (I'm open to other suggestions if you have ideas):

Three categories:
-Character

[2021-03-18 00:04] karenroeck opened #460 "LDRS 300 quizzes"
**Which course contains the bug?**
LDRS 300 - Leadership as Service (FAR Master)

**Describe the error and/or your suggestion**
@rezakh66 SME Brenda-Lee Sasaki has some Moodle quiz edit requests. See attached Word doc.

**Location of the bug**
https://learn.twu.ca/course/view.php?id=10828&section=16

**Attachments**
[LDRS 300 IF FAR Master Assessment Tab Revisions (quizzes).docx](https://github.co

[2021-03-18 20:27] Jeff-TWU commented on #459
@karenroeck Hi Karen, might you have an answer key for me? I'm happy to guess if you like ;) Not sure how beneficial that will be though.

[2021-03-18 20:28] karenroeck commented on #459
Ah good question :) There is no **right answer** - students will sort the labels based on their own experiences and priorities. In that sense, we need all labels to be eligible for all categories.

[2021-03-18 20:36] Jeff-TWU commented on #459
@karenroeck Gotcha. Sounds good. Thanks!

[2021-03-18 22:35] Jeff-TWU commented on #459
@karenroeck Here is the [link](https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=251). H5p was a frustration for my designer brain. It's not possible to get be pixel accurate. I had to resort to the text which was listed by centre aligning all text, no real alignment tools. My original plan was to use images. It would have looked like this.
![Original vision](https://user-images.g

[2021-03-18 23:49] karenroeck commented on #459
@Jeff-TWU Looks great to me! Other than the white lines beside the text, I can't see the difference between the image you have here and the H5P.....? I know what you mean about the pixels - would an online pixel converter help?

[2021-03-18 23:53] Jeff-TWU commented on #459
@karenroeck Unfortunately that would not help. The issue is that H5P is adding height to images, even when I specify exactly how many pixels and image should be. It's fine. I'll take some melatonin tonight so I can sleep. :)

[2021-03-19 00:01] karenroeck commented on #459
Gah, that is sooo frustrating!! At least you have the soothing sound of pounding raindrops to lull you to sleep tonight...

[2021-03-19 00:01] #459 closed

[2021-03-22 23:09] rezakh66 commented on #460
Hi @karenroeck I have made the changes. She has asked regarding the order of questions. Please let her know that questions are reordered and as of now shuffle check box is not selected but when selected, the order of questions for each student would be different.

[2021-03-22 23:11] rezakh66 commented on #457
Hi @karenroeck Unit 5 and the facilitator's guide are both uploaded

[2021-03-23 18:18] #456 closed

[2021-03-23 18:19] mellaurie commented on #449
Please upload unit 2
[PSYC 207 Unit2.docx](https://github.com/TWUOnline/bug-tracking/files/6191912/PSYC.207.Unit2.docx)

Thanks!

[2021-03-24 14:57] karenroeck commented on #457
Awesome - thanks @rezakh66!

[2021-03-24 14:57] #457 closed

[2021-03-24 15:06] karenroeck commented on #460
@rezakh66 Thanks so much - I'll pass along the message!

[2021-03-24 15:06] #460 closed

[2021-03-24 19:10] rezakh66 commented on #449
Hi @mellaurie Unit 2 is uploaded.

[2021-03-24 22:03] mellaurie commented on #454
Please upload Unit 3 and 4. Please note the H5P activities that need to be created too.  Thanks!

[PSYC 331 Unit 3.docx](https://github.com/TWUOnline/bug-tracking/files/6200724/PSYC.331.Unit.3.docx)
[PSYC 331 Unit 4.docx](https://github.com/TWUOnline/bug-tracking/files/6200723/PSYC.331.Unit.4.docx)

[2021-03-25 17:50] rezakh66 commented on #454
Hi @mellaurie I have uploaded unit 3 and 4. Hp5 activities are also created but activity 4.5 key words are missing yet. I did not find them in .docx file.

[2021-03-25 19:05] Jeff-TWU commented on #455
https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=253

[2021-03-30 17:56] mellaurie commented on #454
Please upload Unit 5 and 6.  Thanks!

P.S.  Still waiting on answers for Unit 4 H5P.
[PSYC 331 Unit 5.docx](https://github.com/TWUOnline/bug-tracking/files/6231129/PSYC.331.Unit.5.docx)
[PSYC 331 Unit 6.docx](https://github.com/TWUOnline/bug-tracking/files/6231130/PSYC.331.Unit.6.docx)

[2021-03-31 16:35] rezakh66 commented on #454
Good Morning @mellaurie Both units and the H5P are created.

[2021-04-06 16:12] mellaurie commented on #449
Hi @rezakh66!  Please upload Unit 3.  I tried to use the LaTex annotation Colin showed us in the email.  Not sure if I've done it right.  Please let me know.
[PSYC 207 Unit3 (1).docx](https://github.com/TWUOnline/bug-tracking/files/6266078/PSYC.207.Unit3.1.docx)

[2021-04-06 16:51] mellaurie commented on #453
Hi @rezakh66 Unit 2 and 3 are ready to be uploaded.

Thanks for all your help in this!!

[SOCI201_U2.docx](https://github.com/TWUOnline/bug-tracking/files/6266330/SOCI201_U2.docx)
[SOCI 201_U3.docx](https://github.com/TWUOnline/bug-tracking/files/6266331/SOCI.201_U3.docx)

[2021-04-06 18:17] rezakh66 commented on #449
Hi @mellaurie , I have uploaded unit 3. I think you have used the annotation correctly.

[2021-04-06 19:30] #455 closed

[2021-04-06 22:38] rezakh66 commented on #453
Hi @mellaurie I uploaded both units.Have a nice evening.

[2021-04-08 21:35] karenroeck opened #461 "PSYC 301 interactive worksheets"
### Course

PSYC 301: Theories of Personality (ADC MASTER)

### URL

https://learn.twu.ca/course/view.php?id=18759&section=9

### Instructions

@Jeff-TWU, under "Assessment" -> "Projects," there are three PDFs (Jay Hall Survey, Keirsey Temperament Sorter, Alderian Life-Style Analysis). Students need to complete the listed activities, but they are currently in old school pen and paper format. Could

[2021-04-08 21:36] karenroeck commented on #461
FYI the course starts April 26, so anytime before that would be swell.

[2021-04-08 21:51] Jeff-TWU commented on #461
@karenroeck Are you thinking a fillable PDF?  That wouldn't be too difficult. Or do you want a form, like [Gravity Forms](https://www.gravityforms.com), that would collect information?

[2021-04-09 16:19] karenroeck commented on #461
@Jeff-TWU Fillable PDF would do the trick for sure - it is a self-assessment worksheet that does not need to be submitted to the instructor. Thanks!

[2021-04-09 17:52] mellaurie commented on #449
Unit 4 is ready to be upload whenever you have time @rezakh66.
[PSYC 207 Unit 4.docx](https://github.com/TWUOnline/bug-tracking/files/6287588/PSYC.207.Unit.4.docx)

Thanks so much!

[2021-04-09 21:02] rezakh66 commented on #449
Hi @mellaurie Unit 4 is ready.

[2021-04-12 16:24] rezakh66 commented on #444
Hi @karenroeck Just saw your comments here. yes, it's being fixed and can be closed.

[2021-04-12 16:24] #444 closed

[2021-04-13 22:06] karenroeck opened #462 "LDRS 502 Gradebook issue"
**Which course contains the bug?**
LDRS 502 IN SP 2021

**Describe the error and/or your suggestion**
When the instructor tries to enter student grades using the Turnitin system, the grades will not display in Moodle gradebook.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/grade/report/gr

[2021-04-14 00:54] rezakh66 commented on #462
Hi @karenroeck I fixed that. seems the Reflection activity was locked so the grades in Turnitin did not synch with the grade book. now graded papers are populated in the grade book. Hidden from students though.

[2021-04-14 04:59] karenroeck commented on #462
@rezakh66 Thanks so much - Dr Mo will be very grateful!

[2021-04-14 04:59] #462 closed

[2021-04-19 22:51] #454 closed

[2021-04-20 17:12] mellaurie commented on #449
Hi @rezakh66 Unit 5 is ready for upload.  Thanks so much!!
[PSYC 207 Unit 5.docx](https://github.com/TWUOnline/bug-tracking/files/6345424/PSYC.207.Unit.5.docx)

[2021-04-20 19:59] rezakh66 commented on #449
Hi @mellaurie I have uploaded unit 5. Have a nice day.

[2021-04-21 17:19] Jeff-TWU commented on #451
Hi @mellaurie , do you know of any other videos that need to be made for this, or can I mark this as complete?

[2021-04-21 17:53] Jeff-TWU commented on #461
@karenroeck All done! Let me know if you need any changes. Tested and everything works fine. The one caveat is that these files should only be filled out using [Adobe Acrobat](https://get.adobe.com/reader/). For the future, if we anticipate similar tasks, it would likely be worth investing in a form builder. Acrobat has got to be about the jankiest "professional" software I've ever had to use.
[PS

[2021-04-21 17:57] mellaurie commented on #451
Hi @Jeff-TWU!!  We will have more ppts to convert for Units 4-6.  I will let you know when the next batch is in the folder and ready for you.

[2021-04-21 18:03] Jeff-TWU opened #463 "LDRS 591 Lecture Videos"
Edit videos for Heather Strong as per instructions outlined in doc.
[Video Instructions.docx](https://github.com/TWUOnline/bug-tracking/files/6353029/Video.Instructions.docx)

Needs to be completed before Jul 1

[2021-04-21 18:11] Jeff-TWU commented on #451
@mellaurie Sounds good! No rush on my end. :) Thanks for the update.

[2021-04-21 20:10] karenroeck commented on #461
Amazing! Thanks for working through the growing pains of Acrobat... @cmadland will have more to say about investing in a form builder.

[2021-04-21 20:10] #461 closed

[2021-05-12 20:59] mellaurie commented on #449
Hi @rezakh66 Unit 6 is ready for upload.  Thanks again!
[PSYC 207 Unit 6 (1).docx](https://github.com/TWUOnline/bug-tracking/files/6469047/PSYC.207.Unit.6.1.docx)
[Interpreting Linear Regression Outputs_SU2021.pdf](https://github.com/TWUOnline/bug-tracking/files/6469048/Interpreting.Linear.Regression.Outputs_SU2021.pdf)

[2021-05-12 21:25] Jeff-TWU commented on #451
@mellaurie Looks like there are [a few more files in](https://mytwu-my.sharepoint.com/personal/melanie_laurie_twu_ca/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fmelanie%5Flaurie%5Ftwu%5Fca%2FDocuments%2FPSYC%20207%2Fppt%20to%20video&originalPath=aHR0cHM6Ly9teXR3dS1teS5zaGFyZXBvaW50LmNvbS86ZjovZy9wZXJzb25hbC9tZWxhbmllX2xhdXJpZV90d3VfY2EvRWozRUFMckRlZnBEbUszZVNRSmJUVlFCN1JrZnFWUnFjUXpKaGRwZEFFUHpMUT9

[2021-05-12 23:00] mellaurie commented on #453
Hi again @rezakh66!  Can you upload this unit for me asap?  Thanks so much!
[SOCI 201_U4.docx](https://github.com/TWUOnline/bug-tracking/files/6469457/SOCI.201_U4.docx)

[2021-05-12 23:01] rezakh66 commented on #453
@mellaurie sure, it should be uploaded by 5 PM.

[2021-05-12 23:03] mellaurie commented on #451
@Jeff-TWU The names are correct. They are ready to go.  Thanks!

[2021-05-12 23:04] Jeff-TWU commented on #451
@mellaurie Awesome. Thanks!

[2021-05-12 23:05] mellaurie commented on #453
You're amazing @rezakh66.  Thank you!

[2021-05-12 23:36] rezakh66 commented on #453
@mellaurie Unit 4 is ready.Your welcome.

[2021-05-13 19:25] rezakh66 commented on #449
Hi, @mellaurie Unit 6 is uploaded.

[2021-05-19 21:56] MaraChequer opened #464 "Mara test"
### Course
LDRS 631

### URL

### Instructions
- [ ]
- [ ]

Please upload required files as attachments.

[2021-05-19 21:57] #464 closed

[2021-05-28 04:53] dgaudet48 opened #465 "LDRS 614 DEV Shell"
### LDRS 614

### URL

### Instructions
- Please create a development shell for LDRS 614 with the accordion-style template we are leaning towards?

Please upload required files as attachments.

[2021-05-28 18:18] rezakh66 commented on #465
Hi @dgaudet48 I created the Github folder for ldrs 614 accordion format. [Here](https://learn.twu.ca/user/index.php?id=20617&newcourse=1) is the Moodle shell and you are enrolled as a manual course manager.

[2021-05-28 22:24] #451 closed

[2021-05-31 17:59] Jeff-TWU commented on #234
@cmadland Just circling back to this. It looks like the course has been updated and the content no longer exists. I'm not sure if this is still a general issue that you'd like me to pursue? Or would this now be something that Barish would handle? Please let me know thanks!

[2021-06-09 08:53] JessD9 opened #466 "LDRS 625 units"
### LDRS 625

### [URL](https://learn.twu.ca/course/view.php?id=20618&section=1#tabs-tree-start)

### Instructions
- @rezakh66 Please upload Units 1 & 2 to GiHub/Atom (may need to create ldrs 625 folder in Github)
- Please copy/paste same Course Introduction from LDRS 301 (I will edit later)

[LDRS_625_Unit1_May30_JD.docx](https://github.com/TWUOnline/bug-tracking/files/6622393/LDRS_625_Unit1_May3

[2021-06-09 23:49] rezakh66 commented on #466
Hi @JessD9 Units 1 & 2 are uploaded.

[2021-06-10 00:27] JessD9 commented on #466
Thanks Reza!

[2021-06-19 15:20] karenroeck opened #467 "LDRS 620 H5P Issue"
**Which course contains the bug?**
LDRS 620 FAR MASTER

**Describe the error and/or your suggestion**
Learning Activity 5.2 contains a fill in the blank H5P activity; however, when students fill in the correct answer with correct spelling, they are marked wrong.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL: ht

[2021-06-21 16:28] Jeff-TWU commented on #467
@karenroeck @cmadland Fixed. It looks like a strong/bold HTML tag was used in the answer key. This is why you see the opening "<strong>" tag at the beginning of the correct answer. SMEs/IDs should be aware that styling should not be used pluggin in answers in the answer key.

[2021-06-21 16:43] #453 closed

[2021-06-21 16:47] karenroeck commented on #467
@Jeff-TWU Ah, makes sense. Thanks for taking care of this!

[2021-06-21 16:47] #467 closed

[2021-06-30 20:19] MaraChequer opened #468 "LDRS 617"
From unit 1 to 5 all editions must show in 2 course shells one for business and one for healthcare. From 6 to 12 both courses need independent folders.

[2021-07-02 18:15] dgaudet48 opened #469 "LDRS 612 Course Shell"
### LDRS 612

### URL

### Instructions
-  Can you create a master course development shell for LDRS 612 please?
- [ ]

Please upload required files as attachments.

[2021-07-03 04:09] JessD9 commented on #466
@rezakh66 Please upload Units 3-6.

[LDRS625_U3_JULY2_JD.docx](https://github.com/TWUOnline/bug-tracking/files/6757814/LDRS625_U3_JULY2_JD.docx)

[LDRS625_U4_JULY2_JD.docx](https://github.com/TWUOnline/bug-tracking/files/6757815/LDRS625_U4_JULY2_JD.docx)

[LDRS625_U5_JULY2_JD.docx](https://github.com/TWUOnline/bug-tracking/files/6757817/LDRS625_U5_JULY2_JD.docx)

[LDRS625_U6_JULY2_JD.docx](https:/

[2021-07-05 16:29] rezakh66 commented on #468
Hi @MaraChequer Now we have two folders for LDRS 617. We can utilize LDRS 617 units 1-5 for common contents in both health and business, and use units 6-12 only for business. the second folder is LDRS 617health which will be used to upload health content for units 6-12.

[2021-07-05 16:41] rezakh66 commented on #469
Hi @dgaudet48 I created ldrs 612 both in LDRS-Master GitHub and Moodle. You are also enrolled in the Moodle shell as a manual course manager so you can enroll other participants as well.

[2021-07-05 17:52] MaraChequer commented on #468
Thank you @rezakh66

[2021-07-07 16:16] JessD9 commented on #466
@rezakh66 Thanks for uploading these. When you have time, can you also convert Units 1 & 2 to the new format?

[2021-07-07 16:38] #468 closed

[2021-07-07 16:38] MaraChequer opened #470 "LDRS 617 Video"

[2021-07-07 16:40] rezakh66 commented on #466
Hi @JessD9 Sure, there are some formattings left though for units 3-6.

[2021-07-07 17:03] JessD9 commented on #466
np

[2021-07-08 18:54] mellaurie opened #471 "Video Interview for MCOM 353"
### MCOM 353: Intro to Public Relations

Hi Jeff,

Wondering if we can book some time to film Divine soon.  He would like it Q&A style, but with the interviewer (potentially me) off screen.  Thoughts?  Here is the [script](https://mytwu-my.sharepoint.com/:w:/g/personal/melanie_laurie_twu_ca/ESa9yDKxpQxCqkPROc2pTTIBzrjrhYtR2au97nya7o57wg?e=Sb60lQ).

Thanks.
Mel

[2021-07-09 17:54] rezakh66 commented on #466
Hi @JessD9 Unit 1-6 are ready

[2021-07-09 22:58] JessD9 commented on #466
Great, thanks @rezakh66:)

[2021-07-12 04:05] emmanuelD-AFK opened #472 "Replacing the current Syllabus to the 2021 SU Syllabus"
**Which course contains the bug?**
- MCOM 281 C7 SU2021 section, and term (e.g. LDRS 591 OL SP2019)

**The Syllabus on the course introduction page is not the current one. It needs to be replaced by the one at the bottom of the page.**

**Location of the bug**

1. URL: https://learn.twu.ca/course/view.php?id=18495
2. Unit # Course Intro         Topic # Welcome to MCOM 281: Public Speaking! Activit

[2021-07-12 15:57] Jeff-TWU commented on #463
**[From Heather]**
Hi Jeffrey,

No editing needed!  I think the next round of videos I will need next year will be for 697 and 698.  But we can connect in the fall about it.

Thanks for checking in.
Heather

[2021-07-12 15:58] #463 closed

[2021-07-12 17:36] Jeff-TWU commented on #471
@mellaurie I think the script could work depending on context.

Is this for Devine's class? Is it for another prof? if it's for another prof, that prof should be conducting the interview. If this is for Devine's own class, I don't think an interview makes as much sense.

If sticking with the interview format, the interviewer needs to give their own introduction beforehand (ideally having a rationa

[2021-07-12 17:41] mellaurie commented on #471
This is for Divine's course, which at this point in time, he is planning on teaching.  I like your idea of adding an introduction before hand to provide context to the answers he has.  Could we do it where the question is just on a slide before his answer?  Something like [this](https://www.youtube.com/watch?v=mLzCqoPFxRw)?

[2021-07-12 18:05] Jeff-TWU commented on #471
@mellaurie

It could work. However, long text does not work well on title cards.

ex. "What about integration with other areas of public relations? From your experience, to what extent do media relations people need to work in cooperation with other public relations specialists."

The production value of the example video is so-so. We can do better.

Title cards should be short.

The best thing to

[2021-07-12 18:21] mellaurie commented on #471
That makes a lot of sense.  When I meet with Divine next, I will discuss reformatting the interview.  I think a video would still be great, but maybe just more "lecture" style.  He has a lot of text in his course, so another form of media would be great.

Thanks for your help!

[2021-07-13 15:21] Jeff-TWU opened #473 "Wordpress Tutorial Revamp"

[2021-07-13 15:24] Jeff-TWU commented on #473
Hi @mellaurie Just needing some clarification on this.

I'm assuming that I'm revamping this first [video](https://web.microsoftstream.com/video/cf47d9c2-5a1c-42cd-9e7f-676b2df7cfcb?search=wordpress)?

I could also make it a standalone intro? Preference?

[2021-07-13 16:06] mellaurie commented on #473
Hi @Jeff-TWU!

Yes, please replace the intro to that first video. Thanks!

[2021-07-13 16:37] Jeff-TWU commented on #473
@mellaurie Would you like lower thirds? If so what would you like your name and title to be?

[2021-07-13 16:40] mellaurie commented on #473
@Jeff-TWU Lower thirds = title banner across the bottom at the beginning?  If so, yes. How about:
 Melanie Laurie, Instructional Designer, Online Learning Team

Hopefully that's not too long.

[2021-07-13 16:43] Jeff-TWU commented on #473
@mellaurie
Yep, exactly. Should be fine.

[2021-07-13 17:31] mellaurie commented on #473
@Jeff-TWU  Looks great.  Thank you so much!!

[2021-07-13 17:48] Jeff-TWU commented on #473
Welcome!

[2021-07-13 17:48] #473 closed

[2021-07-27 16:54] Jeff-TWU opened #474 "FNDN 101 - Patti Victor"

[2021-07-27 16:59] Jeff-TWU commented on #474
@mellaurie The only brief I've had on this has come from Joan DeVries (who arranged it). Is there any more info on this? Aside from Patti, do you know if anyone else is signing off on this?

[2021-07-27 17:01] Jeff-TWU opened #475 "FNDN 101 - Videos (Joan DeVries)"

[2021-07-27 17:03] mellaurie commented on #474
@Jeff-TWU This is all the info I have from an email from Joan: "Patti has agreed to film a small segment (5-7 mins?) for our Foundations 101 class introducing students to Indigenous history in Canada."

Joan has not let me know yet where this video goes, but I know she would like a video per a unit to introduce key ideas.  She would be the key person to sign off on the video besides, but I'd like

[2021-07-27 17:05] mellaurie commented on #475
Lol.  I believe one video per unit (except 6, 9, 12) and a bundle intro video and a fndn 101 specific intro.  So my guess is about 12.

[2021-07-27 17:07] Jeff-TWU commented on #474
@mellaurie Sounds good. Yes, there was some confusion about the run time. Patti was asked (by someone working with Joan, not sure who, to prepare for 15 minutes). Joan was thinking 5-7 minutes. At this point my rough cut is just under 12 minutes. So I'll wait for feedback to see if it gets trimmed more. I'll definitely keep you in the loop.

[2021-08-05 19:53] mellaurie opened #476 "FNDN 101 Production"
### Course: FNDN 101 - The Liberal Arts Journey
### URL: https://create.twu.ca/fndn101/

### Instructions for all units
- [ ] Change the font from grey to black in the overview and the Unit Learning Outcomes section
- [ ] Make the font in Unit Learning Outcomes section larger.  I put 18 in the font size box in the styling tab.
- [ ] The Unit Learning Outcomes heading will also change to black.  Wi

[2021-08-16 06:07] JessD9 opened #477 "SOCI 400"
### SOCI 400

### [URL](https://learn.twu.ca/course/view.php?id=20715&section=0)

### Instructions
- @rezakh66 Please upload Units 1 & 2 to GiHub/Atom (may need to create SOCI 400 folder in Github)
- Copy/paste same Course Introduction from LDRS 301 (I will edit later)
- -Create H5P for Unit 2 - Activity 2.10

[SOCI400_U1_AUG14_JD.docx](https://github.com/TWUOnline/bug-tracking/files/6990093/SOCI4

[2021-08-17 18:56] rezakh66 commented on #477
Hi @JessD9 I uploaded units 1 & 2. Please see the notes:
Unit 1:
1-LA 1.1 is missing
2- Topic 2 is missing

Unit 2:
LA 2.10 is created in H5P but i need the answers to be able to finish it up.

Also please be informed that i have not included the activity check list in overview of the unit anymore

[2021-08-17 19:29] rezakh66 commented on #476
Hi @mellaurie Please check unit 1 and see if that's what you want to be done for the rest of the units. Which font do you want for learning outcomes? Times New Roman?

[2021-08-17 20:52] mellaurie commented on #476
Hi @rezakh66 Please see styling for Unit 4.  I think I like the default font vs. Times New Roman.  Joan is mainly concerned about the text being grey and small.  Thanks so much!

[2021-08-19 05:50] dgaudet48 opened #478 "LDRS 612 - Dropdown box request"
### LDRS 612

### https://learn.twu.ca/mod/assign/view.php?id=539488

### Instructions
- There are 5 Stages on the page - I was hoping you could create a dropdown box for each of the 5 Stages so that students can open one at a time (or all at once)
- [ ]

Please upload required files as attachments.

[2021-08-19 22:56] rezakh66 commented on #478
Hi @dgaudet48 The link that you have sent me is a dropbox, Do you need dropboxes within this dropbox? What we can do is to create a page and then link 5 dropboxes to the page. Page contents would be what you have in the Final assignment dropbox now. Please see "Final Assignment" pageunder unit 10.

[2021-08-20 19:03] dgaudet48 commented on #478
Hi @rezakh66  - Apologies, I think I used the wrong terminology...I am not looking for a dropbox. I am looking for an expandable textbox. Here is an example of what I mean from 501:

https://learn.twu.ca/course/view.php?id=15738&section=2#tabs-tree-start

The grey expandable boxes in Topic 3 are what I am after - I'd like the the stages on the assessment page I sent you set up in this manner...

H

[2021-08-20 21:17] kmarjanovic commented on #478
I always forget the term too!  It's a collapsed content section: https://about.gitlab.com/handbook/markdown-guide/#collapse

[2021-08-21 21:59] JessD9 commented on #477
Thank You @rezakh66
Unit 1 - I've fixed the checklist (please see revised document)
There are 3 Topics (I've renumbered them)

[SOCI400_U1_AUG21_JD_revised.docx](https://github.com/TWUOnline/bug-tracking/files/7026260/SOCI400_U1_AUG21_JD_revised.docx)

Here is updated Unit 2:
- H5P answers added
- Introduction to Topic 2 added

[SOCI400_U2_Aug21_JD_revised.docx](https://github.com/TWUOnline/bug-tr

[2021-08-23 08:30] JessD9 commented on #466
@rezakh66 Here are Units 7-9.

Note:
- Unit 7 has no Learning Activities
- Please embed PDF into Unit 8 (L.A. 8.2)
- Please embed PDF into Unit 9 (L.A. 9.1)
Thanks!

[LDRS625_U7_AUG22_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7030374/LDRS625_U7_AUG22_JD.docx)

[LDRS625_U8_AUG22_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7030388/LDRS625_U8_AUG22_JD.docx)
[LDRS625_U8_Cas

[2021-08-23 19:30] rezakh66 commented on #478
Hi @dgaudet48 I created the collapsed menu. Please have a look and let me know if you need any further changes to be made.

[2021-08-23 20:20] rezakh66 commented on #477
Hi @JessD9 I updated unit 1 & 2 and uploaded u3.

[2021-08-24 22:48] rezakh66 commented on #466
Hi @JessD9 Units 7-9 are uploaded and inserted in LDRS 625 Moodle page.

[2021-08-29 02:53] kmarjanovic opened #479 "PSYC 215 video links broken"
**Which course contains the bug?**
PSYC 215 - Lifespan Development (ADC Master)

**Describe the error and/or your suggestion**
videos 5 & 7 - links are broken

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:   https://learn.twu.ca/course/view.php?id=15809&section=2

2. week# 2        Extra inspiration

**Optional

[2021-08-30 03:01] kmarjanovic opened #480 "LDRS 697 Unit 1 not showing"
**Which course contains the bug?**
LDRS 697 - Leadership Integration Project (FAR MASTER)

**Describe the error and/or your suggestion**
Unit 1 not showing

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php?id=15767&section=2#tabs-tree-start
2. Unit # 1

[2021-08-31 19:06] JessD9 commented on #477
[Moodle shell for "flexible page" format](https://learn.twu.ca/course/view.php?id=20715&section=0)

[Moodle shell for the old sections format](https://learn.twu.ca/course/view.php?id=20745)

[2021-09-01 16:21] mellaurie commented on #476
Hi @rezakh66!!  I need some help asap.

Can you import [FNDN 101 1 FA21](https://learn.twu.ca/course/view.php?id=19201) into FNDN 101 FA21 sections 2-42 and then  50 and 51.

Thanks so much! Mel

[2021-09-02 16:07] rezakh66 commented on #476
Hi @mellaurie I made the changes. Do you need this for FNDN GX? https://learn.twu.ca/course/view.php?id=20692

[2021-09-02 16:35] mellaurie commented on #476
Thank you @rezakh66!

Not for GX, as that section will have different info.

[2021-09-02 16:36] #476 closed

[2021-09-04 03:00] kmarjanovic opened #481 "LDRS 500 rubrics"
### Course
LDRS 500 - FAR & Flexible Masters

### URL
https://learn.twu.ca/course/view.php?id=20751&section=11#tabs-tree-start
(5 assignment rubrics are at the bottom of the page in Moodle - and in the assignment folder in Atom)

### Instructions
Please convert the rubric pdfs for all 5 assignments to a in-text rubric.   I'd like to keep the pdf as a reference for students, so the text can be:
###

[2021-09-06 02:54] kmarjanovic opened #482 "Page navigation in Flexible courses missing unit intros"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 627 - Flexible Master (& Jim's new section?)

**Describe the error and/or your suggestion**
The last page of the unit goes to Topic 1 of the next unit.  It should go to the Unit Intro page (pretty crucial info students would miss).

**Location of the bug**
Please provide a specific link to the page

[2021-09-06 04:25] kmarjanovic opened #483 "LDRS 627 - Heading links"
**Which course contains the bug?**
LDRS 627 Flexible Master

**Describe the error and/or your suggestion**
On most Headings in the course, when you hover on the title there is a blue attachment link icon that doesn't go anywhere.
Can we remove these?

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
[LDRS 627 (Flexible)](

[2021-09-06 15:52] mellaurie commented on #482
I wonder if this is a pages format limitation because the Moodle navigation at the bottom only tracks activity types, so the unit tab and content isn't considered.  The next activity according to Moodle is Topic 1 after the former unit's assessment activity.

[2021-09-07 20:34] mellaurie opened #484 "Academic Dishonesty Policy Button"
**Which course contains the bug?**
**ALL** of our courses that have this red button on the course home page

**Describe the error and/or your suggestion**
Link leads to a 403 - Permission Denied

Need to update to: [https://www.twu.ca/student-handbook/university-policies/academic-misconduct/procedures-dealing-acts-academic-0](https://www.twu.ca/student-handbook/university-policies/academic-miscond

[2021-09-08 02:56] kmarjanovic opened #485 "Production - FAR Course imports"
### Course
FAR courses

### URL
search Moodle or see [GXP Master links](https://www.notion.so/twuid/Graduate-Express-Pathway-GXP-9efebda59ba34d54aa46803a98fe0373)

### Instructions
Once sections are created, please import Master shells and add instructors and facilitators
PHIL 210 – Paul Chamberlain & Facilitator: Emmanuel Denguessi
WRT 101 – Shine Hong& Facilitators:
SOCI 101 – Todd Martin & Faci

[2021-09-08 09:33] JessD9 commented on #466
Hi @rezakh66. Here's the last unit:

[LDRS625_U10_SEPT08_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7127715/LDRS625_U10_SEPT08_JD.docx)

[LDRS_625_U10_rubric.docx](https://github.com/TWUOnline/bug-tracking/files/7127710/LDRS_625_U10_rubric.docx)

- Please insert “LDRS_625_U10_RUBRIC” into Topic 3

Thanks

[2021-09-09 02:48] kmarjanovic opened #486 "PSYC 320 sections"
**Which course contains the bug?**
- SOCI 320 OL (FA21)

**Describe the error and/or your suggestion**
Could you make the Praxis Preparation (aka Unit 1), content to have the sections format?  For some reason it's only showing in the summary and assessment tabs.
Once the navigation pane is showing, we can delete the tabs in Moodle.

**Location of the bug**
Please provide a specific link to the pag

[2021-09-09 15:37] mellaurie commented on #486
Sorry!  Accidentally clicked the wrong button!

[2021-09-10 17:39] kmarjanovic commented on #234
This seems to be fixed!  Thanks!
https://learn.twu.ca/course/view.php?id=10769&section=10#tabs-tree-start

[2021-09-10 17:39] #234 closed

[2021-09-12 01:47] JessD9 commented on #477
@rezakh66 Here are Units 4 & 5.

[SOCI400_U4_Sept10_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7148849/SOCI400_U4_Sept10_JD.docx)

[SOCI400_U5_Sept10_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7148851/SOCI400_U5_Sept10_JD.docx)

Let me know if you have any questions, thanks!

[2021-09-13 16:24] #337 closed

[2021-09-13 16:55] kmarjanovic commented on #485
I see sections have been created:

[(WRTG 101 GX (FA21)](https://learn.twu.ca/course/view.php?id=20697) - done (instructor imported)
[HIST 107 GX (FA21)](https://learn.twu.ca/course/view.php?id=20693) - done (instructor imported)

[MCOM 281 GX (FA21)](https://learn.twu.ca/course/view.php?id=20694) - needs import
[PHIL 210 GX (FA21)](https://learn.twu.ca/course/view.php?id=20695&section=0#tabs-tree

[2021-09-13 17:00] kmarjanovic commented on #299
I think this was resolved.

[2021-09-13 17:00] #299 closed

[2021-09-13 17:06] mellaurie commented on #485
@kmarjanovic For FNDN 101, there is a specific WP site: https://create.twu.ca/fndn101gxp.  For UG, I do open up a Moodle section so that students know that they are enrolled in it (see [FNDN 101 FA21](https://learn.twu.ca/course/view.php?id=19201)).  Do we feel like that's necessary for GXP students?

[2021-09-13 17:20] kmarjanovic commented on #485
@mellaurie in looking at the course in Moodle, the FAR/GXP students are enrolled there - and I assume they will use Moodle to see their final grades?  Could you copy what you've done for FA 21?  (or again, this should probably be the responsibility of the facilitator).
Perhaps we need a FNDN 101 FAR/GXP Master shell in Moodle so facilitators know which course to import (& have access to it).

[2021-09-13 17:26] mellaurie commented on #485
@kmarjanovic @cmadland Let's discuss all this as I feel like we threw out an idea that maybe FNDN 101 GXP actually follows the Git/Moodle format rather than WP. So if we're going to make a Master (or if FNDN 101 UG gets a major revision like the other FNDN courses)...

Also, IT/registrar encourages all students to go to ICS to check their final grades and not to rely on Moodle gradebook.

[2021-09-13 20:53] kmarjanovic commented on #485
Perhaps @emmanuelD-AFK and @catheryn-zuo can try importing?
See [guide to import](http://create.twu.ca/help/moodle/faculty/organization/importing-content-from-previous-cohort), and then in course settings check whether the course is hidden.

[2021-09-13 21:05] #479 closed

[2021-09-13 21:12] mellaurie commented on #485
@kmarjanovic @emmanuelD-AFK @catheryn-zuo
Sorry! I've already imported. Realized for GXP, I needed to use Rob's FNDN 101 Sp21 section and it needed to be un-Bundle-d too.

[2021-09-14 03:29] kmarjanovic commented on #485
@mellaurie no worries!  All courses are imported now.  @cmadland we need to show facilitators how to do this...I'll try to create a resources/video to help.

[2021-09-14 03:29] #485 closed

[2021-09-14 18:19] rezakh66 commented on #486
Hi @kmarjanovic I fixed this.

[2021-09-14 18:22] rezakh66 commented on #484
Hi @mellaurie All links are updated in the following repositories: ba-lead,DLC-Help, far-community, fnas-master, nurs-master,samc-master, art-master,ldrs-master. Is there any more repository that I have missed?

[2021-09-14 18:41] kmarjanovic commented on #486
@rezakh66 thank you!

[2021-09-14 18:41] #486 closed

[2021-09-14 22:03] mellaurie commented on #484
Thanks @rezakh66!  That sounds like all the master repos.  @cmadland can you confirm?

[2021-09-16 03:39] kmarjanovic opened #487 "Course Cafe - unwanted buttons"
**Which course contains the bug?**
Some courses with Course Cafe tab (LDRS 501...and others I will add cafe to)

**Describe the error and/or your suggestion**
@rezakh66 can you help remove the buttons at the bottom of the page?

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php

[2021-09-16 17:50] mellaurie commented on #487
@kmarjanovic I fix this one by changing the course cafe to a page.md instead of a section.md.  I think that's all it needs (@rezakh66 can you confirm?)

[2021-09-16 20:44] rezakh66 commented on #477
Hi @JessD9 I made the section format for this course. Please have a look and let me know how do you want to format the hyperlinks in LAs. Some of them are bolded in the document as well that you may want to change them.

[2021-09-17 03:08] kmarjanovic commented on #487
Thanks @mellaurie and @rezakh66 !!
I've added the notes to the OMG: https://www.notion.so/twuid/Course-Content-Development-e866f16f2d724f49b792df61e33941be

[2021-09-17 03:08] #487 closed

[2021-09-17 06:58] JessD9 commented on #477
Great, thanks @rezakh66
I'm not sure what you mean by the hyperlinks...

[2021-09-20 18:31] kmarjanovic opened #488 "WP Image Issue"
**Which course contains the bug?**
Online Course Design WP site : https://create.twu.ca/coursedesign/
(Also Josh Hale mentioned his images aren't showing)

**Describe the error and/or your suggestion**
Images are missing.  (same thing happened last year I think)

Will this affect all WP sites?

[2021-09-24 19:34] rezakh66 commented on #481
Hi @kmarjanovic Do we have access to the .docx file?

[2021-09-24 19:37] rezakh66 commented on #480
Hi @kmarjanovic This is fixed

[2021-09-24 19:37] #480 closed

[2021-09-24 19:38] kmarjanovic commented on #481
@rezakh66 Here are the docs
[Case-Study-in-Leadership-Rubric.docx](https://github.com/TWUOnline/bug-tracking/files/7228036/Case-Study-in-Leadership-Rubric.docx)
[personal-leadership-story.docx](https://github.com/TWUOnline/bug-tracking/files/7228038/personal-leadership-story.docx)
[leadership-development-plan.docx](https://github.com/TWUOnline/bug-tracking/files/7228039/leadership-development-plan

[2021-09-24 20:46] rezakh66 commented on #481
@kmarjanovic I turned the rubrics into text tables. Please have a look and let me know if they need to be adjusted. Specifically for community of inquiry rubric.
Thank you.

[2021-09-25 00:55] JessD9 commented on #477
@rezakh66  Here is the last one (Unit 6). Thanks

[SOCI400_U6_SEPT30_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7228921/SOCI400_U6_SEPT30_JD.docx)

[2021-09-27 20:11] mellaurie opened #489 "PSYC 207 Production"
### PSYC 207 ADC

### Moodle Master: https://learn.twu.ca/course/view.php?id=18684

### Instructions
Please upload this [fac guide](https://mytwu-my.sharepoint.com/:w:/g/personal/melanie_laurie_twu_ca/EZyK0G9rX_VJomiynLshQKIBhj4oPH9gSDDzONmGrY7mbQ?e=4p9w73) as markdown to the Git repo (arts-master) and create hidden tab in the Moodle master.  Thanks!

[2021-09-28 16:42] rezakh66 commented on #477
@JessD9 Unit 6 is uploaded

[2021-09-29 19:04] mellaurie commented on #489
@rezakh66 let me know if the link in the above comment works for you.

[2021-09-30 15:35] mellaurie commented on #475
Hi @Jeff-TWU!

Delivery Dates (my estimates) for remaining videos:
Patti Victor's - Oct 1
Social Responsibility - Oct 18
Spiritual Formation - Nov. 1
Leadership - Nov. 8
Assessment - Oct. 6 (I will email Joan to provide feedback asap)

[2021-09-30 15:38] Jeff-TWU commented on #475
I think Assessment is good to go. Joan had left some comments on Dropbox. I'll get it up on MS Stream.

[2021-10-23 17:52] MargMannShull opened #490 "Production"
### Course Psych 340

### URLhttps://learn.twu.ca/course/view.php?id=15808

### Instructions Overview Section
- [x] **_Change the ADC Master and the Fall Psych 340 Moodle Course Overview Section_**
- [x] 1. Add Syllabus (currently it says that the syllabus is at the bottom of the Overview Moodle page - it is not there. I sent the updated fall 2021 syllabus to Kelly Marjanovic
- [x] 2. In the secon

[2021-10-31 20:01] MargMannShull opened #510 "Characters in front of the final paragraph in course description"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Psych 340 OL FA2021

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
!!It will be assumed that you have read, understand, and agree to the information provided at the 'Academic Dishonesty Policy' button below. If you have any questions at

[2021-10-31 20:15] MargMannShull opened #511 "Video Analysis Assessment"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Psych 340 OL FA2021

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
Please change the percentage of the grade to 50% instead of 40% in the assessment tab for this assignment.

**Location of the bug**
Please provide a specific link to the

[2021-10-31 20:16] MargMannShull commented on #511
Please update the FA2021 course as the Master is already done!  I try to edit this myself, but cannot make any changes???

[2021-10-31 20:16] MargMannShull commented on #510
Please update this in the FA2021 course as it has already been updated in the Master. Thank you

[2021-11-05 00:27] kmarjanovic commented on #490
All done.  Apologies for the delays!

[2021-11-05 00:27] #490 closed

[2021-11-05 00:29] kmarjanovic commented on #510
All fixed.
(@rezakh66 @cmadland I changed it to ***, as the ! don't seem to be working.  Any idea why?)

[2021-11-05 00:29] #510 closed

[2021-11-05 00:32] kmarjanovic commented on #511
All done.

Sorry @MargMannShull - most of the content is created through GitHub.  Things that change often (e.g. zoom links, due dates), we usually try to have created in Moodle so instructors can easily change.  Let me know if you'd like to meet to discuss any issues or I can show you how to make changes.

[2021-11-05 00:32] #511 closed

[2021-11-08 04:10] MargMannShull opened #512 "Introductory Video on Week 6 only accessible by YouTube"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019) Psych 340 OL FA2021

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
My introductory video to Week 6 says that it is only accessible on YouTube - this is a video that I made for the course and not one from YouTube - check out other weeks to

[2021-11-08 04:23] MargMannShull opened #513 "Overview Section of Week 6"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019) Psych 340 OL FA2021

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
At the bottom of the overview section of Week 6, the blue tabs that either advance the students to the next topic or back to the previous unit, say Topic 1 on the right ha

[2021-11-08 18:26] rezakh66 commented on #513
@MargMannShull I have moved it from the overview page to the bottom of the reference page. Is that ok?

[2021-11-08 19:50] rezakh66 commented on #489
Hi @mellaurie I created Facilitator's guide for this course.

[2021-11-08 19:55] mellaurie commented on #489
Thank you!  Looks great!

[2021-11-08 19:55] #489 closed

[2021-11-09 05:22] MargMannShull commented on #513
Yes!

Sent via the Samsung Galaxy S8, an AT&T 5G Evolution capable smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: rezakh66 ***@***.***>
Sent: Monday, November 8, 2021 10:26:13 AM
To: TWUOnline/bug-tracking ***@***.***>
Cc: Margaret Manning-Shull ***@***.***>; Mention ***@***.***>
Subject: Re: [TWUOnline/bug-tracking] Overview Section of Week 6 (Is

[2021-11-09 16:51] kmarjanovic commented on #512
Hi @MargMannShull ,
That was strange!  There was a youtube link instead of your video.  I fixed it, but please confirm it is the correct video.
Kelly

[2021-11-09 16:51] #512 closed

[2021-11-09 18:44] MargMannShull commented on #512
Hi Kelly - it is the correct video - very strange!  Thank you!

Margaret Manning-Shull, MS., M.Div., LMHCA
Instructor, TWU-Bellingham Extension Campus

________________________________
From: Kelly Marjanovic ***@***.***>
Sent: Tuesday, November 9, 2021 8:51 AM
To: TWUOnline/bug-tracking ***@***.***>
Cc: Margaret Manning-Shull ***@***.***>; Mention ***@***.***>
Subject: Re: [TWUOnline/bug-tracking]

[2021-11-12 16:22] #513 closed

[2021-11-12 16:23] #484 closed

[2021-11-12 16:24] rezakh66 commented on #483
Hi @kmarjanovic  I think it was decided to keep them like this, right?

[2021-11-12 16:26] rezakh66 commented on #482
Yes, it is. @mellaurie  Do we still need to keep this issue open?

[2021-11-12 16:27] #478 closed

[2021-11-12 16:30] #469 closed

[2021-11-12 17:43] kmarjanovic commented on #482
@rezakh66 I still think we need to address this in case some faculty want to use the page format.
@mellaurie we could change the unit overview page to be just the unit title and image, and then have a page for the Overview...
Still not the best formatting option but at least students wouldn't miss the key info.

[2021-11-12 17:55] kmarjanovic commented on #483
I just noticed these links seem to be in most courses, so @cmadland is there a reason they are added?

They're definitely helpful if we're on the grav site, or in bookdown...but it doesn't make sense in Moodle as it doesn't link anywhere.
Or are we letting students/instructors know that they can find their course online outside of Moodle? e.g. https://far.twu.ca/ldrs/591/readme

[2021-11-12 19:58] kmarjanovic opened #514 "Ranking Activity"
**Which course contains the bug?**
LDRS 664 - but others may use it too

**Describe the error and/or your suggestion**
Still looking for ranking activities - with no correct order.
will this work? https://github.com/surveyjs/survey-library/issues/2612

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://ma-l

[2021-11-12 20:55] kmarjanovic opened #515 "Graphic request LDRS 664"
### Course
LDRS 664
### URL
https://ma-lead.github.io/ldrs664/creating-space-for-all-learners.html#creating-collaborative-learning-in-an-online-environment
### Instructions
Could we make a graphic for the 8 principles of AI?

Here's an example I found online, but it's not very eye-catching!
Please upload required files as attachments.
![image](https://user-images.githubusercontent.com/35148983/141

[2021-11-12 20:59] cmadland commented on #514
Some thoughts...

This activity asks learners to
- rank
- list strategies

Ranking is one thing, and the surveyjs looks like it might work, although the ranking won't be saved (I'm happy to test), but the listing strategies needs to happen somewhere else (blog post? written journal? forum?). Perhaps we suggest learners complete the whole thing in a journal while we test surveyjs?

[2021-11-12 21:10] kmarjanovic commented on #514
Part 2 of that activity references the journal, but you're right, I should add that instruction earlier.

I was thinking too of the h5p journal 9[LDRS634 example](https://learn.twu.ca/mod/page/view.php?id=530639) but there is a lot references to the reflective learning journal - all optional and ungraded but connected to assessments of course.

I think perhaps we need some student feedback for thi

[2021-11-12 23:53] MaraChequer commented on #515
Hi Kelly, yes, I think I can do something better than your example, do you have any particular idea or am I free to create something?

[2021-11-14 03:33] kmarjanovic opened #516 "LDRS 664 Credits"
**Which course contains the bug?**
LDRS 664 bookdown

**Describe the error and/or your suggestion**
Please add a page for Course Credits.  Note that I tried this last night and it erased the assessment page!  (I added the 98.credits rmd but it didn't work).

Content to add:

# Course Credits {-}

## Course Contributors
### Curriculum Developer
***Catharine (Cathy) Penfold Navarro, Ph.D.***
Cathari

[2021-11-14 04:32] kmarjanovic opened #517 "LDRS 664 rubrics"
**Which course contains the bug?**
LDRS 664 bookdown

**Describe the error and/or your suggestion**
Please help fix the rubric for the Company Website Analysis.

For now - let's go with the formatting Colin has suggested - but perhaps we can make it accordion style?
I'm going to search for better formatting this week...

**Location of the bug**
https://ma-lead.github.io/ldrs664/assessment-10.html#

[2021-11-14 05:10] kmarjanovic opened #518 "LDRS 500 H5P text"
**Which course contains the bug?**
LDRS 500

**Describe the error and/or your suggestion**
Could we reduce the text size in the H5P hotspots?

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
https://far.twu.ca/ldrs/500/u1/overview/filter:far/chromeless:true

https://learn.twu.ca/course/view.php?id=10719&section=1

[2021-11-15 02:44] MargMannShull opened #519 "Production"
### Course
Psych 340 OL FA 21
### URL
https://learn.twu.ca/course/view.php?id=20392&section=0#tabs-tree-start
### Instructions
- [ ] Under Course Evaluations - Discussion Forums needs to be changed from "end of weeks 1-2" to "weekly throughout the course"
- [ ]

Please upload required files as attachments.

[2021-11-15 03:07] MargMannShull opened #520 "Production"
### Course
Psych 340
### URL
https://learn.twu.ca/course/view.php?id=20392&section=4
### Instructions
- [x] We will need to add Discussion Forum #4 here and in week #5 (Discussion Forum #5) to the graded assignment sections (Assignment 4.3 and Assignment 5.2 (currently, Assignment 5.2 talks about a CASE STUDY ASSIGNMENT - WE NEED TO GET RID OF THAT - THERE IS NO MORE CASE STUDY ASSIGNMENT!).  We w

[2021-11-15 17:02] rezakh66 commented on #519
Hi @MargMannShull this is being updated.

[2021-11-15 17:02] #519 closed

[2021-11-16 03:04] kmarjanovic commented on #520
@MargMannShull I've added the Week 4 & 5 discussion forums.  Note these can be added in Moodle (not through GitHub), so feel free to add for future courses if they are missing.
(Turn Editing On (top right) > Add activity or resource (bottom right) > Forum > add details).
Please check details of the forum (availability)
I've removed the reference to the Case Study in the Unit 5 Overview. (@cmadland

[2021-11-16 03:04] #520 closed

[2021-11-17 18:50] kmarjanovic opened #521 "Bookdown repositories"
Please create new repositories for LDRS 591, 631, and 697.

Let me know if you need input on pages / templates.

[2021-11-18 23:18] rezakh66 commented on #518
@kmarjanovic I just checked that. It is already in smallest font size available.

[2021-11-18 23:18] #518 closed

[2021-11-19 00:17] kmarjanovic commented on #518
Okay thanks for checking!!  It's funny - I saw some open H5Ps yesterday that had font way too small!!  They need to fix this issue!

[2021-11-24 18:35] rezakh66 commented on #453
Hi, Following changes requested by Debra are made to the Github:
1.
There’s a typo on the poem besides the artwork – on the second last line it should say “….in this world” (not I)
2.
Under Required text for the second reference, the Seaton book, please delete what is in brackets and replace it with (This booklet is provided on this course as a PDF download).

3.
Please replace the Course Evaluati

[2021-12-01 22:41] rezakh66 commented on #453
Following changes are made to the course requested by Debra Hanenburg:
Changes to make on SOCI 201 OL – both the Master Course AND FALL 2021
Unit 1, Topic 1, Activity 1.1 – delete the part in brackets and add (See PowerPoint under the Course Resources Tab)
Unit 1, Topic 3, Activity 1.3 – change (add link) to (See PowerPoint under the Course Resources Tab)
Unit 2, Overview – under Resources – ADD “

[2021-12-13 03:44] JessD9 commented on #423
Hi @rezakh66. Please upload the final 3 units for [LDRS 320](https://learn.twu.ca/course/view.php?id=17788&section=12#tabs-tree-start)

[LDRS320_U9_DEC12_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7700822/LDRS320_U9_DEC12_JD.docx)

[LDRS320_U10_DEC12_JD).docx](https://github.com/TWUOnline/bug-tracking/files/7700842/LDRS320_U10_DEC12_JD.docx)
[LDRS320_U10_Table_4.2.pdf](https://github

[2021-12-14 22:14] kmarjanovic opened #522 "LDRS 591 - bookdown activity questions"
### Course
LDRS 591
### URL
https://ma-lead.github.io/ldrs591/
### Instructions
For Units 3-10, could you copy the added questions from the [591 repo](https://github.com/TWUOnline/ldrs-master/tree/master/pages/15.591) and paste them into the bookdown learning activities?  See example from [unit 1](https://solid-winner-d993df4b.pages.github.io/introduction-to-scholarly-inquiry.html#learning-activit

[2021-12-14 23:08] cmadland commented on #522
I've made the site public, which changed the URL to https://ma-lead.github.io/ldrs591/

[2021-12-14 23:09] cmadland commented on #522
also updated the url in Moodle

[2021-12-15 18:40] kmarjanovic opened #523 "Production for 591 in Bookdown"
### Course
LDRS 591
### URL
https://ma-lead.github.io/ldrs591/

Here is a checklist of items to check when converting a course from our other Git content to a bookdown course.
---

###  Pages (rmd)
- [x] Course Overview (index.rmd): Course description, navigation, etc. Check syllabus.  Include only info that applies to all sections
- [x] LDRS 591 Communities: Add template, change course #
- [x] Un

[2021-12-15 18:43] kmarjanovic commented on #523
Hi @rezakh66 !  I'll check off items soon - but could I have help with the links -  links should go to a new tab. Add {target="_blank"} after url
and then adding learning activity questions from the 591 repo?
Thank you!

[2021-12-15 22:32] rezakh66 commented on #423
@JessD9 I completed units 9-11. H5P inserted as well. Please let me know if any adjustment is needed.

[2021-12-16 00:50] JessD9 commented on #423
Thank you!

[2021-12-16 17:24] rezakh66 commented on #486
Following changes requested by DEBRA HANENBURG are made to the course :

1.	Under the General Tab –
a.	Change “Welcome to SOCI 411: Human Services Practicum Two!
b.	Under learning objectives #6 – change “up to four…” to “three”
2.	Under the Praxis Preparation Tab –
a.	Overview – change “300 hours” to 225 hours and at the end of “…of field experience…”  put this in parenthesis (over 3 practicum cou

[2022-01-03 08:06] #423 closed

[2022-01-03 09:07] JessD9 opened #524 "SOCI 221 - ADC"
### SOCI 221 ADC

### [URL](https://learn.twu.ca/course/view.php?id=22719)

### Instructions
- @rezakh66 Please upload Units 1, 2 & 3 to GiHub/Atom (may need to create 221 folder in github)

[SOCI221_U1_updated_JAN10_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7842076/SOCI221_U1_updated_JAN10_JD.docx)

[SOCI221_U2_JAN03_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7801107/

[2022-01-05 22:43] cmadland commented on #524
Hi @melissapodolak, this is an example of what usually happens when an ID (Jess) has course materials ready for the web. The process from here is to use Pandoc to convert from .docx to .md, then copy and paste into the appropriate github repo to be published.

[2022-01-05 23:03] cmadland commented on #524
@rezakh66, I'm using this to give Melissa a preview on the workflow.

[2022-01-08 01:24] JessD9 commented on #524
@rezakh66 Here are Units 4 & 5.
[SOCI221_U4_JAN07_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7832112/SOCI221_U4_JAN07_JD.docx)
[SOCI221_U5_JAN07_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7832128/SOCI221_U5_JAN07_JD.docx)

Unit 5 - Please embed the following PDFs:

Activity 5.5:
[SOCI221_U5_Activity_5.5_Infographic.pdf](https://github.com/TWUOnline/bug-tracking/files/78

[2022-01-10 02:38] MargMannShull opened #525 "Video Transcript and Analysis Assignment Psych 340 FA 2021"
**Which course contains the bug?**
-PSYCH 340 OL FA 2021

**Describe the error and/or your suggestion**
I received the following note from a student in my Psych 340 OL course:

Happy weekend. I found the click under the video recording and transcripts was not working to allow me to upload the video. The system showed that “This may not be for you. Failed to load the channel. The authenticated user

[2022-01-10 21:17] kmarjanovic opened #526 "Production - LDRS 663"
### Course
LDRS 663
### URL
https://twuonline.github.io/663-book/index.html

### Instructions
Please add the rest of the units to the bookdown course.

[2022-01-10 22:15] JessD9 commented on #524
hey @rezakh66 - checking in to see if these have been uploaded? Thanks

[2022-01-11 01:24] kmarjanovic commented on #525
@MargMannShull
This should be fixed now: https://learn.twu.ca/course/view.php?id=20392&section=10

[2022-01-11 01:24] #525 closed

[2022-01-12 19:32] kmarjanovic opened #527 "WP for WRSH 101"
### Course
WRSH 101 - Worship Foundations (OL MASTER)
### URL
https://learn.twu.ca/course/view.php?id=10744&section=0#tabs-tree-start
### Instructions
Please copy the [WRSH 201 template in WordPress](https://create.twu.ca/wrsh201/) and add [WRSH 101 content](https://github.com/TWUOnline/samc-master/tree/master/pages/05.wrsh101).

[2022-01-13 23:49] rezakh66 commented on #524
Hi @JessD9 I have uploaded units 1-5, please have a look and let me know if further adjustments are needed.

[2022-01-17 21:45] kmarjanovic opened #528 "Production Create new issues in SME Logistics"
Hi @rezakh66 @cmadland

Could you help create new issues for all of our courses in SME-logistics?  Isabel and her team will be adding the contracts tomorrow, so will need the issues created.  (I can start on this tonight & tomorrow as well)
I'd suggest starting with the Done category?  I'll try to add some labels as well - just dept & contract type I think.

### URL
https://github.com/TWUOnline/sm

[2022-01-18 20:32] JessD9 commented on #524
Hi @rezakh66, here is the last unit. Thanks!
[SOCI221_U6_JAN18_JD.docx](https://github.com/TWUOnline/bug-tracking/files/7892177/SOCI221_U6_JAN18_JD.docx)

Notes:
- Topic 5, L.A. 6.7, please insert "The_Gerontologist_2015_Stowe" PDF
[The_Gerontologist_2015_Stowe.pdf](https://github.com/TWUOnline/bug-tracking/files/7892183/The_Gerontologist_2015_Stowe.pdf)

- Topic 9, L.A. 6.9, please insert "Confli

[2022-01-19 16:26] cmadland opened #529 "LDRS220"
**Which course contains the bug?**
- [LDRS220](https://github.com/TWUOnline/ba-lead/tree/master/pages/02.ldrs220)

**Describe the error and/or your suggestion**
### From email

Simone,

Nice catch… you discovered an old textbook list was never revised to delete the ‘Rowntree’. And YES, the other two books should be on the list.

 COLIN, I cannot edit this course (in Moodle) for some reason. Is the

[2022-01-19 17:44] kmarjanovic commented on #529
@dgaudet48 could you confirm the course resources for this course?  Also - we should take out the "see syllabus here" info in the course intro tab and say to locate the syllabus at the bottom of the page.

Is there a specific syllabus from Matt for this GXP cohort?  Can the facilitator upload this?

[2022-01-21 19:12] rezakh66 commented on #524
Hi @JessD9 [U6](https://learn.twu.ca/course/view.php?id=23371&section=6) is uploaded as well

[2022-01-21 19:49] kmarjanovic opened #530 "PHIL 210 Changes to Assignments"
(Kelly is working on this)

**Which course contains the bug?**
 PHIL 210 GX (SP22)

**Describe the error and/or your suggestion**

- [x] In Course Overview tab: Ethics Committee Responses | 45% (3 @ 15% each)
- [x] Update Schedule. Committee assignment in Unit 1,4,7

- [x] In Units - Move Unit 3 & Unit 5 committee assignment to be learning activities
- [x] Unit 4 ungraded make graded.
- [x] Change

[2022-01-21 22:25] kmarjanovic commented on #530
Hi @SimoneVanDerMerwe and @emmanuelD-AFK
I've made those changes.  Just need to add a pdf.
All should be correct now though, so feel free to open the course to students!

[2022-01-22 00:00] JessD9 commented on #524
Great, thanks @rezakh66!

[2022-01-22 01:26] SimoneVanDerMerwe commented on #530
That is great news! Thank you so much!

I will ask Dr. Paul about the updated PDF file and send it to you.

Have a super blessed weekend!

Simone Van Der Merwe

Global Educational Facilitator - Far Center | TWU GLOBAL

Trinity Western University | ***@***.******@***.***>

twu.ca<http://www.twu.ca/>/

________________________________
From: Kelly Marjanovic ***@***.***>
Sent: Friday, January 21, 202

[2022-01-22 03:39] kmarjanovic commented on #530
@SimoneVanDerMerwe I've added the following pdf version to the [Ethics Committee section](https://learn.twu.ca/course/view.php?id=22618&section=13#tabs-tree-start).
If there are changes, please let us know.
Thanks!
[PHIL-210-Ethics-Committee-Assignment.pdf](https://github.com/TWUOnline/bug-tracking/files/7917555/PHIL-210-Ethics-Committee-Assignment.pdf)

[2022-01-22 03:39] #530 closed

[2022-01-22 03:41] SimoneVanDerMerwe commented on #530
Thank you so much! You are awesome!

Simone Van Der Merwe

Global Educational Facilitator - Far Center | TWU GLOBAL

Trinity Western University | ***@***.******@***.***>

twu.ca<http://www.twu.ca/>/

________________________________
From: Kelly Marjanovic ***@***.***>
Sent: Friday, January 21, 2022 7:39 PM
To: TWUOnline/bug-tracking ***@***.***>
Cc: Simone Van Der Merwe ***@***.***>; Mention ***@*

[2022-01-24 18:43] Jeff-TWU commented on #433
This project is stalled. I'm not sure if this course is even being developed? Video is complete, although Pattie hasn't given me final approval. It's been months and I have reached out several times. I expect that if the course actually gets released, she would approve.

[2022-01-24 21:33] kmarjanovic opened #531 "LDRS 662 Bookdown"
### Course
LDRS 662
### URL
https://learn.twu.ca/course/view.php?id=8931&section=2#tabs-tree-start
### Instructions

Please create this course in bookdown.
It likely won't be needed until the summer term.

@cmadland we may want to flag for a refresh (as with all certificate courses that were done 4 years ago)

[2022-01-25 03:16] kmarjanovic opened #532 "Production - PSYC 354 H5P request"
### Course
PSYC 354
### URL
(none yet...please create a git folder.  Unit 1 coming soon!)

### Instructions

Please create an H5P dialog card activity – similar to the following:
[https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=103](https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=103)

Content:
Title: Introduction to Behavioral Neuroscience
Unit 1: Topic 1
1.

[2022-01-25 16:48] rezakh66 commented on #532
Github folder and Moodle shell created: https://learn.twu.ca/course/view.php?id=23420&section=0#tabs-tree-start

[2022-01-25 18:15] dgaudet48 commented on #529
@kmarjanovic

I spoke to Matt yesterday - he is going to pass along updates and edits...

He said he would be using the same syllabus - I will move that to the bottom of the page...

I offered to show him how to use the bug report feature for his edits but he declined the offer

[2022-01-26 02:49] kmarjanovic commented on #532
@rezakh66 I'm going to put this request on hold, as I now have more course material from the SME, so we may add this content to a different H5P tool.  More info to come!

[2022-01-26 02:55] kmarjanovic commented on #482
@rezakh66 @cmadland
For all the flexible page courses - could we could change the unit overview page to be just the unit title and image, and then have a page for the Overview? (I forgot I proposed this solution in November!)

[2022-01-26 17:22] rezakh66 commented on #482
Hi @kmarjanovic I have done this in LDRS 500 [u1](https://learn.twu.ca/course/view.php?id=20751&section=1). Please have a look and let me know if I can proceed with the rest of the courses.

[2022-01-26 18:42] kmarjanovic commented on #482
Hi @rezakh66 - it looks good!
Could you add a label as well.  See the updated [Unit 1](https://learn.twu.ca/course/view.php?id=20751&section=1)

[2022-01-27 03:57] kmarjanovic commented on #482
Hi @rezakh66
I've changed the wording to: Click on the link below for an outline of this unit's topics, learning outcomes, and resources.
Also - for the new Overview page - please add the Unit #.
Thank you!

[2022-01-27 18:43] kmarjanovic opened #533 "FNDN 101 H5P copy & edit"
**Which course contains the bug?**
- [FNDN 101](https://create.twu.ca/fndn101/unit-5/)

**Describe the error and/or your suggestion**
Could you please duplicate the H5P activity - interactive book in Unit 5: Topic 2:

Add the following to the new version: On page 3 of the book, Activity 5.3, add
“NOTE: You will be doing this material together in the next class, so you do not need to do it yourself

[2022-01-27 21:31] rezakh66 commented on #533
Hi @kmarjanovic I duplicated the activity and added your note. Where do you need it to be inserted? you can find it here: https://create.twu.ca/fndn101/wp-admin/admin.php?page=h5p

[2022-01-27 22:01] kmarjanovic commented on #533
@rezakh66 Could you add it to the Joan's FNDN 101 course? Unit 5: Topic 2
Thank you!!!

[2022-02-01 00:25] #524 closed

[2022-02-01 20:12] rezakh66 commented on #527
Hi @kmarjanovic just to reconfirm, Do you want to create a new WordPress site for WRSH 101 using https://create.twu.ca/wrsh201/ and then upload the contents from https://github.com/TWUOnline/samc-master/tree/master/pages/05.wrsh101 ?

[2022-02-01 20:27] kmarjanovic commented on #527
Hi @rezakh66
WRSH 101 already has a WP site - with a sample Unit 1: https://create.twu.ca/wrsh101/unit-1/ - embedded with the Git content.
The idea is to have a similar template for all WRSH courses - so that the SMEs can edit in WordPress as well.

Let me just check a couple things first with the 201 site, as I see now it could use some blocks & other WP features to make it more readable.  I'll l

[2022-02-10 19:49] rezakh66 commented on #533
Done.

[2022-02-10 19:49] #533 closed

[2022-02-11 18:45] kmarjanovic commented on #532
Cancelled.  Using Publisher materials instead as this courses starts soon.  More requests to come!

[2022-02-11 18:45] #532 closed

[2022-02-11 18:54] kmarjanovic opened #534 "Production - LDRS 662 in bookdown"
### Course
LDRS 662
### URL
- create bookdown url.
- Content from https://github.com/TWUOnline/ldrs-master/tree/master/pages/24.662
- [LDRS 662: Culturally Responsive Comm (MASTER)](https://learn.twu.ca/course/view.php?id=8931)

### Instructions
Here is a checklist of items to check when converting a course from our other Git content to a bookdown course.
---

###  Pages (rmd)
- [ ] Course Overvie

[2022-02-16 02:57] SimoneVanDerMerwe opened #535 "PHIL 210: Requesting a few corrections"
**Which course contains the bug?**
-PHIL 210 GX  (SP 2022)

**Describe the error and/or your suggestion**
In Unit 1 Assessment Tab:
Green Box - Assignment: Ethics Committee Responsive - Line 4 should say: Two reports are ungraded practice, and three reports are graded for a total of 45% of your course grade.
URL: https://learn.twu.ca/course/view.php?id=22618&section=1#tabs-tree-start

In Unit 3 As

[2022-02-16 23:53] SimoneVanDerMerwe opened #536 "PHIL 210: Editing needed"
PHIL 210 GX SP 2022

 Unit 5 in the Assessment tab:  please remove the red box that says: "Go to the Assessments tab and select Unit 5 Ethics Committee Response to submit your assignment".

URL: https://learn.twu.ca/course/view.php?id=22618&section=5#tabs-tree-start

Thank you very much!
Simone

[2022-02-17 03:05] SimoneVanDerMerwe opened #537 "PHIL 210: Requesting editing"
PHIL 210 GX SP 2022

Assessment tab > Partner Project Presentations tab
Under: Here are a couple of final rules for the class presentations
Item 4: Presentations must conclude at the **15** minute mark.

 URL: https://learn.twu.ca/course/view.php?id=22618&section=15#tabs-tree-start

Thank you very much!
Simone

**Optional: Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-02-23 01:24] SimoneVanDerMerwe opened #538 "PHIL 210: Requesting editing"
PHIL 210 GX SP 22

Unit 5: Assessment tab

 1. Please remove "plugin:content-inject"
 2. Green Box: This is not an assignment, it is just a reminder for students to select the video topic. Actions: please, (a) change the title to "Ethics Video Assignment: Choose Your Topic",  (b) Keep the content, but remove the "green box", and (c) Remove "instructions for assignment submission" and the "red box"

[2022-02-24 00:21] MaraChequer commented on #515
![TheEightPrinciplesofAppreciativeInquiry-v2](https://user-images.githubusercontent.com/84353161/155433214-f21e0a99-246c-4681-9734-01355a956c3d.jpg)
![TheEightPrinciplesofAppreciativeInquiry-v1](https://user-images.githubusercontent.com/84353161/155433218-f6edd752-ddb1-4e86-a2a6-89b503888483.jpg)

[2022-02-24 00:24] MaraChequer commented on #515
@kmarjanovic Please review. Two options. Please let me know if you would like another description of the concept for the first one.

[2022-02-24 00:29] MaraChequer commented on #471
Link to Video https://www.dropbox.com/s/qyh817nbumnrypm/20220125_MCOM353%20Intro_Divine_R1.mp4?dl=0

[2022-02-24 00:29] #471 closed

[2022-02-24 00:39] MeeksonHundoo commented on #537
[91b5488](https://github.com/TWUOnline/arts-master/commit/91b5488f60e8399661abcc7ce615f0ae06f727ab) fixed

[2022-02-24 00:39] #537 closed

[2022-02-24 00:57] #536 closed

[2022-02-24 17:14] kmarjanovic commented on #515
@MaraChequer this is fantastic!!  Let's keep both options - the first being the go-to and the second in case the SME wants to add their own intro to the principles.

On both, could we make the text in the centre circle say "Principles of Appreciative Inquiry"  - and centre the text as well?

[2022-02-24 17:45] MaraChequer commented on #515
I have updated the files @kmarjanovic ;)

[2022-02-24 17:48] kmarjanovic commented on #515
Perfect!  Thanks @MaraChequer !!

[2022-02-24 17:48] #515 closed

[2022-02-25 03:03] kmarjanovic opened #539 "Unit Images for LDRS 504"
[**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

[LDRS 504 Flexible pages version](https://learn.twu.ca/course/view.php?id=20826&section=1#tabs-tree-start)

**Describe the error and/or your suggestion**
Now that we've switched to having just the unit title + image on the flexible pages format, we might need to add some images.

@dgaudet48 or @MaraCheq

[2022-02-25 03:45] #422 closed

[2022-02-25 21:03] MeeksonHundoo commented on #538
@SimoneVanDerMerwe We've fixed those issues. However, cant see a red box in Unit 5: Assessment tab.

[2022-02-25 21:03] #538 closed

[2022-02-27 22:41] dgaudet48 commented on #539
@kmarjanovic I am just looking in Atom - what "overview" page should the images be uploaded into (overview or overview1) for the flexible format?

[2022-02-28 03:02] kmarjanovic commented on #539
@dgaudet48 I would suggest the landing overview page for the Unit. (the one with only the title, not the overview info).

[2022-02-28 17:53] MaraChequer commented on #539
Hello @dgaudet48 and @kmarjanovic
I would suggest following the format of 631,634, 617 and other courses. I have moved a few things around in your unit 1 Dave, I hope you don't mind. I can put some time today and help add the images and do this changes. It would take me less then an hour.

https://learn.twu.ca/course/view.php?id=20826&section=1#tabs-tree-start

[2022-02-28 17:57] dgaudet48 commented on #539
@MaraChequer Not at all...

I am swamped dealing with 614 so there would be no arguments from me if you wanted to do that...please though, let me know if there is anything I can do to help the cause!

[2022-02-28 18:01] MaraChequer commented on #539
@dgaudet48 I can imagine your challenges with 614...
Yes, no problem Dave, I will move a few things around, but not from the course content. In the introduction page, I might only add something that is necessary. :)

[2022-02-28 19:15] MaraChequer commented on #539
@dgaudet48 @kmarjanovic

Done, https://learn.twu.ca/course/view.php?id=20826&section=0#tabs-tree-start
-Intro page according to the other LDRS courses
-Overview images for all units added
-Removed the Overview1 link in initial page of each unit

[2022-02-28 19:56] kmarjanovic commented on #539
@MaraChequer
Thanks Mara for adding the pictures!  The only thing is we need to keep the Overview link page, so that at the end of the unit's activities, it will go to the overview info.  Before - students could miss the overview page.
When you click on the Unit tab - you should see the Unit title and an image.  Then the Overview page will have the unit details.
Does that make sense?

[2022-02-28 20:08] MaraChequer commented on #539
@kmarjanovic . I see. Due to the fact that the units are linked to sessions and when they enter the course they are always brought to the home page and not to an specific unit and they need to select the unit corresponding to that session, I do not believe it is necessary for this format because we are adding an extra click to get to the overview. Does it make sense?

The student still has access

[2022-02-28 22:17] kmarjanovic commented on #539
@MaraChequer @dgaudet48 @cmadland @MeeksonHundoo
After chatting with Mara, we'd suggest that we not convert the Overview section to a new page because...
- Students will more likely click on the Unit tab than navigate to the next unit using the breadcrumbs at the bottom of the page
- They might skip the Overview page entirely and go right to the topics page, so best to have the overview show up ri

[2022-02-28 22:17] #539 closed

[2022-02-28 22:17] kmarjanovic commented on #482
@MaraChequer @dgaudet48 @cmadland @MeeksonHundoo
After chatting with Mara, we'd suggest that we not convert the Overview section to a new page because...
- Students will more likely click on the Unit tab than navigate to the next unit using the breadcrumbs at the bottom of the page
- They might skip the Overview page entirely and go right to the topics page, so best to have the overview show up ri

[2022-02-28 22:17] #482 closed

[2022-03-02 21:46] kmarjanovic opened #540 "ANTH 101 syllabus"
**Which course contains the bug?**
[ANTH 101 GX (SP22)](https://learn.twu.ca/course/view.php?id=22625)

**Describe the error and/or your suggestion**
Course Overview section

In the red alert - change this:
!! The syllabus includes key information about the course schedule, assignments, and policies. The course syllabus can be found by clicking [HERE ](https://far.twu.ca/arts/anth101/home/ANTH_101

[2022-03-02 23:10] MeeksonHundoo commented on #540
@kmarjanovic Amendments have been made

[2022-03-02 23:10] #540 closed

[2022-03-02 23:12] kmarjanovic commented on #540
Thanks @MeeksonHundoo !!

[2022-03-07 18:47] kmarjanovic opened #541 "PSYC 354 Unit 2"
### Course
 PSYC 354
### URL
https://learn.twu.ca/course/view.php?id=23420&section=2#tabs-tree-start

### Instructions
- Please put online asap.
- Refer to Unit 1 for formatting.

Please upload required files as attachments.
[PSYC 354_U2_March7_KM-for production.docx](https://github.com/TWUOnline/bug-tracking/files/8200094/PSYC.354_U2_March7_KM-for.production.docx)

[2022-03-07 18:48] #523 closed

[2022-03-07 18:50] kmarjanovic commented on #521
Let's put this on hold for now until we get requests from other faculty. (or until after Spring Jam)

[2022-03-07 20:57] #541 closed

[2022-03-09 17:07] kmarjanovic opened #542 "Graphic for NURS 510"
### Course
[NURS 510 - Foundations (OL Master)](https://learn.twu.ca/course/view.php?id=10939)
### URL
https://learn.twu.ca/course/view.php?id=10939&section=10#tabs-tree-start
### Instructions
@MaraChequer could you rework the graphic in Lesson 9, Topic 2, 2.1?  It's difficult to read the text, and has a pretty basic design.

![image](https://user-images.githubusercontent.com/35148983/157493290-8b

[2022-03-09 17:16] kmarjanovic opened #543 "PSYC 354 Unit quizzes"
### Course
PSYC 354
### URL
[PSYC 354 (ADC MASTER)](https://learn.twu.ca/course/view.php?id=23420)
current section: [PSYC 354 OL (SP22)](https://learn.twu.ca/course/view.php?id=22417)

### Instructions

@MeeksonHundoo could you please add the Unit 3 quiz:

- [x] See the attached Chapter 8 & Chapter 10 quiz questions that make up unit 3 quiz.
- [x] Modify in [the testbank course](https://learn.twu.

[2022-03-09 17:49] kmarjanovic opened #544 "PSYC 354 - formatting Unit 2"
### Course
PSYC 354
### URL
[Unit 2](https://learn.twu.ca/course/view.php?id=23420&section=2)
### Instructions
@MeeksonHundoo could you add the alerts for the activity checklist, activities, and assessment.

Please see [Unit 1](https://learn.twu.ca/course/view.php?id=23420&section=1) for how the alerts should look.

Let @cmadland or I know if you need help with this.

Also in Unit 1 you'll see tha

[2022-03-09 19:36] MaraChequer commented on #542
Sure, @kmarjanovic . I'll be able to work on this on Friday

[2022-03-10 16:54] #483 closed

[2022-03-10 16:58] kmarjanovic commented on #531
Realizing this is a duplicate issue!

[2022-03-10 16:58] #531 closed

[2022-03-10 17:03] kmarjanovic commented on #529
This seems to be resolved.

[2022-03-10 17:03] #529 closed

[2022-03-10 23:28] MeeksonHundoo commented on #543
@kmarjanovic this is done

[2022-03-10 23:28] #543 closed

[2022-03-11 00:32] #544 closed

[2022-03-11 17:49] kmarjanovic opened #545 "SOCI 320 google forms"
### Course
SOCI 320

### URL
https://github.com/TWUOnline/arts-master/tree/master/pages/27.soci320adc

### Instructions
Could you please help convert these 3 documents into 3 google forms?
-	Learning Contract Forms
-	Practicum_Evaluation_Student_2021
-	Practicum_Evaluation_Mentor_2021

[Practicum_Evaluation_Student.docx](https://github.com/TWUOnline/bug-tracking/files/8234236/Practicum_Evaluation_

[2022-03-11 18:00] kmarjanovic commented on #544
Thanks so much, Meekson!!  It looks great!
Just a note - 2 things I've changed:
- In the Activity Checklist, add --- in between the learning activities so there is a line to separate them.
- Also - in the assessment section, I use !!! and !! to draw attention to due dates & other notes (See [unit 1](https://learn.twu.ca/course/view.php?id=22417&section=1#tabs-tree-start))

Thanks again for your he

[2022-03-11 19:28] kmarjanovic commented on #522
Seems to be complete.  I'll check with Heather.

[2022-03-11 19:28] #522 closed

[2022-03-11 19:31] kmarjanovic commented on #545
@cmadland could we look into an onlinetwu google account so ATAs can work on this?

[2022-03-15 18:23] kmarjanovic opened #546 "PSYC 354 unit 3"
### Course
PSYC 354
### URL
[PSYC 354 (ADC MASTER)](https://learn.twu.ca/course/view.php?id=23420)
current section: [PSYC 354 OL (SP22)](https://learn.twu.ca/course/view.php?id=22417)

### Instructions
Please add to the master and spring course.
[PSYC 354_U3_March 15_KM-for production.docx](https://github.com/TWUOnline/bug-tracking/files/8256167/PSYC.354_U3_March.15_KM-for.production.docx)

[2022-03-16 02:27] kmarjanovic opened #547 "NURS 510 changes"
**Which course contains the bug?**
[NURS 510](https://learn.twu.ca/course/view.php?id=10939&section=10#tabs-tree-start]

**Describe the error and/or your suggestion**
Keeping a record of course changes.  Note Activity 10.1 was set to published: false.  I'm guessing this was a previous request from faculty?
We should keep track of activities we hide/show/add:

**March 15, 2022**
from email:
I’ve ad

[2022-03-16 02:27] #547 closed

[2022-03-16 17:44] kmarjanovic opened #548 "PSYC 411 Guide"
### Course
[PSYC 411 (Master)](https://learn.twu.ca/course/view.php?id=22610)

### Instructions
Please add the attached info to the [guide tab](https://learn.twu.ca/course/view.php?id=22610&section=16)

See PSYC 207 [guide](https://learn.twu.ca/course/view.php?id=18684&section=13#tabs-tree-start) as an example.  First paragraph should be in the text - but all other sections in accordion style.
[PS

[2022-03-16 17:47] kmarjanovic opened #549 "PSYC 322 Guide"
### Course
[PSYC 322 (Master)](https://learn.twu.ca/course/view.php?id=20680)

### Instructions
Please add guide (letter) to [guide tab](https://learn.twu.ca/course/view.php?id=20680&section=10)

Since it's a short letter it can be all in the text (no accordion)
[LETTER TO ANOTHER INSTRUCTOR OF PSYCHOLOGY 322 OL.docx](https://github.com/TWUOnline/bug-tracking/files/8266969/LETTER.TO.ANOTHER.INSTRU

[2022-03-16 21:02] cmadland commented on #546
Activity 3.7 issue

![image](https://user-images.githubusercontent.com/12282929/158690200-37d7e5ba-65c6-4d1a-a0f7-4c654fccae5b.png)

---

![image](https://user-images.githubusercontent.com/12282929/158690272-a393925d-0a8d-44d5-a40c-58e3ef1914c2.png)

[2022-03-16 21:47] cmadland commented on #546
looks like it's sorted now @meekson

<img width="859" alt="image" src="https://user-images.githubusercontent.com/12282929/158696571-77577e75-00ba-47fe-aaf8-8cf3781efb91.png">

[2022-03-16 22:01] MeeksonHundoo commented on #546
Indeed Colin. Thanks for all your help.

Regards.
Meekson.
________________________________
From: Colin Madland ***@***.***>
Sent: Wednesday, March 16, 2022 2:47 PM
To: TWUOnline/bug-tracking ***@***.***>
Cc: Meekson Hundoo ***@***.***>; State change ***@***.***>
Subject: Re: [TWUOnline/bug-tracking] PSYC 354 unit 3 (Issue #546)

looks like it's sorted now @Meekson<https://github.com/Meekson>

[im

[2022-03-16 22:02] MeeksonHundoo commented on #546
@kmarjanovic this is done now

[2022-03-17 18:56] kmarjanovic commented on #546
@MeeksonHundoo thank you!!!
I think for the case studies we'll have a green background (!!!!)
![2022-03-17 (3)](https://user-images.githubusercontent.com/35148983/158875729-80230e58-60f5-441e-b520-4547536b3b03.png)

[2022-03-17 18:56] #546 closed

[2022-03-17 19:39] emmanuelD-AFK opened #550 "powerpoint refered not available"
**Which course contains the bug?**
-  Ldrs 300 IF Sp 2022

**Describe the error and/or your suggestion**
A PPT referred on the unit 1 course description as 1.2 is not present on Topic 2.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php?id=22704&section=2#tabs-tree-start
2. Un

[2022-03-18 01:19] MeeksonHundoo commented on #549
@kmarjanovic the letter has been uploaded to the instructor guide tab.

[2022-03-18 02:29] kmarjanovic commented on #549
Hi @MeeksonHundoo
Thanks for adding that!  Instead of an attached doc, though, could you please add it through Git?  See the PSYC 207 as an example.
https://github.com/TWUOnline/arts-master/tree/master/pages/23.psyc207adc/99.facilitator's%20guide
Thanks!

[2022-03-18 15:45] kmarjanovic commented on #549
Actually I've just added an accordion.  Could you add the letter to the Unit Notes section?  Thank you!
https://learn.twu.ca/course/view.php?id=20680&section=10

[2022-03-21 16:43] Mike2625 opened #551 "Psych 340"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:
2. Unit #         Topic #         Activity#

**Optional:

[2022-03-21 19:11] #551 closed

[2022-03-21 20:57] MeeksonHundoo commented on #549
done

[2022-03-21 20:57] #549 closed

[2022-03-21 22:16] MaraChequer commented on #542
![Critical-Theory](https://user-images.githubusercontent.com/84353161/159372354-e8a66b75-64fc-4d77-9288-1b6dc4ce4ee0.jpg)

Hi @kmarjanovic, Please review :)

[2022-03-22 00:26] kmarjanovic commented on #542
@MaraChequer this looks great!!  I'll check with the SMEs

[2022-03-22 01:16] MaraChequer opened #552 "Phil 101 to Pages Format - Please"
**Which course contains the bug?**
- Phil 101 (FAR Master)
https://learn.twu.ca/course/view.php?id=23433&section=1

**Describe the error and/or your suggestion**
Hi there! I would like to request help with the folders in Atom for the Course Phil 101 located in the ARTS repository. There is no issue but the need to set up the folders for the PAGES FORMAT.

![image](https://user-images.githubusercon

[2022-03-22 21:06] kmarjanovic opened #553 "PSYC 354 Unit 4"
### Course
[PSYC 354 (ADC MASTER)](https://learn.twu.ca/course/view.php?id=23420)

### Instructions
Please add unit 4 and hide from students.
Thanks!
[PSYC 354_U4_March22_KM-for production.docx](https://github.com/TWUOnline/bug-tracking/files/8327888/PSYC.354_U4_March22_KM-for.production.docx)

[2022-03-24 01:15] MeeksonHundoo commented on #553
@kmarjanovic  I have uploaded U4 in Moodle. Could you please advise on the below:
These links were not on the Unit 4 word doc. YouTube links for Video 11.3: Robert Sapolsky: The Psychology of Stress https://www.youtube.com/watch?v=bEcdGK4DQSg(Topic 3) & https://www.youtube.com/watch?v=xbagFzcyNiM for Watch the video: I am not a Monster: Schizophrenia – Cecilia McGough TedxPSU (topic 4). Are these

[2022-03-24 19:27] kmarjanovic opened #554 "Portfolio images"
**Which course contains the bug?**
https://create.twu.ca/get-started/
(Portfolio help guide).

**Describe the error and/or your suggestion**
Some of the screenshots are missing.  Could we track them down and add those?

@cmadland there are also 194 comments pending...do you allow comments on this site?

[2022-03-25 01:14] SimoneVanDerMerwe opened #555 "PHIL 210: Requesting a few changes"
PHIL 210 GX (SP22)

1) Unit 5>Assessment Tab>"Ethics Video Assignment: Choose Your Topic (15%)":
a) Line 3: please remove (Units 5-9 topics).
b) The Last line, after "provide the URL", please add the following: You will write 3 posts (150 words minimum for each) responding to three videos presented by your classmates, stating your agreement or disagreement with the arguments in the video, and expl

[2022-03-25 02:14] kmarjanovic opened #556 "PSYC 354 U4 edits"
**Which course contains the bug?**

[PSYC 354(https://learn.twu.ca/course/view.php?id=23420&section=4)

**Describe the error and/or your suggestion**
1.  For Topics 1-4, it seems they are missing the words in bold.  @MeeksonHundoo could you check the original word doc and look for formatting that wasn't transferred over?  Pandoc should have caught those, so let's check what happened.

2. Please ad

[2022-03-26 01:44] kmarjanovic opened #557 "PSYC 354 Unit 5 Quiz"
### Course
[PSYC 354 (ADC MASTER)](https://learn.twu.ca/course/view.php?id=23420)
[Unit Quizzes](https://learn.twu.ca/course/view.php?id=23420&section=9)

### Instructions
Please see the highlighted quiz questions from the 2 chapters and combine for the Unit 5 quiz (last quiz for this course! :))
[Unit 5 Ch 13 graded quiz .docx](https://github.com/TWUOnline/bug-tracking/files/8354484/Unit.5.Ch.13.

[2022-03-26 01:45] kmarjanovic commented on #553
All should be good now.  Thanks Meekson!

[2022-03-26 01:45] #553 closed

[2022-03-26 01:46] kmarjanovic commented on #556
All good now.  Thanks Meekson!

btw we should figure out why the formatting didn't work, as I noticed a bunch of hyperlinks as well that I had to add in.

[2022-03-26 01:46] #556 closed

[2022-03-26 01:49] kmarjanovic commented on #552
Just wondering if we're switching to pages format for FAR courses?  I'd suggest we keep with the sections format so not to confuse students.  I assume pages is just for MA Lead faculty who request it?  I think we need more clarification here.

[2022-03-26 01:53] MeeksonHundoo commented on #555
@kmarjanovic I have made the changes to these. However, I couldn't remove the plugin:content-inject from unit 10. I tried looking it out but couldn't search it. Also if you could help with the editing of the pdf version of the assignement.

[2022-03-28 18:22] MaraChequer commented on #552
Hi @kmarjanovic :) For this course in particular, Andrew Brigham has devised a few bundles of optional logic exercises, three different "logic tests" to use for different cohorts of students. I believe pages would be appropriate for this particular course so faculty can hide or show the Learning Activities they prefer to use. Let's discuss more 👍

[2022-03-28 23:12] MeeksonHundoo commented on #557
@kmarjanovic I've added the quiz.

[2022-03-29 17:02] kmarjanovic commented on #557
Thank you @MeeksonHundoo !

[2022-03-29 17:03] kmarjanovic commented on #557
@MeeksonHundoo could you please add it to the spring shell as well? (and hide from students)
https://learn.twu.ca/course/view.php?id=22417&section=9#tabs-tree-start

[2022-03-29 19:41] kmarjanovic commented on #545
@cmadland @MeeksonHundoo - any progress on this issue?  Should TWU Online have a google account?  Or we get Meekson more space so he can work on these projects?

[2022-03-29 21:15] MeeksonHundoo commented on #555
@SimoneVanDerMerwe All the changes have been incorporated.

[2022-03-29 21:15] #555 closed

[2022-03-29 21:24] SimoneVanDerMerwe commented on #555
@MeeksonHundoo Thank you so much!!! Unit 9 is perfect! In Unit 5>Assessment Tab>"Ethics Video Assignment: Choose Your Topic (15%)": where it says (150 words minimum for each), can you please delete "minimum for", so it will look the same as in Unit 9 (150 words each)?
URL: https://learn.twu.ca/course/view.php?id=22618&section=5#tabs-tree-start
Thank you very much!

[2022-03-29 21:30] MeeksonHundoo commented on #555
Your welcome @SimoneVanDerMerwe This has been done.

[2022-03-29 21:30] SimoneVanDerMerwe commented on #555
@MeeksonHundoo Thank you!

[2022-03-29 21:37] SimoneVanDerMerwe commented on #555
@MeeksonHundoo I am so sorry, but could you please delete the following: "You are also asked to respond to at least 3 of your peers videos". I forgot to mention it, my apologies!

It is after the bolded addition in both places:

1. In Unit 5>Assessment Tab>"Ethics Video Assignment: Choose Your Topic (15%)": Last line.
URL: https://learn.twu.ca/course/view.php?id=22618&section=5#tabs-tree-start
2.

[2022-03-29 21:42] MeeksonHundoo commented on #557
@kmarjanovic this has been added and hidden as well.

[2022-03-29 21:42] #557 closed

[2022-03-29 21:50] MeeksonHundoo commented on #555
No worries @SimoneVanDerMerwe I have deleted that statement from both the assessments tab under their respective units.

[2022-03-29 21:51] SimoneVanDerMerwe commented on #555
@MeeksonHundoo Thank you, thank you! 😊😊

[2022-04-01 03:17] kmarjanovic opened #558 "PSYC 354 Unit 5"
### Course
https://learn.twu.ca/course/view.php?id=22417&section=5#tabs-tree-start

### Instructions
Please add unit 5.

!! Note students start this unit on Monday!  Please upload asap.
Thank you!
[PSYC 354_U5_March 31_KM-for Production.docx](https://github.com/TWUOnline/bug-tracking/files/8394421/PSYC.354_U5_March.31_KM-for.Production.docx)

[2022-04-01 22:39] JessD9 opened #559 "PSYC 305"
### PSYC 305

### [Moodle Shell](https://learn.twu.ca/course/view.php?id=23550&section=1#tabs-tree-start)

### Instructions

- @MeeksonHundoo Please upload Unit 1 to  GiHub/Atom (may need to create PSYC 305 folder in github)

[PSYC305_U1_April01_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8401198/PSYC305_U1_April01_JD.docx)

Let me know if you have any questions!

[2022-04-05 01:01] MeeksonHundoo commented on #559
Hello @JessD9. U1 has been uploaded.

[2022-04-05 01:08] JessD9 commented on #559
Great, thanks!

[2022-04-06 16:05] kmarjanovic opened #560 "PSYC 354 Unit 6"
### Course
[PSYC 354 (ADC MASTER)](https://learn.twu.ca/course/view.php?id=23420)

### Instructions
Please add Unit 6
[PSYC 354_U6_April6_KM.docx](https://github.com/TWUOnline/bug-tracking/files/8428636/PSYC.354_U6_April6_KM.docx)

[2022-04-06 23:48] MeeksonHundoo commented on #560
Hello @kmarjanovic U6 has been uploaded. It seems that Jayme forget to mention the heading of Topic 1. Requesting you to please check this with her. Also, since we don't have a topic 2 & 3 for U6, should we just remove tabs ?

[2022-04-07 04:48] kmarjanovic commented on #560
Thanks so much @MeeksonHundoo !
Topic 1 is listed in the overview section as Spiritual Practices Help Maintain Brain Health.
Also, please delete Topic 2 and 3.
Thanks!

[2022-04-07 19:39] MeeksonHundoo commented on #560
@kmarjanovic These changes have been made.

[2022-04-07 19:39] #560 closed

[2022-04-08 20:53] kmarjanovic opened #561 "Bookdown Course Design repo"
### Instructions
@cmadland could we create a repo for a course template using bookdown?  Perhaps copy [LDRS 664](https://ma-lead.github.io/ldrs664/) and I'll change the content to be a unit template for a bookdown course.

We can use this for SMEs (& for conferences)

[2022-04-08 21:12] cmadland commented on #561
Ya, we can!

We can duplicate the 664 repo in atom. We would have to change a bunch of things in the output.yml and bookdown.yml files and set it up as a template in GitHub, just like the bookdown template repo.

[2022-04-08 21:15] cmadland commented on #561
I'd be happy to preview your workshop...

[2022-04-08 21:34] emmanuelD-AFK opened #562 "unresponsive Links"
**Which course contains the bug?**
- LDRS 300 IF SP2022)

**Describe the error and/
Several links meant to support an assignment are unresponsive

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php?id=22704&section=3#tabs-tree-start
2. Unit # 2         Topic # Assessments

[2022-04-10 03:45] JessD9 commented on #562
Hi @emmanuelD-AFK. The links under Assignment 2.2. have been updated.

[2022-04-10 03:45] #562 closed

[2022-04-11 17:40] emmanuelD-AFK commented on #562
Hi Jessica

Hope you are doing well!
The issue seems to not be fixed on my end. Can you please, give another look at it?

Blessing!

Emmanuel Denguessi, MA

Academic Facilitation Specialist - Far Center Overhead | TWU Global

Trinity Western University | e. ***@***.***

twu.ca<http://www.twu.ca/>/ 778-552-4861

________________________________
From: JessD9 ***@***.***>
Sent: April 9, 2022 8:45 PM

[2022-04-11 18:46] JessD9 commented on #562
Hi @emmanuelD-AFK . For "Assignment 2.2", all the links are opening for me... (using Chrome browser)
![2 2](https://user-images.githubusercontent.com/62358789/162808151-3e066a06-229c-41ac-8fc6-b95bc6023f2d.png)

[2022-04-11 20:48] kmarjanovic commented on #545
@MeeksonHundoo could I suggest you get another gmail account so you can work on these issues?  Could we have these forms done by next week?

[2022-04-11 20:48] #558 closed

[2022-04-11 20:49] #542 closed

[2022-04-11 21:16] JessD9 commented on #562
resolved

[2022-04-12 00:48] MeeksonHundoo commented on #545
Hello @kmarjanovic Here are the links to the google docs:
https://docs.google.com/document/d/1jw3d882RWQxZ4idnKdslwDGA8tHD_Q-1/edit
https://docs.google.com/document/d/1rfD5Qg7NToDYH7pCjNEUAvscwxX2s-30/edit?rtpof=true
https://docs.google.com/document/d/1Hs6yXFQmpOLKXU9zJgE7yTm1k8zt9ZLM/edit#heading=h.gjdgxs

[2022-04-12 02:10] kmarjanovic commented on #545
Hi @MeeksonHundoo.  Could you please convert them to Google forms?
Also, just for future google docs, you'll need to change permissions as it says I don't have access.
Thank you!

[2022-04-13 19:35] kmarjanovic opened #563 "FNDN 102 - Facilitator's Guide"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 [FNDN 102 (Master)](https://learn.twu.ca/course/view.php?id=20673)
[Facilitator's Guide](https://learn.twu.ca/course/view.php?id=20673&section=19)

**Describe the error and/or your suggestion**
@MeeksonHundoo could you add facilitator's guide as an accordion?  (see [PSYC 340](https://learn.twu.ca/course/

[2022-04-14 00:46] MeeksonHundoo commented on #545
Hello @kmarjanovic I've converted all of these to google forms. I've also updated the permission to edit these links.
I had to break down the Practicum Evaluation student & supervisor docs into multiple forms as we just have access to setup 10 questions per form. Anything more than 10 needs a payment. Apologies for that. Could you please take a look and advice.

**Learning Contract Forms.docx**
ht

[2022-04-14 10:23] JessD9 commented on #559
Hi @MeeksonHundoo. Here is Unit 2:
[PSYC305_U2_April14_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8488384/PSYC305_U2_April14_JD.docx)

[2022-04-14 16:59] SimoneVanDerMerwe opened #564 "Requesting Changes PHIL 210 GX Summer 22"
PHIL 210 GX Summer 22

We need to make small changes in the Partner Project Presentation assignment for the Summer Cohort.

**Unit 3 > Assessment tab:**
1. 1st paragraph: "For this partner project, **you** will choose ...", please change "you" to your group
2. 2nd paragraph:  Where it says: "You must choose a **partner** and topic this week (see Units **5-10** topics)", please change "partner" to

[2022-04-15 07:49] MeeksonHundoo commented on #564
@SimoneVanDerMerwe this is done now. Have a nice weekend.

[2022-04-15 07:49] #564 closed

[2022-04-15 22:43] SimoneVanDerMerwe commented on #564
@MeeksonHundoo Thank you so much! Have a wonderful Easter weekend!!

[2022-04-16 00:59] MeeksonHundoo commented on #559
Hello @JessD9 U2 has been updated. Should we delete topic 3 as we don't have this for U2? Have a great weekend.

[2022-04-21 07:14] JessD9 commented on #559
Hi @MeeksonHundoo. Yes, please delete topic 3. Thanks!

[2022-04-21 20:46] MeeksonHundoo commented on #559
Hello @JessD9 Topic 3 has been deleted.

[2022-04-26 00:34] MeeksonHundoo commented on #563
Hello @kmarjanovic FDN 102 doesn't have a GRAV site. Should we create one or do we add the content of the letter to the tab in moodle?

[2022-04-26 18:03] kmarjanovic commented on #563
Sorry - I forgot it doesn't have a grav site.  For now, let's delay this request until we've confirmed we'll need a Git version of this course.
Thanks!

[2022-04-26 18:03] #563 closed

[2022-05-03 23:10] dhanenburg opened #565 "SOCI 420 OL SU2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:
2. Unit #         Topic #         Activity#

**Optional:

[2022-05-03 23:11] dhanenburg commented on #565
Please change "Practicum 2" to "Practicum 3" on the Title under the "General Tab". Thank you.

[2022-05-03 23:12] dhanenburg commented on #565
and in the same place change SOCI 411 to SOCI 420.

[2022-05-05 23:06] MeeksonHundoo commented on #565
@dhanenburg These changes have been made.

[2022-05-05 23:06] #565 closed

[2022-05-07 04:58] JessD9 commented on #559
Hi @MeeksonHundoo. Please upload Unit 3. Thank You
[PSYC305_U3_MAY06_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8644486/PSYC305_U3_MAY06_JD.docx)

[2022-05-10 06:02] MeeksonHundoo commented on #559
Hello @JessD9 Unit 3 has been uploaded now. Could you please check if the link for (DSM Announcement) under Topic 1, Learning activity 1.1 is right? The link on the word doc was not opening. I had to manually enter it.

[2022-05-10 07:10] JessD9 commented on #559
Hi @MeeksonHundoo. Thanks for doing this on short notice. Yes, the link you fixed is correct now.

[2022-05-10 17:06] dhanenburg opened #566 "Production"
UNIV 301 OL SU2022

https://learn.twu.ca/course/view.php?id=23325&section=9#tabs-tree-start

Can you please delete the "Class Notes Packet" (from the page link listed above) and replace it with the following:

**Intro to Self MOD#1 - Discover Your Core** - https://mytwu-my.sharepoint.com/:b:/g/personal/debra_hanenburg_twu_ca/EeZDQ5tQcilBhUuUapR6anIBs9KmWP-GjWRFQXKnuJaTsQ?e=lWZNmK
**Intro to Self M

[2022-05-10 21:19] MeeksonHundoo commented on #566
Hello @dhanenburg  These files have been uploaded.

[2022-05-10 21:19] #566 closed

[2022-05-12 04:32] JessD9 commented on #559
Hi @MeeksonHundoo Here is Unit 4.
Let me know if you have any questions. Thanks!
[PSYC305_U4_MAY05_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8674997/PSYC305_U4_MAY05_JD.docx)

[2022-05-14 00:56] MeeksonHundoo commented on #559
Hello @JessD9 Unit 4 is up.

[2022-05-14 01:22] JessD9 commented on #559
Great, thank you @MeeksonHundoo!

[2022-05-14 23:29] JessD9 opened #567 "ENGL 101 - Facilitator's Guide"
### Course
[ENGL 101 (Master)](https://learn.twu.ca/course/view.php?id=15705&section=15#tabs-tree-start)

### Instructions
Please add the attached info to the [Fac. Guide tab](https://learn.twu.ca/course/view.php?id=15705&section=15#tabs-tree-start)

All 4 Modules should be added accordion style.

See WRTG 101 [guide](https://learn.twu.ca/course/view.php?id=10769&section=15#tabs-tree-start) as an

[2022-05-17 22:39] MeeksonHundoo commented on #567
Hello @JessD9 All the 4 modules have been added as an Accordion. I have left the Course Overview, Syllabus and Introduction tabs from the pervious course as it is. As soon as we have these details for our course i.e. ENGL 101, I'll update it in the accordion.

[2022-05-20 04:26] JessD9 commented on #559
Hi @MeeksonHundoo. Here is Unit 5.
(Note, there are no Learning Activities in Topic 2). Thank You

[PSYC305_U5_MAY20_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8735930/PSYC305_U5_MAY20_JD.docx)

[2022-05-21 02:35] MeeksonHundoo commented on #559
Hello @JessD9 Unit 5 has been uploaded

[2022-05-21 03:40] JessD9 commented on #559
Perfect! Thanks so much @MeeksonHundoo.
Have a wonderful long weekend.

[2022-05-26 04:36] dhanenburg opened #568 "SOCI 201: Introduction to Human Services (ADC Master)"
**Which course contains the bug?**  - SOCI 201: Introduction to Human Services (ADC Master)

**Describe the error and/or your suggestion**

**On the "Home" tab, please make the following changes:**

1. Please replace the first paragraph with the following: The goal of this course is to prepare students for thoughtful and compassionate engagement in a helping profession, through application of the

[2022-05-26 09:04] JessD9 commented on #559
Hi @MeeksonHundoo. Here is the last Unit:
[PSYC305_U6_MAY26_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8777758/PSYC305_U6_MAY26_JD.docx)

Note: Please embed the following PDF under Activity 6.5

[U6_Activity_6.5_Flourish_Wellness_Wheel.pdf](https://github.com/TWUOnline/bug-tracking/files/8777759/U6_Activity_6.5_Flourish_Wellness_Wheel.pdf)

[2022-05-27 18:02] Mike2625 opened #569 "Psych 331 OL Su 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 1: bottom of the page under "Resources"

Case of Stan” videos: at times we will watch these together in our synchronous class session or you can find them in the Class Recordings tab

 Change it to "can find them in the mindtap section from the publisher"

**Describe the error and/or your suggestion

[2022-05-27 18:49] Mike2625 opened #570 "Psyc 331 :Summer 2022 (Theories of Counseling)"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Copy and pasted:Learning Activity 1.2: Read and Reflect
 Read Chapter 1 of Theory and Practice of Counseling and Psychotherapy by Gerald Cory.

Change to say the following:
Read chapter 1 sections 1-4 entitled "Overview of the Theories"

**Describe the error and/or your suggestion**
A clear and concise d

[2022-05-27 18:55] Mike2625 opened #571 "Pych 331 Summer 2022 (Theories of Counseling)"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
Psych 331 Summer 2022

When you read the section of "Personal Characteristics of the Effective Counselor" on pages 19-20, answer these questions:
**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Learning Activity 1.3: Journal Entry (graded)

[2022-05-27 18:58] Mike2625 opened #572 "Psych 331 Summer 2022 (Theories of Counseling)"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Pych 331 (summer 2022); Learning activity 1.3

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Change the following:
 When you reach page 31 and following on Countertransference, answer these questions:

Please read section 2-6 (in Chapte

[2022-05-27 19:04] Mike2625 opened #573 "Psych 331: Summer 2022 (Theories of Counseling)"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Psych 331 Summer 2022: Assessment section end of moodle in unit 1

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Please change the following in the assessment section:

 When you read the section of "Personal Characteristics of the Effe

[2022-05-27 19:45] Mike2625 opened #574 "Psyc 331 Summer 2022 (Theories of Counseling)"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 2 Topic 3

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Adler discusses four phases of therapy (pages 108 to 114):

Please remove page numbers

**Location of the bug**
Please provide a specific link to the page with the error, as

[2022-05-27 19:50] Mike2625 opened #575 "Psych 331 Summer 2022 (Theories of Counseling)"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

Unit 2 Topic 3:

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Activity 2.4: The Case for Stan (graded)
Read Chapter 5 from the textbook.

Also, we will watch a video ("The Case for Stan”) that is a model of the Adlerian approach. This

[2022-05-27 19:55] Mike2625 opened #576 "Psych 331 Summer 2022 (Theories of Counseling)"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Assessment section in unit 2 (last page in the moodle)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Questions for Reflection
Please answer the Questions for Reflection on either Adlerian or Freudian approaches to therapy with regards

[2022-05-27 19:57] Mike2625 opened #577 "Psych 331 Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 2: overview section

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

 Learning Activity 2.4: The Case for Stan
  Read Chapter 5, watch the video on "The Case for Stan" and complete the Questions for Reflection

CHANGE TO:
Read chapte

[2022-05-27 21:17] MeeksonHundoo commented on #568
Hello @dhanenburg these edits have been made.

[2022-05-27 21:17] #568 closed

[2022-05-27 21:41] MeeksonHundoo commented on #569
Hello @Mike2625 this has been updated

[2022-05-27 21:41] #569 closed

[2022-05-27 22:11] dhanenburg opened #578 "SOCI 201 Intro to Human Services ADC OL"
**Which course contains the bug?**  - SOCI 201 Intro to Human Services ADC OL Master
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

On the Home tab, please **remove all text below the red line** that says "The syllabus includes key information about the course schedule, a

[2022-05-27 23:28] MeeksonHundoo commented on #570
Hello @Mike2625 This has been updated

[2022-05-27 23:28] #570 closed

[2022-05-27 23:29] MeeksonHundoo commented on #571
Hello @Mike2625 This has been updated

[2022-05-27 23:29] #571 closed

[2022-05-27 23:30] MeeksonHundoo commented on #572
Hello @Mike2625 This has been updated

[2022-05-27 23:30] #572 closed

[2022-05-27 23:31] MeeksonHundoo commented on #573
hello @Mike2625 this has been updated

[2022-05-27 23:31] #573 closed

[2022-05-27 23:32] MeeksonHundoo commented on #574
hello @Mike2625  this has been updated

[2022-05-27 23:32] #574 closed

[2022-05-27 23:33] MeeksonHundoo commented on #575
hello @Mike2625  this has been updated

[2022-05-27 23:33] #575 closed

[2022-05-27 23:33] MeeksonHundoo commented on #576
hello @Mike2625  this has been updated

[2022-05-27 23:33] #576 closed

[2022-05-27 23:35] MeeksonHundoo commented on #577
hello @Mike2625  this has been updated

[2022-05-27 23:35] #577 closed

[2022-05-27 23:41] MeeksonHundoo commented on #578
Hello @dhanenburg this has been updated

[2022-05-27 23:41] #578 closed

[2022-05-28 00:34] Mike2625 opened #579 "Psych 331 summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Activity 1.3

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

 When you read the section of "Personal Characteristics of the Effective Counselor" on pages 19-20, answer these questions:

 Take out the page numbers above. Thanks

**Locatio

[2022-05-29 20:17] Mike2625 opened #580 "Psych 331 Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 1 Section 1-3

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Remove page numbers pages

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:
2. Unit #

[2022-05-29 20:41] Mike2625 opened #581 "Psych 331 Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 2: activity 2.4

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Change title of "The Case for Stan" to

"The Case for Ruth"

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the err

[2022-05-29 21:25] Mike2625 opened #582 "Psych 331 Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 3 Section 3.2

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 DELETE: From the textbook, read page 139 on external vs. internal locus of control.

“

 REPLACE:
Read section 7-3C: Client's Experience in Therapy

“A central existentia

[2022-05-29 21:27] Mike2625 opened #583 "Psych 331 Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 3: section 3.3

Remove page numbers and instead note the following:
Emotionally Focused on section 7-1B
Maslows Hierarchy of Needs in section 7-1D

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

**Location of the bug**
Please provid

[2022-05-29 21:35] Mike2625 opened #584 "Psych 331: Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 3: section 3.4

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Questions for Reflection on one of the three theories in the section regarding Stan - "Existential", "Person-Centered" and "Gestalt" therapy. Pick the one that most reso

[2022-05-29 21:38] Mike2625 opened #585 "Psych 331: Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

 Unit 3 Assessment section (end of unit 3)
**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 We have explored "Existential"; "Person-Centered" and"Gestalt" Therapies" in this unit. Please answer Questions for Reflection on one of the three

[2022-05-30 00:09] MeeksonHundoo commented on #559
Hello @JessD9 Unit 6 has been updated

[2022-05-30 00:09] #559 closed

[2022-05-30 15:52] Mike2625 opened #586 "Psych 331 Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 1: Topic 1

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

 Activity 2.1: Watch and Reflect on the intake process
We will be watching a video in the synchronous class session. (If you are not able to make it please watch the recordi

[2022-05-30 15:56] Mike2625 opened #587 "Psych 331 Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Section 2.3 Unit 1

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 After reading Chapter 4, answer the following questions in your journal:

After reading Chapter 4 in the section entitled: Chapter 4 Reading, Psychoanalytic Therapy, plea

[2022-05-30 16:06] Mike2625 opened #588 "Psych 331: summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 1: section 2.4

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Read Chapter 5 from the textbook.

Also, we will watch a video ("The Case with Ruth") that is a model of the Alderian Approach. This will be shown in the synchronous cla

[2022-05-30 16:19] Mike2625 opened #589 "Psych 331 Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 4: topic 1

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
  The Therapists role and function:

Functional Assessment: The purpose is to identify the maintaining conditions by systematically gathering information about the following

[2022-05-30 16:24] Mike2625 opened #590 "PSYCH 331 SUMMER 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 4: Activity 4.1

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
  Activity 4.1: The Case of Stan (Behavioral Approach)
Read Chapter 9 of Theory and Practice of Counseling and Psychotherapy by Gerald Cory.

In our synchronous class se

[2022-05-30 16:29] Mike2625 opened #591 "PSYCH 331: SUMMER 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 4: section Activity 4.1

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Activity 4.1: The Case of Stan (Behavioral Approach)
Read Chapter 9 of Theory and Practice of Counseling and Psychotherapy by Gerald Cory.

In our synchronous c

[2022-05-30 16:39] Mike2625 opened #592 "Psych 331: Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 4

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Activity 4.5: Reality Therapy and The Case of Stan (graded)
Read Chapter 11 of Theory and Practice of Counseling and Psychotherapy by Gerald Cory.

In our synchronous class session,

[2022-05-30 16:42] Mike2625 opened #593 "Psych 331 Summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 4 : Assessment section

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 We have learned about "Behavior", "CBT" and "Reality" Therapies. Please pick one of the three theories that most interests you regarding the "Case for Stan" and

[2022-05-30 23:30] MeeksonHundoo commented on #581
Hello @Mike2625 this has been updated

[2022-05-30 23:30] #581 closed

[2022-05-30 23:39] MeeksonHundoo commented on #582
Hello @Mike2625 this has been updated

[2022-05-30 23:39] #582 closed

[2022-05-30 23:45] MeeksonHundoo commented on #583
Hello @Mike2625 this has been updated

[2022-05-30 23:45] #583 closed

[2022-05-30 23:49] MeeksonHundoo commented on #584
Hello @Mike2625  this has been updated

[2022-05-30 23:49] #584 closed

[2022-05-30 23:52] MeeksonHundoo commented on #585
Hello @Mike2625 this has been updated

[2022-05-30 23:52] #585 closed

[2022-05-30 23:59] MeeksonHundoo commented on #586
Hello @Mike2625 this has been updated

[2022-05-30 23:59] #586 closed

[2022-05-31 00:03] MeeksonHundoo commented on #587
Hello @Mike2625 this has been updated

[2022-05-31 00:03] #587 closed

[2022-05-31 00:04] cmadland commented on #586
@MeeksonHundoo please make sure you include a link to the issue in your commit message, as in my comment above.

[2022-05-31 00:08] MeeksonHundoo commented on #588
Hello @Mike2625 this has been updated

[2022-05-31 00:08] #588 closed

[2022-05-31 00:12] MeeksonHundoo commented on #589
Hello @Mike2625 this has been updated

[2022-05-31 00:12] #589 closed

[2022-05-31 00:16] MeeksonHundoo commented on #590
Hello @Mike2625 this has been updated

[2022-05-31 00:16] #590 closed

[2022-05-31 00:19] MeeksonHundoo commented on #591
Hello @Mike2625 this has been updated

[2022-05-31 00:19] #591 closed

[2022-05-31 00:22] MeeksonHundoo commented on #592
Hello @Mike2625 could you please clarify which specific paragraph do you want us to edit?

[2022-05-31 00:26] MeeksonHundoo commented on #593
hello @Mike2625 this has been updated

[2022-05-31 00:26] #593 closed

[2022-05-31 00:31] MeeksonHundoo commented on #580
Hello @Mike2625 this has been updated

[2022-05-31 00:31] #580 closed

[2022-06-01 12:54] #567 closed

[2022-06-01 17:02] kmarjanovic opened #594 "FNDN 102 in Git"
### Course
FNDN 102
### URL
https://learn.twu.ca/course/view.php?id=20673
### Instructions
@MeeksonHundoo could you add all of the course content from FNDN 102 (all in Moodle) to a Git/Grav site?

@cmadland - I suppose we need a new repo for this.  FNDN 201 has [2 repos](https://github.com/TWUOnline?q=fndn&type=all&language=&sort=) - or does it make sense to have one that covers all FNDN courses,

[2022-06-02 20:45] dhanenburg opened #595 "Remove Sections"
**Which course contains the bug?**  - SOCI 201 OL Introduction to Human Services
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

**Describe the error and/or your suggestion**  - Please remove the "Course Evaluation" Section completely on the "Home" Tab.
A clear and concise description of what the error or suggestion is.

**Location of the bug**
Please provide a specific link to the pag

[2022-06-03 20:08] MeeksonHundoo commented on #595
Hello @dhanenburg This has been updated.

[2022-06-03 20:08] #595 closed

[2022-06-06 23:08] JessD9 opened #596 "PSYC 408"
### PSYC 408 (ADC)

### [Moodle Shell](https://learn.twu.ca/course/view.php?id=23627&section=1#tabs-tree-start)

### Instructions
- @MeeksonHundoo Please upload Unit 1 to GiHub/Atom (may need to create PSYC 408 folder in github)

- Note: There is an infographic on Page 5 that I would like embedded. However, if this isn't possible, you can simply add the file as an attachment (i.e. "Click here to v

[2022-06-08 10:11] MeeksonHundoo commented on #596
Hello @JessD9 Unit 1 has been updated.

[2022-06-15 19:52] kmarjanovic commented on #594
@MeeksonHundoo could you please add the git links to the new Moodle course: https://learn.twu.ca/course/view.php?id=25352

[2022-06-15 20:12] MeeksonHundoo commented on #594
Hello @kmarjanovic. Apologies for this delay. I've already started working on this and have uploaded 2 Units. I'll work on the remaining ones and have them uploaded soon.

[2022-06-16 18:47] kmarjanovic opened #597 "Assessment changes to the LDRS 502 master course"
**Which course contains the bug?**

[LDRS 502 FAR Master](https://learn.twu.ca/course/view.php?id=17713)

**Describe the error and/or your suggestion**
In the Course Description page, please remove the assessment chart and add the following in the Course Evaluation section:

Formative and summative assessments will vary and can range from personal introduction videos, writing papers, journal refle

[2022-06-17 05:46] JessD9 commented on #596
Thank You @MeeksonHundoo. Please upload Units 2 & 3.
Let me know if you have any questions.

[PSYC408_U2_June16_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8924820/PSYC408_U2_June16_JD.docx)
[PSYC408_U3_June16_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8924823/PSYC408_U3_June16_JD.docx)

[2022-06-22 16:38] kmarjanovic commented on #526
I think we can close this issue - unless @cmadland wants to use this bookdown version (https://twuonline.github.io/663-book/index.html)

It seem this is the bookdown course for 663? https://ma-lead.github.io/ldrs663/

[2022-06-22 16:38] #526 closed

[2022-06-22 22:50] Mike2625 opened #598 "Psych 331 Summer 2022:"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 **{Psych 331 Summer 2022 Unit 4 Section 4.5**

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
  Under the section that gives them info on the "Case of Stan" with specific page numbers please add the following info

"For those of you who h

[2022-06-22 23:15] Mike2625 opened #599 "Psych 331 summer 2022"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

 Unit 5: Topic 1
**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Under the pages noted as 374-376 please add the following:
"You can find info on Solution Focused therapy in section 13-3 on the mindtap if you don't have the textbook"

In

[2022-06-23 01:12] JessD9 commented on #596
Hi @MeeksonHundoo. Here is Unit 4.

[PSYC408_U4_June22_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8962798/PSYC408_U4_June22_JD.docx)

[2022-06-24 07:59] MeeksonHundoo commented on #594
Hello, @kmarjanovic I have uploaded all the 13 units to Bookdown. There were some H5Ps and word docs that I tried uploading, but I Couldn't.

[2022-06-24 15:30] kmarjanovic commented on #594
Thank you so much @MeeksonHundoo !!

[2022-06-24 15:30] #594 closed

[2022-06-25 22:05] MeeksonHundoo commented on #598
Hello @Mike2625 this has been updated

[2022-06-25 22:05] #598 closed

[2022-06-25 22:15] MeeksonHundoo commented on #599
Hello @Mike2625 This has been updated

[2022-06-25 22:15] #599 closed

[2022-06-27 20:55] JessD9 commented on #596
Hi @MeeksonHundoo. Here are the last two units.
Thanks again!

[PSYC408_U5_June27_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8995519/PSYC408_U5_June27_JD.docx)

[PSYC408_U6_June27_JD.docx](https://github.com/TWUOnline/bug-tracking/files/8995516/PSYC408_U6_June27_JD.docx)

[2022-06-29 20:53] Mike2625 opened #600 "Psych 331 Summer"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 Unit 5 :section 5.2

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Underneath the section that has the page numbers in the text please add the following:
"For those you who have the mindtap, you will find this in the reading section of

[2022-06-29 21:10] Mike2625 opened #601 "Psych 331: summer"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Unit 5: Topic 4

Next to each page number in the brackets ( ), please add the following:

Bowen: "in the mindtap, look to section 14-2"
Structural: "In the mindtap look to section 14-2A"
Gen

[2022-06-30 02:43] MeeksonHundoo commented on #600
Hello @Mike2625 this has been updated

[2022-06-30 02:43] #600 closed

[2022-06-30 03:02] MeeksonHundoo commented on #601
Hello @Mike2625 This has been updated

[2022-06-30 03:02] #601 closed

[2022-06-30 17:38] kmarjanovic opened #602 "PSYC 354 guide"
### Course
[PSYC 354 (ADC MASTER)](https://learn.twu.ca/course/view.php?id=23420)
### URL
https://learn.twu.ca/course/view.php?id=23420&section=16
### Instructions
Please add the attached to the guide section
[PSYC 354 Instructor Guide_June 2022.docx](https://github.com/TWUOnline/bug-tracking/files/9022101/PSYC.354.Instructor.Guide_June.2022.docx)
.

See [Instructor's Guide](https://learn.twu.ca/c

[2022-07-03 00:34] MeeksonHundoo commented on #596
Hello @JessD9 All units have been updated

[2022-07-03 01:22] MeeksonHundoo commented on #602
Hello @kmarjanovic Was in the middle of working on it, when my ATOM crashed again. Will fix this issue and start working on the remaining part of the instructors guide.

[2022-07-03 19:59] JessD9 commented on #596
Much appreciated. Thank you @MeeksonHundoo

[2022-07-03 19:59] #596 closed

[2022-07-08 21:17] kmarjanovic opened #603 "FNDN 102 from Bookdown to Moodle"
### Course
[FNDN 102 (FAR MASTER)](https://learn.twu.ca/course/view.php?id=25352)

### URL
https://animated-sniffle-c26f9054.pages.github.io/
https://learn.twu.ca/course/view.php?id=25352

### Instructions
Could you please help move the bookdown content into the FAR Master shell?  I think it will be easier to make edits in Moodle (for the SME) and then transfer back into bookdown.

[2022-07-10 21:24] MeeksonHundoo commented on #602
Hello @kmarjanovic this has been added now.

[2022-07-11 16:34] kmarjanovic commented on #602
Thanks so much @MeeksonHundoo !!

[2022-07-11 16:34] #602 closed

[2022-07-12 06:01] JessD9 opened #604 "ENGL 102"
### ENGL 102

### [Moodle Shell](https://learn.twu.ca/course/view.php?id=25433)

### Instructions:

- @MeeksonHundoo Please upload Units 1& 2 to GiHub/Atom (may need to create ENGL 102 folder in github)

Thank You!

[ENGL102_U1_JULY11_JD.docx](https://github.com/TWUOnline/bug-tracking/files/9089926/ENGL102_U1_JULY11_JD.docx)

[ENGL102_U2_JULY11_JD.docx](https://github.com/TWUOnline/bug-tracking/fi

[2022-07-14 09:35] JessD9 commented on #604
Hi @MeeksonHundoo. Here is Unit 3. Please let me know if you have any questions.

[ENGL102_U3_JULY14_JD.docx](https://github.com/TWUOnline/bug-tracking/files/9110629/ENGL102_U3_JULY14_JD.docx)

[2022-07-19 07:18] MeeksonHundoo commented on #604
Hello @JessD9 should Plot structure be considered as new Topic ? with Points of View - Pro/Con chart as its respective learning activity?

[2022-07-19 07:58] JessD9 commented on #604
Hi @MeeksonHundoo. Nope, Plot Structure, Points of View, Characterization and Setting all fall under Topic 1 "Elements of Fiction".
If you could underline or bold "plot structure, points of view", etc. that would be helpful. Let me know if that clears things up.

[2022-07-19 22:08] JessD9 commented on #604
Hi @MeeksonHundoo. Here are units 4 & 5.
*Please note, each unit only has 3 topics. The topics have subheadings that you can bold or underline for clarity.

Thanks for all your hard work this.

[ENGL102_U4_JULY19_JD.docx](https://github.com/TWUOnline/bug-tracking/files/9145001/ENGL102_U4_JULY19_JD.docx)

[ENG102_U5_JULY19_JD.docx](https://github.com/TWUOnline/bug-tracking/files/9145002/ENG102_U5_J

[2022-07-20 02:46] kmarjanovic opened #605 "SKLS 500 intro & U1"
### Course
SKLS 500
### URL
new bookdown course
### Instructions
Please add the Course Overview info and Unit 1 to a new bookdown format.
[SKLS 500_Intro_U1_July19_KM-for production.docx](https://github.com/TWUOnline/bug-tracking/files/9146083/SKLS.500_Intro_U1_July19_KM-for.production.docx)

[2022-07-21 17:40] kmarjanovic commented on #605
@MeeksonHundoo is there an update to this unit?  Will it be ready for Monday? I'd like to show the SMEs.
Thanks!

[2022-07-22 04:09] kmarjanovic commented on #603
I've asked @dgaudet48 to help with this course in Bookdown - as we're getting new content from the SME.

I think we'll get all the edits in Bookdown - then maybe convert to Moodle html if needed.  I'll close this for now.

[2022-07-22 04:09] #603 closed

[2022-07-22 20:22] MeeksonHundoo commented on #603
Cool @kmarjanovic thanks for informing me about it.

[2022-07-22 20:23] MeeksonHundoo commented on #605
Hello @kmarjanovic I've added the overview and Unit 1 to Bookdown.

[2022-07-25 20:46] kmarjanovic commented on #605
@MeeksonHundoo could you please provide the bookdown link?

[2022-07-26 03:04] MeeksonHundoo commented on #604
Hello @JessD9 These units are uploaded. however, the Unit 5 word doc is missing summary and Learning Outcomes.

[2022-07-26 06:50] JessD9 commented on #604
Good catch, thanks. Will add those.

@MeeksonHundoo here is the last unit.

- Please embed "Literature_Comparison_Infographic" under Topic 2 (pg. 8). Let me know if you have questions.

[ENGL102_U6_JULY25_JD.docx](https://github.com/TWUOnline/bug-tracking/files/9187211/ENGL102_U6_JULY25_JD.docx)

![Literature_Comparison_Infographic_JDavid](https://user-images.githubusercontent.com/62358789/1809418

[2022-07-27 19:28] #466 closed

[2022-07-29 22:47] MeeksonHundoo commented on #604
Hello @JessD9 U6 has been uploaded as well

[2022-07-29 22:54] JessD9 commented on #604
great, thanks @MeeksonHundoo!
Hope you have a restful long weekend.

[2022-07-30 01:10] JessD9 commented on #604
*Note, this course still requires a Fac. guide, so please leave issue open for now. Thanks

[2022-08-12 18:42] kmarjanovic opened #606 "Restore blank Moodle"
**Which course contains the bug?**

[PSYC 490 OL (FA22)](https://learn.twu.ca/course/view.php?id=25128)

**Describe the error and/or your suggestion**

Please delete the first 4 tabs from the fall section (intro, Module 1,2,3).  Maybe this requires restoring the course?  Please don't delete enrolled students!

[2022-08-13 07:11] MeeksonHundoo commented on #606
Hello @kmarjanovic I was able to delete Module 1,2 & 3. However, introduction is just not getting deleted. I tried various ways of doing it, but it just wont delete. Could you please take a look at it.

[2022-08-15 16:29] kmarjanovic commented on #606
Hi Meekson,
This is great!  Thank you so much!

[2022-08-15 16:29] #606 closed

[2022-08-18 20:03] DocV77 opened #607 "LDRS 667 OL - Practicum (FA 2022)"
**Which course contains the bug?**
- LDRS 667 OL - Practicum (FA 2022)

**Describe the error and/or your suggestion**
I inherited the course from another instructor and there are some text changes and link changes that need to be made

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. Course introduction tab-Assessment

[2022-08-22 18:30] kmarjanovic opened #608 "FNDN 102 Moodle request"
### Course
FNDN 102
### URL
multiple! ;)

### Instructions
Hi Meekson,
Could you please import [FNDN 102 Master](https://learn.twu.ca/course/view.php?id=20673) into the [FNDN 102 FAR Master](https://learn.twu.ca/course/view.php?id=25352&section=0#tabs-tree-start)?

I accidentally imported the wrong [FNDN 102 old master](https://learn.twu.ca/course/view.php?id=3640) so please help delete that conte

[2022-08-23 04:24] dgaudet48 opened #609 "Production"
### English 102 Master

### [URL](https://learn.twu.ca/course/view.php?id=25433&section=0)

### Instructions
- [ ] Please copy the content from the MASTER course shell into an ENGL 102GX course shell for FALL 22

Please upload required files as attachments.

[2022-08-23 07:26] MeeksonHundoo commented on #608
Hello @kmarjanovic this has been done.. Here is the link for the FNDN 102 : Human Flourishing (FAR MASTER)  https://learn.twu.ca/course/view.php?id=25352

[2022-08-23 08:13] MeeksonHundoo commented on #609
Hello @dgaudet48 is this the course where all the content should go? https://learn.twu.ca/course/view.php?id=25373

[2022-08-23 14:30] kmarjanovic opened #610 "LDRS 667 in Bookdown"
### Course
LDRS 667 Practicum: Personal and Professional Practice and Reflection (MASTER)

### URL
https://learn.twu.ca/course/view.php?id=13600&section=0

### Instructions
Please create a bookdown version of this course.

Victoria Atha is the new instructor for this course.  Could it be ready in 2-3 weeks?  It's a smaller course.

[2022-08-23 14:37] dgaudet48 commented on #609
Yes - That is correct

Thanks Meekson

[2022-08-24 08:20] MeeksonHundoo commented on #609
Hello @dgaudet48 here is the link to the ENGL 102 GX - Introduction to Literature (FA 2022) : https://learn.twu.ca/course/view.php?id=25373&section=0#tabs-tree-start
All the contents have been imported from the ENGL 102 - Introduction to Literature (MASTER).

[2022-08-25 03:53] kmarjanovic opened #611 "SKLS 500 H5P Activities - Unit 2"
### Course
SKLS 500
### URL
Bookdown course - https://jubilant-system-53a680b6.pages.github.io/index.html
In case you need it, here's the [Moodle Master](https://learn.twu.ca/course/view.php?id=25448) - (just a template for now)

### Instructions

Please create a matching drag and drop for the following activity

Activity 2.7:  Key Terms Quiz
In order to review some of the major concepts from the

[2022-08-25 03:58] kmarjanovic opened #612 "TWU Logo replacement"
### Course
many!
### URL
lots!
### Instructions
We will need to replace the TWU logo in several courses.  (e.g. [PHIL 101 Master](https://learn.twu.ca/course/view.php?id=23433&section=0#tabs-tree-start)

I should have access to the logo replacements by tomorrow, but perhaps Meekson could view the intro page of each course and see if there is a TWU logo?

[GXP Course Links](https://www.notion.so/tw

[2022-08-25 04:28] kmarjanovic opened #613 "delete tab"
**Which course contains the bug?**
https://learn.twu.ca/course/view.php?id=18002&section=1#tabs-tree-start

[LDRS 634: Accountability & Performance (DEV MASTER)](https://learn.twu.ca/course/view.php?id=18002&section=1#tabs-tree-start)

**Describe the error and/or your suggestion**
Please delete Schedule tab - and let me know how to do this in the new Moodle.

[2022-08-25 05:12] kmarjanovic commented on #607
@MeeksonHundoo @cmadland just checking if this issue was addressed?

[2022-08-25 05:25] kmarjanovic opened #614 "LDRS 667 edits"
### Course
LDRS 667
### URL
[LDRS 667 OL - Practicum (FA 2022)](https://learn.twu.ca/course/view.php?id=24340)
### Instructions
(sent in email Aug 23)

Please change the following:

1.  Course introduction tab-Assessment Summary-% values are incorrect
    (<https://learn.twu.ca/course/view.php?id=24340>)

2.  Prework tab-Activity checklist-Activity 0.2 (in blue box) *If you need a
    refresher on

[2022-08-25 05:26] kmarjanovic commented on #614
Sorry - tried to copy/pasta from email, so formatting is wonky.  @MeeksonHundoo let me know if you have any questions.
Thanks!!

[2022-08-25 20:33] kmarjanovic commented on #548
@MeeksonHundoo any update on this issue?  I marked it as low priority 5 months ago and the course starts in 2 weeks.