[2022-08-25 20:35] kmarjanovic commented on #554
@cmadland do you know who maintains this site?  I assume some students will use it in September, so could we track down those images?

[2022-08-25 20:37] #481 closed

[2022-08-25 20:39] #514 closed

[2022-08-25 20:41] kmarjanovic commented on #516
@MeeksonHundoo any update on adding a credits page?  We'll likely add this to all our courses, so I'd like to see how the formatting works.
Thanks!

[2022-08-25 20:42] kmarjanovic commented on #534
@MeeksonHundoo @cmadland
Any update on this course in bookdown?  Could you please provide the bookdown link?
Thanks!

[2022-08-25 23:18] MeeksonHundoo commented on #607
Hello @DocV77 these edits have been made.

[2022-08-26 00:17] MeeksonHundoo commented on #516
Hello @kmarjanovic. I would absolutely love to do this and keeping learning more about how to get content into bookdown format. However, I've just started working on how put content into a bookdown format like a month back and unfortunately my RStudio issues have plagued my learning and development. I'll contact Colin today and try to get this resolved at the earliest.

[2022-08-26 05:27] MeeksonHundoo commented on #614
Hello @kmarjanovic this has been done! This is a dupe of bug number #607 https://github.com/TWUOnline/bug-tracking/issues/607

[2022-08-26 05:27] #614 closed

[2022-08-26 05:40] MeeksonHundoo commented on #613
Hello @kmarjanovic this has been done!

[2022-08-26 05:40] #613 closed

[2022-08-26 07:24] MeeksonHundoo commented on #548
Hello @kmarjanovic Apologies for the delay. I thought the course facilitators were going to work on this issue, given we had decided in one of our meetings that this way they would get a good hands on experience of making edits in Git themselves. I have added the accordion now. I just wanted to ask if the content of Synchronous Class sessions should be added under the tabs of the accordion labelle

[2022-08-26 17:57] kmarjanovic opened #615 "FNDN 102 - New Moodle Content"
### Course
FNDN 102
### URL
https://learn.twu.ca/course/view.php?id=25352&section=0#tabs-tree-start
### Instructions

@MeeksonHundoo, as we discussed, please compare the attached new units to the old units in Moodle.  Most changes are minor wording, but there are other new topics, images, activities, etc.

@cmadland we're going to edit in Moodle, as we are short on time and having RStudio issues (

[2022-08-26 19:00] kmarjanovic commented on #613
Thank you!

[2022-08-26 19:06] kmarjanovic commented on #607
@MeeksonHundoo could you fix these issues please?

From: Victoria Atha <V.Atha@twu.ca>
Sent: August 25, 2022 6:21 PM
To: Kelly Marjanovic <Kelly.Marjanovic@twu.ca>; notifications@github.com
Subject: Re: [TWUOnline/bug-tracking] LDRS 667 OL - Practicum (FA 2022) (Issue #607)

Hi,

I see the changes have been made to the values, but the table is a bit off center as the comments 1-4 go across and not

[2022-08-26 20:55] kmarjanovic commented on #605
Hi @MeeksonHundoo
Could you help with formatting issues in Unit 1?  Linking urls, embedding videos, etc.

Please see for examples:
https://ma-lead.github.io/ldrs591/introduction-to-scholarly-inquiry.html
https://ma-lead.github.io/ldrs664/the-heart-of-a-teacher.html

[2022-08-27 21:43] kmarjanovic commented on #608
Thank you!

[2022-08-27 21:43] #608 closed

[2022-08-27 21:59] MeeksonHundoo commented on #607
Hello @kmarjanovic this has been updated now.

[2022-08-27 22:10] kmarjanovic commented on #607
Hi @MeeksonHundoo,
Thanks for trying - but it looks like a screenshot.  Could you edit the table in Git?  I know there's a certain code for extra lines in a table, so I can look that up on Monday if it helps.

[2022-08-27 22:38] MeeksonHundoo commented on #607
Hello @kmarjanovic I did it now. Could you please take a look.

[2022-08-29 05:23] MeeksonHundoo commented on #548
Hello @kmarjanovic As per our conversation I have reused the PSYC 340 ADC instructors Guide as our template and added the course contents to it. Could you please take a look and advice if any changes are needed? Here is the link:
https://learn.twu.ca/course/view.php?id=22610&section=16

[2022-08-29 18:19] MaraChequer opened #616 "Production"
### Course:
**Phil 100**

### URL
https://learn.twu.ca/course/view.php?id=23433&section=3

### Instructions
- [ ] Quiz needs to be created for Phil 100
Please reach out so we can meet for instructions.

Please upload required files as attachments.

[2022-08-29 18:45] kmarjanovic opened #617 "Production - 663 bookdown to Moodle"
### Course
LDRS 663
### URL
https://ma-lead.github.io/ldrs663/
### Instructions
@cmadland & @MeeksonHundoo please convert LDRS 663 to Moodle content  (create now Moodle shell?)

[2022-08-30 04:01] MeeksonHundoo commented on #615
Hello @kmarjanovic I have made the edits to U1 under FNDN 102 as per the attached doc. However, I am not able to change the verbiage of learning Activity 1.7. Could you please take a look and advice.

[2022-08-30 21:07] kmarjanovic opened #618 "Production LDRS 634 to Bookdown"
### Course
LDRS 634: Accountability & Performance (DEV MASTER)

### URL
https://learn.twu.ca/course/view.php?id=18002
### Instructions
Please convert to bookdown, then Moodle content. (for January term)

We noticed some instructors want to change assessments, so let's make sure this course is ready for November in Bookdown/Moodle.

[2022-08-30 21:08] kmarjanovic commented on #607
Perfect!  Thank you @MeeksonHundoo !

[2022-08-30 21:08] #607 closed

[2022-08-30 21:19] kmarjanovic commented on #615
Hmm, that is strange.  I tried to delete the description so it wouldn't show up twice, but that didn't work.
@cmadland - any ideas?
https://learn.twu.ca/mod/hvp/view.php?id=744369&forceview=1

The rest of the unit looks great - thank you @MeeksonHundoo !!

@cmadland please have a look and let me know your feedback on whether we continuing editing in Moodle (comparing Jack's new word docs), or keep

[2022-08-31 18:03] kmarjanovic commented on #548
Perfect!!  Thanks so much Meekson!

[2022-08-31 18:03] #548 closed

[2022-08-31 19:55] kmarjanovic opened #619 "Production SKLS 500 units"
### Course
SKLS 500
### URL
~~https://jubilant-system-53a680b6.pages.github.io/~~
https://learning-commons.github.io/skls500

### Instructions
Please add Units 3 and 5 to Bookdown course.

[SKLS500_U3_Aug31_KM - for production.docx](https://github.com/TWUOnline/bug-tracking/files/9464603/SKLS500_U3_Aug31_KM.-.for.production.docx)
[SKLS 500 _U5__August31_KM - for production.docx](https://github.com

[2022-09-01 19:58] kmarjanovic commented on #619
@cmadland could you help embed the course book [here](https://learn.twu.ca/course/view.php?id=25448&section=3)?

I tried to copy what [664](https://learn.twu.ca/course/view.php?id=22648&section=1) did but it's not working

<p><iframe scrolling="yes" style="border: 0px #ffffff none;" src="https://ma-lead.github.io/ldrs664" allowfullscreen="allowfullscreen" width="100%" height="970"></iframe></p>

[2022-09-01 20:42] kmarjanovic commented on #605
@MeeksonHundoo
I've done some U1 edits:
- [ ] Activity checklist - add a space after line so there is a break.
- [ ] Take out tips for instructors
- [ ] embed videos (see code in topic 1.1)
- [ ] add activity boxes
- [ ] add media boxes
- [ ] add images

I still need help with the following
- [ ] add H5Ps
- [ ] fix image (not sure why this code didn't work: [a young woman taking a break from techn

[2022-09-02 00:15] MeeksonHundoo commented on #605
Hello @kmarjanovic thanks for making the edits. I continued with editing and have made all the edits. Could you please take a look now and let me know if  any changes are needed ? Here is the link: https://jubilant-system-53a680b6.pages.github.io/introduction-to-the-writing-centre.html
Also, link https://miro.com/wisemapping.com/ under Learning Activity 1.3 is not correct. This page does not have

[2022-09-02 17:23] kmarjanovic commented on #615
Hi @MeeksonHundoo
Here is Unit 3 - either to put in [Bookdown](https://animated-sniffle-c26f9054.pages.github.io/the-inner-life.html) or in the [Moodle course](https://learn.twu.ca/course/view.php?id=25352&section=7).  Note that in both Bookdown and Moodle there is the old content there already, so we need to compare and update based on the word file.

[Unit 3 July 11 JR.docx](https://github.com/T

[2022-09-02 18:00] kmarjanovic commented on #615
Please upload (revise) Unit 5.
[Unit 5 Sept2_KM - for Production.docx](https://github.com/TWUOnline/bug-tracking/files/9480131/Unit.5.Sept2_KM.-.for.Production.docx)

[2022-09-02 19:12] kmarjanovic commented on #605
Thanks Meekson!  It's looking good...I'll do a full review this weekend.
Please change link to https://miro.com/

[2022-09-02 19:15] MeeksonHundoo commented on #615
Hello @kmarjanovic Yes I will start working on these 2 units now and Hopefully I'll try my best to have them ready by next week.

[2022-09-02 19:49] MeeksonHundoo commented on #605
thanks @kmarjanovic I've updated the link.

[2022-09-02 20:46] kmarjanovic commented on #615
Please upload Unit 7,8,9,10
[Unit #10_Sept2_KM-for production.docx](https://github.com/TWUOnline/bug-tracking/files/9480983/Unit.10_Sept2_KM-for.production.docx)
[Unit 9 Sept2_KM - for Production.docx](https://github.com/TWUOnline/bug-tracking/files/9480985/Unit.9.Sept2_KM.-.for.Production.docx)
[Unit 8 Strategies for wellbeing -KM Sept2-for Production.docx](https://github.com/TWUOnline/bug-tracki

[2022-09-04 20:51] MeeksonHundoo commented on #615
Hello @kmarjanovic I've added Units 3 & 5. Could you please take a look and advise if any changes are needed? Here are their links:
Unit 3: https://animated-sniffle-c26f9054.pages.github.io/the-inner-life.html
Unit 5: https://animated-sniffle-c26f9054.pages.github.io/strategies-for-well-being.html

[2022-09-05 22:06] MeeksonHundoo commented on #615
Hello @kmarjanovic I put U1 too in bookdown. Here is the link to it:
file:///C:/Users/meekson.hundoo/OneDrive%20-%20Trinity%20Western%20University/Documents/GitHub/fndn102/docs/index.html
In the U1 word doc, we are missing the link of the video in learning activity 1.6 & the Grading criteria for the Personal Application Assignment: Gratitude assignment.
Also, Idk where the remainder of the content

[2022-09-06 17:48] kmarjanovic commented on #605
Thanks @MeeksonHundoo !

Could you double check all links open in a new window?  That way students won't have trouble getting back to the course book.  I forget the code for this...

[2022-09-06 19:10] kmarjanovic commented on #605
Hi @MeeksonHundoo
Please fix the following:
- [ ] Topic 1: Add before the videos:  Watch the following videos on TWU's Writing Centre.
- [ ] Delete [Intro to Writing Centre PPT from Canva](https://www.canva.com/design/DAFDImlB2cU/SGzyksNUOlDmYSJyLE3BOg/watch?utm_content=DAFDImlB2cU&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink)
- [ ] Is it possible to enlarge the first embed

[2022-09-06 19:32] kmarjanovic commented on #619
As the SMEs are looking at the course, could you please delete the Module 4 content?  It must be from a different course.

[2022-09-06 20:40] cpenfoldnavarro opened #620 "LDRS 591 OL FA 2022: Dates need to be updated for Course Schedule"
**Which course contains the bug?**
-  LDRS 591 OL FA 2022)

**Describe the error and/or your suggestion**
Course Schedule needs to be updated to reflect current term dates.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php?id=25409
2. Unit #    Course Schedule     Topic #

[2022-09-07 02:44] MeeksonHundoo commented on #619
Hello @kmarjanovic I have deleted all the content from Module 4

[2022-09-07 04:53] MeeksonHundoo commented on #605
Hello @kmarjanovic I've made the aforementioned changes. However, I could not enlarge the first Canava video and also the 1.4 is not there in Atom. I don't know where that figure is being pulled from? Requesting you to please take a look and advice.

[2022-09-07 15:39] kmarjanovic commented on #605
Hi @MeeksonHundoo
Thanks so much for these changes!
I can't see the book online now since we've hidden the units...so things like the 1.4 wouldn't show in Atom - as the numbering system is generated.  Is this the code for not showing numbers? {-}

I'll check Atom again - and I suppose we just rely on RStudio to see the preview until we're ready to show a unit, correct?  @cmadland can we show Unit

[2022-09-07 18:05] kmarjanovic commented on #620
@cmadland or @MeeksonHundoo could you please help Cathy with edits to the schedule?  I've hidden the old Git Schedule and created a new schedule that can be edited in Moodle:  https://learn.twu.ca/course/view.php?id=25409&section=2#tabs-tree-start

Could you please use the info from Cathy's attached schedule to modify what's online? (then we can delete the git tab)

Thank you!

[2022-09-07 18:09] kmarjanovic commented on #615
Hi @MeeksonHundoo - here are the rest of the units.  Please note they are not clean copies, and I'm still waiting for changes from the SME.  Please compare these word docs with what's online in Moodle and let me know if you have questions.
Thank you!!!

[FNDN 102_Unit2_Aug12_KM.docx](https://github.com/TWUOnline/bug-tracking/files/9508610/FNDN.102_Unit2_Aug12_KM.docx)

[Unit 4_Sept2_KM.docx](https

[2022-09-07 18:59] kmarjanovic commented on #605
Please fix bullets in
https://learning-commons.github.io/skls500/index.html#course-objectives
and
https://learning-commons.github.io/skls500/index.html#course-navigation

[2022-09-07 19:11] kmarjanovic commented on #605
- [ ] Please hide https://learning-commons.github.io/skls500/course-communities.html page
- [ ] Unit 1 Activity Checklist - please add email icon to last item 📧
- [ ] Stage 1 Prewriting - please make accordion for these sections and note tense changes and intro sentence

Click on each section for a Prewriting strategy
Understanding the Essay Prompt
Brainstorming
Surveying the Literature
Choosing a

[2022-09-07 19:19] kmarjanovic commented on #605
Sorry - please disregard criteria above!  This is the updated one:

Your Learning Log Entry should be approximately 250 words long and will be graded
according to the following checklist: 

| **Grading Criteria**                                                                                                                   |
|----------------------------------------------------------------------

[2022-09-07 20:07] kmarjanovic opened #621 "Production FNDN 102 Facilitators Guide"
### Course
FNDN 102 Master
### URL
https://learn.twu.ca/course/view.php?id=25352&section=18#tabs-tree-start

### Instructions
Please add the following guide
[Facilitator Guide FNDN 102 GX.docx](https://github.com/TWUOnline/bug-tracking/files/9509275/Facilitator.Guide.FNDN.102.GX.docx)

[2022-09-07 21:07] cpenfoldnavarro commented on #620
I see the new tab you added, Kelly, and have updated the content in the "Course Schedule" tab on the right. I also selected "show topic" so that tab is now visible to students.

It doesn't have all the fancy icons before each item (which is awesome) but I have added bullets and heading formats throughout.

If someone could double-check this to be sure it's visible, that would be wonderful.

The "C

[2022-09-08 02:04] MeeksonHundoo commented on #615
Hello @kmarjanovic units 8,9 & 10 have been updated. Here is the link:
https://animated-sniffle-c26f9054.pages.github.io/strategies-for-well-being-1.html
Also, there are some videos that I have not embedded as these were the ones which I didn't have access to. Please take a look and let me know if nay edits are needed.

[2022-09-08 17:55] kmarjanovic commented on #619
In the Moodle [Course Intro page](https://learn.twu.ca/course/view.php?id=25448&section=0) - there is a grey box around Course Learning Outcomes.  I can't seem to take the box out...or to add it to the other Headings, as it actually looks nice.  Could someone help fix this - either take out or replicate?

[2022-09-08 19:30] kmarjanovic commented on #514
I hadn't seen the Sort the Paragraphs H5P!  We're going to use it in SKLS 500 (unit 8).

Any idea if this can rank with no correct answer?
https://h5p.org/content-types/sort-the-paragraphs

[2022-09-08 19:55] kmarjanovic commented on #619
Please add Unit 2.  Note there are some H5P requests in the unit.  Please let me know if you have any questions.
Thank you!
[SKLS500_U2_Sept8 for Production.docx](https://github.com/TWUOnline/bug-tracking/files/9530192/SKLS500_U2_Sept8.for.Production.docx)

[2022-09-08 21:28] MeeksonHundoo commented on #620
Hello @cpenfoldnavarro Thanks for making the edits to the course schedule tab and it is indeed visible. I have deleted the old one.

[2022-09-08 23:33] dhanenburg opened #622 "SOCI 411 OL FA22"
**Which course contains the bug?**
SOCI 411 OL FA22

**Describe the error and/or your suggestion**
I teach 3 human service practicum courses and I use the same master for all 3. I would like to change the master at the top of the "General" tab to say "Welcome to Human Services Practicum" and delete the number. When the number is changed, it changes it for all 3 courses. I am not finding the master

[2022-09-09 17:06] kmarjanovic commented on #605
Please fix on the home page (index in R)
- [ ] Course Objectives - please fix bullets

- [ ] Grading System - the directions to the grading system are outdated - probably in all our courses, and from what I see in the newest syllabi templates.  Yikes!  We should change it to:
The Standard Grading System can be found on the TWU website at [https://www.twu.ca/about/policies-guidelines/university-sta

[2022-09-09 17:14] kmarjanovic commented on #619
Please embed videos from Jack

https://web.microsoftstream.com/user/5df75f53-73c4-4ee1-82d0-3bd3c0354700

[2022-09-09 17:15] kmarjanovic commented on #615
Where videos are missing in the course, please embed videos from Jack

https://web.microsoftstream.com/user/5df75f53-73c4-4ee1-82d0-3bd3c0354700

[2022-09-09 19:38] kmarjanovic commented on #619
Please add unit 8
[SKS 500_U8_Sept9-for production.docx](https://github.com/TWUOnline/bug-tracking/files/9538199/SKS.500_U8_Sept9-for.production.docx)

[2022-09-09 19:50] kmarjanovic commented on #619
Please add unit 7
[SKLS500_U7_sept9 - for production.docx](https://github.com/TWUOnline/bug-tracking/files/9538292/SKLS500_U7_sept9.-.for.production.docx)

![U7_4-pillars-of-analytics](https://user-images.githubusercontent.com/35148983/189432346-9bb8c5a4-49fb-4fe0-ae78-61d8ac5b0c80.png)

[2022-09-09 20:41] kmarjanovic commented on #619
- [ ] Please change name of Unit 5 to Essay Formatting
- [ ] Unit 3 Overview: change "We will then move on to writing clear body paragraphs and focusing on strategies..." to "We will then move on to writing clear body paragraphs with a focus on strategies..."

[2022-09-09 20:42] kmarjanovic commented on #619
Please add Unit 4.  That's the last of the units!!  Now for reviewing online...
Thanks @cmadland and @MeeksonHundoo for your help!
[SKLS500-Module4-Sep9-for production.docx](https://github.com/TWUOnline/bug-tracking/files/9538556/SKLS500-Module4-Sep9-for.production.docx)

[2022-09-09 20:50] kmarjanovic commented on #619
Please edit formatting in Unit 3.  I can make a list this weekend, but if you see errors in font size, colour boxes, bullets, please change.

[2022-09-10 22:54] cpenfoldnavarro commented on #620
Can you make the other sections editable in moodle as well? For example, in the "Assessment" tab in the "Overview" there are some policies that don't match my syllabus. I would like to be able to edit this content.

CATHARINE PENFOLD NAVARRO, PhD

Part-Time Instructor, MA Leadership | TWU GLOBAL

Trinity Western University | e. ***@***.******@***.***>

twu.ca<http://www.twu.ca/>

***@***.***

____

[2022-09-12 15:37] kmarjanovic commented on #605
@cmadland could we hide the Communities page?  I need feedback from SMEs on this.
https://learning-commons.github.io/skls500/course-communities.html

[2022-09-12 16:30] cmadland commented on #619
Is there a unit 6?

[2022-09-12 16:33] kmarjanovic commented on #619
yes - just reviewing SME comments from Friday.  will upload soon!

[2022-09-12 16:34] cmadland commented on #619
ok...I have everything up to u8 (except 6) built 'as is' from the Werd files...will continue with formatting.

[2022-09-12 19:07] kmarjanovic commented on #620
Hi Cathy!

I added a simple assessment chart in Moodle and deleted the syllabus info.
Please have a look - and feel free to modify in Moodle.
https://learn.twu.ca/course/view.php?id=25409&section=5

[2022-09-12 19:33] MeeksonHundoo commented on #622
Hello @dhanenburg I made the said amendments to SOCI 320 OL and SOCI 411 OL. However, could you please provide me with the link to your SOCI 420 OL course as I could not find the Fall version of this course.

[2022-09-12 19:59] dhanenburg commented on #622
Thank you so much! This is the only SOCI 420 course I have at this point and it looks like the change applied here - https://learn.twu.ca/course/view.php?id=23311&section=0#tabs-tree-start

Can you tell me if all 3 of these courses are linked? If I make a change in one, will it change all 3? If so, I don’t want that to be the case.

Thanks,
Debra

From: MeeksonHundoo ***@***.***>
Sent: Monday, Sep

[2022-09-12 21:33] MeeksonHundoo commented on #622
Hello @dhanenburg soci411practicum is the master course. The change that I made for SOCI 411 OL - Practicum (FA 2022) made the change in SOCI 420 OL - Practicum (SU 2022) as well.

[2022-09-12 22:15] dhanenburg commented on #622
Thanks. If I make a change to one of these three courses, does it change all 3? How are they linked?

Debra

From: MeeksonHundoo ***@***.***>
Sent: Monday, September 12, 2022 2:33 PM
To: TWUOnline/bug-tracking ***@***.***>
Cc: Debra Hanenburg ***@***.***>; Mention ***@***.***>
Subject: Re: [TWUOnline/bug-tracking] SOCI 411 OL FA22 (Issue #622)

Hello @dhanenburg<https://github.com/dhanenburg> soci

[2022-09-12 22:18] cmadland commented on #605
yes. done

[2022-09-13 00:20] MeeksonHundoo commented on #622
Hello @dhanenburg Course SOCI 411 OL & SOCI 420 OL have their master repository as : soci411practicum. The master repository for SOCI 320 OL is soci320adc. These sub courses showcase the same content as the master courses, so any changes made to the content of the master course changes the content in its subsequent courses.

Hello @kmarjanovic could you also please share your knowledge on this wit

[2022-09-13 15:24] kmarjanovic commented on #622
Hi Debra!
Good call on making a more general title.  The nice thing is, the Moodle Shells will still have the course numbers (402, 411, etc.) but the GitHub content (the part our team edits), can have info related to all sections.

Does that make sense?  Please let us know if there are any other changes, or if we can close this issue.
Thanks,
Kelly

[2022-09-13 17:15] kmarjanovic commented on #605
Closing issue!  Intro & unit 1 done!!  Yay!:)

[2022-09-13 17:15] #605 closed

[2022-09-13 17:30] cmadland commented on #619
ok, file is uploaded and converted to md.

[2022-09-13 18:11] kmarjanovic opened #623 "Production LDRS 301 ADC to Bookdown"
### Course
LDRS 301 - Lifelong Learning in Leadership (new ADC MASTER)
### URL
https://learn.twu.ca/course/view.php?id=15711&section=0#tabs-tree-start

### Instructions
Please convert FAR Master to Bookdown.

Edits coming from DeAnn, but will be minor revisions.
Course starts Oct 17 with Cynthia McCarthy.

[2022-09-13 18:41] kmarjanovic opened #624 "PSYC 340 Facilitator Notes"
### Course
PSYC 340 - Interpersonal and Helping Skills (ADC Master)
### URL
https://learn.twu.ca/course/view.php?id=15808&section=14#tabs-tree-start
### Instructions
Could you please add the attached Week 5 notes to the [Synchronous Sessions](https://far.twu.ca/arts/psyc340adc/instructor-guide/chromeless:true/hidepagetitle:true#collapse4) tab?

The notes for other weeks should be coming...
[Psych

[2022-09-13 19:53] kmarjanovic opened #625 "Production SKLS 500 Media"
### Course
SKLS 500: Graduate Scholarly Communication (MASTER)

### URL
https://learning-commons.github.io/skls500/essay-structure.html#learning-activity-3.2-watch-and-take-notes
### Instructions
Please add the attached graphic before activity 3.2 (and take out repeat info in the activity.
![U3_Thesis-statement](https://user-images.githubusercontent.com/35148983/189996576-c430625e-2e41-4fca-90ed-1

[2022-09-14 02:06] MeeksonHundoo commented on #615
Hello @kmarjanovic I have compared and added all the videos that were provided by Jack Reimer on his Microsoft stream links to our course. however, the below list of 3 videos are still missing:
Unit 7:
Activity 7.4: Watch the video Habit Formation – 8 mins
Unit 8:
Activity 8.4:  Watch video of “Leisure Presentation”- 32 mins
Unit 10:
Activity 10.1: A brief intro to the movie Silence - 5 mins

[2022-09-14 15:38] cmadland commented on #625
@kmarjanovic I would recommend we keep the text in the activity as it is and not add the graphic as we would have to then also describe the graphic with text for accessibility.

[2022-09-14 15:44] kmarjanovic opened #626 "LDRS 627 units missing"
**Which course contains the bug?**
[LDRS 627 OL - Theory & Practice of Adult Educ. (FA 2022)](https://learn.twu.ca/course/view.php?id=25421&section=0#tabs-tree-start)

**Describe the error and/or your suggestion**
Email:
For the last two days units 9 and 10 of LDRS 627 OL - Theory & Practice of Adult Educ. (SU 2022) has been down on Moodle. When I try to open it, it shows error message. Please kin

[2022-09-14 15:53] cmadland commented on #619
working on u3 this morning

[2022-09-14 15:55] kmarjanovic commented on #626
tagging @emebetM - as I can't see her username in Assignees...

[2022-09-14 16:00] emebetM commented on #626
Thanks Kelly!

[2022-09-14 17:58] cmadland commented on #625
per our discussion in the design mtg today, I 'll add the image

[2022-09-14 19:38] kmarjanovic commented on #623
@MeeksonHundoo please see the attached and make the changes to the FAR Master - before it's converted to a Bookdown course.
[LDRS 301 FAR Master Updates - Sep 12 2022.docx](https://github.com/TWUOnline/bug-tracking/files/9569407/LDRS.301.FAR.Master.Updates.-.Sep.12.2022.docx)

@deannadams let us know if there are any other changes.
Thanks all!

[2022-09-14 23:19] deannadams commented on #623
Thank you!!

Meekson – let me know if you have any questions at all. Can you let me know once it’s done?

Thanks so much!
DeAnn

DeAnn Adams

Director, Faculty Services and Development
TWU GLOBAL

From: Kelly Marjanovic ***@***.***>
Sent: Wednesday, September 14, 2022 12:38 PM
To: TWUOnline/bug-tracking ***@***.***>
Cc: DeAnn Adams ***@***.***>; Mention ***@***.***>
Subject: Re: [TWUOnline/bug-tra

[2022-09-15 17:31] kmarjanovic commented on #611
@MeeksonHundoo @cmadland any progress on this?  I've hidden the content in Atom - so please add H5P when ready.
Thank you!

[2022-09-15 17:32] kmarjanovic commented on #611
Activity 2.3: Types of Plagiarism - it great the way Colin has it with the Toggle.  We can do this for other activities if needed and pressed for time.

The key terms matching though will need an h5p.

[2022-09-15 20:06] kmarjanovic commented on #619
Unit 2 comments
- [ ] Please embed the H5P for Activity 2.6 when ready (see issue https://github.com/TWUOnline/bug-tracking/issues/611)
other requests...not urgent:
- [ ] For all links (videos, pdfs, etc.) - can we check that they open in a new tab?  In these long units, it's hard to find where you left off, so a new tab will help.
- [ ] For all the learning commons videos - could we embed those?

[2022-09-16 17:12] kmarjanovic commented on #626
@emebetM @cmadland
I've compared the different versions of the course.  Here's a [google doc](https://docs.google.com/document/d/1HBQ-A5UBLiCJOHghbahvVlOAxTdRPpbM7AI5Xu18C8w/edit#) comparing the 10 week version and the 8 week version.

@emebetM could you confirm the dates of your fall course?  If you need extra topics to teach, see the green highlights.

Please let us know what you and the instruc

[2022-09-16 17:27] emebetM commented on #626
Dear Kelly,
There are two more discussion posts learners need to complete for units 9 and 10.  The course ends on 19/20 of Sept.

[2022-09-16 17:32] kmarjanovic commented on #626
Hi @emebetM - so they are done on Tuesday?  I would suggest you and Jim come up with two more posts (if needed) that address the course learning outcomes.  In the 8 week course students have just taken, they should have gotten all the content that was required.
Please let me know if you need help with this.

[2022-09-16 17:39] emebetM commented on #626
@kmarjanovic , we can do that. Thank you for the suggestion.

[2022-09-16 17:41] #626 closed

[2022-09-18 02:12] MeeksonHundoo commented on #621
Hello @kmarjanovic the facilitators guide has been added. Here is the link:
https://animated-sniffle-c26f9054.pages.github.io/
Please, let me know if any edits are needed.

[2022-09-20 16:54] kmarjanovic commented on #621
Hi @MeeksonHundoo

Please do not add course guides to Bookdown repositories.  Students can then access answer keys.

Instead, please add them to the Moodle site - in a Instructors or Facilitator's Guide tab - and please make sure it is hidden from students.

I've added the doc to the [Facilitator's Guide](https://learn.twu.ca/course/view.php?id=25374&section=17#tabs-tree-start)

I also deleted the

[2022-09-20 16:54] #621 closed

[2022-09-21 17:09] deannadams commented on #623
Hi Meekson - just checking in on the changes to the FAR Master. I think you have the document with the changes, correct?. Course starts Oct 17. Ideally we would have the course visible for students in Moodle by Oct 7. Let me know if you have any questions.

[2022-09-21 17:11] kmarjanovic commented on #623
@MeeksonHundoo we're holding off on converting to bookdown until we have the capacity.

For now - please make all these changes to the FAR Master in Git/Grav
https://learn.twu.ca/course/view.php?id=15711&section=0

[2022-09-21 17:12] #622 closed

[2022-09-21 17:13] kmarjanovic commented on #620
@cpenfoldnavarro please let us know if you need anything else, or if we can close this issue.
Hope your course started well!

[2022-09-21 17:33] MeeksonHundoo commented on #623
Hello @deannadams Apologies for not being able to get to this LDRS 301 adc earlier as I was caught up with doing the FNDN 102, my classes, assignments and my other job as well. Will start working on the editing soon and will inform you as quickly as I get done with it.

[2022-09-21 17:38] MeeksonHundoo commented on #623
Hello @kmarjanovic Thanks for clarifying this, as the bug report says that we were supposed to convert it to bookdown. I'll start working on editing this course contents soon.

[2022-09-21 19:28] kmarjanovic commented on #619
Unit 3 note:
- [ ] Please add a Tips box to the [Navigation section](https://learning-commons.github.io/skls500/index.html#course-activities) to reflect what is [here](https://learning-commons.github.io/skls500/essay-structure.html#main-points). We should check that Note boxes have colours consistent with navigation. e.g. [example box](https://learning-commons.github.io/skls500/essay-structure.htm

[2022-09-21 19:35] kmarjanovic commented on #615
Thanks for this, Meekson!   I'm just checking with Jack for these 3 missing videos.

In the meantime, could you double check all videos are in the Fall GX course?

e.g. Unit 2: https://learn.twu.ca/mod/page/view.php?id=774564&forceview=1

[2022-09-21 19:51] cpenfoldnavarro commented on #620
Thanks for all your help! Yes, you can consider this closed.

CATHARINE PENFOLD NAVARRO, PhD

Part-Time Instructor, MA Leadership | TWU GLOBAL

Trinity Western University | e. ***@***.******@***.***>

twu.ca<http://www.twu.ca/>

***@***.***

________________________________
From: Kelly Marjanovic ***@***.***>
Sent: Wednesday, September 21, 2022 1:13 PM
To: TWUOnline/bug-tracking ***@***.***>
Cc: C

[2022-09-21 20:41] kmarjanovic commented on #619
Unit 4
- [ ] I did most edits except for that last table - help please! https://learning-commons.github.io/skls500/introduction-to-research.html#activity
- [ ] Also saw your comments, but will have to wait to address those with the SMEs
- [ ] For other units, see generic language

[2022-09-21 20:46] deannadams commented on #623
@kmarjanovic  - Mark has confirmed that we will add the Birkman topic into the FAR Master for LDRS 301.

@MeeksonHundoo In addition to the changes to the FAR Master you already have, there will be one additional change. That is... we are **adding an additional topic to Unit 3**. I don't have the content done yet, but it will become Unit 3, new Topic 3. This means that the current Topic 3 (Feedback

[2022-09-21 20:49] deannadams commented on #623
Not a problem, Meekson... I know how busy everyone is. 🙂

[2022-09-22 01:43] SimoneVanDerMerwe opened #627 "PHIL 100 GX Fall 22"
PHIL 100 GX - Philosophy for Life (FA 2022)

I accidentally added 3 tabs (Topic 1, Topic 2, and Topic 16). I do not need those tabs, and I couldn't find a way to delete them.

URL: https://learn.twu.ca/course/view.php?id=25401&section=0#tabs-tree-start

![Moodle](https://user-images.githubusercontent.com/98186755/191639945-dd2e9554-67cb-43fc-9102-2525c3b9c51c.jpg)

[2022-09-22 20:31] kmarjanovic commented on #615
Putting this in a gitcard so we can keep track:

Videos missing:

Unit 2:
[Nutrition Journey](https://learn.twu.ca/mod/page/view.php?id=774564) video - 4. Applied Nutrition (29 mins)

Unit 5:
[Strengths training](https://learn.twu.ca/mod/folder/view.php?id=774616) - 3 videos

Unit 6
•	Activity 6.1:  Watch video Arc of Relationships (8 mins)
•	Activity 6.2 Watch video Parenting Styles/ attachment t

[2022-09-22 21:40] cmadland commented on #619
- done up to u4...will continue as I go through the rest

Tried this and there seemed to be a block...will check again

Only if we embed the videos...

[2022-09-23 19:07] cpenfoldnavarro opened #628 "Discussion Instructions are inconsistent (listed in different ways in various areas of the course)"
**Which course contains the bug?**
LDRS 591 OL FA 2022

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

The discussion instructions are inconsistent -- the discussion instructions for each unit in the "course book" differ from what is in the drop down menu on this page.

Please add this note:
For discussion instructions, please ref

[2022-09-23 22:46] MeeksonHundoo commented on #623
Hello @deannadams These changes have been made. Please let me know if anymore edits are needed.

[2022-09-23 22:49] MeeksonHundoo commented on #627
Hello @SimoneVanDerMerwe these tabs have been deleted.

[2022-09-23 22:49] #627 closed

[2022-09-23 22:50] SimoneVanDerMerwe commented on #627
@MeeksonHundoo Thank you so much!!!!!!

Blessings,

Simone

[2022-09-23 23:51] emilyverse opened #629 "Adding a Resource"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 SOCI 400, ADC MASTER

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Under the Required Texts and Materials I would like to add another resource:
Richardson, R. W. (2011). _Family ties that bind: A self-help guide to change through famil

[2022-09-24 03:17] emilyverse opened #630 "Changing a section"
**Which course contains the bug?**
- SOCI 400 Critical Issues in Human Services ADC Master

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 In Activity 1.7, I would like the PDF, Family Ties that Bind be removed as well as the description right underneath that talks about not reading the whole book. The students will now be require

[2022-09-24 03:30] emilyverse opened #631 "Replacing an entire page."
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 SOCI 400 ADC Master

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
This page was not like this before, however the overview section of unit 2 (not the rest of the topics), has been replaced with a page from SOCI 221, unit 4. This is what

[2022-09-26 17:39] kmarjanovic opened #632 "PSYC 340 edits"
### Course
PSYC 340 - Interpersonal and Helping Skills (ADC Master)
### URL
https://learn.twu.ca/course/view.php?id=15808&section=4#tabs-tree-start

### Instructions
Please make the following edits to the Master course in git.

- [ ] Unit 4 Overview page: Topic 4: replace "An Overview into Insight-Based Theoretical Models" to “Key components of the insight stage”
- [ ] replace learning outcome: "D

[2022-09-26 17:56] cpenfoldnavarro opened #633 "Paper Templates are Missing in LDRS 591"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 591 OL FA 2022

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

There are links to templates for each of the assignments. However, these links are not active. Please link to the paper templates (attached below).

**Location of the bu

[2022-09-27 15:47] kmarjanovic commented on #631
@MeeksonHundoo @cmadland just checking on the status of the Unit 2 changes?  If you need the word doc, you can refer to this issue: https://github.com/TWUOnline/bug-tracking/issues/477

@emilyverse - is this course currently running?  Please let us know the start date.
Thanks!

[2022-09-27 16:22] kmarjanovic commented on #619
Changes to Assessment section ([here](https://learning-commons.github.io/skls500/assessment-10.html#assignment-formatting-correction-task-activity-1))

Assignment: Formatting Correction Task Activity

1.  Open the *APA Format and Page Set-up Activity Paper* and the *APA Format
    Checklist.*

2.  Then, using the *APA Format and Page Set up Activity Paper* , go through the
    *APA Format Checklis

[2022-09-27 16:24] kmarjanovic commented on #619
not sure what's going on with that Unit 4 activity...https://learning-commons.github.io/skls500/introduction-to-research.html#activity

[2022-09-27 16:26] MeeksonHundoo commented on #631
Hello @emilyverse & @kmarjanovic these changes have been incorporated.

[2022-09-27 17:17] kmarjanovic commented on #631
Thanks @MeeksonHundoo !

Could you take out the resources section that's in between the Activity checklist?  The resources after the checklist should stay.
delete:
Resources
Here are the resources you will need to complete this unit.

White, J.M., Martin, T.F. and Bartolic, S. K.  (2012). Families Across the Life Course.  Toronto: Pearson Education

[Hiebert, D. (2013). Sweet Surrender. Eugene, OR

[2022-09-27 17:23] emilyverse commented on #631
It will start on October 18th.
Thanks!

[2022-09-27 20:51] kmarjanovic commented on #619
Unit 6 comments:
- [ ] Please fix image https://learning-commons.github.io/skls500/reflective-writing.html#learning-activities - 3rd activity under Additional Resources.  If its too big, should we link out?  Or a Click to Enlarge feature?
- [ ] for learning log entries in the units - let's keep it generic.  see (Unit 5 example)[https://learning-commons.github.io/skls500/essay-formatting.html#learn

[2022-09-27 20:58] MeeksonHundoo commented on #631
Hello @kmarjanovic removed those extra resources

[2022-09-28 19:20] kmarjanovic commented on #631
Thanks @MeeksonHundoo!

@emilyverse I'll close this issue, but let us know if you need anything else!

[2022-09-28 19:20] #631 closed

[2022-09-28 19:30] kmarjanovic commented on #633
Hi @cpenfoldnavarro !

I see the templates in the FAR Master version of LDRS 591.  Was that the version your course was imported from?

I've enrolled you in that course as manager in case you need anything else.
https://learn.twu.ca/course/view.php?id=8924&section=15#tabs-tree-start

Are you able to upload documents in Moodle?  Please let us know if you need help with this, as these are things the

[2022-09-29 18:46] kmarjanovic commented on #619
Unit 7 comments:
- [ ] Please fix target blank: https://learning-commons.github.io/skls500/analysis-and-evaluative-writing.html#activity-watch-and-reflect-1
- [ ] Please fix formatting here: https://learning-commons.github.io/skls500/analysis-and-evaluative-writing.html#using-thus-to-connect
- [ ] some formatting issues in the assessment as well: https://learning-commons.github.io/skls500/assessme

[2022-09-30 03:57] SimoneVanDerMerwe opened #634 "PHIL 210 GX - Contemporary Ethical Issues (FA 2022)"
PHIL 210 GX - Contemporary Ethical Issues (FA 2022)

I added 2 tabs in the wrong place: "Topic 2" and "Topic 3". Could you please delete them for me?

https://learn.twu.ca/course/view.php?id=25042&section=0#tabs-tree-start

![Screenshot](https://user-images.githubusercontent.com/98186755/193186978-c9b2e897-3334-4dd1-ba19-c210cc1c39a6.jpg)

Thank you very much!!

Simone

[2022-09-30 18:25] MeeksonHundoo commented on #630
Hello @emilyverse this has been updated

[2022-09-30 18:25] #630 closed

[2022-09-30 23:06] MeeksonHundoo commented on #629
Hello @emilyverse this has been updated

[2022-09-30 23:06] #629 closed

[2022-09-30 23:10] MeeksonHundoo commented on #634
Hello @SimoneVanDerMerwe done

[2022-09-30 23:10] #634 closed

[2022-09-30 23:11] SimoneVanDerMerwe commented on #634
Thank you so much, @MeeksonHundoo!

[2022-10-03 16:35] MeeksonHundoo commented on #633
Hello @cpenfoldnavarro I have added the necessary templates under their designated assignment tabs.

[2022-10-03 17:57] cpenfoldnavarro commented on #633
Thanks so much!

CATHARINE PENFOLD NAVARRO, PhD

Part-Time Instructor, MA Leadership | TWU GLOBAL

Trinity Western University | e. ***@***.******@***.***>

twu.ca<http://www.twu.ca/>

***@***.***

________________________________
From: MeeksonHundoo ***@***.***>
Sent: Monday, October 3, 2022 12:35 PM
To: TWUOnline/bug-tracking ***@***.***>
Cc: Cathy Penfold Navarro ***@***.***>; Mention ***@***.**

[2022-10-04 20:16] kmarjanovic opened #635 "WRTG 101 fix"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 https://learn.twu.ca/course/view.php?id=25327
WRTG 101 GX - Writing and Culture (FA 2022)

**Describe the error and/or your suggestion**
Message from Shine:
I have one thing that needs to be revised in WRTG 101 (Far Master).
I just found that the word “Syllabus” suddenly appears on the first page of my W

[2022-10-04 20:47] deannadams commented on #623
[LDRS 301 Corrections - Oct 4, 2022.docx](https://github.com/TWUOnline/bug-tracking/files/9710565/LDRS.301.Corrections.-.Oct.4.2022.docx)

Hi @MeeksonHundoo  - I'm waiting on Mark's approval for the new Unit 3, Topic 3 content (Using Birkman to Understand Self). In the meantime, there are a few fixes from the last round of changes. Please see attached. Would you mind fixing these up this week? Ple

[2022-10-05 14:59] MeeksonHundoo commented on #623
Hello @deannadams these changes have been incorporated

[2022-10-05 15:17] deannadams commented on #623
Perfect - thanks @MeeksonHundoo. Looks great. If it's not too much trouble (and to be consistent with other units), the sentence under Activity Checklist for unit 4, 5, 6 doesn't need to be bulleted ("Here is a checklist of learning activities you will benefit from in completing this unit. You may find it useful for planning your work."). It would be great to remove the bullet.

I'll be in touch a

[2022-10-05 16:03] MeeksonHundoo commented on #623
Hello @deannadams yeah.. you're right. I didn't notice that. Good catch! and it's no trouble at all. Also, Just let me know whenever Unit 3 is ready and I'll have it uploaded.

[2022-10-05 18:07] MeeksonHundoo commented on #635
Also, Syllabus doesn't appear on the (FAR Master) version as well.

![image](https://user-images.githubusercontent.com/98780625/194131043-97b59a13-a882-4568-a544-4e65b8788e44.png)

[2022-10-05 18:18] deannadams commented on #623
Perfect - thanks @MeeksonHundoo - looks great!

[2022-10-07 02:07] SimoneVanDerMerwe opened #636 "PHIL 210 GX FALL 2022"
PHIL 210 GX FALL 2022

 In Unit 2 > Assessment tab > Reflective Journal (Green Box) >Fifth line > please change 250-400 to 250-300.
 https://learn.twu.ca/course/view.php?id=25042&section=2#tabs-tree-start

Made this change in Atom, but it did not change in Moodle.

Thanks a lot!

[2022-10-08 04:05] MeeksonHundoo commented on #636
Hello @SimoneVanDerMerwe The change has been already been incorporated.

![image](https://user-images.githubusercontent.com/98780625/194687347-c6688f8f-da28-4fec-8f30-9b423693b10f.png)

[2022-10-08 04:23] SimoneVanDerMerwe commented on #636
@MeeksonHundoo Thank you so much!

[2022-10-08 04:26] #636 closed

[2022-10-11 17:02] kmarjanovic commented on #628
@MeeksonHundoo just checking up on this issue.  Could you please make those changes?

[2022-10-11 20:01] MeeksonHundoo commented on #628
Hello @kmarjanovic Apologies for this. So many bug requests in the last few days. Difficult to keep track of them all.
Hello @cpenfoldnavarro could you please provide me with the link for this course.

[2022-10-11 20:23] dhanenburg opened #637 "Edit UNIV 301"
**Which course contains the bug?**  - UNIV 301 OL (Master Course and FALL 2022 as I already imported the Master)
- Course Code, section, and term (e.g. LDRS 591 OL SP2019) - ADC Master and FALL 2022

**Describe the error and/or your suggestion**  - Under Unit 1, Topic 1, Activity 1.1 - please replace that whole section (including deleting the PDF) with the following -

Activity 1.1: Title Introduc

[2022-10-11 21:20] MeeksonHundoo commented on #637
Hello @dhanenburg These changes have been made.

[2022-10-11 22:14] dhanenburg commented on #637
Thank you so much!! This looks great.

[2022-10-11 22:40] #637 closed

[2022-10-17 16:11] kmarjanovic commented on #619
@cmadland could you see if you can fix this:
- [ ] when you click on [Assessment](https://learning-commons.github.io/skls500/assessment-3.html) it opens up all the tabs on the table of contents.

[2022-10-17 17:54] kmarjanovic commented on #619
H5P plugin code?
https://learning-commons.github.io/skls500/research-writing.html#activity-read-and-organize

[2022-10-19 15:21] #633 closed

[2022-10-19 15:36] kmarjanovic opened #638 "LDRS 631 broken link"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
[LDRS 631](https://learn.twu.ca/course/view.php?id=18003&section=17#tabs-tree-start)

**Location of the bug**
APA Checklist in Assessment section - bottom of page
Source: Information provided on this page has been adapted from [APA Style Errors Checklist](https://ocls.indwes.edu/APA/APAStyleChecklist.pdf)

[2022-10-19 15:58] kmarjanovic commented on #638
Same broken link in 634.  please fix:
https://learn.twu.ca/course/view.php?id=18002&section=17#tabs-tree-start

[2022-10-19 16:04] kmarjanovic opened #639 "Google docs in 591, 697 and 698, 631 and 634"
**Which course contains the bug?**
LDRS 591, 697 and 698, 631 and 634

**Describe the error and/or your suggestion**
There are links to Heather's personal google drive account in 591, 697 and 698, 631 and 634.  We need to copy the templates and add as a word doc - or @cmadland is there an online learning google account our team can manage?

Heather shared the templates with the course instructors

[2022-10-19 17:37] MaraChequer opened #640 "Assessment tabs"
### Course
Psyc 339

### URL
https://learn.twu.ca/course/view.php?id=25486&section=8

### Instructions
- [x] I have added the content to their corresponding folders in Atom (Assessments Folder), please add sub-tabs in Moodle.

Please upload required files as attachments.

[2022-10-19 17:37] #620 closed

[2022-10-19 19:15] kmarjanovic opened #641 "PSYC 354 Revisions"
### Course
PSYC 354- Brain and Behavior (ADC MASTER)

### URL
https://learn.twu.ca/course/view.php?id=23420&section=0
### Instructions
Please see the attached document with tracked changes and instructions from the SME for revisions.
For this first document, here are the changes to make on the course intro page and Unit 1.

[Learning Outcomes Grading Revised Unit 1 changes 9.29.22 (002).docx](http

[2022-10-19 19:25] kmarjanovic opened #642 "LDRS 440 for Production"
### Course
LDRS 440: Developing Administrative Competence
### URL
Please create shell in Moodle and new repo for Bookdown.
### Instructions
- Please add unit 1.
- Course intro (index) info can also be filled in from the [blueprint](https://docs.google.com/document/d/1Vh4nFuiqjTfB90azlxL0x3D_o5dF4pRrbzCfww34p2k/edit#heading=h.zcf8gum4hoog) details
-
[LDRS_440_Unit 1_Sept15 for Production.docx](http

[2022-10-20 17:57] MaraChequer commented on #640
Done

[2022-10-20 17:57] #640 closed

[2022-10-20 22:54] MeeksonHundoo commented on #638
Hello @kmarjanovic the links have been updated in both LDRS 631 & 634 courses

[2022-10-21 00:37] MeeksonHundoo commented on #638
Hello @kmarjanovic LDRS 631 is taught by Elizabeth Rackow

[2022-10-21 22:26] MeeksonHundoo commented on #642
Hello @kmarjanovic here is the link to the master site for this course https://learn.twu.ca/course/view.php?id=27301
and here is the link for the bookdown repository https://github.com/BA-Leadership/ldrs440

[2022-10-21 22:28] MeeksonHundoo commented on #642
Am working on putting the content in Moodle and bookdown!

[2022-10-21 22:32] cmadland commented on #639
Can anyone add the Werd docs here?
@kmarjanovic

do they need to be werd docs that we share, or can we create some pages in bookdown? I know Sergio had this issue a couple days ago.

[2022-10-25 18:14] kmarjanovic commented on #639
@cmadland we have to search through the courses to find the google docs.  Could Meekson do this?

[2022-10-25 18:15] kmarjanovic commented on #639
Adding Barish as I think it relates to Sergio's requests?
@barishgolland

[2022-10-28 16:24] kmarjanovic opened #643 "LDRS 697 missing docs"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 697 Master - and [FA 2022](https://learn.twu.ca/course/view.php?id=25427&section=11#tabs-tree-start)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

For [Unit 6 Topic 2](https://far.twu.ca/ldrs/697new/u6/topic-2/chromeless:true/hide

[2022-10-28 17:37] cmadland commented on #643
I will just import that 'Templates and Resources' tab with all the files.

[2022-10-28 17:45] kmarjanovic commented on #643
Perfect! Thank you!

[2022-10-28 17:46] cmadland commented on #643
hrm...maybe not. I've tried that twice with no success. Investigating...

[2022-10-28 17:47] kmarjanovic commented on #643
If there is time...it's better to link to the docs in git though, correct?

There are lots of docs in 591 - word and google - so looking into that now

[2022-10-28 17:50] cmadland commented on #643
Ideally, content should be in markdown as a page in bookdown. some files, like forms and such should be linked from their source, like the HREB site. We should move everything out of google.

[2022-10-28 17:51] cmadland commented on #643
tried the import in my sample course and it worked just fine...not sure what's up with 697 FA22

[2022-10-28 18:03] cmadland commented on #643
found them...they ended up on the Assignment 7 page...3 times. Moodle is dumb.

[2022-10-28 18:40] cmadland commented on #643
Ok...finally sorted

[2022-10-28 18:40] #643 closed

[2022-10-28 19:03] kmarjanovic opened #644 "images in ldrs 697"
**Which course contains the bug?**
ldrs 697
 https://learn.twu.ca/course/view.php?id=25427&section=19#tabs-tree-start
**Describe the error and/or your suggestion**
In Assignment 2 - eportfolio - there are 3 images missing.  They seem to be there in git, so I'm not sure what's going on!
line 262
![](Effective Content 3-Circle Venn Diagram.png)

line 282-283
Syed1.jpg
Syed2.jpg

[2022-10-28 19:29] kmarjanovic opened #645 "LDRS 631 video missing"
**Which course contains the bug?**
https://learn.twu.ca/mod/page/view.php?id=557901&forceview=1

3. The LEADS in A Caring Environment Framework
Unit 4

@MaraChequer perhaps you can track this down, or a replacement ( with sme input?)

[2022-10-28 19:31] kmarjanovic commented on #639
I've searched through most of the courses for google docs. There are lots of versions of these courses!!!

@MaraChequer for 634 - do you have a copy of the [Team Charter Template](https://docs.google.com/document/d/1xBimyTQcHkuUELJ15Suj8P5uvZfcwQlPY0wN4wfyGso/edit?usp=sharing).  I see the note in the Facilitator's guide - unit 4 notes, so it's in Unit 4 somewhere as well.

Most other google docs s

[2022-10-28 20:31] cmadland commented on #644
I don't see those images in gh...

[2022-10-28 20:34] kmarjanovic commented on #644
![image](https://user-images.githubusercontent.com/35148983/198727308-79a95868-a848-485c-949e-3e6504022f07.png)
in assessment section eportfolio

[2022-10-28 20:43] cmadland commented on #644
looks like that is the old 697 folder...they aren't in `697new`...will fix

[2022-10-28 21:13] MaraChequer commented on #645
Kelly, I have fixed this bug with a note from Heather. Link was changed and text adjusted according to the video.

[2022-10-28 21:13] #645 closed

[2022-10-28 21:18] cmadland commented on #644
fix't

[2022-10-28 21:18] #644 closed

[2022-10-28 21:33] MaraChequer commented on #612
Has the replacement of logos started?

[2022-10-31 17:58] kmarjanovic commented on #645
Thanks Mara!!

[2022-11-01 16:48] kmarjanovic commented on #612
Not yet...We can start replacing with [this](https://mytwu.sharepoint.com/:i:/r/sites/employees/Shared%20Documents/Marketing/Brand%20Assets/Desktop%20Background/Desktop%20Background%20-%20Theme%20Verse%202022-23%20.jpg?csf=1&web=1&e=c7DOx6) (desktop background with theme).  Does that work?

@MaraChequer or @Jeff-TWU could you resize to fit a banner for our courses? (see [PHIL 100 example](https://

[2022-11-07 17:26] MeeksonHundoo commented on #623
Hello @deannadams thanks for letting me know about it. I will start working on this today and let you know once it's done.

[2022-11-07 21:38] dgaudet48 opened #646 "Production"
### HIST/RELS 361

### URL

### Instructions
- [ ]Please create a repository for development in Bookdown
- [ ]

Please upload required files as attachments.

[2022-11-08 07:24] MeeksonHundoo commented on #623
Hello @deannadams I've just finished putting Topic 3 and made the edits as guided on the word docs. Could you please take a look and advice if everything is okay? Here is the link : https://learn.twu.ca/course/view.php?id=15711&section=5#tabs-tree-start

[2022-11-08 18:33] dgaudet48 opened #647 "BUSI 111 - Video Time Stamps"
### BUSI111

### https://web.microsoftstream.com/video/16cf0042-517c-40de-8444-650e0d421c6d

### Instructions
- [x] @Jeff-TWU as per our conversation, can you take this following sement out of the video so it is a stand-alone clip?:
- [x]  timestamp: (4:23-15:43)
- [ ]
- [ ]

Please upload required files as attachments.

[2022-11-09 19:10] deannadams commented on #623
Hi @MeeksonHundoo - great job!! Just a couple of things...

1. You missed adding the new learning outcome in the Unit 3 overview - See Unit 3 Overview Screenshot (please add "Understand your Birkman map" in between the last 2 bullet points (indicated by the red arrow)
2. Just a copy and paste error in the new Birkman content. You've repeated "Start with Why? The Birkman Mindset" heading twice. Ple

[2022-11-09 20:00] kmarjanovic opened #648 "Production - ID test Book"
### Course
Please make a new bookdown course - based on the template (or TONE course?)- so IDs can play!

[2022-11-09 21:09] MeeksonHundoo opened #649 "ldrs440 Learning Activity 1.3"
**What course/project is this request for?**
ldrs440

**Describe the request**
![image](https://user-images.githubusercontent.com/98780625/200941814-4cd0674e-4658-43cd-aee3-21e188e0e4d7.png)

Could we please have this image embedded in the bookdown course in a much better way than it is now?

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-11-09 21:33] MeeksonHundoo commented on #642
Hello @kmarjanovic contents of U1 are already in bookdown now. Here is the link to it:
https://psychic-giggle-6b21ea8e.pages.github.io/managing-and-performing.html
Let me know if any changes are needed

[2022-11-09 21:41] MaraChequer commented on #649
is this a graphic request? or do you need help embedding the image @MeeksonHundoo?

[2022-11-09 21:44] MeeksonHundoo commented on #649
Hello @MaraChequer I think a graphic request, where the students can maybe fill in their own answers.

[2022-11-09 22:02] MaraChequer commented on #649
I see, can you send me the course link to take a look? @MeeksonHundoo , It may only be a diagram.

[2022-11-10 01:19] MeeksonHundoo commented on #649
Hello @MaraChequer Apologies for replying late. I was in class, here is the bookdown link: https://psychic-giggle-6b21ea8e.pages.github.io/managing-and-performing.html

[2022-11-10 06:31] kmarjanovic opened #650 "PSYC 340 topic rewrite"
### Course
PSYC 340 Master
### URL
https://learn.twu.ca/course/view.php?id=15808&section=4#tabs-tree-start
### Instructions
- Please replace **Topic 4 in Week 4** with the attached
[Psych 340 week 5-for production.docx](https://github.com/TWUOnline/bug-tracking/files/9977942/Psych.340.week.5-for.production.docx)

[2022-11-14 18:35] kmarjanovic commented on #650
Complete.  Note old topic 4 and activities deleted.  See history if needed for future revisions. https://github.com/TWUOnline/arts-master/tree/master/pages/16.psyc340adc/07.u4

[2022-11-14 18:35] #650 closed

[2022-11-14 18:51] Jeff-TWU commented on #647
Hi @dgaudet48, File is too big to upload here. So instead here is a [Dropbox link](https://www.dropbox.com/s/y67zc6mjvqhav5b/Ch1%20The%20Changing%20Face%20of%20Business_edit.mp4?dl=0).

I can also replace the file on MS stream if you prefer? Let me know.

[2022-11-14 20:53] dgaudet48 commented on #647
@Jeff-TWU Thanks Jeff - if possible, could you replace the file on MS Stream? Can you make myself and brian.albright@twu.ca owners?

[2022-11-14 21:38] Jeff-TWU commented on #647
@dgaudet48 [Done](https://web.microsoftstream.com/video/16cf0042-517c-40de-8444-650e0d421c6d).

[2022-11-14 21:40] kmarjanovic commented on #649
@MaraChequer  This is an activity where we ask students to write in the chart.  We could make it interactive, but let's put it on hold for now.  @MeeksonHundoo could you clean up the table?  it can be simple markdown.
| First Header  | Second Header |
| ------------- | ------------- |
| Content Cell  | Content Cell  |
| Content Cell  | Content Cell  |

https://psychic-giggle-6b21ea8e.pages.github.

[2022-11-15 18:48] Jeff-TWU commented on #612
@kmarjanovic I created a new banner, however I can't test it out. When I go to [PHIL 100 example](https://learn.twu.ca/course/view.php?id=23433&section=0#tabs-tree-start) I have edit access, but it's just an iframe from [here](https://far.twu.ca/arts/phil101-pages/home/chromeless:true/hidepagetitle:true). I need access to the source to ensure that it will work properly. Below is the updated banner

[2022-11-15 18:51] kmarjanovic commented on #612
@Jeff-TWU I think this is the page you need - in the ARTs repo:
https://github.com/TWUOnline/arts-master/tree/master/pages/33.phil101-pages/03.home

Let me know if that works.

[2022-11-15 19:00] Jeff-TWU commented on #612
@kmarjanovic Worked. Thanks! Replaced. The above banner image has no margins (same as the original).

[2022-11-15 20:02] kmarjanovic commented on #612
Perfect!  Thanks @Jeff-TWU !!
As we review other courses, we will flag others that have the old logo.

Or @cmadland ...should we standardize the look of our GX courses?  Add the banner to all?

[2022-11-15 20:04] MaraChequer commented on #612
Looks great Jeff, thanks!

[2022-11-15 20:52] kmarjanovic opened #651 "LDRS 611 syllabus in Git"
**Which course contains the bug?**

[ LDRS 611 (Flexible)](https://learn.twu.ca/course/view.php?id=20834)
[LDRS611Dev - Master - Organizational Behaviour](https://learn.twu.ca/course/view.php?id=18001)

**Describe the error and/or your suggestion**
We need to take out any syllabus uploaded in Git as they are not updated regularly.

In the home page (course intro) please change message in red alert

[2022-11-15 21:42] kmarjanovic opened #652 "LDRS 440 Graphics"
**What course/project is this request for?**
LDRS 440 ([bookdown link](https://psychic-giggle-6b21ea8e.pages.github.io/))
**Describe the request**
Please create graphics for the following
Unit 2 Topic 1:
![image](https://user-images.githubusercontent.com/35148983/202028584-01e076cf-fc35-4503-8b62-6d879fc49abb.png)

Could you also check Unit 1 graphics to see if you would recommend updating some of

[2022-11-15 21:51] kmarjanovic commented on #642
@MeeksonHundoo thanks for uploading Unit 1!  There are still some formatting issues, so please review.  I'm trying to get the nexts units to you this week so will review online after that.

Here is unit 2
[LDRS_440_Unit 2_KM Oct19 for Production.docx](https://github.com/TWUOnline/bug-tracking/files/10016425/LDRS_440_Unit.2_KM.Oct19.for.Production.docx)

[2022-11-15 21:58] Jeff-TWU commented on #652
Oh my! What??
![image](https://user-images.githubusercontent.com/66963480/202033022-0bbdacc0-672d-43c8-b32e-2d2ba7a93f13.png)

I'll come up with something better.

For [Unit 1 graphics](https://psychic-giggle-6b21ea8e.pages.github.io/managing-and-performing.html#topic-1-what-do-managers-do) I'd recommend removing the frames, having consistency in style (colour, font), improving margins.

[2022-11-16 01:20] MaraChequer commented on #652
I'm speechless :D

[2022-11-16 16:01] kmarjanovic commented on #652
@Jeff-TWU @MaraChequer  just wait...more goodies to come for this course! ;)

[2022-11-16 21:10] kmarjanovic commented on #628
@MeeksonHundoo just checking on this issue again.
The link is in the request above: https://learn.twu.ca/course/view.php?id=25409&section=6
Note it is embedded from this git/grav content:
far.twu.ca/ldrs/591/assignments/posts-reflections/10w-ol

[2022-11-16 21:38] Jeff-TWU commented on #652
I'm not excited about it, but there it is. Let me know if you need any changes.
![20221115_Organization and its Environment-01](https://user-images.githubusercontent.com/66963480/202299750-3e83489c-04b9-4337-bf35-3bd0c17efacc.png)

[2022-11-16 22:00] MaraChequer commented on #652
That's way better Jeff, you nailed the idea.

[2022-11-16 22:02] Jeff-TWU commented on #652
@MaraChequer Thanks Mara!

[2022-11-17 08:12] MeeksonHundoo commented on #628
Hello @kmarjanovic this has been updated now. Sorry have become blind off lately...!!

[2022-11-17 17:08] kmarjanovic commented on #628
Thanks so much @MeeksonHundoo !  I know these are busy times!!

@cpenfoldnavarro I'll close this issue, but please let us know if there's anything else you need for this course.

[2022-11-17 17:08] #628 closed

[2022-11-17 17:47] cpenfoldnavarro commented on #628
Thanks.

I'm teaching LDRS 591 again in January. Will the new course be formatted in a way that it is more easily editable for the current instructor teaching the course? I know there was some discussion earlier about taking it out github so I could make changes in the current version (not the master).

Also, the current version in my dashboard is just a blank course. When will that be updated? I

[2022-11-17 21:19] deannadams commented on #623
Hi @MeeksonHundoo - great work! We are almost there.

Now we are missing Learning Activity 3.6 (Unit 3, Topic 5). I see you've added Activity 3.7 Self Leadership Video and Reflections (thank you!), but now Learning Activity 3.6 Giving and Receiving Feedback (radical candor video). There should be 2 learning activities for Topic 5 (3.6 + 3.7). Can you please add the 3.6 activity back just before Ac

[2022-11-17 21:27] kmarjanovic opened #653 "WRSH Arts in WordPress"
### Course
WRSH Arts certificate Hub & 5 courses

### Instructions
- [ ] @cmadland Please clone [FNDN 101](https://create.twu.ca/fndn101/wp-admin/) and save as a WP Course Template (like this [template](https://create.twu.ca/template/)
- [ ] Kelly will then delete content & add placeholders
- [ ] @MaraChequer  please find wrsh images to replace fndn ones
- [ ] @Nataliadsanchez please check feature

[2022-11-17 21:33] cmadland commented on #653
Happy to help with this, however, our cloning superpowers were too powerful and we had to get rid of them. Barish has been poking about with some alternate plugins, but I don't believe that is ready to go.

Workaround is to export content from a course and import into a new site...will get on that.

[2022-11-17 21:42] cmadland commented on #653
ok, imported the site to https://create.twu.ca/wrsh-template/wp-admin

[2022-11-17 23:08] MeeksonHundoo commented on #623
Hello @deannadams sorry about that. I forgot to write the plugin code for learning activity 3.6. Its there now. Here is the link:
https://learn.twu.ca/course/view.php?id=15711&section=5

[2022-11-17 23:23] deannadams commented on #623
Hi @MeeksonHundoo - you make it all sound so simple!! 🙂
Thanks so much. I think we have it all totally completed now!!
Thanks for all your help with this one!
DeAnn

[2022-11-17 23:26] MeeksonHundoo commented on #623
Hello @deannadams it indeed is very simple. Thanks for all your patience and understanding. I'll close this issue now. If there is anything, please feel free to reach out to us.

[2022-11-17 23:26] #623 closed

[2022-11-17 23:28] deannadams commented on #623
Perfect - thanks for everything!

[2022-11-18 01:50] kmarjanovic commented on #653
Thank you @cmadland !

I am a little confused though why some of the features (e.g. [Units](https://create.twu.ca/fndn101/units/)) didn't get copied over.  Did you use this [fndn ](https://create.twu.ca/fndn101/)course?  Or do some features not transfer?  e.g. drop down menu at the top, colour scheme. etc.?

[2022-11-18 21:32] MaraChequer opened #654 "LDRS 611 Organizational Behaviour"
**Which course contains the bug?**
LDRS 611  Organizational Behaviour

(Flexible)

**Describe the error and/or your suggestion**
Please remove the syllabus attachment in the **red alert right above the Course Description** in the Course Introduction tab.

Please Replace with this text:
The syllabus includes key information about the course schedule, assignments, and policies. Please find the cours

[2022-11-21 17:24] kmarjanovic commented on #642
@cmadland @MeeksonHundoo could you please fix the formatting in Unit 1?  I'm still having issues with vs code (book not building in RStudio) so I can't edit.
- [ ] Take out Topic 1, 2, 3 in heading (numbering is enough)
- [ ] Take out numbers for Activities.  (should be numbered
- [ ] Take out title "Learning Activities"
- [ ] [Read section 1.1 of our course textbook.](https://openstax.org/books/p

[2022-11-21 17:43] kmarjanovic opened #655 "LDRS 375 in bookdown"
### Course
LDRS 375: Culture & Christianity
### URL
bookdown url? https://ba-leadership.github.io/ldrs375/

### Instructions
- [x] Please upload Unit 1.  Note some content is still coming.

[LDRS 375_Unit 1-for Production.docx](https://github.com/TWUOnline/bug-tracking/files/10059199/LDRS.375_Unit.1-for.Production.docx)

[2022-11-21 18:19] kmarjanovic commented on #655
Thanks Colin!  Could you please share the bookdown url?

[2022-11-21 18:23] cmadland opened #656 "time to migrate bug-tracking to the new projects...objections?"

[2022-11-21 18:26] kmarjanovic commented on #656
Makes sense to me that issues are attached to projects...at the same time, will we lose the big picture of the project board that helps to prioritize?

Whatever will help Production - I'm all for it!! :)

[2022-11-22 03:55] kmarjanovic commented on #642
@MeeksonHundoo Attached is Unit 3.  Please let me know if you have questions.
Thank you!
[LDRS_440_Unit 3_Nov3_KM-for Production.docx](https://github.com/TWUOnline/bug-tracking/files/10063359/LDRS_440_Unit.3_Nov3_KM-for.Production.docx)

[2022-11-22 16:57] #647 closed

[2022-11-22 20:25] kmarjanovic commented on #642
Please add the video link for Unit 2 – Activity 2.6 -  https://www.youtube.com/watch?v=mkOkG1H0PQQ

[2022-11-23 03:23] kmarjanovic commented on #628
Hi @cpenfoldnavarro !
There is a way to take the course book and put the content directly in Moodle so you can edit it - but our department doesn't have the capacity to work on this until the spring (@cmadland please correct me if I'm wrong!;)

If your January course is still blank, I believe the procedure is for instructors to import.  Here are the [instructions](https://trinitywestern.teamdynami

[2022-11-23 22:13] MaraChequer opened #657 "Production Request - LDRS 420 Unit 3"
### Course LDRS 420

### URL
https://learn.twu.ca/mod/page/view.php?id=718257

### Instructions
- [x] Please upload content for topics, summary and references for Unit 3.
- [x] Unit overview is done

Attached is the content to upload
[Unit 3.docx](https://github.com/TWUOnline/bug-tracking/files/10079441/Unit.3.docx)

[2022-11-23 23:20] MeeksonHundoo commented on #654
Hello @MaraChequer this has been updated.

[2022-11-23 23:21] MaraChequer commented on #654
Thank you @MeeksonHundoo !

[2022-11-23 23:23] #654 closed

[2022-11-24 17:20] kmarjanovic commented on #653
@cmadland could you help import the Unit tab - and maybe just 1 unit so we can make a template?
https://create.twu.ca/fndn101/units/
https://create.twu.ca/fndn101/unit-1/

Also - please add the assessment section https://create.twu.ca/fndn101/assessment/
Thank you!

[2022-11-24 17:27] cmadland commented on #648
Instructions are on the 'bookddown-template' readme...

[2022-11-24 17:39] cmadland commented on #653
- menu is changed now to the same for fndn101...I think that takes care of https://github.com/TWUOnline/bug-tracking/issues/653#issuecomment-1326705702

[2022-11-24 17:40] kmarjanovic commented on #653
Perfect!  Thank you!!

[2022-11-24 17:42] cmadland commented on #653
I presume I should hold off on creating 239, 301, 401 etc until the template site is /chef's kiss/

[2022-11-24 17:44] kmarjanovic commented on #653
Yes, hold off for a bit - thanks.  (btw I had to google chef's kiss;)

[2022-11-24 19:39] Jeff-TWU commented on #642
@kmarjanovic @cmadland I will be working on odd-numbered units and @MeeksonHundoo will be working on even. I'm working on unit 3 now.
I've made the below requested updates to U1 with the exception of the last item (images).

[2022-11-24 19:41] Jeff-TWU commented on #642
@kmarjanovic I will be working on this.

[2022-11-24 20:32] kmarjanovic commented on #653
@MaraChequer @Nataliadsanchez - I added the Unit 1 template to the other units, and I'm just going to play around with Unit 5 (https://create.twu.ca/wrsh-template/units/unit-5-testing-plugins/) to see what other features might work in our units.

Need to pick @cmadland 's brain about tagging & categories in WP courses...maybe Monday's CoP?

[2022-11-24 21:47] kmarjanovic commented on #642
Thank you @Jeff-TWU & @MeeksonHundoo !!

Here is Unit 4.  6 more to go! ;)
[LDRS_440_Unit 4 for Production.docx](https://github.com/TWUOnline/bug-tracking/files/10087460/LDRS_440_Unit.4.for.Production.docx)

[2022-11-25 03:32] cmadland commented on #653
I'll be 'on vacation' 'til wednesday...gotta get this paper done.

[2022-11-28 07:43] MeeksonHundoo commented on #642
Hello @kmarjanovic U2 has been uploaded. here is the link to it: https://psychic-giggle-6b21ea8e.pages.github.io/externalinternal-organizational-environments-and-corporate-culture.html

Also, I could see only one image for Topic 6 on the website given on the word doc i.e. https://rblip.s3.amazonaws.com/Books/Reinventing+the+Organization/Chapter%2B1.pdf. (on page 9)
There are 2 more images:
![image

[2022-11-28 07:51] MeeksonHundoo commented on #642
This video has been uploaded

[2022-11-28 07:53] MeeksonHundoo commented on #642
@kmarjanovic Will start working on u4 tomorrow and inform you once am done with it.

[2022-11-28 18:46] kmarjanovic commented on #655
Please upload Unit 2.
[LDRS 375 - Unit 2 for Production.docx](https://github.com/TWUOnline/bug-tracking/files/10106582/LDRS.375.-.Unit.2.for.Production.docx)
Thank you!

[2022-11-28 18:52] Nataliadsanchez commented on #655
Hi Kelly,

Perfect! I will :)

________________________________
From: Kelly Marjanovic ***@***.***>
Sent: November 28, 2022 10:46 AM
To: TWUOnline/bug-tracking ***@***.***>
Cc: Natalia Daza-Sanchez ***@***.***>; Assign ***@***.***>
Subject: Re: [TWUOnline/bug-tracking] LDRS 375 in bookdown (Issue #655)

Please upload Unit 2.
LDRS 375 - Unit 2 for Production.docx<https://github.com/TWUOnline/bug-tr

[2022-11-28 19:28] kmarjanovic commented on #655
@Nataliadsanchez feel free to work on this to get used to Bookdown.
Otherwise - I believe Colin is working on this course.  Meekson and Jeff work on Production as well so can help if you run into issues.  Good luck!

[2022-11-28 22:34] Jeff-TWU commented on #642
@kmarjanovic Unit 3 is up and ready for review. Also updated images on U1, added H5P activity.
[ba-leadership.github.io/ldrs440](http://ba-leadership.github.io/ldrs440)

[2022-11-28 23:00] Jeff-TWU commented on #649
@kmarjanovic Replaced with [H5p Activity](https://psychic-giggle-6b21ea8e.pages.github.io/managing-and-performing.html#activity-important-vs.-urgent). Will this work?

[2022-11-30 02:16] kmarjanovic opened #658 "LDRS 440 Unit 5 image"
**What course/project is this request for?**
LDRS 440 - Unit 5 Topic 1

https://psychic-giggle-6b21ea8e.pages.github.io/

**Describe the request**
Could you please help with this graphic?  I believe it was a pwpt slide
![Unit 5 topic 1](https://user-images.githubusercontent.com/35148983/204691466-61b29ee7-cf7c-4871-91bf-e1de4ae925bb.jpg)

**Priority**
Course runs in January.

Use the label to add

[2022-11-30 02:30] kmarjanovic commented on #658
Also looking for a replacement image of this
![U5 topic 1 balancing-budget-rocks](https://user-images.githubusercontent.com/35148983/204693123-fa486e06-d9c0-42bf-9760-1000550eb3eb.jpg)
from here: https://www.mymoneycoach.ca/budgeting/what-is-a-budget-planning-forecasting

[2022-11-30 02:33] kmarjanovic commented on #658
And another from Unit 5 - topic 2
![U5 topic 2](https://user-images.githubusercontent.com/35148983/204693671-b67a6575-86bd-4567-80d7-cc68f6ef2d66.jpg)

[2022-11-30 16:33] Jeff-TWU commented on #658
@kmarjanovic I think it would make more sense to put this in a table. What do you think? Would that be alright?

[2022-11-30 16:35] kmarjanovic commented on #658
Yes that works too!  I put that notes in unit 5. Thanks for the feedback, Jeff!

[2022-11-30 17:15] kmarjanovic commented on #642
Thank you @MeeksonHundoo and @Jeff-TWU for all your work!!  I promise to get to all your questions!  Just trying to get all the units in to Production first.

Here is unit 5.
[LDRS_440_Unit 5 for Production.docx](https://github.com/TWUOnline/bug-tracking/files/10125588/LDRS_440_Unit.5.for.Production.docx)

[2022-11-30 20:26] kmarjanovic commented on #655
Unit 2 revision:
Please take out reference to reading the Preface (Activity 2.1 & in checklist)

@cmadland Do we have a url for this course? (bookdown site)

[2022-11-30 21:21] Nataliadsanchez commented on #655
Changes were made. Also, is this the bookdown URL? https://github.com/BA-Leadership/ldrs375

[2022-11-30 22:26] MaraChequer opened #659 "Psyc 339"
### Course **Psyc 339**

### URL
https://learn.twu.ca/course/view.php?id=25117&section=4#tabs-tree-start

**Meekson:** Please get in touch for further instructions.

### Instructions
- [ ] Meekson, we want to download and combine the files from each unit into one word document.

Please upload required files as attachments.

[2022-11-30 23:52] Jeff-TWU commented on #642
[U5 is up](https://psychic-giggle-6b21ea8e.pages.github.io/budgeting.html)

- Replaced problematic images, let me know if they work @kmarjanovic
- Need answers to h5p activity. Once I have those, will create the H5P.

[2022-11-30 23:55] Jeff-TWU commented on #658
@kmarjanovic Replaced images. [See in context.](https://psychic-giggle-6b21ea8e.pages.github.io/budgeting.html)

The table didn't look right. Compromised with lists.  Let me know if you would prefer an image.