[2020-02-24 22:00] faitht1023 commented on #83
@kmarjanovic I've added the learning activities for U7, there seem to be the new lines that aren't necessary still in the alerts, though. How can I get rid of them?

[2020-02-24 22:09] kmarjanovic commented on #247
Hi @345-Jay,
I still see the FAR Centre Activities for Topic 2 in blue.  For this course, Personal Activities are in blue, FAR Centre Activities are in green.
Could you please make that change back?

Also - @cmadland can you please check on the checkmarks issue? (Unit 1, Topic 2, FAR Center Activity 1.2.1)

https://learn.twu.ca/course/view.php?id=8951&section=1

[2020-02-25 12:07] kmathews1 commented on #251
@faitht1023 Please add "TO" in the heading...PARTICULARLY RELEVANT THIS LESSON: in the overview page. I think this should be done for all the NURS 510 and 520 lessons. Thanks

[2020-02-25 17:04] kmathews1 commented on #251
Is there a way of displaying the image of the video like a placeholder image instead of the links of the video?

[2020-02-25 21:35] rezakh66 commented on #247
@kmarjanovic Activity 1.2 is back to green.

[2020-02-26 20:38] kmarjanovic opened #254 "NURS 510 Lesson 8"
### URL
https://learn.twu.ca/course/view.php?id=10939&section=9
### Instructions
Please add Lesson 8 and format according the the previous lessons.
[NURS_510_Lesson-8-Personal_Feb26_KM-clean-copy.docx](https://github.com/TWUOnline/bug-tracking/files/4258065/NURS_510_Lesson-8-Personal_Feb26_KM-clean-copy.docx)

[2020-02-26 21:55] kmarjanovic commented on #254
Please use this updated version:
[NURS_510_Lesson-8-Personal_Final_dj_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4258364/NURS_510_Lesson-8-Personal_Final_dj_KM.docx)

[2020-02-27 19:30] rezakh66 commented on #254
@kmarjanovic Hi Kelly,
Unit 8 is online now.

[2020-03-02 20:24] faitht1023 commented on #251
@kmathews1 I've added "TO" to both NURS 510 and 520 lessons.
Would it be possible for you to screenshot and give me an example of which videos you're referring to?

[2020-03-02 21:41] faitht1023 commented on #58
@kmarjanovic so sorry for the late reply on this! For the renaming of the chapter quizzes, there will be duplicates, i.e. there will be two "Chapter 1 Key Terms Quiz", four "Chapter 2 Key Terms Quiz", etc.. Is this what you would like? As well, for the unit quizzes, which questions should they be referencing?

[2020-03-02 21:59] kmarjanovic commented on #58
Hi Faith, @faitht1023
There should be just one quiz for each chapter (note there may be more than one chapter done in a unit, so there can be several quizzes per unit).  Please refer to the course to see what chapters the quizzes are testing and name accordingly (this was in the original document).
For the unit quizzes, please randomly select 20 from the test bank.
Thank you for your help!

[2020-03-02 22:15] faitht1023 commented on #58
@kmarjanovic I understand now about the Chapter quizzes, do you know where the original document is? I just want to be sure that I'm naming the quizzes appropriately, as there are a few issues with the naming and numbering of the questions.

[2020-03-03 03:47] kmarjanovic opened #255 "NURS 510 Lesson 9"
### URL
https://learn.twu.ca/course/view.php?id=10939&section=10
### Instructions
Please add lesson 9.
See previous lessons for formatting (e.g. Click to open course learning outcomes, summary section, etc.)
[NURS_510_Lesson_9_Emancipatory_KM_March2-clean.docx](https://github.com/TWUOnline/bug-tracking/files/4279145/NURS_510_Lesson_9_Emancipatory_KM_March2-clean.docx)

[2020-03-03 13:23] kmathews1 commented on #251
See an example attached. You will notice that it's not only showing a link to the video but an image of the video. Please let me know if you need more clarifications.
![video sample](https://user-images.githubusercontent.com/56735229/75779540-cea13300-5d27-11ea-9e48-f37a63c86905.jpg)
![video sample1](https://user-images.githubusercontent.com/56735229/75779742-29d32580-5d28-11ea-93d3-6aae9373820c.j

[2020-03-04 17:37] rezakh66 commented on #255
@kmarjanovic Hi Kelly,
I have uploaded unit 9. small changes need to be made in the activity 9.2 table.

[2020-03-04 22:14] kmarjanovic commented on #58
Hi Faith,
I would suggest just going to the overview page of each unit.  In the Activity checklist it says the quizzes for that unit (Unit 1: Chapter Key Terms quizzes (Ch.1 & 2).
The original documents are all of the course files, so easier to look in Moodle/Git.

[2020-03-05 19:17] kmarjanovic opened #256 "LDRS 662 Assignment pages"
## URL
https://learn.twu.ca/course/view.php?id=8931&section=11
### Instructions
Could we create pages in Github for the different assignments?  (Currently we have our old style (table of pdf links)

Ideally I'd like the navigation menu on the left linking to the different assignments, but we can create tabs in Moodle to link to the pages as well. (See [LDRS 663](https://learn.twu.ca/course/view.ph

[2020-03-05 19:20] kmarjanovic opened #257 "LDRS 664 Assignment pages"
## URL
https://learn.twu.ca/course/view.php?id=8884&section=11
### Instructions
Could we create pages in Github for the different assignments?  (Currently we have our old style (table of pdf links)

Ideally I'd like the navigation menu on the left linking to the different assignments, but we can create tabs in Moodle to link to the pages as well. (See [LDRS 663](https://learn.twu.ca/course/view.ph

[2020-03-05 19:21] #228 closed

[2020-03-05 19:52] kmarjanovic commented on #255
Thanks @rezakh66 !
For the table, I just copied the markdown using the Writage app in Word.  It's easier than the other table formatting.

| **TERM**             | **RESOURCE**                                                  | **DEFINITION** |
|----------------------|---------------------------------------------------------------|----------------|
| Emancipatory Knowing | See Chinn and Kramer’s h

[2020-03-05 19:56] kmarjanovic commented on #255
Just a note ...Could the ATA's flag when an image appears too small to read?  In the word doc it seemed fine, but in Moodle it was way too small.
(see screenshot of original and then a larger image I just found)
![image](https://user-images.githubusercontent.com/35148983/76020487-b9bbcf80-5ee0-11ea-96cf-0542e49df624.png)

[2020-03-05 20:03] #255 closed

[2020-03-05 20:06] #254 closed

[2020-03-05 20:10] kmarjanovic commented on #250
Thanks @rezakh66 !

For the second activity, is it possible to number the questions.  Could we also have spaces in between?  Is there a setting that allows for lowercase too, or so we need to instruct students to use all caps?
(see screenshot)
![image](https://user-images.githubusercontent.com/35148983/76021488-9f82f100-5ee2-11ea-97f8-3344979b9791.png)

[2020-03-05 20:24] kmarjanovic commented on #83
Activity 7.3 looks a bit better (took out the spaces) - but it still has a checkmark and a number.
@cmadland - how do we fix this?

For Activity 7.1 I cheated and just used icons instead so we don't get the checkmarks.

Also - the navigation pane is missing in Unit 7.  Please fix!!!

[2020-03-05 20:28] #6 closed

[2020-03-05 20:29] kmarjanovic opened #258 "LDRS 500 branching for FAR"
### Course
LDRS 500 FAR MASTER
### URL
https://learn.twu.ca/course/view.php?id=10719&section=0
### Instructions
In the "Learning Activities" & "Assessment" sections of each unit, there are instructions for FAR Centre students and for online students.
Could we make an OL and FAR version in Github? Make sure the FAR branch is seen in this moodle shell - and perhaps make another LDRS 500 OL Master to

[2020-03-05 20:34] kmarjanovic commented on #247
We still need to fix the formatting of FAR Center Activity 1.2.1.
Please compare the original pdf to the The Traits in the click to open feature.  (#s and letters).

[2020-03-05 20:38] kmarjanovic commented on #247
I added bold titles to make it stand out.  Still need help with those pesky checkmarks!!!
![image](https://user-images.githubusercontent.com/35148983/76023533-96941e80-5ee6-11ea-9ae9-eb354561756a.png)

[2020-03-05 20:46] rezakh66 commented on #250
@kmarjanovic Hi, I have reformatted the second activity and checked off the case sensitivity in settings.

[2020-03-05 20:50] kmarjanovic commented on #250
@rezakh66 Perfect!!!
Just one more thought...for the first activity, does it need to have the images in a list to scroll down, or is there a slideshow feature/format for this H5P activity?

[2020-03-05 21:13] kmarjanovic opened #259 "PMPP 201 - assessment files"
### URL
https://learn.twu.ca/course/view.php?id=8951&section=2
### Instructions
Could you please add the info in the word docs to the assessment pages in Units 2, 3, 4, and 5? (e.g. in Unit 2, Assessment 2.1: Written Assignment in the assessment alert)

[U4-Written-Assignment-Scenario.docx](https://github.com/TWUOnline/bug-tracking/files/4295159/U4-Written-Assignment-Scenario.docx)
[U5-Written-Ass

[2020-03-05 21:44] kmarjanovic opened #260 "PMPP 201 - U5 video plugin"
### URL
https://learn.twu.ca/course/view.php?id=8951&section=5
### Instructions
I'm not sure why this youtube plugin isn't working:
Personal Activity 5.0.4:

[2020-03-05 21:49] kmarjanovic opened #261 "PMPP 201 - checkmark issue & alert review"
### URL
https://learn.twu.ca/course/view.php?id=8951&section=5
### Instructions
Once the checkmark issue is solved, we'll need to look at all of the alerts in this course again.

For example, U5 FAR Centre Activity 5.3.1: Family Vacation Actual Costs - the formatting doesn't come across as nicely as it does in the Word doc.  We have to make sure it's more readable.

![image](https://user-images.gi

[2020-03-06 17:03] kmarjanovic commented on #250
@rezakh66  Okay no problem!  Just thought I'd ask!
Thanks again for your help!  The activities look great :)

[2020-03-06 17:04] kmarjanovic commented on #260
Perfect! Thanks!

[2020-03-06 17:04] #260 closed

[2020-03-06 17:12] kmarjanovic commented on #261
I hate to be picky...but are there other options?
I tried adding numbers, but the checkmarks are still there.
![image](https://user-images.githubusercontent.com/35148983/76105792-e6c8ba80-5f92-11ea-9783-16fdde8f71d7.png)

One related question...can the title of the Click to Open features be a heading level #3, or at least bolded?  I tried and it didn't work.

[2020-03-06 17:17] kmarjanovic opened #262 "PMPP 201 Editing tasks (for Jessica?)"
### URL
https://learn.twu.ca/course/view.php?id=8951&section=1
### Instructions
There are a lot of missing periods or spaces in the Activity Checklists. (e.g. Read Fundamentals of PM (FPM), chapters 12-14.(50 minutes))
Please check consistency throughout course (in Overview section of each unit).

[2020-03-06 20:25] #247 closed

[2020-03-06 20:26] #249 closed

[2020-03-06 20:43] #192 closed

[2020-03-06 21:31] kmarjanovic commented on #51
@345-Jay or @cmadland
Could you please set up the navigation for these pages?  I see them in [github](https://github.com/TWUOnline/arts-master/tree/master/pages/07.hist107/assignments/assignment-4) but it's not working/connecting to navigate in Moodle/Grav.
![image](https://user-images.githubusercontent.com/35148983/76124007-0d98e800-5fb7-11ea-94f2-2251710b5876.png)

[2020-03-06 21:39] kmarjanovic commented on #58
Thank you @faitht1023 !

[2020-03-06 21:39] #58 closed

[2020-03-06 21:49] cmadland commented on #261
The text in the 'details' title can be bold if it is removed from the toggle. The data looks better as a table...but I have a sneaking suspicion that Matt wants it NOT in a table...

![image](https://user-images.githubusercontent.com/12282929/76125273-4635c300-5fb1-11ea-8ccd-c52c0391f111.png)

Thoughts?

[2020-03-06 21:51] kmarjanovic commented on #261
I love the table!  Let's do that!!!

[2020-03-06 22:25] 345-Jay commented on #259
Good afternoon,

Ms/Mrs. Kelly I have added the respective Assignment Scenarios to Units 2, 3, 4, and 5. Please let me know if its to your liking. https://learn.twu.ca/course/view.php?id=8951&section=2

[2020-03-06 22:34] kmarjanovic commented on #259
@345-Jay
Perfect!  Thank you!!!

[2020-03-06 22:34] #259 closed

[2020-03-09 01:55] kmarjanovic opened #263 "NURS 510 - Lesson 10"
### Instructions
Please add lesson 10. (check formatting with previous units)
[NURS_510_Lesson-10-Integrated Draft_March8_KM-clean-copy.docx](https://github.com/TWUOnline/bug-tracking/files/4304322/NURS_510_Lesson-10-Integrated.Draft_March8_KM-clean-copy.docx)

[2020-03-09 19:08] faitht1023 commented on #251
@kmathews1 I've done this with all video links except the one Vimeo link in Activity 1.1 in U1 of NURS 520. Sharing is currently not enabled on the Vimeo video and needs to be in order for it to be embedded in Moodle. Please let me know if there is anything else you would like edited.

[2020-03-09 19:16] faitht1023 commented on #261
@kmarjanovic is there anything else in PMPP 201 that needs formatting/reformatting?

[2020-03-09 19:41] faitht1023 commented on #263
I've added Lesson 10. Please let me know if any edits are required.

[2020-03-09 20:07] faitht1023 commented on #257
@kmarjanovic Does the rubric go on the same page as the assignment instructions?

[2020-03-09 20:53] faitht1023 commented on #257
@kmarjanovic I've added the attached assignments and their rubrics in .md files, but I have yet to make them show up on Moodle as tabs. https://github.com/TWUOnline/ldrs-master/commit/5cffd6976419a4962b8fd1d56944ff2b54a675ff

[2020-03-09 21:56] kmarjanovic commented on #263
Thanks Faith! @faitht1023 Just a couple of things:
- Please add the activity checklist alert.
- Make regular font - not heading: In Assessment: Your participation in online forums and synchronous webinars cumulatively comprise 20% of your final grade (approximately 2%/Lesson). This week will be entirely online forum discussions.
- Change the Topic 1 in the navigation pane to say "Integrated Ways o

[2020-03-10 18:07] rezakh66 commented on #7
@kmarjanovic Hi Kelly,
I have completed this graph based on the Leadership Competency Framework.docx. we only can have Text, Image and Video format contents in this H5P activity. I have added an example image in team leadership module to see how it will look like when inserting image and text simultaneously.

[2020-03-10 21:15] kmarjanovic commented on #257
Perfect!  I've added the tabs in Moodle.
Thank you!

[2020-03-10 21:15] #257 closed

[2020-03-10 22:17] rezakh66 commented on #256
@kmarjanovic Hi, which assignment's rubric is discussion.docx for?

[2020-03-11 16:17] kmarjanovic commented on #256
Hi @rezakh66 ,
The discussions rubric will go in a separate tab (https://learn.twu.ca/course/view.php?id=8931&section=12)
I don't think there's a page for it yet.

[2020-03-11 16:40] kmarjanovic opened #264 "NURS 510 - Lesson 11"
### Instructions
Please add Lesson 11. (see formatting of other lessons)
[NURS-510-Lesson-11-Conclusion-and-Future-March11_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4319476/NURS-510-Lesson-11-Conclusion-and-Future-March11_KM.docx)

[2020-03-11 17:16] kmarjanovic commented on #7
Hi @rezakh66 ,
Thanks so much!  I made a couple edits, so it's good to go!
I see above it says LDRS 550, but it should be LDRS 500.
Could you delete it from 550 if you put it in there?
Please add to 500: https://learn.twu.ca/course/view.php?id=10719&section=1
Unit 1 Overview.

[2020-03-11 17:46] kmarjanovic commented on #261
Hi @faitht1023 ,
The checkmarks are still an issue in this course.  Once that's resolved, I'll need to look back at all of the alerts to see the formatting.

[2020-03-11 18:33] kmarjanovic commented on #176
@cmadland any progress on getting a Grav site for this?  It would be great to review and wrap up this project.

[2020-03-11 21:16] kmarjanovic opened #265 "Online Learning On-ramp"
### URL
http://create.twu.ca/help/online-learning-on-ramp/multi-access
### Instructions
Create separate pages for the 4 topics (or more)

[2020-03-12 17:28] rezakh66 commented on #7
@kmarjanovic Hi, I have added this to LDRS500. LDRS550 does not exist though to be worry about.

[2020-03-12 18:30] rezakh66 commented on #264
@kmarjanovic Hi,
This unit is online now with couple of issues to be looked at: 1- activity 11.3 does not exist but we have it in checklist 2- There are links in grading criteria that are broken. please let me know if updates are needed.

[2020-03-12 18:39] rezakh66 commented on #263
@kmarjanovic Hi, I have made the changes. please check if its the way you want.

[2020-03-12 18:53] kmarjanovic commented on #7
Thank you!

[2020-03-12 18:53] #7 closed

[2020-03-12 19:13] kmarjanovic commented on #264
Thanks @rezakh66 !!
I made the edits, so it's all good now.

[2020-03-12 19:13] #264 closed

[2020-03-12 19:15] kmarjanovic commented on #263
Awesome! Thanks @rezakh66 !!

[2020-03-12 19:15] #263 closed

[2020-03-13 13:38] #251 closed

[2020-03-13 16:15] #265 closed

[2020-03-15 21:55] emmanuelD-AFK opened #266 "Research Ethics Form Link: Not Responsive."
**Which course contains the bug?**
LDRS 662 A Culturally Responsive Comm (SP 2020)

**Describe the error and/or your suggestion**
The link to access the Research Ethics Form link is not responsive

**Location of the bug**
1. URL:  https://learn.twu.ca/course/view.php?id=13590&section=1
2. Unit # 1         Topic # Assessment 1          Activity#  Part 1: 3

**Optional: Screenshots**
If applicable,

[2020-03-15 22:52] kmarjanovic commented on #266
@emmanuelD-AFK
Thanks for catching this!  I've added the info, but Cathy may send more clarification this week.

[2020-03-15 22:52] #266 closed

[2020-03-17 15:50] kmarjanovic opened #267 "PMPP 201 youtube plugin"
### URL
https://learn.twu.ca/course/view.php?id=8951&section=8
### Instructions
plugin isn't working.  Please check Unit 7, topic 4, FAR Centre Activity 7.4.1 & Personal Activity 8.0.5-7
![image](https://user-images.githubusercontent.com/35148983/76874169-675da580-6834-11ea-8f6c-e7a254d2081b.png)

[2020-03-17 22:48] kmarjanovic opened #268 "Production - new course repositories & git cards"
### Course
### In Atom
**in ldrs-master**
LDRS 501: Strategic Leadership
LDRS 504: Leadership, Values & Ethics
LDRS 620: Worldview Foundation of Educational Leadership
LDRS 623: Developing Educational Programs
LDRS 624:  School Leadership and Supervision
LDRS 625: Educational Leadership and Change
LDRS 697: Leadership Integration Project
**in ba-lead-master**
LDRS 301: Lifelong Learning in Leaders

[2020-03-19 18:08] cpenfoldnavarro opened #269 "Remove Due Dates from Course Introduction in LDRS 662A Culturally Responsive Comm (SP 2020)"
**Which course contains the bug?**
- LDRS 662A Culturally Responsive Comm (SP 2020)
https://learn.twu.ca/course/view.php?id=13590&section=0

**Describe the error and/or your suggestion**
Due dates have changed. Please delete the due dates listed here in the table (they are published elsewhere in Moodle).

**Location of the bug**
Please provide a specific link to the page with the error, as well as

[2020-03-19 18:14] kmarjanovic commented on #269
Due dates deleted :)

[2020-03-19 18:14] #269 closed

[2020-03-19 18:18] cpenfoldnavarro commented on #269
Merci!

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Kelly Marjanovic <notifications@github.com>
Sent: Thursday, March 19, 2020 2:15 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Cat

[2020-03-23 19:24] faitht1023 commented on #267
Fixed. The link previous was starting the video exactly at 84s into the video, however, now with what I've done, it starts just at the very beginning. Were you wanting the video to start at 84s?

[2020-03-23 20:06] cmadland commented on #267
The youtube plugin doesn’t work with a ’start time’ in the url.

Colin

--
Colin Madland, MEd (Distance Education)
Online Learning and Instructional Technologies
Trinity Western University  | 7600 Glover Road
Langley, BC | V2Y 1Y1
604.513.2121 ext. 3876 |  colin.madland@twu.ca<mailto:colin.madland@twu.ca>
@colinmadland | create.twu.ca<http://create.twu.ca>

Trinity Western University is located on

[2020-03-23 21:13] faitht1023 commented on #261
@kmarjanovic would you like the checkmarks removed?

[2020-03-23 21:34] kmarjanovic commented on #261
@faitht1023
Yes please, Faith!  That activity looks much better with checkmarks removed.

[2020-03-24 19:58] kmarjanovic commented on #267
@cmadland @faitht1023
I tried removing the seconds earlier - and again now - and the plugin still doesn't work.
Ideas?
![image](https://user-images.githubusercontent.com/35148983/77471231-87164000-6dd7-11ea-804e-a3758e32ed39.png)

[2020-03-24 21:36] rezakh66 commented on #267
@kmarjanovic It's fixed now.

[2020-03-24 22:16] rezakh66 commented on #267
@kmarjanovic Do you want videos in the activity checklist as well? I see your Note to Matt in this section.

[2020-03-24 23:31] cmadland commented on #267
ok…for future reference, the time hash is the &t=53s…including the ampersand. If you delete that, it should work.

--
Colin Madland, MEd (Distance Education)
Online Learning and Instructional Technologies
Trinity Western University  | 7600 Glover Road
Langley, BC | V2Y 1Y1
604.513.2121 ext. 3876 |  colin.madland@twu.ca<mailto:colin.madland@twu.ca>
@colinmadland | create.twu.ca<http://create.twu.ca

[2020-03-25 16:33] kmarjanovic commented on #267
oh okay.  Thank you!!

[2020-03-25 16:33] #267 closed

[2020-03-25 17:59] kmarjanovic commented on #215
This is still unresolved.  @cmadland could you help?

[2020-03-25 18:01] kmarjanovic commented on #51
@345-Jay or @cmadland do you need more info for this issue?

[2020-03-25 19:34] 345-Jay commented on #51
Good afternoon,

Yes, it seems as if the changes that were being in made github weren't
showing up in moodle

Sincerely,

Jared McGill

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40

[2020-03-25 20:31] kmarjanovic opened #270 "MCOM 221 site set up & Unit 1"
### Instructions
Colin to set up a new Grav repository (new format).

Please add Unit 1 & book ch. 1

[MCOM_221_Unit 1_Intro_Aug19_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4383391/MCOM_221_Unit.1_Intro_Aug19_KM.docx)

[Ned's-Book-Intro-&-Ch1-Aug19_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4383392/Ned.s-Book-Intro-.-Ch1-Aug19_KM.docx)

@JessD9 this course needs some e

[2020-03-25 20:36] kmarjanovic commented on #51
@345-Jay  do you know the steps to make this happen?
@cmadland do we need a sections page?  E.g.:
---
title: 'Research Essay & Proposal'
date: '00:26 14-11-2018'
hide_page_title: false
show_sidebar: true
hide_git_sync_repo_link: false
visible: false
content:
    items: '@self.children'
    order:
        by: folder
        dir: asc
    limit: 0
---

[2020-03-26 02:16] cmadland commented on #215
Should be fixed.

[2020-03-26 17:54] dgaudet48 opened #271 "U9 T1 Presentation Issue"
**Which course contains the bug?**
- LDRS 220 FAR Master

**Describe the error and/or your suggestion**
The Presentation feature will not show the slides - I have tried renaming and reloading in different formats (.jpg and .png)

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.ph

[2020-03-26 23:52] kmarjanovic commented on #215
@cmadland  it's still there for Units 2-7.

[2020-03-27 16:09] danielsplett opened #272 "LDRS 662 A - Culturally Responsive Comm (SP 2020) - 'Assignments'"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

LDRS 662 A - Culturally Responsive Comm (SP 2020) - 'Assignments'

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

There are 6 graded assignments listed and they have various percentages.  But for the last 3 assignment numbers, these last

[2020-03-27 16:50] cmadland commented on #215
@kmarjanovic @JessD9  do you have time to meet in the Design Zoom to chat...I know what is wrong here but I fear that the 'fix' will cause chaos

[2020-03-28 15:42] kmarjanovic commented on #256
Hi @rezakh66  & @cmadland

This is a situation in which I think we need to branch the changes, or especially ask for ID review.
Students are seeing the new changes right now and are seeing errors (see [bug report](https://github.com/TWUOnline/bug-tracking/issues/272)

Can we discuss this process?

[2020-03-28 18:38] kmarjanovic commented on #272
@danielsplett
Thanks for letting us know, Daniel!
All should be fixed now.

[2020-03-28 18:38] #272 closed

[2020-03-28 18:40] kmarjanovic commented on #256
Fixed now - lots of errors (all links broken, tables needed formatting, etc.)

All assignments have 2 folders - very confusing as it's unclear which one to edit.  Assignment 2: Observation - is the only one that's not in the numbered folders.  We should fix this so we know for future edits.

This rubric I had lots of trouble with.  If you can have a clearer look, please help.

[2020-03-28 19:32] danielsplett commented on #272
Hello Kelly & Bug exterminators:  😁

Thank you very much for attending to this so quickly, no doubt a fairly easy quick fix.

It's just SO much better for students, especially when they're ESL, if everything is laid out in an orderly manner.

I struggled for some time figuring out what was what on that page. So, maybe others would as well?

Thanks and God bless,

DkS

"The Big 'C' in life is Commu

[2020-03-29 16:17] kmarjanovic commented on #272
Thanks Daniel!
Yes, we definitely want to have everything in order and working before students see the course.
Thanks for your patience as we made these last minute tweaks!
Kelly

[2020-03-30 17:17] kmathews1 opened #273 "Nurs520_L3_Production"
### Nurs520_Lesson_3
[NURS_520_Lesson 3 working_March 30.docx](https://github.com/TWUOnline/bug-tracking/files/4404319/NURS_520_Lesson.3.working_March.30.docx)
[Lesson_3_Blank_step_1-concept_definition_and_inclusion_exclusion.docx](https://github.com/TWUOnline/bug-tracking/files/4404336/Lesson_3_Blank_step_1-concept_definition_and_inclusion_exclusion.docx)
[Lesson_3_Example_step_1-concept_definiti

[2020-03-30 21:44] faitht1023 commented on #261
@kmarjanovic I've just gone through the whole course and formatted it to the best of my ability. Please let me know if anything else should be fixed.
One thing I noticed is that at bottom of the "Assessment" section in each unit, there is an extra "Schedule" button which does not work. I believe that this needs to be fixed in Grav, @cmadland ?

[2020-03-30 22:24] kmathews1 opened #274 "Nurs520 Lesson 1 Production"
### Nurs520 Lesson 1

### http://far.twu.ca/msn/nurs520/u1/overview

### Instructions
- Can you insert a link in lesson 1 under the Melnyk & Fineout-Overholt resource citation with this photocopy (Chapter 1_update)?

[Chapter_1_update.pdf](https://github.com/TWUOnline/bug-tracking/files/4405766/Chapter_1_update.pdf)

[2020-03-30 23:43] kmarjanovic commented on #261
Hi @faitht1023 & @cmadland
I'll have a look through the course tonight.  Thanks so much for your help!

For the assessment button, it's the same issue we've had in other courses.  The alerts within the unit assessment folder need to be moved to the unit folder.  Then the plugin references (../../ etc.) have to change.
See this issue: [https://github.com/TWUOnline/bug-tracking/issues/16#issuecommen

[2020-03-31 00:02] kmathews1 opened #275 "Nurs520 Lesson 2_Production"
### Nurs520 Lesson 2

### Instructions
- Please add the attached lesson 2 to Github.
[Nurs520_Lesson_2_March_30_Working_systematic_reviews.docx](https://github.com/TWUOnline/bug-tracking/files/4406007/Nurs520_Lesson_2_March_30_Working_systematic_reviews.docx)

- Please link the lessons to the Moodle shell for Nurs520.

[2020-03-31 15:54] dgaudet48 opened #276 "Youtube Plugin Not working"
**Which course contains the bug?**
- LDRS 220 FAR Master

**Describe the error and/or your suggestion**
The Youtube plugin is not displaying the video on the Moodle course page

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://github.com/TWUOnline/ba-lead/blob/master/pages/02.ldrs220/10.U4/03.topic-2/sect

[2020-03-31 15:58] kmarjanovic commented on #276
I had this issue as well with PMPP 201. See https://github.com/TWUOnline/bug-tracking/issues/267
The solution was to delete the time hash in the url (e.g. &t=53s…including the ampersand)

[2020-03-31 16:09] dgaudet48 commented on #276
Perfect

Seems to be working now

Thanks!

[2020-03-31 16:09] #276 closed

[2020-03-31 16:37] #271 closed

[2020-04-01 03:18] dgaudet48 opened #277 "Presentation Not Working"
**Which course contains the bug?**
- LDRS 220 FAR Master

**Describe the error and/or your suggestion**
Presentation of slides will not display - keep getting an error message no matter how many times I reformat it.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://github.com/TWUOnline/ba-lead/blob/master

[2020-04-01 16:31] kmarjanovic commented on #277
I've added this to Issue Tracking Project and High Priority.
@cmadland do the ATA's track bug reports too, or should we always add it to a project?

[2020-04-01 16:35] kmarjanovic commented on #107
Just checking up on this issue.  @345-Jay are you still working on it?
I think the process is, if you're putting it aside for a while, put the issue back into a priority column so someone else can attend to it.

Also - @cmadland is there a way to hide content that's not relevant?  Right now looking at the [410 guide](https://far.twu.ca/guides/lead-ba/ldrs-410-persuasion-and-positive-influence) onl

[2020-04-01 20:45] cmadland commented on #274
Is there a library link for this?

[2020-04-01 20:54] kmathews1 commented on #274
The students will buy a textbook but Sarah said they can't get the book in time for the start of the course.

[2020-04-01 21:35] cmadland commented on #275
Ok, I added this as unit 2. Is Sarah using 'Lesson' rather than 'unit'?

[2020-04-01 21:41] cmadland commented on #275
@rezakh66 @faitht1023 or @raulmelara would you please clean up the MD and move activities to the alerts?

[2020-04-01 22:10] Raulmelara commented on #275
@cmadland I moved the activities to the alerts

[2020-04-01 22:22] kmathews1 commented on #275
Yes, Sarah is using lesson instead of unit.

[2020-04-01 22:26] kmathews1 opened #278 "Nurs520 L2 Production"
### Nurs520

### http://far.twu.ca/msn/nurs520/u2/topic-2

### Instructions
- Can you embed all the YouTube videos instead of having them as links?

- There are no navigation tabs by the left side?

[2020-04-01 22:40] #278 closed

[2020-04-02 02:37] Raulmelara commented on #273
uploaded unit 3 with attachments

[2020-04-02 14:26] kmathews1 commented on #273
@Raulmelara  @cmadland  Thanks for adding lesson 3. There are a couple of formatting issues:
1. Figure 1 not displayed.
2. Please add activity checklist to alert.
3. The whole of lesson 1 is not displayed.
4. Attachments are not available.
5. No left-side navigation menu.

Thanks for your help.

[2020-04-03 01:45] Raulmelara commented on #273
Added attachments, added activity checklist to alert. Navigation menu now visible as well as lesson 1

[2020-04-03 14:39] cpenfoldnavarro opened #279 "LDRS 662 Learning Activity 4.3"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
LDRS 662 A SPRING 2020

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
One of the links is broken. Please replace:
Cross, T.L. (2001). Cultural competence continuum.
With:
Cultural Competence Continuum: https://www.eri-wi.org/download/conf

[2020-04-03 21:09] kmarjanovic commented on #279
@cpenfoldnavarro
Hi Cathy,
I've made those edits.  Just want to double check that no rewording is required for the rest. as in the document it says - Adapted from Terry L. Cross, et., at., 1989), Coleman/Pellitteri 2000 & Updated 2/4/13

Now in Activity 4.3
Read: Cross, T.L. (2001). [Cultural competence continuum - Characteristics](https://www.eri-wi.org/download/conference/2013-conference/20_h_Wh

[2020-04-04 13:29] kmathews1 opened #280 "Production"
### Nurs520

### https://learn.twu.ca/course/view.php?id=12340&section=1

### Instructions
- Please replace the syllabus with the attached.

[Syllabus_April 3_N520.pdf](https://github.com/TWUOnline/bug-tracking/files/4431417/Syllabus_April.3_N520.pdf)

[2020-04-04 18:35] #280 closed

[2020-04-04 18:36] #274 closed

[2020-04-05 13:41] #275 closed

[2020-04-05 13:42] #273 closed

[2020-04-06 04:29] kmarjanovic opened #281 "LDRS 300 Review / Edit"
### URL
https://learn.twu.ca/course/view.php?id=10828&section=0

http://far.twu.ca/ba-lead/ldrs300/u1/overview

### Instructions
I've noticed lots of editing mistakes/glitches that didn't seem to be there in the fall (or I missed it!).

Jessica, could you have a look and edit things?
e.g. Unit 6 activity checklist, Unit 5 topic 1 plugin isn't working, etc.
Resources section in overview - later uni

[2020-04-06 14:23] cpenfoldnavarro commented on #279
Thanks, Kelly.

No other adjustment is needed, as that resources provides an overview of the Cross Continuum.
Cathy

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Kelly Marjanovic <notifications@github.com

[2020-04-06 14:37] cpenfoldnavarro opened #282 "LDRS 662 A SP 20: Unit 5 Activity 5.3"
**Which course contains the bug?**
LDRS 662 A SP 20

 **Describe the error and/or your suggestion**
Add this link to the Peggy McIntosh article.
Learning Activity 5.3: Read the following article and complete the checklist: McIntosh, P. (1989). White privilege: Unpacking the invisible knapsack. Peace and Freedom Magazine. Women’s International League for Peace and Freedom: Philadelphia, PA, (pp. 10

[2020-04-06 17:16] kmarjanovic commented on #279
Okay perfect. Thanks!

[2020-04-06 17:16] #279 closed

[2020-04-06 18:47] kmathews1 opened #283 "Nurs520_L2_Production"
### Nurs520 Lesson 2

### http://far.twu.ca/msn/nurs520/u2/overview

### Instructions
- Left-side navigation menu not showing

[2020-04-06 19:02] kmarjanovic commented on #282
@cmadland I changed this in Atom, but it's not showing up.  Does Grav need to be refreshed?

[2020-04-06 21:30] faitht1023 commented on #256
@kmarjanovic I've sorted out the assignment folders and deleted the extra ones. I also formatted the rubrics in markdown. Please let me know if they need to be fixed still!

[2020-04-07 17:26] #277 closed

[2020-04-07 19:09] cpenfoldnavarro opened #284 "Remove HREB from LDRS 662 Assignment 1"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 662 A SPRING 2020

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Delete this:
3. Complete the Research Ethics Form. See more information on Research Ethics, including Class Project Template Documents, at https://www.twu.ca/research

[2020-04-07 20:49] rezakh66 commented on #284
done

[2020-04-07 20:49] #284 closed

[2020-04-07 22:26] kmathews1 commented on #283
@cmadland @rezakh66 Please add lesson 2 to Moodle. Can you explain how to generate the iFrame?

[2020-04-07 23:38] cmadland commented on #283
Hi @kmathews1 the way I generate the iFrame is to copy it from another tab in the course.

Here is the structure...
`<p><iframe scrolling="yes" style="border: 0px #ffffff none;" src="https://far.twu.ca/arts/phil210/syllabus/chromeless:true/hidepagetitle:true" allowfullscreen="allowfullscreen" width="100%" height="1000"></iframe></p>`

Then you need to update the URL for the individual course secti

[2020-04-08 00:00] cmadland commented on #283
I added lesson 2 to moodle, bu tthe tab is still hidden.

[2020-04-08 00:00] #283 closed

[2020-04-08 12:43] kmarjanovic commented on #60
Please make changes to the guide according to the syllabus and notes from Brenda:
[LDRS-300-IF-Syllabus-Sasaki-2020.docx](https://github.com/TWUOnline/bug-tracking/files/4450491/LDRS-300-IF-Syllabus-Sasaki-2020.docx)

[LDRS-300-Facilitators-Guide.docx](https://github.com/TWUOnline/bug-tracking/files/4450494/LDRS-300-Facilitators-Guide.docx)

### Notes
Here is what I need to do/ still needs to be d

[2020-04-09 18:31] cpenfoldnavarro opened #285 "Correct Assignment Values in LDRS 662"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
LDRS 662 OL SP 2020

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
In several of the assignments, the points value listed in the PDF of the assignment is incorrect. These need to be adjusted to reflect the correct points value (listed in

[2020-04-09 23:07] kmarjanovic opened #286 "MCOM 221 - units"
### URL  ??? (not working)

### Instructions
!! Note this course goes live April 28!!!

- [x] Please format unit 1 (activity checklist alert, activity alerts, etc.)
- [x] add units 2-4 and format
- [x] embed url (when working) in Moodle course: [MCOM 221 - Digital Filmmaking (FAR Master)](https://learn.twu.ca/course/view.php?id=10829)

I don't think we need the book now (see [comment](https://gith

[2020-04-11 04:00] kmarjanovic opened #287 "TONE plugins & icons not working"
### Course
TONE
### URL
https://learn.twu.ca/course/view.php?id=13628&section=2
### Instructions
icons not working in Unit 2: Activity 2.2, 2.3, 2.5, 2.6, 2.7, Checking Your Learning - Assessment section.
Unit 4: 4.1, ...I'm sure there will be more as I'm finishing that unit.

[2020-04-12 22:39] rezakh66 commented on #286
@kmarjanovic Hi, I have reformatted unit 1.However changes are not showing up yet. the cache may need to be cleared up? I don't have SAMC Grav access to do that. And please send me Unit2-4 docx files .

[2020-04-12 22:43] rezakh66 commented on #286
Also, please note that I have added activity 1.5 to the checklist and alerts.  it was not there previously. let me know if you don't want that.

[2020-04-13 01:14] kmarjanovic commented on #286
Hi Reza,
Thanks so much for your help!
Here are the other units:
[MCOM-221_Unit 4-Motion_Oct16_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4467550/MCOM-221_Unit.4-Motion_Oct16_KM.docx)
[Unit-3-Visual-Composition_Oct16_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4467553/Unit-3-Visual-Composition_Oct16_KM.docx)
[MCOM-221-Unit-2-Process_Aug 19_KM.docx](https://github.com/TWU

[2020-04-13 01:15] kmarjanovic commented on #286
@cmadland could you email Reza & I the Grav login info so we can clear the cache?
(Why is this happening in recent sites?)

[2020-04-13 02:41] kmarjanovic commented on #250
I hate to ask but...for the first activity could we switch the format to [Quiz (Question Set)](https://h5p.org/question-set)?
In reading the [comments/solutions](https://h5p.org/guess-the-answer) for the 1 image issue, this was suggested.  It makes more sense as the question set rather than scrolling down the page.

[2020-04-13 19:39] kmarjanovic commented on #287
Icons not working in some of the activity alerts and other content (see Unit 4 check your learning).
Please let me know the fix!

https://learn.twu.ca/course/view.php?id=13628&section=4

[2020-04-13 19:44] cmadland commented on #287
The fix is to have the front matter as follows…

[cid:8E9E865E-98E8-413F-97AF-103BAE9C3F58@telus]

I’ll update the alerts in U4.

When you create another unit, just duplicate 1,2, or 4 and it should come along.

Colin

--
Colin Madland, MEd (Distance Education)
Online Learning and Instructional Technologies
Trinity Western University  | 7600 Glover Road
Langley, BC | V2Y 1Y1
604.513.2121 ext. 3876

[2020-04-13 23:54] faitht1023 commented on #286
@kmarjanovic I've just added U3 and U4 to Moodle, please let me know if there are issues with formatting. The activity checklist for U4 schedule is missing some details for the last two activities/assignments, would you know where I can find that information?

[2020-04-14 19:28] kmarjanovic opened #288 "Gradebook Setup - FAR Courses"
### Instructions
For all FAR courses, I'd like to double check that the MASTER shells have the gradebook set up correctly.
- [ ] check percentages in gradebook match syllabus
- [ ] check the instructors can see the percentages, rather than the points total (see [instructions](http://create.twu.ca/help/moodle/faculty/grade-book/course-total-display)

[2020-04-14 19:31] kmarjanovic opened #289 "Rubric Setup - LDRS 662 & 664"
### Instructions
For LDRS 662 & 664 please add the rubric using the Moodle tool.

@cmadland we should check for other rubric plugins & discuss whether we should set up for all FAR courses.

If rubrics can easily be transferred, then add to master and copy to current spring course:

| [LDRS 664 - MASTER](https://learn.twu.ca/course/view.php?id=8884)

[2020-04-14 19:35] kmarjanovic commented on #215
Yikes!  What happened to the units?

See [Unit 3](https://learn.twu.ca/course/view.php?id=10781&section=3) - overview missing, assessment at the top?

Original button issue not solved yet.

[2020-04-14 19:55] rezakh66 commented on #286
Unit 2 is added as well.

[2020-04-15 20:07] #161 closed

[2020-04-16 01:51] kmarjanovic commented on #258
@cmadland any update on branching?
We need this course for a 6 week offering in August (& likely online 12 & FAR in the fall).

[2020-04-16 15:36] cpenfoldnavarro opened #290 "LDRS 664 Unit 5 discussion instructions"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 664 A SP20

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 There is an error in the Unit 5 Discussion instructions that should be updated.

**Location of the bug**
Please provide a specific link to the page with the error, as well a

[2020-04-16 16:12] cmadland opened #291 "Reminder for ATAs"
When you are working on an issue, please move it to the 'In Progress' column in the project. If you can't resolve it, please make sure you move it back to its original column (High Priority, etc). If you do resolve it, then either close the issue, or if it needs review, move it to the 'Review' column and mention @kmarjanovic in the comment to alert her to the update.

Thanks!

Colin

[2020-04-16 18:14] cmadland commented on #258
Still working on this. To confirm, 591 is the only course where we use the tags right now right? @kmarjanovic

Should be done this morning...

[2020-04-16 18:17] kmarjanovic commented on #286
@rezakh66  @faitht1023
Just in case you haven't put Units 3-4 in GitHub, here are some updates from Ned (still has comments and tracked changes in case you need to compare versions).  Please also add Unit 5.

@JessD9 could you revise Units 1-2 based on the documents below?  Let us know if you have any questions!

[MCOM-221-Unit3-Visual-Composition-13April.docx](https://github.com/TWUOnline/bug-tra

[2020-04-16 18:18] kmarjanovic commented on #258
Yes that's right.  Although I think it's only been tested with the OL version.
Thanks Colin!

[2020-04-16 21:49] JessD9 commented on #286
Sure, no problem Kelly.

Besides grammar/syntax, is their anything specific you wanted me to revise
or add?

-Jessica

On Thu, Apr 16, 2020 at 2:17 PM Kelly Marjanovic <notifications@github.com>
wrote:

[2020-04-16 22:07] rezakh66 commented on #286
@kmarjanovic Hi, I have uploaded unit 5.

[2020-04-16 22:47] kmarjanovic commented on #286
@JessD9 - just checking that the tracked changes Ned included in the revised documents are now in the course.  And yes, definitely grammar/syntax.
If there are other design questions, questions for me or the instructor, feel free to add those in (you can use 2 exclamation marks to make it stand out in red).
e.g.
!! Question for Kelly:
Or email works too!

Please feel free to go through the rest of

[2020-04-16 22:49] kmarjanovic commented on #286
@JessD9 @rezakh66
Just going through the first units.
Could you check that any links are hyperlinked - and working?
eg. Activity 1.2
Durham University’s Glossary of Film Terms (some of which are unique to UK English and industry) https://community.dur.ac.uk/m.p.thompson/filmterms.htm#V

should be
[Durham University’s Glossary of Film Terms](https://community.dur.ac.uk/m.p.thompson/filmterms.htm) (

[2020-04-17 01:29] kmarjanovic commented on #286
Here is Unit 6 to upload:
[MCOM-221-Unit6-Visual-Storytelling15April.docx](https://github.com/TWUOnline/bug-tracking/files/4490466/MCOM-221-Unit6-Visual-Storytelling15April.docx)

Thank you @rezakh66 !!

[2020-04-17 01:30] kmarjanovic commented on #286
@faitht1023 thanks for catching that!  If the info isn't in the word files for the unit 4 activities, I'll check with the writer.

[2020-04-17 02:35] kmarjanovic commented on #285
@cpenfoldnavarro  is it okay if we just delete the pdfs?  I've deleted them for now but can put them back (with corrections).

@Raulmelara could you please fix the rubric in Assignment 3 (there's no top row that describes the points). For Assignment 4, the top row isn't aligned with the correct column (shift to right).

[2020-04-17 03:02] kmarjanovic commented on #290
Done! :)

[2020-04-17 03:02] #290 closed

[2020-04-17 03:09] kmarjanovic commented on #234
@cmadland just circling back to this comment.  Any ideas for clarity of those images?  Should I split up the screenshot?

Also - are there any updates on the new format for this course?  Let me know if we can wrap this one up.
Thanks!!

[2020-04-17 03:16] #270 closed

[2020-04-17 21:15] rezakh66 commented on #286
@kmarjanovic Hi,
U6 is online now

[2020-04-18 00:58] JessD9 commented on #286
Here is Unit 1:

On Thu, Apr 16, 2020 at 6:47 PM Kelly Marjanovic <notifications@github.com>
wrote:

[2020-04-20 17:07] kmarjanovic opened #292 "LDRS 667 upload units"
### URL
Prework: https://learn.twu.ca/course/view.php?id=13600&section=1
Unit 1: https://learn.twu.ca/course/view.php?id=13600&section=1
### Instructions

Please upload units to GitHub:
[LDRS667-Unit-1-Reflective-Practice_April20_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4504948/LDRS667-Unit-1-Reflective-Practice_April20_KM.docx)
[LDRS667-Unit-0-PreWork-Practicum-Proposal_April20_KM

[2020-04-20 17:39] kmarjanovic commented on #286
@rezakh66 Please add the last units:
[MCOM-221-Unit9-Making-Your-Short-Film-April-20_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4505138/MCOM-221-Unit9-Making-Your-Short-Film-April-20_KM.docx)
[MCOM-221-Unit-7-Editing-and-Montage-April-20_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4505139/MCOM-221-Unit-7-Editing-and-Montage-April-20_KM.docx)
[MCOM-221-Unit-8-Crating-Narr

[2020-04-20 18:50] 345-Jay commented on #288
@kmarjanovic  @cmadland  There seems to be varied information with percentages for LDRS 300. The course information tab show a 15% percentage for the Case Study Paper: Saving Mr. Banks verses the 20% percentage on the Assessment tab. Which percentage should it be?

[2020-04-20 22:06] Raulmelara commented on #285
@kmarjanovic I fixed the rubrics. Let me know if I missed anything.

[2020-04-21 02:06] kmarjanovic commented on #286
@JessD9
Thanks so much for reviewing these units!  Are the changes now in GitHub as well? (no need to use Word documents once files are in GitHub).
For comments to me or the course writer, you can use an !! to make the comment stand out.  For changes that are minor (grammar) we don't need comments, but anything content related should be flagged for the instructor to review.
Let me know if you have

[2020-04-21 02:13] Raulmelara commented on #292
@kmarjanovic Units uploaded.

[2020-04-21 03:07] kmarjanovic commented on #288
Hi @345-Jay
The instructor has made some changes to the assessments, so I'll just double check and then make those changes.
Thanks for checking!!

[2020-04-21 03:17] kmarjanovic commented on #292
Thank you @Raulmelara !!

[2020-04-21 03:17] #292 closed

[2020-04-22 18:31] kmathews1 opened #293 "Nurs520 Lesson 4"
**Which course contains the bug?**
- NURS 520 OL SP2020

**Describe the error and/or your suggestion**
Some of the topics (topic 4, summary and assessment) are not showing. Displaying server error message.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
http://far.twu.ca/msn/nurs520/u4/overview

[2020-04-22 18:37] rezakh66 commented on #286
@kmarjanovic I have uploaded all the units. I think unit 9 needs to be changed a little bit. please look at  Topic 7, topic 9, and topic 9-2.

[2020-04-23 01:13] #293 closed

[2020-04-23 05:14] kmarjanovic commented on #286
Thank you @rezakh66 !

We have a bunch of editing to do for this course, so this is a HUGE help!!  I'll have a look at Unit 9 tomorrow.

[2020-04-23 05:14] #286 closed

[2020-04-24 16:58] toddfmartin opened #294 "Latest Announcement block not showing"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
###  ****SOCI 101 A6 - Introduction to Sociology (SU 2020)****

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Latest Announcement block not showing

**Location of the bug**
Please provide a specific link to the page with the error, as we

[2020-04-24 17:00] kmarjanovic commented on #294
@toddfmartin
Hi Todd,
I see one Announcement at the bottom of your course intro page.  Is there another one that you're looking for?

[2020-04-24 17:01] toddfmartin opened #295 "Fixed my problem with the announcement box - Thanks"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 SOCI 101 A6 - Introduction to Sociology (SU 2020)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:
2. Un

[2020-04-24 17:02] #295 closed

[2020-04-24 17:03] #294 closed

[2020-04-25 20:42] faitht1023 commented on #289
@kmarjanovic are you referring to the rubrics in the assignment tabs? How would you like those to be formatted?

[2020-04-25 20:56] faitht1023 commented on #51
@kmarjanovic this is currently what is in the page.md of the "Assignments" folder in HIST 107:

title: Assignments
date: '20:38 23-11-2018'
hide_page_title: false
show_sidebar: true
hide_git_sync_repo_link: false
visible: true
content:
    items: '@self.children'
    order:
        by: folder
        dir: asc
    limit: 0

Should this be edited to match what you have commented above?

[2020-04-25 22:09] faitht1023 commented on #262
@kmarjanovic I've gone through all the overviews + schedule alerts and formatted it with the style <period><space> (n minutes). As well, I've edited the spacing of the overviews to all be the same to the best of my ability. Please let me know if this needs to be further edited! Thanks.

[2020-04-25 23:11] faitht1023 commented on #107
@kmarjanovic I've added the notes from the attached docx file to the "Lesson Notes" section in LDRS 410 guides. I noticed that there was also a copy of it under "Facilitator's Guide", so I left there in case that was the appropriate place for it. I formatted and split up the notes by unit under "Lesson Notes". Please let me know if anything else needs to be done for this? Thank you!

[2020-04-25 23:45] 345-Jay commented on #51
Good afternoon,

@faith I think Kelly was using that as an example for Colin and I. However
I believe the folder labelled "Assignments" should actually be labelled
assessments as the instructions for the HIST 107 issue looks specifically
at the "Research Proposal & Essay" being under the Assessment Tab.

Sincerely,

Jared McGill

On Sat, Apr 25, 2020 at 1:56 PM faitht1023 <notifications@github.com

[2020-04-26 02:02] kmarjanovic commented on #289
Hi @faitht1023 ,
The instructor would like to use the tools in Moodle.  Could you add the rubric info for assignments to the rubric tool in Moodle?

[2020-04-26 20:05] kmarjanovic commented on #51
@faitht1023 @345-Jay  @cmadland
Any idea how to get the content to show?

[2020-04-26 20:10] kmarjanovic commented on #107
@faitht1023
In looking at the guide online - it still has all the info for another course.  Could you check the [guide](https://far.twu.ca/guides/lead-ba/ldrs-410-persuasion-and-positive-influence) please?

[2020-04-26 21:04] kmarjanovic commented on #262
@faitht1023
Thanks so much for your help!

[2020-04-26 21:04] #262 closed

[2020-04-27 16:01] emmanuelD-AFK opened #296 "Content not accessible from the Hyperlink."
**LDRS 664A (SP 2020)

**Describe the error and/or your suggestion**
The video is not accessible from the hyperlink provided

* **
1. URL:  https://learn.twu.ca/course/view.php?id=13591&section=7
2. Unit #7         Topic # 2        Activity#  7.4

**Optional: Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="512" alt="Screen Shot 2020-04-27 at 8 42 33 AM" src="

[2020-04-27 17:54] kmarjanovic commented on #296
Thanks @emmanuelD-AFK !

The link is fixed (should be [this](https://www.youtube.com/watch?v=1vIPrR_clEg)).

@cmadland does this need a Grav sync, as it's not showing up online yet.

[2020-04-27 20:46] faitht1023 commented on #107
@kmarjanovic I think it's working now. Looks like my first few commits didn't go through, but now it contains the 410 info. Sorry about that!
Is there other information that should go under the "Facilitation Notes for LDRS 410" section now?

[2020-04-27 21:08] faitht1023 commented on #289
Hi @kmarjanovic, I'm not too familiar with the rubric tool in Moodle, is it under gradebook setup? I am looking into it further!

[2020-04-27 21:13] kmarjanovic commented on #289
Hi @faitht1023
Try this [link](https://docs.moodle.org/38/en/Rubrics)
It's been a while since I've set one up too.  Perhaps try first in the [LDRS 664 - MASTER](https://learn.twu.ca/course/modedit.php?update=266361&return=1) course and we can test it out there.

You go to Assignments, click on the dropbox, and change settings from there.

[2020-04-27 21:18] kmarjanovic commented on #107
Excellent! Thanks @faitht1023 !

Could you also replace the info in the Course Overview & Syllabus page with [this](https://github.com/TWUOnline/ba-lead/blob/master/pages/12.ldrs410/06.home/page.md)

And then delete the other note pages (has info for 302 still)

Perhaps in the Assessment page, just add this [table](https://github.com/TWUOnline/ba-lead/blob/master/pages/12.ldrs410/assessment/page.m

[2020-04-27 21:20] faitht1023 commented on #289
@kmarjanovic I've figured it out! I just did one for Assignment 1: Identity as a Facilitator/Teacher in LDRS 664 Master and currently saved it as a draft, please let me know if it is the appropriate format and I can do it for the rest of the rubrics. I used the points system from the provided rubric (0, 2, 3, 4 points respectively for F, C, B, A). Thank you!

[2020-04-27 21:49] faitht1023 commented on #107
@kmarjanovic no worries, I have replaced the info with what you linked (and I also added the pdf from the same folder to the guide), as well as adding the table to the assessment page.

Which note pages did you want removed?

As well, the academic dishonesty button was not working, so I hyperlinked it at the end of the syllabus/course overview instead.

[2020-04-27 21:53] kmarjanovic commented on #107
Thanks @faitht1023 !

If you see in the 410 section after the [notes](https://far.twu.ca/guides/lead-ba/ldrs-410-persuasion-and-positive-influence/facilitation-notes) section, there are all these 302 lesson notes pages.

[2020-04-27 21:57] faitht1023 commented on #107
@kmarjanovic I've changed the header to say 410 notes now, but all the lesson note pages are 410 notes; I took the facilitation notes and split them by unit a few days ago. Was something else supposed to be in the "Lesson Notes" section?

[2020-04-27 22:04] kmarjanovic commented on #107
Ah, I see them now.  If [this page](https://far.twu.ca/guides/lead-ba/ldrs-410-persuasion-and-positive-influence/facilitation-notes) is a repeat of all the other lesson notes split up, then let's delete it.

[2020-04-27 22:05] kmarjanovic commented on #107
Also the [assessment details](https://far.twu.ca/guides/lead-ba/ldrs-410-persuasion-and-positive-influence/assessment-details) aren't correct.  Just keep the chart at the bottom of the page.  This other info is from another course.

[2020-04-27 22:08] kmarjanovic commented on #107
Also, just a frustration.  I don't know if you've navigated the pages on Grav much, but the side navigation menu always goes back to the first BA LEAD course listed (LDRS 220).

@cmadland could we fix this?  Or....I would suggest we discuss another format for the guides (presbooks!)

[2020-04-28 19:40] faitht1023 commented on #107
@kmarjanovic I've deleted the faciliatation n

[2020-04-28 20:58] faitht1023 commented on #289
@kmarjanovic I added Assignment 2: Company Website Analysis Rubric in LDRS 664 as a draft. Is the rubric for Assignment 3: Platform Paper the same as Assignment 2's rubric? On Moodle, the rubric for Assignment 3 is titled "Company Website Analysis Rubric".

[2020-04-28 22:07] faitht1023 commented on #51
@kmarjanovic I'm not sure which tab you're referring to - or if the tab is not there yet? I will check with Colin and see. I see the Moodle tabs but doesn't seem to be the left panel navigation yet.

[2020-04-29 18:56] kmarjanovic commented on #51
@faitht1023
Can you check in [Moodle](https://learn.twu.ca/course/view.php?id=10809&section=10)?
Right now none of the Assessment info is showing so I'm not sure what happened.

This is the Research Proposal and Essay tab that I'm referring to:
![image](https://user-images.githubusercontent.com/35148983/80635131-b6dce700-8a18-11ea-9277-deaf4e138791.png)

[2020-05-01 19:15] kmarjanovic commented on #256
@faitht1023
Perfect! Thank you!!

[2020-05-01 19:15] #256 closed

[2020-05-01 19:16] kmarjanovic commented on #285
Thank you @Raulmelara !!

[2020-05-01 19:16] #285 closed

[2020-05-01 19:18] kmarjanovic commented on #296
Shows up now.  Thanks!

[2020-05-01 19:18] #296 closed

[2020-05-01 19:20] kmarjanovic commented on #107
@faitht1023
Thanks for clearing up 410 - it looks great.
As for the blank pages in the other courses - yes, please delete.

[2020-05-01 19:23] kmarjanovic commented on #289
Hi @faitht1023
The rubrics for the assignments are different.  Let me just check with Cathy to see if the rubric created works for her.  If so, we can add the others.
Thanks for your help!

[2020-05-01 19:27] kmarjanovic commented on #51
@cmadland @faitht1023 @345-Jay
Assignment info is still missing.  Is this due to Jared's comment above about relabeling Assignments?

[2020-05-01 20:03] faitht1023 commented on #107
@kmarjanovic You are welcome! I've removed the blank pages.

[2020-05-01 20:08] kmarjanovic commented on #107
Thanks again!

[2020-05-01 20:08] #107 closed

[2020-05-01 20:11] kmarjanovic commented on #69
@dgaudet48 just want to check if you've resolved this issue.
If you didn't get a notification, perhaps assign yourself to all PSYC 106 issues (see Assignees section top right).

Also - @cmadland - are we working on a way to get notified when the card moves into the Review Requested column?

Otherwise, let's ask the ATAs to please notify the assigned ID.

[2020-05-01 20:12] kmarjanovic commented on #217
Thanks @rezakh66 !
I assume the quizzes went well!

[2020-05-01 20:12] #217 closed

[2020-05-01 20:16] kmarjanovic commented on #288
@345-Jay
Case Study In Leadership: Saving Mr. Banks should be 15% of total grade.
Could you make that change?

[2020-05-01 20:20] faitht1023 commented on #51
@kmarjanovic I've tried renaming the folder, changing the frontmatter on the assignments to be the same as other page.md's that were working, and changing the assignments from page.md's to section.md's instead, but I haven't been able to figure out what the issue may be yet. I will look into it more. Would you have any suggestions?

[2020-05-01 20:22] kmarjanovic opened #297 "LDRS 410 - pwpt"
### URL
https://learn.twu.ca/course/view.php?id=10720&section=2
### Instructions
Could you please add the attached pwpt to a presentations plugin?
[Change-the-way-you-Persuade-PPP.pptx](https://github.com/TWUOnline/bug-tracking/files/4566152/Change-the-way-you-Persuade-PPP.pptx)

It should then go in an alert as a new Activity

#### Activity 2.5: Review and Reflect
The following slide presentation

[2020-05-01 20:25] kmarjanovic commented on #51
@faitht1023 Sorry I don't know!  Help @cmadland !

Here's the embed code in Moodle - it was working before:
<p><iframe scrolling="yes" style="border: 0px #ffffff none;" src="https://far.twu.ca/arts/hist107/assignments/chromeless:true/hidepagetitle:true" allowfullscreen="allowfullscreen" width="100%" height="1000"></iframe></p>

[2020-05-01 20:27] cmadland commented on #51
Diving in...

Sent from my iPhone

On May 1, 2020, at 1:26 PM, Kelly Marjanovic <notifications@github.com> wrote:

﻿

@faitht1023<https://github.com/faitht1023> Sorry I don't know! Help @cmadland<https://github.com/cmadland> !

Here's the embed code in Moodle - it was working before:

<iframe scrolling="yes" style="border: 0px #ffffff none;" src="https://far.twu.ca/arts/hist107/assignments/chromel

[2020-05-01 20:38] dgaudet48 commented on #69
It has been fixed!

Thanks

[2020-05-01 20:38] #69 closed

[2020-05-01 20:40] cmadland commented on #51
Ok sorted.

The URL in Moodle was looking for an ‘assignments’ folder, but should have been looking for ‘assessments’.

I’ve updated the urls.

Colin

Sent from my iPhone

On May 1, 2020, at 1:27 PM, Colin Madland <Colin.Madland@twu.ca> wrote:

﻿ Diving in...

Sent from my iPhone

On May 1, 2020, at 1:26 PM, Kelly Marjanovic <notifications@github.com> wrote:

﻿

@faitht1023<https://github.com/fait

[2020-05-01 21:09] kmarjanovic commented on #51
@cmadland @faitht1023
Thanks Colin!
Now back to my original request from October...please help show all details for the research essay - chunking the info by putting it in Github folders/pages and having a navigation pane at the left.

See [LDRS 300 - Portfolio Assignment](https://learn.twu.ca/course/view.php?id=10828&section=14) as an example.

[2020-05-01 22:22] faitht1023 commented on #261
@kmarjanovic fixed, the extra "schedule" buttons are gone now.

[2020-05-03 20:24] kmarjanovic commented on #261
@faitht1023
Thank you!!

[2020-05-03 20:24] #261 closed

[2020-05-04 19:08] rezakh66 commented on #250
Hi @kmarjanovic There are different types of quizzes that can be made by Quiz(Question Set) like multiple choice, drag and drop, fill in the blanks, drag text, and .... I have found multiple choice most related to the activity but then I need to know choices for each question. please see [here](https://learn.twu.ca/course/view.php?id=10720&section=3) how does it look like and let me know.

[2020-05-04 19:44] kmarjanovic commented on #250
@rezakh66
Yes!  This is much better!
I've added the options to the attached doc:
[LDRS-410–H5P-Figures-of-Speech-Activities_May4_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4577018/LDRS-410.H5P-Figures-of-Speech-Activities_May4_KM.docx)

[2020-05-04 20:25] cpenfoldnavarro opened #298 "Add PDF of article in LDRS 662A Activity 3.1"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 662(A) SP 20

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
In Activity Checklist, Activity 3.1, please include the PDF of the Chen and Lin article (attached)
This PDF should replace the current url listed there.

**Location of the

[2020-05-04 20:31] kmarjanovic commented on #298
Thanks Cathy!
I've added the pdf.  It may take a couple minutes for it to sync with the Moodle site.

[2020-05-04 20:31] #298 closed

[2020-05-04 20:47] cpenfoldnavarro commented on #298
Thanks!

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Kelly Marjanovic <notifications@github.com>
Sent: Monday, May 04, 2020 4:32 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Cathy

[2020-05-04 21:55] rezakh66 commented on #250
@kmarjanovic Hi, It's done. Please let me know if changes are needed.

[2020-05-05 19:55] #287 closed

[2020-05-05 20:18] rezakh66 commented on #281
@kmarjanovic Hi, I have made all unit's assessment section consistent using primary and secondary alerts according to unit 1. please see how does it look like

[2020-05-06 20:22] rezakh66 commented on #11
@kmarjanovic Hi, Please look at this [here](https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=87). How is it?

[2020-05-11 17:29] kmarjanovic commented on #11
Hi @rezakh66
I think this is a great option!  Could you put the content in and we can see how it looks?
Thank you!

[2020-05-11 17:34] kmarjanovic commented on #250
Perfect!
Thank you @rezakh66 !!

[2020-05-11 17:34] #250 closed

[2020-05-11 19:22] cmadland opened #299 "H5P Issue"
I've recently learned of an issue in H5P that we should start to consider.

@kmarjanovic @rezakh66 @dgaudet48 @kmathews1

re: #250

When a fill in the blank interactive is long and narrow (smaller screens), the words to choose from are at the bottom of the interaction, even if the correct spot for them is above the scroll. Clicking and dragging the word is problematic because it seems the h5p fram

[2020-05-11 19:25] kmarjanovic commented on #299
Yes, I flagged this last year.  [LDRS 303 H5P #89](https://github.com/TWUOnline/bug-tracking/issues/89)
I'd like to find a solution as this affects a couple of our courses.

[2020-05-11 19:30] cmadland commented on #299
of course you did...sorry!

Will dig around.

[2020-05-11 19:33] kmarjanovic commented on #299
No worries!!
Actually, for 303, I had originally asked to alternate between using Fill in the Blanks and Flashcards ([Issue 80](https://github.com/TWUOnline/bug-tracking/issues/80)).
I'd still like to do that...just so little time!
Perhaps Jessica can dig through that course and check which H5P activities aren't working well - then we can switch formats?

[2020-05-11 19:47] cmadland commented on #297
Should this be activity 2.4 or 2.5? The schedule suggests maybe 2.4...or perhaps I'm late.

![image](https://user-images.githubusercontent.com/12282929/81604957-92bcc680-9385-11ea-9d10-55a97a82d332.png)

[2020-05-11 19:51] kmarjanovic commented on #297
Ahh, I see the problem.
We recently added a new 2.1 - devotional Isee Topic 1)- so all the activity #s need to change.

[2020-05-11 20:37] dgaudet48 commented on #299
I actually had this issue with Psych 106 - I didn't think there was a solution so I just made the activities shorter...would be super helpful though if we could even make it side-by-side.

[2020-05-11 21:13] JessD9 commented on #299
@kmarjanovic On it!

[2020-05-12 01:16] AmberZacharias91 opened #300 "Broken link in LDRS 627 OL SU20"
**Which course contains the bug?**
- LDRS 627 OL SU20

**Describe the error and/or your suggestion**
There is a broken link in Unit 3-Topic 3, Activity 3.4 Item 2: Read this article from Ryerson University's Learning and Teaching Office.
Clicking the link results in an Error 404 message:  Sorry, we can't find the page you requested.

**Location of the bug**
Please provide a specific link to the pa

[2020-05-12 16:24] JessD9 commented on #299
@cmadland @kmarjanovic Same scrolling issue for ldrs 303 Units 4,5,7,9,10 Drag& Drop ...not sure if this has already been suggested, but could we use a drop-down menu?
[Advanced Fill in the Blanks](https://h5p.org/advanced-fill-the-blanks)

[2020-05-12 21:29] HeatherStrong11 opened #301 "591 OL Unit 1 LA 4"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 591 OL

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
I have changed the LA 4 in unit 1 topic 4.  There is new information in github that is not showing up in Moodle.

**Location of the bug**
Please provide a specific link to the pa

[2020-05-12 21:38] HeatherStrong11 opened #302 "LDRS 591 OL Unit 2"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 591 OL

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
There are several updates that are needed in unit 2.  I have deleted the content from the first two topics, and the first two learning activities.
I have also changed the topic n

[2020-05-13 02:05] HeatherStrong11 opened #303 "Image not showing"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 591 OL

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
I tried to add an image to Unit 1 topic 2 content, but it is not showing.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the

[2020-05-13 02:08] HeatherStrong11 commented on #303
I figured it out!!!

[2020-05-13 02:09] HeatherStrong11 commented on #303
it shows up on github, by not on Moodle.

[2020-05-13 17:43] kmarjanovic commented on #303
All fixed!
Just as a reminder, upload the image with no spaces:
![ResearchParadigms](U1_Research_Paradigms.jpg)

[2020-05-13 17:43] #303 closed

[2020-05-14 20:25] kmarjanovic commented on #301
@HeatherStrong11 , do you see the changes in Moodle now?
If not, please let us know what the changes are and we can check.

[2020-05-14 20:32] kmarjanovic opened #304 "LDRS 591 - alerts"
### Course
LDRS 591
### URL
https://learn.twu.ca/course/view.php?id=11670
### Instructions
Could we change the learning activities to the alert format we have in our newer courses? (blue box after Topic, not in a separate Learning Activity tab.

Please just change Units 1 & 2, as Heather is editing/removing activities from the other units.

Note also that we need to delete some activities (See [bu

[2020-05-14 20:37] kmarjanovic opened #305 "LDRS 667 - formatting"
### URL
https://learn.twu.ca/course/view.php?id=13600&section=2
### Instructions
Please format the following in Units 1 & 2 (& others when they come).

- [x] Activity Checklist - make into alert
- [x] Learning Activities - make into alert (& in same page as topic, not separate tab)
- [ ] URLs - hyperlink titles of resources
- [x] Checking Your Learning - take out of table and just list bullet poin

[2020-05-14 20:37] cmadland commented on #301
Hi @HeatherStrong11, there was some missed syntax in creating the URL. You can see the changes I made at https://github.com/TWUOnline/ldrs-master/commit/41d40c41d202ed2f2c68d4fc787e4753c57d685f on line 16

[2020-05-14 20:58] kmarjanovic commented on #300
@smecastellon
Adrienne, have you found a replacement resource?  The link was taken down, but Ryerson also has these:
<https://www.ryerson.ca/experiential/what-is-experiential-learning/>
<https://www.ryerson.ca/content/dam/learning-teaching/teaching-resources/teach-a-course/experiential-learning.pdf>

[2020-05-14 21:01] cmadland commented on #305
@JessD9 I fixed the missing navigation menu...do you know how to get started on the others?

[2020-05-14 21:04] kmarjanovic commented on #299
@JessD9 did you want to try to make one into the Advanced Fill in the Blanks?
We could also use the Flashcards H5P.  It'd be nice to alternate between 2-3 types throughout the course for variety.
Do you have access to our H5P site in wordpress? https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p

[2020-05-14 21:11] smecastellon commented on #300
Hi Kelly
Would this be a good place to integrate some of the TWU's/Jenn Skelding's work on Experiential Learning?  I am fine with Ryerson's as well if it's more user friendly.

ADRIENNE CASTELLON, EdD
Associate Dean, MA Leadership | TWU GLOBAL
Trinity Western University | t: 604.888.7511 (3330)
e. Adrienne.Castellon@twu.ca<mailto:Adrienne.Castellon@twu.ca>

TWU MA LEAD has moved all operations onl

[2020-05-14 21:16] kmarjanovic commented on #300
@smecastellon
It would be great to integrate Jenn's work!  Do you have any links?

[2020-05-14 21:53] JessD9 commented on #299
@kmarjanovic yes I can try.
No, haven't been able to access WordPress (You attempted to access the "H5P Content for TWU" dashboard, but you do not currently have privileges on this site.)

[2020-05-14 22:21] smecastellon commented on #300
No, just the docs I forwarded to you and Cathy.

ADRIENNE CASTELLON, EdD
Associate Dean, MA Leadership | TWU GLOBAL
Trinity Western University | t: 604.888.7511 (3330)
e. Adrienne.Castellon@twu.ca<mailto:Adrienne.Castellon@twu.ca>

TWU MA LEAD has moved all operations online until further notice. We are working hard to ensure we continue to provide you with the same quality of service.

Our online

[2020-05-15 01:33] kmarjanovic commented on #299
@cmadland could you give Jessica access - and perhaps check if Dave has access as well?

[2020-05-15 03:08] dgaudet48 commented on #299
@cmadland I have access and I have been using it in my courses so all good over here

[2020-05-15 15:05] kmathews1 commented on #299
@cmadland I also need access to the "H5P Content for TWU" dashboard. I have been using the one available in Moodle.

[2020-05-15 17:35] kmarjanovic commented on #300
@smecastellon
Do you mean the Theology of Work document?  I don't think it explains Experiential Learning
I've listed a couple of resources in our TONE site ([Unit 1, Topic 2, Activity 1.5](https://learn.twu.ca/course/view.php?id=15550&section=1)) if it helps.

I'd suggest using https://www.ryerson.ca/content/dam/learning-teaching/teaching-resources/teach-a-course/experiential-learning.pdf.

[2020-05-15 17:44] kmarjanovic commented on #127
@cmadland
I'm just reviewing the course.  This powerpoint is missing all the images...which is the point of using the pwpt format (otherwise it's just a list).
Could we add the images in the pwpt?
Or perhaps Jessica can help find open images that are similar?
@JessD9 what do you think?

six steps to speaking as authentic leader.pptx

[2020-05-15 17:53] kmarjanovic commented on #297
Activity #s all matching now.
Thank you for your help with the slideshow!!

[2020-05-15 17:53] #297 closed

[2020-05-15 18:15] smecastellon commented on #300
Hi Kelly
You're right the Theology of Work doc doesn't explain experiential learning per se but it could be included in some way to differentiate how TWU approaches work, vocation etc.  I like the links and resources in Activity 1.5 a lot!

ADRIENNE CASTELLON, EdD
Associate Dean, MA Leadership | TWU GLOBAL
Trinity Western University | t: 604.888.7511 (3330)
e. Adrienne.Castellon@twu.ca<mailto:Adri

[2020-05-15 18:50] cmadland commented on #127
The images in the slide deck were...not good. Maybe a dive into unsplash?

[2020-05-15 18:59] kmarjanovic commented on #127
I agree!
Unsplash, pixabay, pixel...

[2020-05-15 19:06] kmarjanovic commented on #300
@smecastellon
Please let us know which resources to use - & other wording:

#### Activity 3.4: Read and Reflect
- Read Wang chapter 16 focusing on pages 411-420.
- Read this article from Ryerson University's Learning and Teaching Office.

Taking the above two readings into account, why would an adult learner especially benefit from experiential learning? Identify 3 activities that could work for y

[2020-05-15 19:44] kmarjanovic commented on #234
@cmadland since this course is part of the bundle, could we wrap up this issue?
@JessD9 do you mind going through the course and flagging any design/formatting issues?

A couple of flagged issues already:
[ ] We need to have tags/filters for the FAR and BUNDLE versions of this course.  There are several references to facilitators and Learning Labs.  We can wait until Bundle wording for the support

[2020-05-15 19:44] cpenfoldnavarro opened #306 "Correct Activity 8.4 instructions"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 664 A Authentic Learning Communities (SP 2020)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Activity 8.4 instructions should be identical to the Assignment for Unit 8: Company Website Analysis.

In Activity 8. 4 Instructions:
Rep

[2020-05-15 19:53] kmarjanovic commented on #306
Thanks Cathy!
I've changed this, as well as a wonky Activity Checklist.

It's not showing up in Moodle or Grav.  @cmadland do we need a Grav refresh?

[2020-05-15 22:11] rezakh66 commented on #304
@kmarjanovic Hi Kelly, I have added primary alerts for the first two units. There are four copies of each activity that look pretty the same. Can I remove redundant files?

[2020-05-15 22:19] kmarjanovic commented on #306
All good now!

[2020-05-15 22:19] #306 closed

[2020-05-17 05:21] danielmingluito opened #307 "Problem with LDRS 662 Unit 4"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
LDRS 662 Until 4

**Describe the error and/or your suggestion**

Unit 4. Learning Activity 4.3 - Link 1 doesn't work.  Please replace with the link below

 https://ezproxy.student.twu.ca/login?url=https://search.ebscohost.com/login.aspx?direct=true&db=edsovi&AN=edsovi.00005855.201505000.00017&site=eds-liv

[2020-05-17 19:07] smecastellon commented on #300
Hi Kelly,

Please add this doc, (marked clearly as draft) to the course activity or assignment.

Here's some wording - feel free to adapt:

Taking the above two readings into account (TWU doc attached and Ryerson's):

  *   Why would an adult learner especially benefit from experiential learning?
  *   Considering the Theology of Experiential and Embodied Learning (p. 4 TWU doc), how does work hel

[2020-05-18 03:02] JessD9 commented on #299
@kmarjanovic Just realized that rezakh66 commented on this in ldrs 410... Advanced Fill the Blanks does not exist in the version of WordPress we have.
https://github.com/TWUOnline/bug-tracking/issues/250

[2020-05-18 17:31] kmarjanovic commented on #307
Hi @danielmingluito

The 2 links in the activity seem to be working:

#### Learning Activity 4.3: Cultural Competence Continuum
1. Cross, T., Bazron, B., Dennis, K., & Isaacs, M. (1989). [Towards a culturally competent system of care](https://spu.edu/~/media/academics/school-of-education/Cultural%20Diversity/Towards%20a%20Culturally%20Competent%20System%20of%20Care%20Abridged.ashx,)*.* (Vol. 1). W

[2020-05-18 17:32] kmarjanovic commented on #307
Ahh, I see it now.  The links in the Activity Checklist are broken.  I'll update it with what's listed in the actual 4.3 activity.

[2020-05-18 17:40] kmarjanovic commented on #307
All fixed.  Let me know about that Berger & Peerson reference.

[2020-05-18 17:40] #307 closed

[2020-05-18 17:46] danielmingluito commented on #307
Thanks Kelly

I only suggested that as a substitute if the other couldn’t be fixed - all good - thank you

Warmly,

Daniel To, Ed.D
Instructor, MA Leadership | TWU Global |
Trinity Western University | M 604.726.282 | T@DanielToSD36

Website https://www.twu.ca
Blog and Personal Site https://www.drdanielto.com

On May 18, 2020, at 10:40 AM, Kelly Marjanovic <notifications@github.com> wrote:

﻿

All

[2020-05-18 20:02] kmarjanovic commented on #307
No problem!  Thanks so much Daniel for checking!!

[2020-05-19 19:07] HeatherStrong11 commented on #304
Hi Reza,

Yes, please remove redundant files.   I just checked the course on Moodle, and it looks like you have done this already!

Thanks!

Heather

HEATHER STRONG, Ph.D
Sessional Assistant Professor, MA Leadership | TWU GLOBAL
Trinity Western University | c. 250-551-8583 | e. heather.strong@twu.ca<mailto:heather.strong@twu.ca>

[cid:image001.png@01D56D6B.9FBB05E0]

From: rezakh66 <notifications@

[2020-05-19 19:29] JessD9 commented on #305
@cmadland not sure how to make the alerts

[2020-05-19 20:15] kmarjanovic commented on #305
@JessD9
It's easier to add folders (& alerts) by using Atom.  Perhaps look at another course that has this (BA LEAD courses)
@cmadland @rezakh66 could you please send your Git/Atom tutorial?  Could we make it a collaborative document so we can add to it?  I have my notes in the ID manual, but Colin mentioned there's a master tutorial?

[2020-05-20 02:14] kmarjanovic commented on #299
@cmadland can we update our WP to get access to all H5P?
In the meantime @JessD9 , perhaps let's try the flashcards for a couple of those problem lessons.

[2020-05-20 02:17] kmarjanovic commented on #300
Hi Adrienne,
I don't see a doc attached.  Could you attach it here, or email me?
Thanks!
Kelly

@smecastellon

[2020-05-20 02:33] kmarjanovic commented on #300
@smecastellon
All fixed now.  Thanks Adrienne & Amber!

[2020-05-20 02:33] #300 closed

[2020-05-26 00:28] kmarjanovic commented on #51
@cmadland @rezakh66
Any update on this issue?  It's been 7 months since I made the request...

[2020-05-26 00:32] kmarjanovic commented on #11
@rezakh66
Looking at the background image again, it seems a little blurry (hope it's not my eyes!!).
Could we get a better resolution and then try adding the content so we can see if this activity makes sense?

[2020-05-26 21:55] rezakh66 commented on #11
@kmarjanovic Where can I find content? I'm thinking of the content's length and if they can fit in limited space we have in this method

[2020-05-27 16:10] kmarjanovic commented on #11
@rezakh66 you can see the content in the learning activity (now relabeled [Activity 1.4](https://learn.twu.ca/course/view.php?id=10744&section=1)).
The answers are in the pwpt below the activity.

[2020-05-29 03:07] dgaudet48 opened #308 "bullet points and textboxes"
**Which course contains the bug?**
- Psych106 Dev2

**Describe the error and/or your suggestion**
1. Bullet points in alert (check marks) won't align with text

2. blue light blue textbox does not align with rest of alert.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php?id=1

[2020-06-04 17:17] HeatherStrong11 opened #309 "picture is not appearing and bullet list is not normal"
**Which course contains the bug?**
LDRS 591 A SP2020

**Describe the error and/or your suggestion**
The picture in Unit 4 TOPIC 2 LA 2 is not showing up and the bulleted list is also not showing up correctly.

**Location of the bug**
1. URL:  https://learn.twu.ca/course/view.php?id=13220&section=4
2. Unit # 4         Topic #   2      Activity#  2
![Screenshot (28)](https://user-images.githubuserco

[2020-06-04 18:33] kmarjanovic commented on #309
Hi Heather,
In looking at the code, there are a couple things to do:
- Save picture file names without any spaces (e.g. statement_1.jpg)
- ![Criteria for the Statement of the Problem](statement_1.jpg)
- delete extra spaces at the front of each bullet point
e.g.  *   Is the topic interesting?

[2020-06-04 22:07] kmarjanovic opened #310 "MCOM 221 U10 Assessment"
### Course
MCOM 221 (FAR MASTER)
### URL
https://learn.twu.ca/course/view.php?id=10829&section=10
### Instructions
The Assessment page in Unit 10 isn't showing.

Please upload required files as attachments.
![image](https://user-images.githubusercontent.com/35148983/83815394-54ad7c80-a67d-11ea-9ca5-79b3040bef0f.png)

[2020-06-04 22:11] kmarjanovic opened #311 "MCOM 221 Facilitator's Guide"
### Course
MCOM 221
### URL
https://far.twu.ca/guides/
### Instructions
Please add 221 to the facilitator's guide.  Or, we can wait until Colin has set up the new template for guides?
Jessica, do you mind editing the document?  Or wait to edit in GitHub?
[Facilitator_Guide_for_MCOM_221.docx](https://github.com/TWUOnline/bug-tracking/files/4732945/Facilitator_Guide_for_MCOM_221.docx)

[2020-06-04 22:39] JessD9 commented on #311
@kmarjanovic Sure, anything specific to look for besides grammar?

[2020-06-05 17:52] kmarjanovic commented on #311
Grammar and clarity for the facilitator (non-subject matter expert).
Thank you!

[2020-06-06 01:02] JessD9 commented on #311
[Facilitator_Guide_for_MCOM_221 (Revised).docx](https://github.com/TWUOnline/bug-tracking/files/4739126/Facilitator_Guide_for_MCOM_221.Revised.docx)

[2020-06-06 20:37] kmarjanovic opened #312 "LDRS 623 Units"
### Course
LDRS 623
### URL

### Instructions
@JessD9 @rezakh66  @mel (I don't see her GitHub name)
Just want to clarify or set up the process for Production, steps needed, who does what, etc.

- [x] Reza, please upload units to GitHub/Atom (may need to create 623 folder in github)
- [x] ID/ATA to create Master course in Moodle
- [x] ID/ATA to put embed code in Moodle tabs
- [x] ATA to check forma

[2020-06-06 21:07] kmarjanovic commented on #311
Thank you Jess!  Reza, please use this latest version.

[2020-06-09 20:04] rezakh66 commented on #312
@cmadland Hi Colin, How and where should I create LDRS 623 folder? is it going to be in ldrs-master?

[2020-06-09 20:19] cmadland commented on #312
Hi Reza, yes, that would be in ldrs-master

From: rezakh66 <notifications@github.com>
Reply-To: TWUOnline/bug-tracking <reply@reply.github.com>
Date: Tuesday, June 9, 2020 at 1:04 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Colin Madland <Colin.Madland@twu.ca>, Mention <mention@noreply.github.com>
Subject: Re: [TWUOnline/bug-tracking] LDRS 623 Units (#312)

@cmadland<https:

[2020-06-09 21:34] rezakh66 commented on #310
@kmarjanovic Hi, Both units 9 and 10 assessment are showing now.

[2020-06-11 03:12] kmarjanovic commented on #310
Thank you Reza!

[2020-06-11 03:12] #310 closed

[2020-06-11 18:29] kmarjanovic commented on #305
@JessD9 @mellaurie
I'll be adding the other units today.  Please have a look at the first 2 units online (see the edits that need to be made - font consistency, alerts for checklist, etc.).
Let me or Colin know if you'd like a tutorial on how to make these changes.

[2020-06-11 20:12] kmarjanovic commented on #305
@rezakh66 please add these 3 last units.  @JessD9  @mellaurie - Once we see the units online, we can add an assessments section & discussion section with dropboxes - copying and pasting into from the assessments section in the units.

[LDRS-667-Unit-5-Summative-Reflective-Practice_June11_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4767079/LDRS-667-Unit-5-Summative-Reflective-Practice_

[2020-06-12 20:20] rezakh66 commented on #305
@kmarjanovic Hi Kelly, I have uploaded up to unit 5. Just please note that U2>>activity 2.2 is missing and U5>>assessment is a little bit confusing. there are Checking your Learning and assessment of learning sections. I have put both in the assessment section

[2020-06-14 19:35] kmarjanovic commented on #305
@JessD9 @mellaurie
Just to give you an idea of the editing required in GitHub:

- [ ]  font/formatting issues.  see e.g. topics that have an indent or > to remove

- [ ]  activity checklist - some items are grouped together, need to be separated by a line

- [ ]  hyperlinks need to be linked
e.g.
Read: Mulder, P. (2018). [Gibbs Reflective Cycle](https://www.toolshero.com/management/gibbs-reflectiv

[2020-06-15 16:34] kmarjanovic commented on #305
@rezakh66 could you help with formatting for Units 2-5?  There are a lot more issues than I thought there would be.

- [ ]  font/formatting issues.  see e.g. topics that have an indent or > to remove

- [ ]  activity checklist - some items are grouped together, need to be separated by a line

- [ ]  hyperlinks need to be linked in title - not show url (see example in list above)

- [ ]  insert ima

[2020-06-15 16:45] rezakh66 commented on #305
@kmarjanovic Hi Kelly, Sure, I will work on it by today.

[2020-06-17 19:07] kmarjanovic commented on #305
Hi @rezakh66
Just as we're training the new IDs, I want to point out a couple things I needed to fix in the list above:

- [ ]  font/formatting issues.  see e.g. topics that have an indent or > to remove **Note that some topics had a colon, some had an icon, some were missing a number.  Please ensure all topics have a number and check the formatting**

- [ ]  activity checklist - some items are gr

[2020-06-17 21:31] kmarjanovic commented on #305
Hi all,
The course is nearly ready!  I still need some help formatting the rubrics. (see Assessment section).
Other than that, will need to check all hyperlinks and make sure all resources listed are accessible.

Thanks for your help!
@rezakh66 @JessD9  @mellaurie

[2020-06-18 09:09] JessD9 commented on #305
@kmarjanovic For Unit 1: Hyperlinks have been linked, sources have been checked for accessibility, APA format+ grammar checked

[2020-06-18 09:13] JessD9 commented on #305
@kmarjanovic Unit 2 (Activity 2.1 & 2.2) links not working...will get to these later today

[2020-06-18 15:48] cpenfoldnavarro opened #313 "LDRS 667 MASTER Remove "Timeline" Column from Course Intro"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 Practicum (MASTER)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
In the table for "Schedule and Assessment Summary" please remove the column titled "Timeline."

(Since this course will be offered in multiple formats and on diff

[2020-06-18 15:55] cpenfoldnavarro opened #314 "LDRS 667 Pre-Work Activity Checklist: Italicize Palmer book title (per APA)"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 Practicum MASTER

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Italicize the book title (per APA) in this resource:
Activity 0.2: Re-read: Palmer, P.J. (2017). _The courage to teach: Exploring the inner landscape of a teacher'

[2020-06-18 16:01] cpenfoldnavarro opened #315 "LDRS 667 Master: Pre-work Assessment: fix bolding"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 Practicum (MASTER)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
1. FIRST CHANGE
In the Practicum Proposal topic list there are several words bolded that shouldn't be. Just bold the following:
Practicum Site
Practicum Mentor
Le

[2020-06-18 16:02] cpenfoldnavarro opened #316 "LDRS 667 (MASTER) Prework Summary"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 (MASTER)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
Remove "Unit 0" as that isn't used elsewhere.
Replace with: Pre-Work Summary

**Location of the bug**
Please provide a specific link to the page with the error, as well as

[2020-06-18 16:13] cpenfoldnavarro opened #317 "LDRS 667 MASTER Unit 1 Activity Checklist"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 Practicum (MASTER)

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Change the organization in your the Activity Checklist.
Activity 1.1 should include Merriam
Activity 1.2 should include the remaining references) Larrivee, Forre

[2020-06-18 16:14] cpenfoldnavarro opened #318 "Update Course Description in LDRS 667 PreWork"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 Practicum MASTER

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

REPLACE:
Using reflective practice, learners apply adult learning theory, facilitation practices, cross-cultural competency, and assessment strategies in a profess

[2020-06-18 16:20] cpenfoldnavarro opened #319 "LDRS 667 MASTER: Unit 1 Learning Activity Checklists"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 MASTER

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Activity 1.1 should only include the Merriam reference.
All the other references should be moved to Activity 1.2 Checklist (which will include: Larrivee, Forrest, Claiborne,

[2020-06-18 18:07] cpenfoldnavarro opened #320 "LDRS 667 Practicum (MASTER) Unit 2 Activity Checklist"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LRDS 667 Master

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Add a link to this document:
Read: Madland, C. (2017). The Trinity Community of Inquiry. Creative Commons License.

**Location of the bug**
Please provide a specific link to

[2020-06-18 18:13] cpenfoldnavarro opened #321 "LDRS 667 MASTER Unit 3 Activity Checklist"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LRDS 667 Practicum Master

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
In the Activity Checklist, Activity 3.1, add a link to the Lesson Plan template at
"Lesson Plan Template"

**Location of the bug**
Please provide a specific link to

[2020-06-18 18:23] cpenfoldnavarro opened #322 "LDRS 667 MASTER Unit 4 Activity Checklist"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 Master

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
In the Activity Checklist, change "Gibbs" to "Gibbs'" (apostrophe goes after the s.

**Location of the bug**
Please provide a specific link to the page with the error, as wel

[2020-06-18 18:24] kmarjanovic commented on #313
all done

[2020-06-18 18:24] #313 closed

[2020-06-18 18:24] kmarjanovic commented on #314
Hmm, when I see it online, it is italicized.

Re-read: Palmer, P.J. (2017). *The courage to teach: Exploring the inner landscape of a teacher's life. *Hoboken, NJ: Jossey-Bass. Re-red: Introduction, Ch 1: The Heart of a Teacher, Ch 3: The Hidden Wholeness: Paradox in Teaching and Learning), as well as other readers to prepare yourself for the practicum

Am I missing something?

[2020-06-18 18:25] kmarjanovic commented on #314
whoops! now I see it's not in the checklist. will do.

[2020-06-18 18:26] #314 closed

[2020-06-18 18:27] cpenfoldnavarro opened #323 "LDRS 667 MASTER Unit 5"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 MASTER

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
In the Learning Outcomes and Course Overview/Assessment Replace Gibb's with Gibbs' (apostrophe after the s)

Also note: The rubric does not have a header row, and there are s

[2020-06-18 18:36] kmarjanovic commented on #315
Done.  Cathy, could you double check that the correct version of the Mentor agreement is attached?

[2020-06-18 18:36] #315 closed

[2020-06-18 18:37] cpenfoldnavarro opened #324 "LDRS 667 MASTER Assignments"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 MASTER

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
In Assignments/Index: Schedule and Assessment Summary: Remove the column "Timeline"
In Assignments/Discussions/Rubric: remove 0, 2, 3, 4 from Rubric heading

Add discussion b

[2020-06-18 18:38] kmarjanovic commented on #316
done

[2020-06-18 18:38] #316 closed

[2020-06-18 18:45] kmarjanovic commented on #317
done

[2020-06-18 18:45] #317 closed

[2020-06-18 18:47] kmarjanovic commented on #318
done.  I'll check on the status of approval.

[2020-06-18 18:47] #318 closed

[2020-06-18 19:10] kmarjanovic commented on #319
Done.
Note I want to reformat the rubrics to be a bit more clean and readable.

@JessD9  @mellaurie  - let's look at some rubric options for formatting in Grav/GitHub .  On my to-do list is [rubric tools in Moodle](https://docs.moodle.org/38/en/Rubrics), but I haven't come across any I like.  Perhaps a project for July?
See rubric used in [Assignment 1 of LDRS 664](https://learn.twu.ca/grade/gradi

[2020-06-18 19:10] #319 closed

[2020-06-18 19:16] kmarjanovic commented on #320
Done
Note to @JessD9 & @mellaurie  - check out Colin's paper - some great framing for online multi-access courses at TWU!

[2020-06-18 19:16] #320 closed

[2020-06-18 19:19] kmarjanovic commented on #321
Done.
Cathy I put it in a word doc form so students could easily edit.  Let me know if you want pdf instead.

[2020-06-18 19:19] #321 closed

[2020-06-18 19:26] kmarjanovic commented on #322
I did a search and replace - so caught more in the course.

I didn't replace sentences like "Using the Gibbs Reflective Cycle..."  correct?

Or this [source](https://www.toolshero.com/management/gibbs-reflective-cycle-graham-gibbs/) for example don't have the apostrophe.  This [source](https://www.ed.ac.uk/reflection/reflectors-toolkit/reflecting-on-experience/gibbs-reflective-cycle) does.

[2020-06-18 19:26] #322 closed

[2020-06-18 19:43] kmarjanovic commented on #323
Done.

Note the rubrics were giving me grief!  For now I've put them in a pdf form.  @rezakh66 can you help with the formatting?  We can keep the pdf version, but also add the formatting rubric table back in for Unit 5 Assessment, and Assignment 4 (Portfolio).

@JessD9 @mellaurie Rubric formatting is a common issue in Grav just fyi.

[2020-06-18 20:13] kmarjanovic commented on #324
Done,
@rezakh66 some same issues with the rubric.  Please help format in GitHub, and we can keep the pdf version as well.
(Unit 3 Assessment and Assignment 3 Lesson Plan)

[LDRS_667_Lesson_Plan_Rubric.docx](https://github.com/TWUOnline/bug-tracking/files/4800968/LDRS_667_Lesson_Plan_Rubric.docx)

[2020-06-18 20:17] rezakh66 commented on #312
@kmarjanovic @cmadland Hi, is the Moodle page for this course created yet or maybe I need to create it?
Thanks

[2020-06-18 20:20] kmarjanovic commented on #312
Hi Reza,
I don't think there's a master shell yet.  Could you create it ?  624 will need it too (I hope to send files today)

[2020-06-19 02:13] rezakh66 commented on #312
@kmarjanovic Hi Kelly, I have uploaded the first 3 units. Here is the link: https://learn.twu.ca/course/view.php?id=15687&section=1
There are a couple of small settings that I will change after asking Colin

[2020-06-19 17:06] rezakh66 commented on #324
@kmarjanovic Hi, Can you please check if the format is the way you want? https://learn.twu.ca/course/view.php?id=13600&section=6

[2020-06-19 18:50] kmarjanovic commented on #324
@rezakh66 Yes, that's great!  We may look into other rubric styles but this is perfect for now.

Could you delete one of the learning outcomes in the first right column (LEARNING OUTCOME(S) (LEARNING OUTCOME)(20%)
And then in that row - make the 8 LEARNING OUTCOME(S) lowercase?

Thank you!

[2020-06-19 19:53] kmarjanovic opened #325 "LDRS 624 Units"
Course not in Moodle or GitHub yet.

### Instructions
Please upload & format units

[LDRS 624_U1_May19_KM-FINAL.docx](https://github.com/TWUOnline/bug-tracking/files/4806487/LDRS.624_U1_May19_KM-FINAL.docx)
[LDRS624_U2_June6_KM-FINAL.docx](https://github.com/TWUOnline/bug-tracking/files/4806488/LDRS624_U2_June6_KM-FINAL.docx)
[LDRS624_U3_June19_KM-FINAL.docx](https://github.com/TWUOnline/bug-track

[2020-06-19 19:59] JessD9 commented on #325
@kmarjanovic Yes, I'd like to briefly go over Production steps

[2020-06-19 20:03] kmarjanovic commented on #312
@rezakh66
Thanks Reza!  I'll have a look now.
Also - please add Unit 4
[LDRS623_U4_June19_FINAL.docx](https://github.com/TWUOnline/bug-tracking/files/4806521/LDRS623_U4_June19_FINAL.docx)

[2020-06-19 23:27] cmadland commented on #325
624 created in github

[2020-06-22 17:22] cpenfoldnavarro opened #326 "LDRS 667 MASTER Change to Schedule and Assessment Summary"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 Practicum MASTER

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

Change the topic of the table titled "Schedule and Assessment Summary" to "Assessment Summary"
In the table titled "Schedule and Assessment Summary" there is one r

[2020-06-22 19:40] kmarjanovic commented on #326
done!

[2020-06-22 19:40] #326 closed

[2020-06-22 20:54] rezakh66 commented on #312
@kelly Hi Kelly, Unit 4 is uploaded just please note that activity 4.2 and 4.3 seem to be the same.

[2020-06-23 16:51] rezakh66 commented on #324
@kmarjanovic Hi Kelly,Done.

[2020-06-23 22:50] rezakh66 commented on #311
@kmarjanovic Hi, I have uploaded mcom221 [facilitator guide](https://far.twu.ca/guides/samc/mcom-221-digital%20film%20making)
Please be informed that  course syllabus and overview section should be completed. Practitioner documents are missing yet
Let me know when we any of these to be uploaded

[2020-06-24 16:44] rezakh66 commented on #323
@Hi Kelly, Done. Is there anything else that needs to be changed?

[2020-06-26 22:34] rezakh66 commented on #51
@kmarjanovic Hi, Now we have the "left sub-tabs". Lots of formatting need to be done. If you can send me the Docx files, I can do it.

[2020-06-29 23:19] cmadland commented on #51
@kmarjanovic @rezakh66 I *think* I did a helpful thing. But I might have done an unhelpful thing.

I fixed the missing table of contents on the left side of the assignments page, then deleted some unnecessary Moodle pages. I REALLY hope there weren't a bunch of forums and assignment dropboxes on those pages!!

This [commit fixed the ToC](https://github.com/TWUOnline/arts-master/commit/299e8eff49e1

[2020-06-29 23:57] kmarjanovic commented on #51
hmm...I prefer it the other way.  It's hard to navigate back to the other assessment pieces after you get to the essay tabs.  Plus, quizzes are a part of assessment.

[2020-06-29 23:59] kmarjanovic commented on #51
@cmadland could you change it back?  I'd like all things related to the research essay (including essay proposal) in one area with the different tabs.  Then there are 4 other assessment types that should be separate.

[2020-06-30 21:39] rezakh66 commented on #325
@kmarjanovic Hi, I have formatted up to unit 4 available [here](https://learn.twu.ca/course/view.php?id=15704&section=1)

[2020-07-01 19:05] kmarjanovic commented on #325
Thank you @rezakh66 !
I'll review things this next week.
In the meantime, can you add this last unit?
[LDRS624_U5_July1_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4859933/LDRS624_U5_July1_KM.docx)

[2020-07-01 19:10] kmarjanovic commented on #323
Perfect! Thanks @rezakh66

[2020-07-01 19:10] #323 closed

[2020-07-01 19:12] #324 closed

[2020-07-01 19:14] kmarjanovic commented on #305
Thanks all!

[2020-07-01 19:14] #305 closed

[2020-07-01 19:49] kmarjanovic opened #327 "LDRS 620 - Add Units"
### Instructions
- [ ] Please upload units.  Both the Git repository and Moodle master shell may need to be created.

[LDRS_620_U1_July1_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4860113/LDRS_620_U1_July1_KM.docx)
[LDRS_620_U2_July1_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4860108/LDRS_620_U2_July1_KM.docx)
[LDRS_620_U3_July1_KM.docx](https://github.com/TWUOnline/bug

[2020-07-01 19:50] kmarjanovic commented on #289
closing this issue as we'll change some rubric formatting in our courses.

[2020-07-01 19:50] #289 closed

[2020-07-01 19:51] kmarjanovic commented on #215
@rezakh66  @cmadland

Original request from January still needs to be fixed.

[2020-07-02 21:46] rezakh66 commented on #325
Hi Kelly,
Unit 5 is uploaded.

[2020-07-03 20:56] rezakh66 commented on #327
@kmarjanovic Hi Kelly, We uploaded and formatted up to [unit 5](https://learn.twu.ca/course/view.php?id=15710&section=5). Rubrics are attached within the assessment section as per required or do you want a separate tab for assessments rubric to be created?

[2020-07-03 22:56] cmadland commented on #51
ok @kmarjanovic ...the 'Assessments' tab in Hist107 is in its final form, aside from some formatting tweaks on the Reseach paper section...

i hope...

[2020-07-06 19:11] rezakh66 commented on #215
@kmarjanovic Hi, I think I have removed the buttons successfully. let me know if any change is needed

[2020-07-06 21:00] rezakh66 commented on #51
@kmarjanovic I formatted research paper section with a few notes that need your feedback.

[2020-07-06 23:21] kmarjanovic commented on #51
It's getting there!

I love the drop down menu for writing the paper - so definitely want to keep that.  I still think the proposal, essay, and all info sheets should be in one tab.

If you look at the hyperlinks in the proposal and essay sections - they link to the info sheets.  How do we link to sections in the drop down menu?

[2020-07-07 01:06] cmadland commented on #51
We can link directly to one of the headings...

https://far.twu.ca/arts/hist107/writing-history#heading7

But all the headings fit on one page so it doesn't actually scroll down.

There are anchors on each of the headings inside the accordions, but apparently a direct link doesn't go there, at least in FireFox.
________________________________
From: Kelly Marjanovic <notifications@github.com>
Sent

[2020-07-07 04:35] JessD9 opened #328 "LDRS 301 Units"
### LDRS 301

### [URL](https://learn.twu.ca/course/view.php?id=15711)

### Instructions
@rezakh66 Please upload units to GiHub/Atom (may need to create 301 folder in github)

[LDRS_301_U1_Jul6_2020_DA.docx](https://github.com/TWUOnline/bug-tracking/files/4882456/LDRS_301_U1_Jul6_2020_DA.docx)
[U1_topic1_activity1.3_ppt.pptx](https://github.com/TWUOnline/bug-tracking/files/4886869/U1_topic1_activi

[2020-07-07 16:26] kmarjanovic commented on #51
Hmmm...
testing out having it all in the accordion.  Will change those link references to say - see section below - or something like that.

[2020-07-07 16:28] rezakh66 commented on #328
@JessD9 I will get this done by today. Thanks

[2020-07-07 17:20] cmadland commented on #51
That's not a bad idea at all, although it would take the Research essay item out of the ToC of all the assignments. Perhaps the 'section' page could contain a link to the accordion?

I tried the content-inject route and accordions don't play that song.

Colin

________________________________
From: Kelly Marjanovic <notifications@github.com>
Sent: Tuesday, July 7, 2020 9:26 AM
To: TWUOnline/bug-tr

[2020-07-07 17:38] kmarjanovic commented on #51
See here: https://learn.twu.ca/course/view.php?id=10809&section=6
I think in one tab is best.  I'll take out of the other Assignments section.

[2020-07-07 20:14] cmadland commented on #51
looks good...nice and clear.
________________________________
From: Kelly Marjanovic <notifications@github.com>
Sent: Tuesday, July 7, 2020 10:38 AM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Colin Madland <Colin.Madland@twu.ca>; Mention <mention@noreply.github.com>
Subject: Re: [TWUOnline/bug-tracking] HIST 107 Assignments (#51)

See here: https://learn.twu.ca/course/view.ph

[2020-07-07 20:22] rezakh66 commented on #328
@JessD9 I have uploaded both units [here](https://learn.twu.ca/course/view.php?id=15711&section=1)

[2020-07-08 02:27] kmarjanovic opened #329 "LDRS 591 edits"
### Course
LDRS 591 A (SU20)

### URL
https://learn.twu.ca/course/view.php?id=13220

### Instructions
Could you please help Heather with the following:

I can’t seem to connect the info in github to Moodle in the LDRS 591 A Summer 2020 course.

Here are the issues I am having:

- [x] On the course overview page, the TWU logo is not showing at the top.
- [x] On the course schedule page, the entire

[2020-07-08 18:12] kmarjanovic opened #330 "LDRS 620 presentation plugin"
### Course
LDRS 620- FAR MASTER

### URL
https://learn.twu.ca/course/view.php?id=15710&section=1

### Instructions
For Unit 1, Topic 1, create 3 presentation plugins to show the images in a slideshow format.  See course for photo links

Presentation 1:
Which woman is the most beautiful? Photo 1 | Photo 2| Photo 3
Presentation 2:
Who is being treated the most unfairly? Photo 1 | Photo 2| Photo 3
Pr

[2020-07-08 18:55] HeatherStrong11 opened #331 "Youtube plugin"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 591 A SU 2020

**Describe the error and/or your suggestion**
I am trying to use the youtube plugin in two spots in the Unit 1 Topic 2 content.  The plugin is not working like it does when I include it in the alerts.  What am I doing wrong?

**Location of the bug**
Please provide a specific link to t

[2020-07-08 19:18] kmarjanovic opened #332 "LDRS 620 edits"
### Course
LDRS 620- FAR MASTER

### URL
https://learn.twu.ca/course/view.php?id=15710&section=1

### Instructions
Unit 1: Topic 2
- [x] Could we have a Click to Enlarge feature to show the image of worldviews (first image)
- [x] Please create a matching H5P activity for Activity 1.4 (Match the following terms and definitions about elements of worldview: e.g. Epistemology: beliefs about the nature

[2020-07-08 21:28] rezakh66 commented on #330
@kmarjanovic  Hi Kelly, This is done

[2020-07-09 17:19] rezakh66 commented on #328
@JessD9 Hi Jessica, Presentation is uploaded.

[2020-07-09 17:26] rezakh66 commented on #332
@kmarjanovic enlarge feature did not match with the presentation feature last time. I'll search for any other option available to enlarge images but the rest of the changes are made.

[2020-07-09 18:29] JessD9 commented on #328
@rezakh66 Thank you Reza!

[2020-07-09 18:33] karenroeck opened #333 "MCOM 281"
**Which course contains the bug?**
MCOM 281

**Describe the error and/or your suggestion**
At the bottom of the "Assessment" section in each unit, there is a blue "Schedule" button that leads to a 404 page. Please remove this button from Units 1-10.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL: https://learn.t

[2020-07-09 18:36] karenroeck opened #334 "MCOM 281 "Schedule" button in Moodle"
**Which course contains the bug?**
MCOM 281

**Describe the error and/or your suggestion**
At the bottom of the "Assessment" section in each unit, there is a blue "Schedule" button that leads to a 404 page. Please remove this button from Units 1-10.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL: https://learn.t

[2020-07-09 20:14] rezakh66 commented on #334
@karenroeck Hi Karen, I removed all Schedule buttons.

[2020-07-09 20:35] karenroeck commented on #334
@rezakh66 Thanks so much! Maybe you can show me how to do that sometime.

[2020-07-09 22:15] rezakh66 commented on #334
@karenroeck Hi Karen, Sure, slack me when it's more convenient to you.

[2020-07-10 02:12] kmarjanovic commented on #333
@cmadland @rezakh66
We have this same button issue we've had in other courses.  Please help!

[2020-07-10 02:13] kmarjanovic commented on #332
Thank you @rezakh66 !  This is definitely a tool we need for some of our courses, so let us know when you find something we can test out.

[2020-07-10 02:28] karenroeck opened #335 "Two bugs in MCOM 281: Public Speaking (FAR Centre MASTER)"
**Which course contains the bug?**
MCOM 281: Public Speaking (FAR Centre MASTER)

**Describe the error and/or your suggestion**

1. In Unit 5, Topic 3 ("Crafting a Strong Introduction") is incorrectly listed under Topic 2. Topic 3 needs its own section, and the current Topics 3-5 need to be relabelled as Topics 4-6 in the sidebar and the titles.

2. For Units 1-10, the Unit Summary is incorrectly

[2020-07-10 02:40] kmarjanovic commented on #330
Thank you @rezakh66 !!  This looks great!
@karenroeck let us know if there are any other changes to this activity.

[2020-07-10 02:40] #330 closed

[2020-07-10 02:42] kmarjanovic commented on #51
@cmadland @rezakh66
Thank you both for all your help with this issue!!!

[2020-07-10 02:42] #51 closed

[2020-07-10 02:44] kmarjanovic commented on #215
Thank you @rezakh66 !

[2020-07-10 02:44] #215 closed

[2020-07-10 19:04] rezakh66 commented on #335
@karenroeck Hi Karen, I made the changes. Please check and let me know if that's ok.

[2020-07-10 19:43] rezakh66 commented on #331
@HeatherStrong11 Hi Heather, I fixed the youtube link issue. please always make sure to insert clean(ads-free) links which is to the video itself, not the video and the ads before that. Please see the screenshot where you can find the clean link.
![youtube](https://user-images.githubusercontent.com/55214859/87192216-e3c83880-c2aa-11ea-9e32-038141974329.jpeg)
Let me know if it's not clear and we ca

[2020-07-10 20:12] kmarjanovic commented on #331
@rezakh66 Thanks for the tip!!  I don't think I've been doing that for the youtube videos!

[2020-07-10 20:51] karenroeck commented on #335
@rezakh66 Unit 5, Topics 1-6 look correct. Thanks for doing that. "Summary" is showing twice in the sidebar for Units 1, 5, and 6 - could you please delete the second folder in Atom? "Summary" should only appear before "Assessments." Thanks!

[2020-07-10 22:14] rezakh66 commented on #335
@karenroeck Done

[2020-07-10 22:21] karenroeck commented on #335
Looks great - thanks!

[2020-07-10 22:21] #335 closed

[2020-07-13 16:14] mellaurie opened #336 "PHIL 210 Wrong navigation button"
**Which course contains the bug?**
- PHIL 210 FAR

**Describe the error and/or your suggestion**

1. There is a button at the bottom of the reflective journal assignment page that says "header image." This needs to be changed to a button that leads to the next assignment, ethics committee.
2. In ethics committee, the navigation button for the reflective journal needs to replace the "assessment" bu

[2020-07-13 16:30] rezakh66 commented on #333
@kmarjanovic I think this is resolved in another issue and we can close it?

[2020-07-13 17:32] kmarjanovic commented on #333
Yes - thank you!

[2020-07-13 17:32] #333 closed

[2020-07-13 18:58] kmarjanovic opened #337 "Production - Atom template"
### Instructions
Could we have another course template in Atom that doesn't have the Learning Activity in a separate folder, plus adding 4 alerts to each unit folder? (e.g. 1-1, 1-2, 1-3).
This way we don't have to add/delete these folders for each new course.

[2020-07-14 01:33] kmarjanovic commented on #327
Hi @rezakh66
I haven't had a chance to look at the course yet, but Karen and I will this week and can move assessment details.  (likely to a separate assessment tab, but we need to look at the content again.)
@karenroeck

[2020-07-14 01:33] #327 closed

[2020-07-14 19:57] kmarjanovic opened #338 "LDRS 620 - Facilitator's Guide"
### Course
LDRS 620
### URL
https://github.com/TWUOnline/far-centre-guides/tree/master/pages/02.lead-ma
### Instructions
Please add the attached guide.

@cmadland with the new format you're working on (embedded page in moodle with dropdown menu) - is this repository still what we're using?

Can we start moving all guides to this new format?

[LDRS_620_Facilitator_Guide.docx](https://github.com/TWU

[2020-07-14 20:29] kmarjanovic opened #339 "LDRS 624 formatting"
### Course
LDRS 624
### URL
https://learn.twu.ca/course/view.php?id=15704&section=5

### Instructions
@rezakh66  Could you have a look at the formatting in Unit 5 Assessment?   Checking your learning, bug report line, etc.

[2020-07-14 20:42] kmarjanovic commented on #311
Thank you @rezakh66 !!

[2020-07-14 20:42] #311 closed

[2020-07-14 20:46] kmarjanovic commented on #312
Thank you @rezakh66 !!  Just waiting for the final unit 5 from the SME.

[2020-07-14 20:52] kmarjanovic commented on #281
Thanks @rezakh66 @JessD9
The last things to change are the icons in the Resources section of the Overview.  Please add the icons for Units 1-4; 8-10 to make it consistent.

[2020-07-14 21:53] rezakh66 commented on #339
@kmarjanovic I made the changes and also change the order of summary and assessment throughout the whole units.

[2020-07-14 23:14] rezakh66 commented on #338
@kmarjanovic Hi Kelly, the guide is up now.

[2020-07-14 23:30] kmarjanovic commented on #338
Thanks @rezakh66 !
There are just minor formatting tweaks to fix (asterisk at the end of headings), Heading consistency (see Unit 5).
@karenroeck could you review and let us know other changes?

[2020-07-14 23:31] kmarjanovic commented on #339
Thanks @rezakh66 !!

[2020-07-14 23:31] #339 closed

[2020-07-15 16:17] karenroeck commented on #338
@rezakh66 @kmarjanovic The Facilitator's Guide looks great. I noticed two further tweaks needed:

-The title in the sidebar needs to be capitalized without dashes (e.g. Worldview Foundations of Educational Leadership")
-In Unit 3, there is an extra line space between the Activity 3.8 heading and the sentence below. This extra line needs to be removed.

[2020-07-15 21:53] karenroeck opened #340 "Production LDRS 620 Unit 5"
### Course
LDRS 620 FAR Centre MASTER

### URL
https://learn.twu.ca/course/view.php?id=15710&section=5

### Instructions
- Please edit the attached PDF to clean up the scanning job (crop out half pages and unneeded white spaces)
- Insert into Activity 5.1 ("Read the following excerpt...")

Please upload required files as attachments.

[Cha3-Nouwen.pdf](https://github.com/TWUOnline/bug-tracking/fil

[2020-07-15 22:12] rezakh66 commented on #338
@kmarjanovic @karenroeck I have made the changes, Can you please check and let me know if you want different headings for different activities. I have used #### for now.

[2020-07-15 22:29] karenroeck commented on #338
@rezakh66 Are you able to edit the name of the course in the sidebar? It is still showing as LDRS 620: worldview-foundations-of-educational-leadership

Could you make Topic and Assignment Headings bigger? The Activity and Facilitated Learning Lab headings are great as is.

[2020-07-15 23:15] kmarjanovic opened #341 "LDRS 624 Scanned documents"
### Course
LDRS 624

### URL
Moodle: https://learn.twu.ca/course/view.php?id=15704&section=0
GitHub: https://github.com/TWUOnline/ldrs-master/tree/master/pages/10.624/Files
Blueprint (has page references): https://docs.google.com/document/d/1SesDUwCHe603aJWRGsSXpnmhjxV2m13gmpE33D9Ab2I/edit

### Instructions

The scanned docs for this course (& 623 & 620) need some major TLC!  @cmadland @Jeff-TWU d

[2020-07-15 23:18] Jeff-TWU commented on #341
I can do this. Deadline?

[2020-07-15 23:20] kmarjanovic commented on #341
Thanks Jeff!!  I don't think this course is scheduled yet.  Possibly September but more likely January.

[2020-07-15 23:22] Jeff-TWU commented on #341
Sounds good. I'll add it to my busy list.

[2020-07-15 23:29] kmarjanovic commented on #341
I forgot the Van Brummelen pages are for LDRS 623.  I've added the unit references for the rest of the pages.

[2020-07-15 23:53] karenroeck opened #342 "LDRS 620 FAR Centre MASTER"
**Which course contains the bug?**
LDRS 620 FAR Centre MASTER

**Describe the error and/or your suggestion**
[] Units 2-5: In the Assessment tab, please create grey alerts for all Assignments (see Unit 1 Assessment tab for sample).
[] Units 3-5: Move Summary tab before Assessment and move all references to a new References tab (references are currently located at the end of Assessment tab - see Un

[2020-07-16 02:32] KarenAsenavage opened #343 "Link Broken"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

 **LDRS664**
**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

 Video link to  Beatriz Escobar: Sense of Belonging (5 minutes) is broken.
**Location of the bug**
Please provide a specific link to the page with the error, as well as where th

[2020-07-16 03:56] mellaurie commented on #334
@rezakh66 Please show me too!  I am finding the same problem in LDRS 303

[2020-07-16 04:01] mellaurie opened #344 "LDRS 303 Button Problem"
**Which course contains the bug?**
- LDRS 303 FAR MASTER

**Describe the error and/or your suggestion**
All the "Reflective Journal" blue buttons leads to a 404.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
https://learn.twu.ca/course/view.php?id=10748&section=1
 All units, in the assessment section, very bottom

**O

[2020-07-16 16:10] kmarjanovic commented on #343
Hi Karen,
I can't seem to find any replacement link.  I'll ask the course writer, Cathy, but for now will delete.

[2020-07-16 16:19] kmarjanovic commented on #344
@mellaurie what section are those links in?  Unit assessments or in the units?

[2020-07-16 16:21] #334 closed

[2020-07-16 16:28] mellaurie commented on #344
At the end of each unit except for Unit 6 (which doesn't have the Reflective Journal Assignment)

![Screenshot (69)_LI](https://user-images.githubusercontent.com/65783200/87697188-a3ebd000-c746-11ea-9d04-7d75b68c07f6.jpg)

[2020-07-16 16:33] kmarjanovic commented on #344
Ah I see.  It's that same button issue.  @rezakh66 , could you please fix this?

I think this issue started when we switched to alerts, but those alerts were in the wrong folder, correct?  Now we put them in the main unit folder so we don't have this issue.

[2020-07-16 16:49] karenroeck opened #345 "LDRS 620 Activity 1.2 H5P"
**Which course contains the bug?**
LDRS 620 FAR Centre MASTER

**Describe the error and/or your suggestion**
Please create an H5P activity for Activity 1.2 where students can slide to choose their answers to each question: "Strongly Disagree | Disagree | Neutral | Agree | Strongly Agreee"

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error

[2020-07-16 17:00] kmarjanovic opened #346 "SOCI 101 edits"
### URL
https://learn.twu.ca/course/view.php?id=10781
### Instructions

- [x] For all the Activity Checklists in the units, could you please unlink all hyperlinks?

@JessD9 could you add/fix the other items we discussed with Todd yesterday?

[2020-07-16 19:54] rezakh66 commented on #338
@karenroeck Hi Karen, I made the changes. Assignments and topics are now one size bigger.

[2020-07-16 19:57] rezakh66 commented on #344
@kmarjanovic Hi Kelly,
yes, assignments should be moved out of the assessment folder and go under the main unit folder. I will work on this today.

[2020-07-16 20:06] karenroeck commented on #338
@rezakh66 looks great! Last picky detail then we can close this bug - can you please capitalize the name of the course in the sidebar? e.g. Worldview Foundations of Educational Leadership

[2020-07-16 20:52] karenroeck opened #347 "Production: LDRS 620 H5P"
### Course
LDRS 620 FAR Centre MASTER

### URL
https://learn.twu.ca/course/view.php?id=15710&section=5

### Instructions
- [x] Please create an H5P fill in the blank activity in Activity 5.3

Please upload required files as attachments.

[2020-07-16 21:20] rezakh66 commented on #338
@karenroeck I changed it 👍

[2020-07-16 21:25] mellaurie opened #348 "LDRS 500 article links valid, but won't display"
**Which course contains the bug?**
- LDRS 500 Far Master

**Describe the error and/or your suggestion**
The links to the Catalyst articles are good, but they are not working in Moodle. When you click on the link in Moodle, it tries to embed the website on the page.  I think it would work better if it could just open in a new tab (but I don't know the code for that).

**Location of the bug**
Please

[2020-07-16 21:38] rezakh66 commented on #344
@kmarjanovic I have removed the reflective journal button. Also, I just noticed that we are having an old format of learning activities when they were not embedded in the topic itself. Do you want to change it to the new format?

[2020-07-16 21:40] rezakh66 commented on #334
@mellaurie Sure, slack me when is more convenient to you.

[2020-07-16 21:49] mellaurie commented on #344
@rezakh66 That is probably my fault for following an old format.  Can you show me what I should be doing tomorrow?

[2020-07-16 22:50] Raulmelara commented on #346
@kmarjanovic Hyperlinks have been unlinked for Activity Checklist in the units

[2020-07-16 23:55] Raulmelara commented on #340
@karenroeck I've made the edits on the file and uploaded as attachment in Activity 5.1

[2020-07-17 00:10] Raulmelara commented on #347
@karenroeck I created a Fill in the blank H5P for Activity 5.3

[2020-07-17 01:01] kmarjanovic commented on #348
@mellaurie @rezakh66
We just need to take out /chromeless:true/hidepagetitle:true from the url.

[2020-07-17 01:43] Raulmelara commented on #348
@kmarjanovic @mellaurie chromeless:true/hidepagetitle:true has been removed

[2020-07-17 15:54] karenroeck commented on #347
@rezakh66 thank you!

[2020-07-17 15:54] #347 closed

[2020-07-17 15:57] karenroeck commented on #340
@rezakh66 thank you, this file looks so much cleaner now!

[2020-07-17 15:57] #340 closed

[2020-07-17 17:14] kmarjanovic commented on #348
Thanks @Raulmelara ! (& welcome back! ;)

[2020-07-17 17:14] #348 closed

[2020-07-17 17:14] kmarjanovic commented on #346
Thanks @Raulmelara !!

[2020-07-17 17:14] #346 closed

[2020-07-17 17:16] kmarjanovic commented on #344
@mellaurie @rezakh66

Let's leave the learning activities where they are.  Some courses need that extra chunking, so we separate them from the Topics.

[2020-07-17 17:16] #344 closed

[2020-07-17 17:18] kmarjanovic commented on #343
Hi Karen,
Cathy mentioned we can just remove the video, since the activity discussion references the literature.

Thanks again for letting us know about the bug!

[2020-07-17 17:18] #343 closed

[2020-07-17 17:22] rezakh66 commented on #345
@karenroeck Hi Karen,
I could not find any survey type activity in H5P but I found this kind of multiple-choice closest to that. Can you please check and let me know your thoughts?

[2020-07-17 17:28] kmarjanovic commented on #345
@rezakh66 @karenroeck
That could definitely work...although it would be nice to find a slider option.  I wonder if there are WordPress plugins that could work.
@cmadland or @Jeff-TWU do you know of any media plugins that have a slider option for a survey activity?

Since students are reflecting on their answers - at the end they'll need to see the results or a summary.  Which media option gives us

[2020-07-17 17:49] rezakh66 commented on #342
@karenroeck These are done. Do we need icons in the reference list?

[2020-07-17 18:13] jb0ob commented on #345
<img width="753" alt="Screen Shot 2020-07-17 at 11 11 40 AM" src="https://user-images.githubusercontent.com/39725337/87817734-56db2d00-c81e-11ea-8d65-538a7c681714.png">
Without being able to see things in context, I can't really respond properly. It appears I only have student access? @cmadland  are you able to give me access?

[2020-07-17 18:15] Jeff-TWU commented on #345
<img width="753" alt="Screen Shot 2020-07-17 at 11 11 40 AM" src="https://user-images.githubusercontent.com/66963480/87817930-a9b4e480-c81e-11ea-9c9c-27f6edfba197.png">
I'm unable to properly see things in context. @cmadland would you be able to set me up with proper access?

[2020-07-17 18:18] karenroeck commented on #342
@rezakh66 no icons needed. thanks!

[2020-07-17 18:18] #342 closed

[2020-07-17 18:37] karenroeck commented on #345
@Jeff-TWU in the meantime, here's a screenshot of the survey. The top is the H5P multiple choice option, and underneath is the way it appears in Moodle.

![Screen Shot 2020-07-17 at 11 36 20 AM](https://user-images.githubusercontent.com/67760065/87819885-da4a4d80-c821-11ea-9139-17651ca79832.png)

[2020-07-17 18:39] cmadland commented on #345
Jeff, I've added you to that course, so you can see it in context.

We will have to figure out how much general access to Moodle you will need. For now, maybe one-off access is ok?

Colin
________________________________
From: Karen Roeck <notifications@github.com>
Sent: Friday, July 17, 2020 11:37 AM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Colin Madland <Colin.Madland@twu

[2020-07-17 18:44] Jeff-TWU commented on #345
@cmadland Thanks Colin! One-offs sound good to me.

[2020-07-17 19:02] karenroeck opened #349 "LDRS 620: Insert MS Stream unit intro videos"
### Course LDRS 620 FAR Centre MASTER

### URL https://learn.twu.ca/course/view.php?id=15710&section=1

### Instructions
Please insert the MS videos into each unit's "Overview" section. The video should be under the Overview paragraph and above the Topics.

- [x] [Unit 1](https://web.microsoftstream.com/video/26000ee1-5d3e-4b85-9f97-6769841293e9)
- [x] [Unit 2](https://web.microsoftstream.com/vide

[2020-07-17 19:18] rezakh66 commented on #349
@karenroeck  Videos are uploaded

[2020-07-17 20:43] Jeff-TWU commented on #345
So I did some research, there's a few options (many of them paid).

I like Questionaire as it's sticking within H5P and would be very easy to implement. Students would have the option of reviewing their answers (one by one) before submitting a survey which could then be sent out later.
https://h5p.org/questionnaire

Responsive Poll is interesting, but I'm not sure it would be capable of being a pa

[2020-07-20 22:12] karenroeck commented on #345
Thanks for doing that research @Jeff-TWU. I think we will stick with the H5P questionnaire.

[2020-07-20 22:12] #345 closed

[2020-07-20 22:18] KarenAsenavage opened #350 "LDRS664OL Citation in selling error in author's name in most instances in Unit 4"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

 LDRS664OL

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

 The citation is incorrect on the cover page ACTIVITY 4:1  Brower is spelled Bower

Brower, A. M., & Dettinger, K. M. (1998). What is a learning community?: Toward a comprehensiv

[2020-07-20 23:55] kmarjanovic opened #351 "LDRS 620 - embed audio"
### Course
https://learn.twu.ca/course/view.php?id=15710&section=4

Activity 4.4. - 2 interviews to fix formatting

### Instructions
I tried to embed the code for the audio - but it ended up messsing with the format of the rest of the activity.  Please help!

embed code: <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=htt

[2020-07-21 15:27] rezakh66 commented on #351
@karenroeck Hi Karen, I embedded both audio files. Please change the second file title.

[2020-07-21 17:36] karenroeck commented on #351
@rezakh66 It is not formatted quite correctly. Can we meet this afternoon to troubleshoot?

[2020-07-21 19:51] rezakh66 commented on #351
@karenroeck Sure, 3 pm works for you?

[2020-07-21 20:04] karenroeck commented on #351
Yep sounds good. Just emailed you a Zoom invite.

[2020-07-22 15:19] rezakh66 commented on #351
@karenroeck Good Morning, I think embedded files are in their final form. transcripts are attached right below the interviews.

[2020-07-22 15:23] kmarjanovic commented on #351
@rezakh66  that looks great!  What do you think, Karen?

[2020-07-22 17:03] Jeff-TWU commented on #345
@karenroeck Welcome!

[2020-07-22 17:05] kmarjanovic opened #352 "LDRS 620 - image resolution"
### Course
LRS 620
### URL
https://learn.twu.ca/course/view.php?id=15710&section=1

### Instructions
For the chart in Topic 2, could we have a click to enlarge feature?
If not, @karenroeck could you provide a link/pdf to a chart with better resolution/bigger print?

[2020-07-22 17:12] karenroeck commented on #351
@rezakh66 you are a star! Thank you! The only last change is to remove the soundcloud link at the top of each text file, since we have the files embedded directly in Moodle now. Then we can close off this bug. Thanks!

[2020-07-22 17:16] karenroeck commented on #352
Click to enlarge would be ideal - otherwise, here is the PDF: https://www.summit.org/wp-content/uploads/2016/08/10.05.2017-WVchart.pdf

[2020-07-22 17:23] cmadland commented on #352
We had a plugin that worked to open images in a larger view, but it borked a different and more important plugin, so we ditched it. Linking to the download from Summit that Karen provided makes sense to me.

[2020-07-22 17:25] kmarjanovic commented on #352
okay sounds good.

Could someone keep looking for a click to enlarge feature that works?  This is needed in some courses.

[2020-07-22 20:06] kmarjanovic opened #353 "Facilitator's Guide (e.g. 591)"
### Course
LDRS 591 (& all other FAR courses)

### URL
https://github.com/TWUOnline/far-centre-guides/tree/master/pages/02.lead-ma/07.ldrs-591-scholarly-inquiry - GitHub - old 591 (nothing to use in there)

New Guide content: https://github.com/TWUOnline/ldrs-master/tree/master/pages/03.591/17.11-facilitators-guide

In Moodle: https://learn.twu.ca/course/view.php?id=8924&section=11

### Instructio

[2020-07-22 21:26] rezakh66 commented on #351
Thanks @karenroeck. I made the changes and removed all Soundcloud links in the transcript files.

[2020-07-22 21:30] #351 closed

[2020-07-22 21:43] #35 closed

[2020-07-22 21:47] karenroeck commented on #114
Scan request emailed to Shawn Brouwer in TWU Library.

[2020-07-22 21:48] #127 closed

[2020-07-22 21:49] cmadland commented on #114
FYI, there has been some funding approved for the library to purchase a scanner or two...

[2020-07-22 21:49] #123 closed

[2020-07-22 22:28] karenroeck commented on #336
@mellaurie Colin showed me how to fix this issue - can you take a look at the page to make sure everything is resolved?

[2020-07-23 14:53] rezakh66 commented on #353
@kmarjanovic Hi Kelly, I have uploaded this with the new format. do you want this to be done for the rest of the facilitator's guide?

[2020-07-23 15:28] mellaurie commented on #336
Thanks for fixing this!  @karenroeck I'd love to learn how this is done.

[2020-07-23 15:28] #336 closed

[2020-07-23 15:57] karenroeck commented on #336
@mellaurie Sure thing - send me a zoom invite for tomorrow sometime and we can muddle through together ;)

[2020-07-23 18:55] kmarjanovic commented on #353
This is great!  Thanks @rezakh66 !!

As for the other guides - it would be great to have them in a Moodle tab for the ones starting in August (potentially):

| [LDRS 300 - Leadership Theory & Practice (FAR Master)](https://learn.twu.ca/course/view.php?id=10828)       |
| [LDRS 302 - Historical Concepts & Theories (FAR Master)](https://learn.twu.ca/course/view.php?id=10827)     |
| [LDRS 303 - Cont

[2020-07-23 19:08] rezakh66 commented on #353
@kmarjanovic Sure, ill get them ready before August.

[2020-07-23 23:15] kmarjanovic opened #354 "LDRS 623 - unit 5"
### Course
LDRS 623
### URL

### Instructions
Please add this final unit to Atom.

[LDRS623_U5_July23_KM.docx](https://github.com/TWUOnline/bug-tracking/files/4969509/LDRS623_U5_July23_KM.docx)

[2020-07-24 09:26] JessD9 opened #355 "LDRS 399"
### LDRS 399

### [URL](https://learn.twu.ca/course/view.php?id=15742)

### Instructions
@rezakh66 Please upload unit 1 to GiHub/Atom (may need to create 399 folder in github)

[LDRS_399_U1_July24_JD.docx](https://github.com/TWUOnline/bug-tracking/files/4971161/LDRS_399_U1_July24_JD.docx)

[LDRS_399_Journal.docx](https://github.com/TWUOnline/bug-tracking/files/4971126/LDRS_399_Journal.docx)

[Samp

[2020-07-24 18:18] kmarjanovic opened #356 "LDRS 591 resize image"
### Course

### URL
https://learn.twu.ca/course/view.php?id=8924
### Instructions
Could you please resize the TWU logo on the course intro page? 1/2 size or more?

[2020-07-24 18:53] karenroeck commented on #356
I resized it but can't get it to center...does it look ok?

[2020-07-24 18:58] #356 closed

[2020-07-24 21:46] rezakh66 commented on #354
@kmarjanovic I have uploaded unit 5.

[2020-07-24 21:49] #268 closed

[2020-07-24 21:50] #176 closed

[2020-07-24 22:22] kmarjanovic commented on #354
Perfect.  Thank you!!

[2020-07-24 22:22] #354 closed

[2020-07-24 22:26] karenroeck commented on #34
Emailed SME for file.

[2020-07-24 22:49] karenroeck commented on #352
I think I figured something out - !!!!

https://learn.twu.ca/course/view.php?id=15710&section=1

[2020-07-24 22:49] #332 closed

[2020-07-24 22:50] karenroeck commented on #337
@cmadland Could this be added to the newly created course-materials repository?

[2020-07-24 22:56] cmadland commented on #352
Interesting…I moved it to be a sub-item of unit 1.

Trouble is the page doesn’t have the ToC.

We might have to link to it instead in order to preserve the navigation…

From: Karen Roeck <notifications@github.com>
Reply-To: TWUOnline/bug-tracking <reply@reply.github.com>
Date: Friday, July 24, 2020 at 3:49 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Colin Madland <Colin.Mad

[2020-07-24 22:57] karenroeck commented on #352
Darn :( ok back to the death by download....

KAREN ROECK, MA, BEd

Instructional Designer | TWU GLOBAL

Trinity Western University | e. karen.roeck@twu.ca<mailto:karen.roeck@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image003.png@01D567BE.8201A250]<https://www.facebook.com/trinitywestern/>  [cid:image004.png@01D567BE.8201A250] <https://www.instagram.com/trinitywestern/>   [cid:image005.png@01D567B

[2020-07-24 22:59] cmadland commented on #352
We can still have that page you created, just have it outside the ToC, then link from the spot it is supposed to be.

[2020-07-24 23:37] rezakh66 commented on #355
@JessD9 Hi Jessica, I have uploaded unit 1. a few notes: assessment section needs a lot of editing. activity 1.8 is between two assessments? and also MS videos are private. please grant me access then I can get them embedded.And please if you wanted to edit in Atom, edit in LDRS399reza. the other LDRS 399 folder is copied from another course with all its materials.we will rename the folder after K

[2020-07-24 23:45] kmarjanovic opened #357 "Production - ID resources"
### Course
ID Course Design Resources

### URL
https://learn.twu.ca/course/view.php?id=15741

### Instructions
Adding request here (emailed Colin previously)
I’m going to add a bunch of resources for the IDs to Github [Course-Design](https://github.com/TWUOnline/Course-Design).

I also set up a Moodle site so I can see the content in a different format: [ID Course Design Resources](https://learn.t

[2020-07-25 10:39] KarenAsenavage commented on #343
Thank you for following up!  Have a wonderful time with your family.  Karen
________________________________
From: Kelly Marjanovic <notifications@github.com>
Sent: Friday, July 17, 2020 1:18 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Karen Asenavage <Karen.Asenavage@twu.ca>; Author <author@noreply.github.com>
Subject: Re: [TWUOnline/bug-tracking] Link Broken (#343)

Hi Ka

[2020-07-26 10:27] JessD9 commented on #355
@rezakh66 I have shared the 4 videos with you via email. Can you move Activity 1.8 to Topic 2? (place it right after Activity 1.7). I think this makes it clearer. Do you think we need a separate Assessments tab where students can submit their assignments to the dropbox?

[2020-07-26 20:55] kmarjanovic opened #358 "LDRS 623 edits"
### Course
LDRS 623

### URL
LDRS 623: https://learn.twu.ca/course/view.php?id=15687&section=1

### Instructions
Please change the following:
For Units 3-5
- [x] Move the Questions to Consider to inside the alerts.  Also change to bold, not heading (see Units 1 & 2)
- [x] Add the icons in the alerts (e.g. fa:book)

For all units:
- [x] Add the icons to the Activity Checklist
- [x] Delete the list

[2020-07-26 20:55] kmarjanovic opened #359 "LDRS 623 Media Request (H5P?)"
### Course
LDRS 623

### URL
LDRS 623: https://learn.twu.ca/course/view.php?id=15687&section=5

### Instructions
Media Request: Activity 4.4: Ministry, School, or Personal?
Can we look for an interactive option here (H5P?) so students can group the statements into categories?  Perhaps once the [WRSH 101 activity](https://github.com/TWUOnline/bug-tracking/issues/11) is created, we can follow that t

[2020-07-26 21:00] kmarjanovic commented on #11
@Jeff-TWU @mellaurie
Could we meet this week to discuss media requests?
For this one in particular, Reza and I have discussed some options (see [here](https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=87)) but it's not quite what I have in mind.
See [example](https://barabus.tru.ca/mngt1211/unit1_option3/story_html5.html) from TRU

[2020-07-26 22:30] mellaurie commented on #11
@kmarjanovic @Jeff-TWU
Happy to meet anytime.
Do you want this activity to work like the TRU example or just look like it? (I think H5P's Summary activity is similar)

[2020-07-27 03:24] JessD9 commented on #355
Here is Unit 2:
[LDRS_399_U2_July26_JD.docx](https://github.com/TWUOnline/bug-tracking/files/4979773/LDRS_399_U2_July26_JD.docx)

[PPT_Writing_persuasive_infographic.pptx](https://github.com/TWUOnline/bug-tracking/files/4979774/PPT_Writing_persuasive_infographic.pptx)

[Persuasive_Infographic_Rubric.docx](https://github.com/TWUOnline/bug-tracking/files/4979776/Persuasive_Infographic_Rubric.docx)

[2020-07-27 07:32] rezakh66 commented on #355
@JessD9 Hi Jessica, which email have you shared the videos with? I am still unable to access them via my @twu email. Assessments dropbox would be created within Moodle itself by the instructor of the course or Online learning team if they request. Here is the link oh how to create Assignment dropbox. http://create.twu.ca/help/moodle/faculty/activity-or-resource/creating-an-assignment-dropbox

[2020-07-27 08:43] JessD9 commented on #355
thanks Reza. I messaged you on Slack as well.

[2020-07-27 09:30] JessD9 commented on #328
Please add Grading Rubric that's on page 14 of the doc.

[LDRS_301_U2_Jul26_DA.docx](https://github.com/TWUOnline/bug-tracking/files/4981148/LDRS_301_U2_Jul26_DA.docx)

[2020-07-27 15:24] rezakh66 commented on #355
@JessD9 I have uploaded unit 2 and made the changes in unit 1. please let me know if anything else needs to be changed.

[2020-07-27 15:53] karenroeck commented on #114
@rezakh66 Could you please crop the attached reading and replace the existing file in Activity 8.1 in LDRS 410?

https://learn.twu.ca/course/view.php?id=10720&section=8

[Barrett.pdf](https://github.com/TWUOnline/bug-tracking/files/4982994/Barrett.pdf)

[2020-07-27 16:25] Jeff-TWU commented on #11
@kmarjanovic @mellaurie
Yes, anytime. Let me know when.

 @cmadland I don't have access to the link Kelly mentioned. Could I get access please?

[2020-07-27 16:40] Jeff-TWU commented on #359
@cmadland Could I please get access to this?

[2020-07-27 18:05] mellaurie opened #360 "PHIL 210 FAR"
**Which course contains the bug?**
PHIL 210 FAR

**Describe the error and/or your suggestion**
Link to Ethics Committee pdf gives 404 code.  I updated the pdf and link, but it still doesn't work.  Not sure what I am missing.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php?id

[2020-07-27 18:28] karenroeck commented on #360
@mellaurie it is fixed now - I repasted the name of the PDF file (even though it was exactly the same as what you already had there) and it seemed to do the trick.

[2020-07-27 18:28] #360 closed

[2020-07-27 18:29] cmadland commented on #359
done

From: Jeff Snider <notifications@github.com>
Reply-To: TWUOnline/bug-tracking <reply@reply.github.com>
Date: Monday, July 27, 2020 at 9:40 AM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Colin Madland <Colin.Madland@twu.ca>, Mention <mention@noreply.github.com>
Subject: Re: [TWUOnline/bug-tracking] LDRS 623 Media Request (H5P?) (#359)

@cmadland<https://github.com/cmadlan

[2020-07-27 18:32] mellaurie commented on #360
@karenroeck Thanks!  So weird.  That is what I did too.

[2020-07-27 18:34] cmadland commented on #11
Jeff,

I’ve added you as a manager to all courses in the ‘Development’ category on Moodle. This should work to get you perpetual access to all the courses under development.

To track down a course, click ‘Site home’ in Moodle, then search for the course you are looking for. Alternately, the direct link should get you in.

Let me know if you have further questions!

Colin

From: Jeff Snider <notif

[2020-07-27 18:36] Jeff-TWU commented on #11
@cmadland Thanks Colin!

[2020-07-27 19:00] karenroeck commented on #352
I'm not having any luck figuring this out.... @rezakh66 could you please take a look at this? https://learn.twu.ca/course/view.php?id=15710&section=1

We want to link a page.md in Topic 2 where it says "Click here to enlarge the image" but I can't get the title out of the sidebar or navigation buttons. See screenshots for what it looks like and what we want removed:

![Screen Shot 2020-07-27 at 11

[2020-07-27 19:30] karenroeck opened #361 "LDRS 697 - Upload Units"
### Course
LDRS 697

### URL

### Instructions
- [ ] Please upload Units 1-5 (there is a folder in Atom already, but no content).
- [ ] Please create a Moodle shell for LDRS 697 FAR Centre MASTER

Please upload required files as attachments.

[LDRS_697_Unit_1_July_27_KR.docx](https://github.com/TWUOnline/bug-tracking/files/4984054/LDRS_697_Unit_1_July_27_KR.docx)
[LDRS_697_Unit_2_July_27_KR.docx](

[2020-07-27 23:51] JessD9 opened #362 "ENGL 103"
### ENGL 103 (Bundle Master)

### [URL](https://learn.twu.ca/course/view.php?id=15760&section=1)

### Instructions
@rezakh66 Please upload unit 1 to GiHub/Atom (may need to create ENGL103 folder in github)

SME is still working on Assessment part (so for now, it will just say "Personal Essay- 10%)

[ENGL_103_U1_July27_JD.docx](https://github.com/TWUOnline/bug-tracking/files/4985237/ENGL_103_U1_Jul

[2020-07-28 15:58] rezakh66 commented on #362
@JessD9 Good Morning Jessica, Unit 1 is [uploaded](https://learn.twu.ca/course/view.php?id=15760&section=1). Please note that there are 2 slides missing in activities. let me know where they have to be inserted.

[2020-07-28 17:18] karenroeck commented on #352
@rezakh66 We have the same issue in Unit 4, Topic 2 - I inserted a page to enlarge an image, and the word "Model" shows up in the sidebar and as a button:

https://learn.twu.ca/course/view.php?id=15710&section=4

[2020-07-28 17:30] kmarjanovic opened #363 "LDRS 620 - assignment rubrics"
### Course
LDRS 620
### URL
https://learn.twu.ca/course/view.php?id=15710&section=7

### Instructions
@karenroeck
Could we enlarge the rubrics a bit in the Assessments section?   The print is too small.  We can either enlarge the screenshot - or it might be better to build it in grav, or even Moodle.

See Mel's [rubric example](https://learn.twu.ca/course/view.php?id=8189&section=12) in the Sandbo

[2020-07-28 17:54] karenroeck commented on #363
Sure would love some help with this. The larger PDF version of the rubric is already hyperlinked. The displayed jpg is 2.13 MB and 4200x2550 - would be great to get it to display larger somehow.

[2020-07-28 17:59] karenroeck commented on #362
Thanks so much, Reza! @JessD9 let me know what you need from me re: editing Unit 1 and inserting some of Vic's material as a sample of integration.

[2020-07-28 19:19] kmarjanovic commented on #338
I'm trying to link this to the course.  Could you let me know the correct embed code?

<p><iframe scrolling="yes" style="border: 0px #ffffff none;" src="https://far.twu.ca/lead-ma/LDRS-620-Worldview Foundations of Educational Leadership/chromeless:true/hidepagetitle:true" allowfullscreen="allowfullscreen" width="100%" height="1000"></iframe></p>

https://learn.twu.ca/course/view.php?id=15710&secti

[2020-07-28 20:26] JessD9 commented on #362
@rezakh66 thanks for pointing that out! Can you insert slides 17 and 18 before slide 19 ("rhetorical figures").

[2020-07-28 20:37] rezakh66 commented on #352
@karenroeck I have removed them from the sidebar.

[2020-07-28 20:37] JessD9 commented on #362
@rezakh66 Can you also move the first paragraph ("This course will lead you on an imaginative journey") and picture (by Thought Catalog) over to the Course Introduction page?
Sorry for the multiple requests (but this will be shown as a sample to other faculty on Thursday)

[2020-07-28 20:41] JessD9 commented on #362
@karenroeck I realize now that Vic's resources are more geared towards conducting research and writing essays...which doesn't align with Lydia's unit on stories. Perhaps we can discuss further at the ID meeting tomorrow

[2020-07-28 20:55] karenroeck commented on #362
Yes sounds good!

[2020-07-28 20:56] rezakh66 commented on #362
@JessD9 I have made the changes. I have kept word doc same formatting for now but if you want heading or the text to be in different size and format let me know

[2020-07-28 20:56] karenroeck commented on #352
@rezakh66 thank you so much! Is there any way to remove the button at the bottom of the overview page?
"Summit" for Unit 1: https://learn.twu.ca/course/view.php?id=15710&section=4
"Model" for Unit 4: https://learn.twu.ca/course/view.php?id=15710&section=4

[2020-07-28 21:32] rezakh66 commented on #352
@karenroeck I moved them to the last tab in the reference pages for now but I will check to see if we could get rid of them totally.

[2020-07-28 22:04] #308 closed

[2020-07-28 22:06] #34 closed

[2020-07-28 22:06] #60 closed

[2020-07-28 22:11] #329 closed

[2020-07-28 22:15] #309 closed

[2020-07-28 22:23] #281 closed

[2020-07-28 22:24] #304 closed

[2020-07-28 22:25] #83 closed

[2020-07-28 22:26] #312 closed

[2020-07-28 22:52] rezakh66 commented on #355
@JessD9 I have embedded MS videos in unit 1.

[2020-07-28 23:28] JessD9 commented on #355
Thank You!

[2020-07-29 03:03] dgaudet48 opened #364 "Psych 106 - Extra Navigation Button"
**Which course contains the bug?**

Psyc106 Dev 2

**Describe the error and/or your suggestion**
On the Unit 4 Assessment tab there is an extra link "Writing Assignment 1" that should not be there. I am not sure why, but I cannot get rid of it.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.c

[2020-07-29 10:14] JessD9 commented on #362
@rezakh66  Please insert H5P drag/drop for Activity 1.6

[2020-07-29 14:56] rezakh66 commented on #353
@kmarjanovic Hi Kelly, I have uploaded all these courses facilitation guide. However, it would be great if you send me the docx file for SOCI 101, and WRTG 101 as it seems some parts are missing.

[2020-07-29 15:02] rezakh66 commented on #364
@dgaudet48 Hi, I have removed that.

[2020-07-29 15:22] rezakh66 commented on #338
@kmarjanovic It was not created yet, It's available [here](https://learn.twu.ca/course/view.php?id=15710&section=11) now.

[2020-07-29 15:30] HeatherStrong11 opened #365 "Link to Reflective Journal needed ASAP!"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 591 A SU 2020

**Describe the error and/or your suggestion**
I can't seem to link the content from the reflective learning journal from the file in github to show up in Moodle.  I used to have a link to this info on my Wordpress site, but I don't want students visiting the Wordpress site.  So how do

[2020-07-29 16:43] kmarjanovic commented on #234
@Jeff-TWU

[2020-07-29 16:49] kmarjanovic opened #366 "WRSH 101 interactive map"
### Course
WRSH 101
### URL
https://learn.twu.ca/course/view.php?id=10744&section=4
### Instructions

Unit 4 - Topic 2: Christian Worship During the Reformation (1511) until the 1960’s
[Put bullet points on an interactive map]

o	The Lutheran church, following Martin Luther, took hold mainly in Germany and Scandinavia.
o	John Calvin’s reform movement started in Geneva, Switzerland, but later becam

[2020-07-29 16:57] dgaudet48 opened #367 "Production"
### Course: Psych 105

### https://learn.twu.ca/course/view.php?id=15666

### Instructions
- I am having issues importing a quiz
- Please move "Quiz #1 Units 1-3" from https://learn.twu.ca/course/view.php?id=15666&section=0
to Unit 3 on https://learn.twu.ca/course/view.php?id=15666

Please upload required files as attachments.

[2020-07-29 17:41] karenroeck commented on #365
@HeatherStrong11 I hyperlinked the "Introduction to the Reflective Journal" page in the Activity 1.1 alert - is this what you were hoping for?

[2020-07-29 17:43] kmarjanovic commented on #353
Hi Reza,
I've attached the facilitator's guides below.  @JessD9 perhaps you can confirm with Shine whether there are any changes / updates to the FAR Centre version of WRTG 101?

Also - I've asked Todd to confirm the Facilitator's Guide Daniel created, but haven't heard feedback.  @JessD9 you may need to confirm that as well before it launches (whenever that is).

[WRTG-101-Facilitators-Guide.docx

[2020-07-29 17:45] JessD9 commented on #353
@kmarjanovic yes, will confirm with Shine and Todd

[2020-07-29 17:48] kmarjanovic commented on #338
Thank you @rezakh66 !!

[2020-07-29 17:48] #338 closed

[2020-07-29 18:17] HeatherStrong11 commented on #365
@karenroeck Yes!  Thank you.  Can you tell me how you did that?  I would also love it if there were hyperlinks from the front page of the assignments tab to each individual assignment page.  Is this possible?

[2020-07-29 18:34] Jeff-TWU commented on #11
@kmarjanovic @mellaurie @karenroeck

So I found [this](https://h5p.org/drag-and-drop#example=68888). Visually not what your looking for, but I think it code-wise it would work with the idea of dropping coloured tokens on to the different scripture sections. Thoughts?

[2020-07-29 18:34] karenroeck commented on #365
@HeatherStrong11 My pleasure! I moved the reflective-journal folder into 07.1-scholary-inquiry, then I created a hyperlink to that folder in the alert in 02.topic-1:

![Screen Shot 2020-07-29 at 11 33 04 AM](https://user-images.githubusercontent.com/67760065/88839054-4ec0ad00-d18f-11ea-8713-2a282a016c5a.png)

RE: Assignment hyperlinks - the way it is set up now, each individual assignment page has

[2020-07-29 18:36] karenroeck commented on #11
I think this could work nicely and would bring a fun interactive element to the course - great work, Jeff!

[2020-07-29 18:38] kmarjanovic commented on #11
Yes - thank you!!

[2020-07-29 18:50] kmarjanovic commented on #11
Here is the answer key

[WRSH-101-Unit1_Topic2_Act1-4.docx](https://github.com/TWUOnline/bug-tracking/files/4996839/WRSH-101-Unit1_Topic2_Act1-4.docx)

[2020-07-29 19:24] HeatherStrong11 commented on #365
@karenroeck yes, I think they should be able to navigate to each assignment through the child tabs....we will see how it goes.  I am sure I will get feedback on it next week.  Thanks!

[2020-07-29 19:24] #365 closed

[2020-07-29 19:27] karenroeck opened #368 "Productiontest"
### Course

### URL

### Instructions
- [ ]
- [ ]

Please upload required files as attachments.

[2020-07-29 19:31] karenroeck commented on #365
Sounds great - just shoot me an email or submit another bug report if you need anything updated!

[2020-07-29 20:32] kmarjanovic commented on #325
Thanks Reza!

[2020-07-29 20:32] #325 closed

[2020-07-29 21:55] Jeff-TWU commented on #11
@kmarjanovic Thanks!

[2020-07-29 23:16] kmarjanovic opened #369 "LDRS 624 - Unit Assessment alerts"
### Course
LDRS 624
### URL
https://learn.twu.ca/course/view.php?id=15704&section=1
### Instructions
Please put the Assessments from each Unit into an alert (see [LDRS 623 example](https://learn.twu.ca/course/view.php?id=15687&section=1))

[2020-07-30 05:28] JessD9 commented on #355
Here is Unit 3:
*Please note:  SME wants Assignment Part 1 to remain between the Learning Activities (so please keep the same format as the document)
*You can place Assignments Parts 1 and 2 in red boxes.

[LDRS_399_U3_July30_JD.docx](https://github.com/TWUOnline/bug-tracking/files/4998949/LDRS_399_U3_July30_JD.docx)

[Critical Analysis Assignment.docx](https://github.com/TWUOnline/bug-tracking/fi

[2020-07-30 07:28] rezakh66 commented on #367
@dgaudet48 Hi, do you want to be moved to the unit 3 in the same course? both links were redirected to the same course. I have moved it to unit 3 as of now. let me know if that's not what you asked for.

[2020-07-30 15:34] dgaudet48 commented on #367
Hi Reza,

Thanks so much...that is perfect and I can clean up the rest...

I just received another email from the SME, however, is it possible to ask for:

- Quiz #2 - Units 4-7 on the "Pscyh 105" tab to be moved to Unit 7?
- Quiz #3 - Units 8-10 on the "Pscyh 105" tab to be moved to Unit 10?
- Final Exam on the "Psych 105" tab to be moved to the "Final Exam" tab?

Apologies in advance, but would

[2020-07-30 19:00] Jeff-TWU commented on #11
How about [this](https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=104)?

[2020-07-30 19:02] karenroeck commented on #11
This is so slick - love it!

[2020-07-30 19:04] kmarjanovic commented on #11
Yes yes yes!!! Thank you so much, Jeff!! (I'm so happy you're on our team!!)

[2020-07-30 19:27] kmarjanovic commented on #11
@mellaurie perhaps at your next meeting with Joan, you can have her review this activity in case there need to be edits?  I'll close this issue for now - but feel free to open if there are further edits.
Thanks again Jeff!

[2020-07-30 19:27] #11 closed

[2020-07-30 19:31] kmarjanovic commented on #11
(See Unit 1 topic 2 for embedded H5P)
Moodle: https://learn.twu.ca/course/view.php?id=10744&section=1

WordPress: https://create.twu.ca/wrsh101/unit-1/
(note the wp site needs redesign)

[2020-07-30 19:54] rezakh66 commented on #355
Hi @JessD9 Unit 3 is uploaded. Please let me know if we need changes.

[2020-07-30 20:00] mellaurie commented on #11
So awesome.  Thanks Jeff!!

Kelly, yes,  I will share this with Joan next time we meet.

[2020-07-30 20:11] Jeff-TWU commented on #11
Glad you all like it. Happy to be a part of the team!

[2020-07-30 22:06] Jeff-TWU commented on #11
@cmadland Thanks Colin!

[2020-07-31 06:30] rezakh66 commented on #369
@kmarjanovic I have added secondary alert to the assessment section.

[2020-07-31 06:34] rezakh66 commented on #367
@dgaudet48 Hi Dave,
I moved quizzes to the respective units.

[2020-07-31 06:40] rezakh66 commented on #363
@karenroeck Hi,
I have made it 20% wider but then students need to scroll horizontally to be able to see the text. Let me know if you think the earlier version would be better.

[2020-07-31 15:55] karenroeck commented on #363
Thanks @rezakh66 - it is still quite small :( Is there any way to get the actual image to show up larger? There is a lot of white space around the image itself...could you please try cropping it and reuploading?

[2020-07-31 16:23] mellaurie opened #370 "FNDN 101 Graphic"
### FNDN 101

### Instructions
@Jeff-TWU.  Thanks for starting the awesome mountain climbing graphic.  I will get the text created for the taglines and descriptions asap.  When I do, please update.

[2020-07-31 16:26] mellaurie opened #371 "PHIL 105 Videos"
### PHIL 105

### Instructions
@Jeff-TWU: Work with Myron to produce video content for PHIL 105
(I know you're already doing this, but just creating the card here for workflow tracking)

[2020-07-31 16:40] mellaurie opened #372 "FNDN 101 H5P"
### FNDN 101

### Instructions
Please create an H5P interactive video.  Open [this doc](https://docs.google.com/document/d/1LrwrhPzppMns_XGeqBYehP_Q2RK0hF5oJR13Y4h2Uc4/edit?usp=sharing)  for instructions.

[2020-07-31 17:05] kmarjanovic commented on #369
Thank you @rezakh66 !

[2020-07-31 17:05] #369 closed

[2020-07-31 18:08] karenroeck commented on #361
@rezakh66 I have uploaded LDRS 591 Units 1-6. Please upload them to Atom and create a Moodle shell when you have time. Thanks!

[2020-07-31 20:09] kmarjanovic commented on #357
Feel free to close this issue!
Docs added to Course Design in Github.  If it helps, connect to Grave/Moodle site.

[2020-07-31 20:10] #357 closed

[2020-07-31 20:10] kmarjanovic commented on #359
Note request on hold as course activities may be modified.  @karenroeck to confirm.

[2020-07-31 20:14] kmarjanovic commented on #358
Seems just one thing to change from the above list - to move the Summary Section to before the assessment section.

Also - please check the rubric in Unit 4 Assignment 4 - difficult to see rubric lines. (Maybe a different format is needed?)

[2020-07-31 20:46] dgaudet48 commented on #367
Hi Reza,

Thanks so much...I was just on the course though and I think I am missing the Final Exam in the Final Exam tab...?

[2020-07-31 21:10] rezakh66 commented on #367
@dgaudet48 Hi Dave, I moved the Final exam to the final exam tab.

[2020-07-31 22:56] Jeff-TWU commented on #341
Uploaded the files to [https://github.com/TWUOnline/ldrs-master/tree/master/pages/10.624/Files](https://github.com/TWUOnline/ldrs-master/tree/master/pages/10.624/Files).
Think I did that right, please let me know otherwise.

[2020-08-03 00:50] JessD9 commented on #355
@rezakh66 thanks Reza. Would you mind adding the course intro page? You can copy and paste the same introduction from ldrs 301: https://learn.twu.ca/course/view.php?id=15711

I'll change the wording later.

[2020-08-03 01:47] JessD9 commented on #355
Also, please embed the following into Activity 1.6 (after Grading Criteria for Graduate Work)

[Grading Criteria in Graduate Work.docx](https://github.com/TWUOnline/bug-tracking/files/5013445/Grading.Criteria.in.Graduate.Work.docx)

[2020-08-03 02:20] KarenAsenavage opened #373 "LDRS664"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)

 LDRS664 OL Karen Asenavage
**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.

 Broken Link to Video
The Six Adult Learning Principles.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the

[2020-08-03 02:23] KarenAsenavage opened #374 "LDRS664 OL Asenavage"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS664 OL Asenavage

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 The artivle does not open to a full PDF

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1

[2020-08-03 04:15] JessD9 commented on #355
Here is Unit 4:

[LDRS_399_U4_July30_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5013821/LDRS_399_U4_July30_JD.docx)

[Case_Study_Analysis_Assignment.docx](https://github.com/TWUOnline/bug-tracking/files/5013814/Case_Study_Analysis_Assignment.docx)

[A_Model_of_Virtuous_Leadership_in_Africa.docx](https://github.com/TWUOnline/bug-tracking/files/5013818/A_Model_of_Virtuous_Leadership_in

[2020-08-04 15:11] rezakh66 commented on #361
@karenroeck Hi,units 1-6 are available [here](https://learn.twu.ca/course/view.php?id=15767&section=2)

[2020-08-04 16:02] karenroeck commented on #361
Thanks so much @rezakh66!

[2020-08-04 16:02] #361 closed

[2020-08-04 16:23] karenroeck commented on #373
Hi @KarenAsenavage I checked the link and it is working from my end - could you please take a look again and let me know if it opens for you?

[2020-08-04 16:31] karenroeck commented on #374
@KarenAsenavage this has been fixed - please take a look and confirm.

[2020-08-04 16:31] #374 closed

[2020-08-04 16:58] karenroeck commented on #341
@Jeff-TWU Thanks so much! I was able to put all the LDRS 624 files into the course. For some reason, the Van Brummelen PDF will not download for me - it is a file of 12 blank pages. No idea why. Could you please email that PDF to me directly?

[2020-08-04 17:09] Jeff-TWU commented on #341
@karenroeck Sent. Also replaced the file. Don't know what happened there.

[2020-08-04 18:31] #341 closed

[2020-08-04 20:02] KarenAsenavage commented on #374
Thank you.  I will check and get back to you.  Karen
________________________________
From: Karen Roeck <notifications@github.com>
Sent: Tuesday, August 4, 2020 12:31 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>
Cc: Karen Asenavage <Karen.Asenavage@twu.ca>; Mention <mention@noreply.github.com>
Subject: Re: [TWUOnline/bug-tracking] LDRS664 OL Asenavage (#374)

@KarenAsenavage<htt

[2020-08-04 20:45] Jeff-TWU commented on #234
@cmadland Sorry, ignorant here. Is there a Github repository that I can make edits on this in Atom? If so, how do I find it? If not please let me know how I should proceed. Thanks!

[2020-08-04 22:02] rezakh66 commented on #328
@JessD9 Done.

[2020-08-04 22:21] rezakh66 commented on #358
@karenroeck I think we should be done here? please let me know if I'm missing any error

[2020-08-04 22:40] rezakh66 commented on #234
@Jeff-TWU Hi Jeff, you should be able to clone the art-master repository in [here](https://github.com/TWUOnline/arts-master). If you have GitHub desktop and Atom installed on your computer, follow the screenshot.
![github](https://user-images.githubusercontent.com/55214859/89352362-c3e92200-d668-11ea-8048-c1c06fb7b6ea.jpeg)

[2020-08-04 22:49] rezakh66 commented on #355
updated course intro page

[2020-08-04 23:01] Jeff-TWU commented on #372
@mellaurie [Here you go!](https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=105)

[2020-08-04 23:13] Jeff-TWU commented on #234
@rezakh66 Thank you sir!

[2020-08-05 03:37] mellaurie commented on #372
Awesome.  Thanks so much Jeff!!

[2020-08-05 03:39] #372 closed

[2020-08-05 05:09] rezakh66 commented on #355
@JessD9 Unit 4 is uploaded.

[2020-08-05 05:15] rezakh66 commented on #358
@karenroeck LDRS 624 is formatted like 623 as well.

[2020-08-05 06:46] JessD9 commented on #355
Great, thank you.
[LDRS_399_U4_July30_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5026593/LDRS_399_U4_July30_JD.docx)

@Jeff-TWU @rezakh66 There's some colour-coded text on pages 3,4,8.
I'm guessing the only way to display this is via screenshot?

[2020-08-05 06:51] JessD9 commented on #355
Can you insert a screenshot of the chart on Page 7 as well?

[2020-08-05 14:22] cpenfoldnavarro opened #375 "LDRS 667 Practicum: Add Lesson Plan Template to Discussion Tab"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 667 Practicum (Summer 2020) Please add to MASTER as well.

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
Please add the Lesson Plan Template to the Discussion Page in the Assignment Tab.

Under Reflective Practice Discussions 5, 6,

[2020-08-05 15:05] rezakh66 commented on #362
@JessD9 Activity 1.6 is updated.

[2020-08-05 15:21] JessD9 commented on #362
Thank you!!

[2020-08-05 16:00] karenroeck commented on #375
@cpenfoldnavarro I've updated the Discussions section with the Lesson Plan Template x 3 - please take a look and let me know if this is what you were hoping for.

[2020-08-05 17:15] karenroeck opened #376 "LDRS 697 revisions"
**Which course contains the bug?**
LDRS 667 FAR Centre MASTER

**Describe the error and/or your suggestion**
- [ ] Course Introduction tab: Need the course description, themes, syllabus, etc.
- [ ] Unit 5, Topic 1, Activity 2.1: The video was starting at 56 seconds. I changed the URL to start from the beginning, but let me know if you wanted it to start at 56 seconds and I will change it back.
- [

[2020-08-05 17:20] karenroeck commented on #376
@HeatherStrong11 I created this checklist for us to keep track of revision progress on LDRS 697 when you have time.

[2020-08-05 17:23] HeatherStrong11 commented on #376
@karenroeck Thanks Karen!  This is great.

[2020-08-05 18:03] karenroeck commented on #358
@rezakh66 yes, thank you!

[2020-08-05 18:03] #358 closed

[2020-08-05 18:39] cpenfoldnavarro commented on #375
Karen,
Thanks so much! It’s in the right place for the first lesson plan section, but it is in a different location (after the italicized text) in the other two sections. Could you make all three look like this?

Post your draft Lesson Plan in a discussion post for feedback from your instructor and other learners. You may also share with your practicum supervisor, as appropriate.
Lesson Plan Templ

[2020-08-05 18:42] karenroeck commented on #375
@cpenfoldnavarro Yes makes total sense - should be good to go now!

[2020-08-05 18:42] #375 closed

[2020-08-05 18:56] cpenfoldnavarro commented on #375
Perfect! Thanks ☺

CATHARINE PENFOLD NAVARRO, PhD
Part-Time Instructor, MA Leadership | TWU GLOBAL
Trinity Western University | e. c.penfoldnavarro@twu.ca<mailto:c.penfoldnavarro@twu.ca>

twu.ca<http://www.twu.ca/>

[cid:image001.png@01D56D6B.9FBB05E0]

From: Karen Roeck <notifications@github.com>
Sent: Wednesday, August 05, 2020 2:43 PM
To: TWUOnline/bug-tracking <bug-tracking@noreply.github.com>

[2020-08-05 21:38] karenroeck opened #377 "RELS 100 Moodle/Atom"
### Course
RELS 100

### Instructions
- [x] Create a RELS 100 course in the rels-master repository
- [x] Create a RELS 100 Master shell in Moodle and link all units from Atom

[2020-08-05 22:02] rezakh66 commented on #377
@karenroeck Hi Karen, RELS100 is available [here](https://learn.twu.ca/course/view.php?id=15768&section=5).

[2020-08-05 22:18] rezakh66 commented on #355
@JessD9 Screenshots are added

[2020-08-05 22:22] #368 closed

[2020-08-05 22:23] #364 closed

[2020-08-05 22:34] karenroeck commented on #377
Thank you @rezakh66! I forgot to mention to please call this OL MASTER instead of FAR MASTER. Could you make the switch?

[2020-08-06 16:24] Jeff-TWU commented on #234
Hi @rezakh66 @cmadland  said I should connect with you to see about installing this plugin https://github.com/getgrav/grav-plugin-featherlight on Grav. Would you be able to help me with that? It should give us the expand feature we are wanting.

[2020-08-06 16:41] karenroeck opened #378 "LDRS 623 sidebar"
**Which course contains the bug?**
LDRS 623 FAR MASTER

**Describe the error and/or your suggestion**
In Unit 1, please remove the title "Journal" from the sidebar.

**Location of the bug**
1. URL:  https://learn.twu.ca/course/view.php?id=15687&section=1
2. Unit #1

**Optional: Screenshots**
![Screen Shot 2020-08-06 at 9 40 21 AM](https://user-images.githubusercontent.com/67760065/89558406-0924658

[2020-08-06 16:42] karenroeck commented on #378
@rezakh66 please take a look at this when you get a chance. Thanks!

[2020-08-06 19:30] rezakh66 commented on #378
@karenroeck Are you using Journal page anywhere within the unit 1? I can't find where its being used

[2020-08-06 19:51] karenroeck commented on #378
@rezakh66 yes - Unit 1, Topic 1, Activity 1.1

![Screen Shot 2020-08-06 at 12 51 27 PM](https://user-images.githubusercontent.com/67760065/89576066-907ed280-d7e3-11ea-8a18-f78a56ec6a2f.png)

[2020-08-06 21:22] karenroeck opened #379 "LDRS 623 H5P"
### Course
LDRS 623 FAR Centre MASTER

### URL

### Instructions
Please create a drag and drop activity like you did for "[Worshipping](https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=104)". The three categories are: Ministry component; School component; Personal component. Answers are indicated in bold - some statements have more than one answer.

1) Classify local plants and a

[2020-08-07 17:12] rezakh66 commented on #378
@karenroeck Hi, I removed the journal from the sidebar. It only appears at the bottom of the page in the assessment section

[2020-08-07 17:15] rezakh66 commented on #377
@karenroeck Hi Karen,
I changed the name.

[2020-08-07 17:18] karenroeck commented on #378
@rezakh66 Thanks! I guess that button can't be removed...? If not, we can live with it 👍

[2020-08-07 17:18] karenroeck commented on #377
@rezakh66 Perfect thanks!

[2020-08-07 17:18] #377 closed

[2020-08-07 19:46] mellaurie opened #380 "PHIL 105 Production"
### PHIL 105 (Bundle Master)

###

### Instructions @rezakh66
- [x] Create a PHIL 105 course in the arts-master repository
- [x] Please create Moodle shell
- [x] put home and unit 1 in

[PHIL 105_U1_Aug6_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5043372/PHIL.105_U1_Aug6_ML.docx)

[PHIL 105 Home_Aug7_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5044069/PHIL.105.Home_Aug7_

[2020-08-10 15:44] #378 closed

[2020-08-10 15:45] #367 closed

[2020-08-10 15:46] #363 closed

[2020-08-10 15:47] #171 closed

[2020-08-10 15:57] rezakh66 commented on #380
@mellaurie Good Morning, Here is [unit 1](https://learn.twu.ca/course/view.php?id=15769&section=1).

[2020-08-10 15:59] rezakh66 commented on #234
@Jeff-TWU  Hi Jeff, I worked on this over the weekend and It's not the way we do normally. I think I need root access to get this up. I'll talk with Colin and let you know

[2020-08-10 16:00] karenroeck commented on #366
@mellaurie I created an interactive map - check it out and let me know what you think. https://learn.twu.ca/course/view.php?id=10744&section=4

[2020-08-10 16:01] #125 closed

[2020-08-10 16:01] #359 closed

[2020-08-10 16:02] #288 closed

[2020-08-10 16:03] #352 closed

[2020-08-10 16:08] #114 closed

[2020-08-10 16:11] #373 closed

[2020-08-10 16:12] #258 closed

[2020-08-10 16:16] Jeff-TWU commented on #366
Nice job @karenroeck! I think it works well.  The one thing I would suggest is maybe changing the pin icon to not be a caution sign, and maybe making it a little smaller. If you choose to go that route and would like some help, let me know.

[2020-08-10 16:38] karenroeck commented on #366
@Jeff-TWU Brilliant - thanks for the tip. I updated the pin to an Info sign, but I can't get it to show smaller. Could you take a look at that when you get a chance?

[2020-08-10 16:54] Jeff-TWU commented on #366
@karenroeck sure thing. Yeah, it's weird. It's making the icon's much larger once embedded as opposed to on Wordpress. I'll see if can replacing them with uploaded images instead of predefined icons would change how the CSS is acting.
<img width="350" alt="map icons" src="https://user-images.githubusercontent.com/66963480/89808768-7bf64f00-daef-11ea-8bb9-97227f799f80.png">

[2020-08-10 16:56] karenroeck commented on #366
@Jeff-TWU Cool thanks!

[2020-08-10 16:58] mellaurie commented on #380
Thanks so much Reza!!

[2020-08-10 17:11] Jeff-TWU commented on #366
@karenroeck I attempted to replace with images, and it didn't make a difference. Looked into the CSS and it's scaling based on screen size, so it's probably a better idea to just let it do its thing. Changing the icon is an improvement.

[2020-08-10 17:19] karenroeck commented on #366
@Jeff-TWU Ah, too bad. Thanks for looking into those changes!

[2020-08-10 17:19] #366 closed

[2020-08-10 17:33] mellaurie commented on #380
Can I have help with the following formatting things?
- Course schedule table headings should be Week, Topic, Readings
-  all the video links embedded
- add horizontal lines between activities in the checklist

[2020-08-10 17:35] Jeff-TWU commented on #234
@rezakh66 No worries. Thanks for looking into that. Much appreciated!

[2020-08-10 19:58] Jeff-TWU commented on #379
@karenroeck [Here you go!](https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=114)

[2020-08-10 20:12] karenroeck commented on #379
@Jeff-TWU 🙌  this looks awesome! One tweak - could you adjust the dotted circles to have two circles if there are two answers but only one if there is one answer? In the way it is now, some students might think all categories have two answers. Thanks!

[2020-08-10 20:17] JessD9 commented on #353
@rezakh66 waiting on response, will be in touch

[2020-08-10 20:48] Jeff-TWU commented on #379
Sure. Makes sense. [Updated](https://create.twu.ca/h5p/wp-admin/admin.php?page=h5p&task=show&id=114).

[2020-08-10 20:52] karenroeck commented on #379
Awesome - love this! Thanks again.

[2020-08-10 20:52] #379 closed

[2020-08-10 20:55] Jeff-TWU commented on #379
Welcome!

[2020-08-11 05:57] JessD9 commented on #362
Please insert the following doc. into Unit 1 (Introduction to Reading), Topic 1, Activity 1.1

[Reflective Journaling.docx](https://github.com/TWUOnline/bug-tracking/files/5055040/Reflective.Journaling.docx)

[2020-08-11 06:12] JessD9 commented on #362
Unit 1 (Introduction to Reading), please insert the following two docs. into Assessment section- under "Grading Criteria".

[Academic Writing Checklist.docx](https://github.com/TWUOnline/bug-tracking/files/5055109/Academic.Writing.Checklist.docx)

[Grading Rubric (Pearson).docx](https://github.com/TWUOnline/bug-tracking/files/5055116/Grading.Rubric.Pearson.docx)

[2020-08-11 15:07] karenroeck commented on #362
@JessD9 I inserted the three docs as page.md files instead to avoid "death by download" ;) Take a look and let me know what you think.

@rezakh66 I cannot get the sidebar titles to disappear for "Reflective Journal," "Academic Writing Checklist," and "Grading Rubric." Can you hide these somehow in [Unit 1](https://learn.twu.ca/course/view.php?id=15760&section=1)?

![ENGL 103 U1 sidebar](https://us

[2020-08-11 15:22] rezakh66 commented on #380
Hi @mellaurie I have made the changes. Let me know If you want to add Icons for watching video activities and activities checklist

[2020-08-11 15:41] JessD9 commented on #362
@karenroeck Thanks Karen. Should Reflective Journal be placed before Overview?
I'm thinking it would make sense to put it afterwards (before Topic 1)
Thank you for inserting the checklist and grading rubric. Agreed that these need to be hidden somehow in the toolbar

[2020-08-11 15:44] JessD9 commented on #362
@karenroeck Btw, SME sent over some more docs for unit 2 (yay).
 In the process of reworking now, should be ready for production later today

[2020-08-11 15:46] karenroeck commented on #362
@JessD9 Yes, @rezakh66 will fix this - he's fixed in a bunch of other courses for me. I should really learn how to do that lol.

[2020-08-11 15:58] karenroeck opened #381 "RELS 100"
**Which course contains the bug?**
RELS 100

**Describe the error and/or your suggestion**
I cannot link any of the HTML codes to the Moodle tabs - keep getting a 404 Error message.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
URL:  https://learn.twu.ca/course/view.php?id=15768

**Optional: Screenshots**
![HTML code]

[2020-08-11 16:43] JessD9 commented on #362
@rezakh66 Here is Unit 2. Please embed under "Readings" tab

[ENGL 103_M1U2_AUG11_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5058219/ENGL.103_M1U2_AUG11_JD.docx)

[HappyEndings_Atwood.pdf](https://github.com/TWUOnline/bug-tracking/files/5058203/HappyEndings_Atwood.pdf)

[One Good AStory, That One.pdf](https://github.com/TWUOnline/bug-tracking/files/5058204/One.Good.AStory.That.One.pd

[2020-08-11 16:54] mellaurie commented on #380
Thanks @rezakh66!  Yes, please also add in the icons for the activities.  Will the icon :fa-comments-o: for the discuss activities?

Also, I know there is a long history about the way tables look in html and all, but could you see if you can make the course schedule look nicer and easier to read?

[2020-08-11 16:59] karenroeck opened #382 "PSYC ADC course template in Atom"
### Course
All PSYC ADC courses

### Instructions
Please create a new course template in Atom for upcoming PSYC ADC courses. We need the following folders:
- [x] Course Introduction
- [x] Unit 1
- [x] Unit 2
- [x] Unit 3
- [x] Unit 4
- [x] Unit 5
- [x] Unit 6
- [x] Assessment
- [x] Course Café

[2020-08-11 17:01] karenroeck opened #383 "PSYC 106 (ADC)"
### Course
PSYC 106 - Introduction to Psychology

### Instructions
Using the new [PSYC ADC Atom course template](https://github.com/TWUOnline/bug-tracking/issues/382), please create a Moodle shell titled "PSYC 106 - Introduction to Psychology (ADC Master)"

[2020-08-11 17:02] karenroeck opened #384 "PSYC 215 (ADC)"
### Course
PSYC 215 - Lifespan Development

### Instructions
Using the new [PSYC ADC Atom course template](https://github.com/TWUOnline/bug-tracking/issues/382), please create a Moodle shell titled "PSYC 215 - Lifespan Development (ADC Master)"

[2020-08-11 17:04] karenroeck opened #385 "PSYC 340 (ADC)"
### Course
PSYC 340 - Interpersonal and Helping Skills

### Instructions
Using the new [PSYC ADC Atom course template](https://github.com/TWUOnline/bug-tracking/issues/382), please create a Moodle shell titled "PSYC 340 - Interpersonal and Helping Skills (ADC Master)"

[2020-08-11 23:30] JessD9 commented on #355
Perfect, thanks.

Please note, Unit 5 requires a screenshot of a section on page 7 ('Paragraph Structure", Point 1)

"Paragraph Structure" should not be placed in a blue box, because it is not a Learning Activity (and the colour won't show up)

[LDRS399_ U5_AUG11_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5059907/LDRS399_.U5_AUG11_JD.docx)

[Reflection _Rubric.docx](https://github.co

[2020-08-12 01:47] rezakh66 commented on #355
@JessD9 Hi Jessica, unit 5 is uploaded

[2020-08-12 14:59] rezakh66 commented on #382
@karenroeck Hi Karen, Please check what I have created for[ PSYC106(ADC Master)](https://learn.twu.ca/course/view.php?id=15775&section=1), if that's how you want that, i can do the same for PSYC 215 & 340

[2020-08-12 22:49] dgaudet48 opened #386 "Psych 105 - Extra Button on Page"
**Which course contains the bug?**
- Psych 105 - Dev

**Describe the error and/or your suggestion**
There is an extra button "Writing Assignment #2" appearing at the bottom of the screen - it needs to be removed.

**Location of the bug**
Please provide a specific link to the page with the error, as well as where the error is on the page:
1. URL:  https://learn.twu.ca/course/view.php?id=15666&secti

[2020-08-13 16:15] karenroeck commented on #382
@rezakh66 Looks great! One question about the Activity Checklist in each Unit overview - is this an old template? I haven't worked with the dropdown boxes in my other courses. Also - could you load the [Course Café content](https://learn.twu.ca/course/view.php?id=10828&section=19) into each ADC Master?

[2020-08-13 16:18] karenroeck commented on #386
@dgaudet48 It's all gone 👍

[2020-08-13 16:18] #386 closed

[2020-08-13 18:09] karenroeck opened #387 "LDRS 664 Facilitator's Guide"
### Course
LDRS 664: Creating Authentic Learning Communities

### URL
https://learn.twu.ca/course/view.php?id=8884

### Instructions
- [x] Please add the Facilitator's Guide to the Master course

Please upload required files as attachments.
[LDRS 664 Facilitator's Guide .docx](https://github.com/TWUOnline/bug-tracking/files/5070685/LDRS.664.Facilitator.s.Guide.docx)

[2020-08-13 21:06] rezakh66 commented on #387
Hi, @karenroeck I have uploaded the facilitator's guide. The course overview section is empty though. Do you want to keep that section or I should remove that?

[2020-08-13 21:13] karenroeck commented on #387
@rezakh66 I added a blurb in the course overview section. Thanks!

[2020-08-13 21:13] #387 closed

[2020-08-13 22:08] rezakh66 commented on #380
@mellaurie I have made the changes and updated the table. please let me know your thoughts

[2020-08-13 23:19] rezakh66 commented on #362
@JessD9 Hi Jessica, Unit 2 is uploaded.please recheck the activities checklist and assessment section. let me know if changes are needed.

[2020-08-13 23:35] karenroeck opened #388 "LDRS 697 production"
### Course
LDRS 697: Leadership Integration Project

### URL
https://learn.twu.ca/course/view.php?id=15767

### Instructions
- [x] Please upload Units 7-10 in Atom

[LDRS_697_Unit_7_Aug_13_KR.docx](https://github.com/TWUOnline/bug-tracking/files/5071952/LDRS_697_Unit_7_Aug_13_KR.docx)
[LDRS_697_Unit_8_Aug_13_KR.docx](https://github.com/TWUOnline/bug-tracking/files/5071954/LDRS_697_Unit_8_Aug_13_KR

[2020-08-14 06:13] JessD9 opened #389 "WRTG 100"
### WRTG 100 (Bundle Master)

### [URL](https://learn.twu.ca/course/view.php?id=15779&section=0)

### Instructions
-Create WRTG 100 folder in github

-format Course Introduction page (you can copy the same information from here: https://learn.twu.ca/course/view.php?id=15711&section=0)

I'll reword later

[2020-08-14 21:38] mellaurie commented on #380
Thank you @rezakh66, the table looks much better.

Can you Unit 2 and 3 with the same formatting as mentioned above?
[PHIL 105_U2_Aug14_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5077390/PHIL.105_U2_Aug14_ML.docx)
[PHIL 105_U3_Aug14_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5077391/PHIL.105_U3_Aug14_ML.docx)

[2020-08-14 22:23] JessD9 commented on #362
@karenroeck Would you mind adding the Reflective Journal file to the current version that's on Moodle?

(https://github.com/TWUOnline/arts-master/tree/master/pages/10.engl103/05.u2-2)

[2020-08-14 23:21] rezakh66 commented on #388
@karenroeck Hi Karen, Can you please check unit 8 pictures from page 8 afterward. they are not loaded in the file here. maybe you can send me by email?

[2020-08-14 23:47] JessD9 commented on #362
@rezakh66 Please add slides 6-9 into presentation in Activity 1.2

https://github.com/TWUOnline/arts-master/tree/master/pages/10.engl103/04.U1-2/_1-2

[Intro to the Short Story.pptx](https://github.com/TWUOnline/bug-tracking/files/5077816/Intro.to.the.Short.Story.pptx)

[2020-08-14 23:50] JessD9 commented on #362
Also, delete the first "Settings" slide in Topic 3

https://github.com/TWUOnline/arts-master/blob/master/pages/10.engl103/04.U1-2/04.topic-3/page.md

 https://learn.twu.ca/mod/page/view.php?id=325181&forceview=1

[2020-08-16 06:16] JessD9 opened #390 "WRTG 101 (Bundle Master)"
### WRTG 101

### [URL](https://learn.twu.ca/course/view.php?id=15791&section=0)

### Instructions
@rezakh66 Create WRTG 101 folder in github
**This is different from the FAR Master version (do not delete FAR Master)

-format Course Introduction page. You can copy the same introduction from here:
https://learn.twu.ca/course/view.php?id=15711&section=0
I will reword later.

[2020-08-17 16:40] karenroeck commented on #388
@rezakh66 That is so bizarre! The pictures disappeared from my end as well. I had to go back a few drafts to find them. Just emailed them to you.

[2020-08-17 16:44] karenroeck commented on #362
@JessD9 Which file do you need, and where do you need it? e.g. which unit/topic?

[2020-08-17 18:10] rezakh66 commented on #388
Hi @karenroeck I have uploaded up to unit 10. Let me know if changes are needed.

[2020-08-17 18:25] Jeff-TWU commented on #234
@cmadland Hi Colin, do you have a moment to see about installing this plugin? Reza tried and didn't seem to have the right access. [https://github.com/getgrav/grav-plugin-featherlight](https://github.com/getgrav/grav-plugin-featherlight)

[2020-08-17 18:53] rezakh66 commented on #388
Hi @karenroeck I have uploaded up to unit 10. Let me know if changes are needed.

[2020-08-17 19:16] karenroeck commented on #388
@rezakh66 These look great - thanks so much!

[2020-08-17 19:16] #388 closed

[2020-08-17 19:19] JessD9 commented on #362
@karenroeck You had posted a variation of the following (or we can just use this):
[Reflective Journaling.docx](https://github.com/TWUOnline/bug-tracking/files/5086358/Reflective.Journaling.docx)

If possible, it can have its own tab on the left side after "overview"?

To be added in U1-2

[2020-08-17 21:15] karenroeck commented on #362
@JessD9 Thanks for the explanation. It now appears as a page in Moodle - is this correct?

![Screen Shot 2020-08-17 at 2 14 14 PM](https://user-images.githubusercontent.com/67760065/90445133-090f4a00-e094-11ea-8a1e-4051b1c3e3f1.png)

[2020-08-18 01:11] JessD9 commented on #362
@karenroeck Yes, thank you!

[2020-08-18 03:11] dgaudet48 opened #391 "LDRS 503 - HTML Source Editor problem"
**Which course contains the bug?**
- LDRS503 Dev Master

**Describe the error and/or your suggestion**

The Unit 2 content from ATOM will not show up in the Unit 2 tab. HTML source editor code looks correct. I have played around with Grav but I still can not get content to show up. I keep getting error message.

**Location of the bug**
Please provide a specific link to the page with the error, as

[2020-08-18 17:14] karenroeck commented on #391
@dgaudet48 I am having the same issue with LDRS 697 - Reza and I tried everything we could think of yesterday and no luck :(

[2020-08-18 20:14] #381 closed

[2020-08-18 20:14] #383 closed

[2020-08-18 21:57] #349 closed

[2020-08-18 21:58] #331 closed

[2020-08-18 21:58] #328 closed

[2020-08-18 21:59] #302 closed

[2020-08-18 21:59] #301 closed

[2020-08-18 21:59] #282 closed

[2020-08-18 22:01] #248 closed

[2020-08-18 22:02] #235 closed

[2020-08-18 22:02] #223 closed

[2020-08-18 22:03] #210 closed

[2020-08-18 22:03] #209 closed

[2020-08-18 22:03] #208 closed

[2020-08-18 22:03] #207 closed

[2020-08-18 22:04] #206 closed

[2020-08-18 22:04] #205 closed

[2020-08-18 22:04] #204 closed

[2020-08-18 22:05] #203 closed

[2020-08-18 22:06] #190 closed

[2020-08-18 22:08] karenroeck commented on #174
@BLMSasaki Did this video get updated or can I help here?

[2020-08-18 22:11] #172 closed

[2020-08-18 22:11] #164 closed

[2020-08-18 22:11] #142 closed

[2020-08-18 22:12] #140 closed

[2020-08-18 22:12] #122 closed

[2020-08-18 22:13] #109 closed

[2020-08-18 22:13] #102 closed

[2020-08-18 22:15] #94 closed

[2020-08-19 04:51] JessD9 commented on #389
Here is Module 1. Sorry..lots of PDFs in this one. Let me know if you have any questions

[WRTG_100_M1_AUG19_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5094076/WRTG_100_M1_AUG19_JD.docx)

[1.1.1AssignmentVerbs.pdf](https://github.com/TWUOnline/bug-tracking/files/5094025/1.1.1AssignmentVerbs.pdf)
[1.1.3Saying Verbs.pdf](https://github.com/TWUOnline/bug-tracking/files/5094032/1.1.3Sayi

[2020-08-19 06:04] JessD9 commented on #362
@rezakh66 Here is Unit 3
*Please note it only has 1 Topic (and there's no Activity Checklist)
[WRTG100_U3_AUG19_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5094329/WRTG100_U3_AUG19_JD.docx)

[Problem Word Pairs Grammar PowerPoint.pptx](https://github.com/TWUOnline/bug-tracking/files/5094331/Problem.Word.Pairs.Grammar.PowerPoint.pptx)

[2020-08-19 19:11] #391 closed

[2020-08-20 06:20] JessD9 commented on #353
@rezakh66 We can keep the same wrtg 101 guide for now.

[2020-08-20 19:07] mellaurie commented on #380
I have more units ready for you (@rezakh66 )

[PHIL 105_U7_aug18_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5104968/PHIL.105_U7_aug18_ML.docx)
[PHIL 105_U8_Aug18_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5104969/PHIL.105_U8_Aug18_ML.docx)
[PHIL 105_U9_aug18_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5104970/PHIL.105_U9_aug18_ML.docx)

Thanks in advance!!

[2020-08-20 20:10] rezakh66 commented on #380
@kmathews1 Hi Mathew, are you working on phil 105 as well? I think we have overlapped each other's changes.:). I can work units 5-9 and you work on units 2-5. is that ok?

[2020-08-20 20:20] kmathews1 commented on #380
@rezakh66 Hi, No I'm not working Phil 105.

[2020-08-20 21:20] JessD9 commented on #389
Here is Module 2:
[WRTG100_M2_AUG20_JD.docx](https://github.com/TWUOnline/bug-tracking/files/5105518/WRTG100_M2_AUG20_JD.docx)

[2.1 Sentence Fragments.pptx](https://github.com/TWUOnline/bug-tracking/files/5105453/2.1.Sentence.Fragments.pptx)
[2.2. CommaSplices and FusedSentences.pptx](https://github.com/TWUOnline/bug-tracking/files/5105465/2.2.CommaSplices.and.FusedSentences.pptx)
[2.3&2.4 Restri

[2020-08-24 04:15] rezakh66 commented on #362
@JessD9 Hi Jessica, I have uploaded ppt 3.8.

[2020-08-24 04:37] JessD9 commented on #390
@rezakh66 Can you upload Module 2?
[WRTG 101_M2_Aug 12_final.DOCX](https://github.com/TWUOnline/bug-tracking/files/5115779/WRTG.101_M2_Aug.12_final.DOCX)

[2020-08-24 18:22] BLMSasaki commented on #174
Hi Karen -- not sure which video this is!

B

Brenda-Lee Sasaki, MA, CLC, ACC

Adjunct Professor | TWU Richmond

Academic Facilitation Specialist | TWU GLOBAL

Trinity Western University | t. 604.513.2193 | c. 604.785.4126 | e. Brenda-lee.Sasaki@twu.ca

twu.ca<http://www.twu.ca/>

[cid:image003.png@01D567BE.8201A250]<https://www.facebook.com/trinitywestern/>  [cid:image004.png@01D567BE.8201A250] <

[2020-08-24 18:33] karenroeck commented on #174
No worries - I'm just going through old bugs and this was one that seemed unresolved. Here are the details from your original ticket. Let me know if this got resolved and I'll close the ticket :)

Which course contains the bug?

**Course Code, section, and term (e.g. LDRS 591 OL SP2019)**
LDRS 303 IF FA19

**Describe the error and/or your suggestion**
A clear and concise description of what the er

[2020-08-24 19:21] BLMSasaki commented on #174
No - Karen -- I don't think this was resolved.

Brenda-Lee Sasaki, MA, CLC, ACC

Adjunct Professor | TWU Richmond

Academic Facilitation Specialist | TWU GLOBAL

Trinity Western University | t. 604.513.2193 | c. 604.785.4126 | e. Brenda-lee.Sasaki@twu.ca

twu.ca<http://www.twu.ca/>

[cid:image003.png@01D567BE.8201A250]<https://www.facebook.com/trinitywestern/>  [cid:image004.png@01D567BE.8201A250]

[2020-08-24 19:45] BLMSasaki opened #392 "LDRS 300 IF FAR Master Unit 10.1 video fail"
**Which course contains the bug?**
- Course Code, section, and term (e.g. LDRS 591 OL SP2019)
 LDRS 300 IF FAR Master

**Describe the error and/or your suggestion**
A clear and concise description of what the error or suggestion is.
 Unit 10.1 Activity -- the current embedded video is removed/ null. Can you please replace it with this one
 https://www.youtube.com/watch?v=QU78TiTOSow

**Location of

[2020-08-24 22:02] karenroeck commented on #392
@BLMSasaki all updated 👍

[2020-08-24 22:02] #392 closed

[2020-08-24 22:08] karenroeck commented on #174
I went through and checked all of Stephen's video lectures and can't find where the Activity 10.1 video is repeated earlier. Do you remember where in the course it is already shown?

[2020-08-24 23:04] karenroeck commented on #385
@rezakh66 Could you please create the Atom course template and Moodle shell for PSYC 340? I'd like to show it to my SME before she continues with course writing. Thanks!

[2020-08-24 23:09] cmadland commented on #362
@JessD9 I have built Module 1 (2 units) and Module 2 (2 units) in the Moodle dev site. Are there resources that need to go in that last tab?

[2020-08-24 23:15] BLMSasaki commented on #174
Hi Karen -- I went back and looked as well and it has been changed. These all seem to be the correct videos!

yeah!

Well done!
Brenda

Brenda-Lee Sasaki, MA, CLC, ACC

Adjunct Professor | TWU Richmond

Academic Facilitation Specialist | TWU GLOBAL

Trinity Western University | t. 604.513.2193 | c. 604.785.4126 | e. Brenda-lee.Sasaki@twu.ca

twu.ca<http://www.twu.ca/>

[cid:image003.png@01D567BE.8

[2020-08-24 23:16] #174 closed

[2020-08-24 23:29] JessD9 commented on #362
@cmadland no, I've deleted the tab

[2020-08-25 18:18] mellaurie opened #393 "Student Multimedia Submission Guide"
Will be attached to https://www.twu.ca/students/courses/online-learning

Remember to add "using your phone"

Due date: Oct 1

[2020-08-25 21:38] mellaurie opened #394 "FNDN 101 Production"
### FNDN 101 (https://create.twu.ca/fall20/)
Site navigation still a work in progress, but we can start adding units in as pages

### Unit template: https://create.twu.ca/fall20/unit-template/

### Instructions
- [ ] Duplicate unit template and rename slug to unit-number
- [ ] Replace text of unit template with Unit 4 and Unit 5
- [ ] Hyperlinks need be manually underlined in the text section, so

[2020-08-25 22:03] mellaurie commented on #380
Could we please have all units formatted:
- [ ] all the video links embedded
- [ ] icons added to alerts (see Activity checklist 1)
- [ ] fix the formatting of the check marks in any of the alerts (usually in the assessment)

[2020-08-25 23:31] mellaurie commented on #370
Thanks for creating a great graphic, Jeff!

[2020-08-25 23:31] #370 closed

[2020-08-26 00:36] rezakh66 commented on #390
@JessD9 Hi, I uploaded Module 2 with the same format as Module1. let me know if you decided to change the activities checklist.

[2020-08-26 01:04] karenroeck commented on #384
@rezakh66 could you please set up Atom/Moodle for PSYC 215 ADC? The SME would like to see Unit 1 before she proceeds with writing the next unit.

[2020-08-26 01:18] JessD9 commented on #390
@rezakh66 Thank you Reza. Please move the "Summary" tab before/above "Assessment"

And in the Assessment chart, the "Module 2" title/header is not showing up

[2020-08-26 01:25] rezakh66 commented on #380
@JessD9 Unit 6 is uploaded and videos are embedded.

[2020-08-26 01:38] rezakh66 commented on #385
@karenroeck Hi Karen, I have created PSYC340 [here](https://learn.twu.ca/course/view.php?id=15808&section=4)

[2020-08-26 16:36] cmadland commented on #390
Is M3 ready for production? Or am I misunderstanding what you need? @JessD9

[2020-08-26 16:52] JessD9 commented on #390
Yes, it's ready.
[WRTG 101_M3_Aug 12_final.docx](https://github.com/TWUOnline/bug-tracking/files/5131224/WRTG.101_M3_Aug.12_final.docx)

[2020-08-26 18:24] karenroeck commented on #385
@rezakh66 thanks so much!

[2020-08-26 18:24] #385 closed

[2020-08-26 18:24] #384 closed

[2020-08-26 18:25] #382 closed

[2020-08-26 19:42] JessD9 commented on #390
@rezakh66 Hey Reza, do have some time? Are you able to embed module 3? (don't worry about formatting, I will fix this later)

[2020-08-26 21:28] mellaurie commented on #380
Thanks for all the work you are doing @rezakh66!!

Here are the rest of the units ready to go in:
[PHIL 105_U10_Aug24_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5132855/PHIL.105_U10_Aug24_ML.docx)
[PHIL 105_U11_aug25_ML.docx](https://github.com/TWUOnline/bug-tracking/files/5132856/PHIL.105_U11_aug25_ML.docx)
[PHIL 105_U12_aug25_ML.docx](https://github.com/TWUOnline/bug-tracking/files

[2020-08-26 22:51] mellaurie commented on #380
In each unit assessment section, the self-quizzes have questions from the text.  Can we add these pdfs (labeled according to textbook chapter, not course units) as links?

See [Unit 1](https://learn.twu.ca/course/view.php?id=15769&section=3) for example.

[PHIL_105_Self-Quizzes.zip](https://github.com/TWUOnline/bug-tracking/files/5133047/PHIL_105_Self-Quizzes.zip)

[2020-08-27 16:32] rezakh66 commented on #380
Hi @mellaurie, All units and self-quizzes are uploaded.

[2020-08-27 17:18] mellaurie commented on #380
Amazing @rezakh66!

Can you go through and double check that the right pdf chapters match up to the self quizzes?  I noticed that in Unit 11 and Unit 13, the chapters don't line up.

Thanks!

[2020-08-27 22:50] rezakh66 commented on #390
Hi @JessD9 Module 3 is uploaded.

[2020-08-27 23:37] cmadland commented on #390
@rezakh66 @JessD9 I did a bit of formatting in M3

[2020-08-27 23:50] JessD9 commented on #390
@rezakh66 @cmadland Great, thank you!

[2020-08-28 03:22] rezakh66 commented on #380
@mellaurie I double-checked them and all seem to be in the right folder.

[2020-08-28 15:36] mellaurie commented on #380
Thanks so much @rezakh66!!

[2020-08-28 19:28] JessD9 commented on #390
@rezakh66 I've started uploading unit 4, but need help formatting the checklist (pages 3-5).
[WRTG 101_M4_Aug 12_final.docx](https://github.com/TWUOnline/bug-tracking/files/5143836/WRTG.101_M4_Aug.12_final.docx)